force-app/main/default/flows/Account_UpdateFirstAndLastOrderDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Account_First_Order_Date</name>
        <label>Assign Account First Order Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>accVar.FirstOrderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_OrderStartDate_AccountLastOrderDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Last_Order_Date</name>
        <label>Assign Account Last Order Date</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>accVar.LastOrderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compare_new_and_old_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_First_and_Last_Order_Date</name>
        <label>Assign the First and Last Order Date</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>accVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Account_FirstOrderDate_is_Null</name>
        <label>Check If Account FirstOrderDate is Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_OrderStartDate_AccountLastOrderDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_FirstOrderDate_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.FirstOrderDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_First_Order_Date</targetReference>
            </connector>
            <label>Account FirstOrderDate is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OrderStartDate_AccountLastOrderDate</name>
        <label>Check if OrderStartDate &gt; AccountLastOrderDate</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>compare_new_and_old_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderStartDate_AccountLastOrderDate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Account.LastOrderDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.LastOrderDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Last_Order_Date</targetReference>
            </connector>
            <label>OrderStartDate &gt; AccountLastOrderDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>compare_new_and_old_dates</name>
        <label>compare new and old dates</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different_new_and_old_dates</name>
            <conditionLogic>(1 AND 3 ) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.FirstOrderDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accVar.FirstOrderDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.LastOrderDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accVar.LastOrderDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accVar.FirstOrderDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accVar.LastOrderDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_First_and_Last_Order_Date</targetReference>
            </connector>
            <label>Different new and old dates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EffectiveDate}</expression>
    </formulas>
    <interviewLabel>Account-UpdateFirstAndLastOrderDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-UpdateFirstAndLastOrderDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <inputReference>accVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Account_FirstOrderDate_is_Null</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
