force-app/main/default/flows/Catalog_Mailed_and_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Catalog_Status_Mailed</name>
        <label>Catalog Status Mailed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>mailed_checkbox_unchecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mailed_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Catalog_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mailed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Mailed_Checkbox</targetReference>
            </connector>
            <label>Mailed value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Variable</name>
        <dataType>String</dataType>
        <expression>&quot;Catalog Mailed Date=&quot;+TEXT(DATEVALUE({!$Record.Catalog_Mailed_Date__c}))+&apos;  &apos;+&quot;Offer Code =&quot;+{!$Record.Catalog_Offer_Code_Sent__c}</expression>
    </formulas>
    <interviewLabel>Catalog Mailed and {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Catalog Mailed and Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task_for_Mailed_Catalog1</name>
        <label>Create a Task for Mailed Catalog</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Catalog_Information__c</field>
            <value>
                <elementReference>Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Catalog Mailed To {!$Record.FirstName} {!$Record.LastName} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Catalog Mailed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>mailed_checkbox_unchecked</name>
        <label>mailed checkbox unchecked</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Catalog_Mailed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Mailed_Checkbox</name>
        <label>Updating Mailed Checkbox</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_a_Task_for_Mailed_Catalog1</targetReference>
        </connector>
        <inputAssignments>
            <field>Catalog_Mailed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Catalog_Status_Mailed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Catalog_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
