force-app/main/default/flows/Customer_Denies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Decision_Accepted</name>
        <label>Customer Decision Accepted</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Customer_Decision_Accept</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Customer_Decision_Accept</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Customer_Decision_Accepted_for_GSK_Order</name>
        <label>Customer Decision Accepted for GSK Order</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Customer_Decision_Accepted_for_GSK_Order</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Customer_Decision_Accepted_for_GSK_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Customer_Decision_Denied</name>
        <label>Customer Decision Denied</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Customer_Decision_Denies</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Customer_Decision_Denies</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Customer_Decision_Denied_for_GSK_Order</name>
        <label>Customer Decision Denied for GSK Order</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.Customer_Decision_Deniedfor_GSK_Order</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Customer_Decision_Deniedfor_GSK_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Special_OR_GSK_Order</name>
        <label>Check for Special OR GSK Order</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Special_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GSK_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Accept_or_Denies</targetReference>
            </connector>
            <label>Special Order</label>
        </rules>
        <rules>
            <name>GSK_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GSK_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Accept_or_Denies1</targetReference>
            </connector>
            <label>GSK Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Decision_Accept_or_Denies</name>
        <label>Customer Decision Accept or Denies</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Customer_Decision_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Accepted</targetReference>
            </connector>
            <label>Customer Decision Accept</label>
        </rules>
        <rules>
            <name>Customer_Decision_Denies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Denied</targetReference>
            </connector>
            <label>Customer Decision Denies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Decision_Accept_or_Denies1</name>
        <label>Customer Decision Accept or Denies</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Customer_Decision_Accept1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Accepted_for_GSK_Order</targetReference>
            </connector>
            <label>Customer Decision Accept</label>
        </rules>
        <rules>
            <name>Customer_Decision_Denies1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Decision_Denied_for_GSK_Order</targetReference>
            </connector>
            <label>Customer Decision Denies</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Denies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Denies</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Special_OR_GSK_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>650</triggerOrder>
</Flow>
