force-app/main/default/flows/Firm_Work_Order_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Firm_Work_Order_Action</name>
        <label>Firm Work Order Action</label>
        <locationX>426</locationX>
        <locationY>167</locationY>
        <actionName>rootstock__WorkOrderViewListCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Selected_Work_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedWorkOrderIds</name>
            <value>
                <elementReference>LoopId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderViewListCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>newer</name>
        <label>newer</label>
        <locationX>623</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>LoopId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getid.IDWO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newrecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newrecord</name>
        <label>newrecord</label>
        <locationX>622</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getid.IDWO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Firm_Work_Order_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExtractOnlyChoice</name>
        <choiceText>Extract Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extract Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleExtractChoice</name>
        <choiceText>Schedule - Extract Operations if Necessary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule - Extract Operations if Necessary</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleOnlyChoice</name>
        <choiceText>Schedule Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Only</stringValue>
        </value>
    </choices>
    <description>Flow for button on the WO components page to firm WO from that page.</description>
    <environments>Default</environments>
    <interviewLabel>Firm Work Order Components {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Firm Work Order Components</label>
    <loops>
        <name>Selected_Work_Order</name>
        <label>Selected Work Order</label>
        <locationX>262</locationX>
        <locationY>289</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Work_Order_Firm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getid</name>
        <label>getid</label>
        <locationX>430</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Work_Order_Firm</name>
        <label>Work Order Firm</label>
        <locationX>264</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;{!message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__wocst__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>rootstock__Firm_Work_Orders</sourceTemplate>
    <start>
        <locationX>91</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Selected_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Firm</stringValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rstk__wocst__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
