force-app/main/default/flows/FMG_FO_Count_on_OrderSummarys_PlatForm_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_FO_Count</name>
        <label>Assign FO Count</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Count_FO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Fulfillment_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FO_Count_In_OrderSummary</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FMG_FO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FMG FO Count on OrderSummarys PlatForm Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Orders</name>
        <label>Get Fulfillment Orders</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_FO_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FO_Count_In_OrderSummary</name>
        <label>Update FO Count In OrderSummary</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FO_Count__c</field>
            <value>
                <elementReference>Count_FO</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Orders</targetReference>
        </connector>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_FO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
