force-app/main/default/flows/FMG_WO_MF_Auto_Convert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TransferQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tempLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Item_Move</name>
        <label>Generate Item Move</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_txnid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INVLOCLOC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransferQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_fromdiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_div__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_fromproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_div__r.rstk__sydiv_dflthomeproj__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_fromlocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_fromlocnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationSettings.Temp_Location_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_todiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_tosite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.rstk__sydiv_mainsite__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_toproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.rstk__sydiv_dflthomeproj__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_tolocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_tolocnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationLocationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sellable_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_txncomment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryMove.rstk__sydata_fromsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Old_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_New_Inventory</name>
        <label>Generate New Inventory</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loc Add</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransferQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sellable_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_div__r.rstk__sydiv_dflthomeproj__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.rstk__sylocid_div__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_actucstmtl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationSettings.Temp_Location_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableItem.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Item_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Price_and_Qty</name>
        <label>New Price and Qty</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TransferQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_qtyacc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tempLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Old_Item</name>
        <label>Remove Old Item</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loc Adjust</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_ordno__r.rstk__wocst_item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.rstk__sydiv_dflthomeproj__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.rstk__sydiv_mainsite__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__sylocid_div__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveItem.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Destination_Number</name>
        <label>Set Destination Number</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>NewDestination.rstk__sylocnum_locid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDestination.rstk__sylocnum_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationLocationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDestination.rstk__sylocnum_descr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Number</name>
        <label>Set Temp Number</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>NewTempLocationNumber.rstk__sylocnum_locid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTempLocationNumber.rstk__sylocnum_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationSettings.Temp_Location_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTempLocationNumber.rstk__sylocnum_descr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;Auto Generated WO MF Flow Process&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTempDestination</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_destination</name>
        <label>Check for destination</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>TempLocationNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destination_Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Destination_Number</targetReference>
            </connector>
            <label>Create Missing Destination</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Temp_Location</name>
        <label>Check for Temp Location</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Generate_New_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempLocationNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_Number</targetReference>
            </connector>
            <label>Create Temp Location Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>New_Price_and_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Update Process</label>
        </rules>
        <rules>
            <name>Skipping</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LocationSettings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sellable_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skipping</label>
        </rules>
    </decisions>
    <description>Takes a work order MF Item and converts it to the sellable version of the item. If places in primary location the the WMS value will be used</description>
    <environments>Default</environments>
    <formulas>
        <description>Gets the correct location number</description>
        <name>DestinationLocationNumber</name>
        <dataType>String</dataType>
        <expression>IF({!LocationSettings.Inventory_Location_Number__c}==&apos;{WMS}&apos;, {!Get_Sellable_Item.rstk__icitem_wmslocnum__c}, {!LocationSettings.Inventory_Location_Number__c})</expression>
    </formulas>
    <formulas>
        <name>RemoveQty</name>
        <dataType>Number</dataType>
        <expression>{!TransferQty}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransactionComments</name>
        <dataType>String</dataType>
        <expression>&apos;FMG WO MF Auto Convert &apos; + {!$Record.rstk__woploc_ordno__r.rstk__wocst_ordno__c}</expression>
    </formulas>
    <formulas>
        <name>UnitCost</name>
        <dataType>Number</dataType>
        <expression>{!$Record.rstk__woploc_dmddolchgoutmtl__c}/{!$Record.rstk__woploc_qtyacc__c}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <description>Qty to be transfered</description>
        <name>UpdateQty</name>
        <dataType>Number</dataType>
        <expression>{!$Record.rstk__woploc_qtyacc__c}-{!$Record__Prior.rstk__woploc_qtyacc__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FMG WO MF Auto Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FMG WO MF Auto Convert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Destination</name>
        <label>Create Destination</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>TempLocationNumber</targetReference>
        </connector>
        <inputReference>NewDestination</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Inventory</name>
        <label>Create New Inventory</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Move_Inventory_to_Destination</targetReference>
        </connector>
        <inputReference>SellableItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateTempDestination</name>
        <label>Create Temp Destination</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Generate_New_Inventory</targetReference>
        </connector>
        <inputReference>NewTempLocationNumber</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Move_Inventory_to_Destination</name>
        <label>Move Inventory to Destination</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Remove_MF</targetReference>
        </connector>
        <inputReference>InventoryMove</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Remove_MF</name>
        <label>Remove MF</label>
        <locationX>314</locationX>
        <locationY>2519</locationY>
        <inputReference>RemoveItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Destination_Location_Number</name>
        <label>Get Destination Location Number</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_destination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sylocnum_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__sylocnum_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationLocationNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sellable_Item</name>
        <label>Get Sellable Item</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LocationSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__woploc_ordno__r.rstk__wocst_item__r.fmg_manufacture_parent_child_link__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LocationSettings</name>
        <label>Get Location Settings</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Location_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__woploc_locid__r.rstk__externalid__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FMG_MF_Conversion__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>tempLocation</name>
        <label>Get Temp Location</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Location_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__externalid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationSettings.Temp_Location_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocid__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TempLocationNumber</name>
        <label>Get Temp Location Number</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Temp_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sylocnum_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempLocation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__sylocnum_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationSettings.Temp_Location_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sellable_Item</targetReference>
        </connector>
        <object>rstk__woploc__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InventoryMove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydatat__c</objectType>
    </variables>
    <variables>
        <name>NewDestination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sylocnum__c</objectType>
    </variables>
    <variables>
        <name>NewTempLocationNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sylocnum__c</objectType>
    </variables>
    <variables>
        <name>RemoveItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <description>Item that is being made</description>
        <name>SellableItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>TransferQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
