force-app/main/default/flows/FMG_Fulfillment_Order_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Value_from_a_Map_key</name>
        <label>Get Values from a Map key</label>
        <locationX>556</locationX>
        <locationY>1619</locationY>
        <actionName>GetValueFromMapClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_FO_LineItem_Exist_for_specific_Inventory_Master_SOI_LineItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowMap</name>
            <value>
                <elementReference>Map_FO_LineItem_Inventory_Master.flowMap</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_prod__r.rstk__soprod_icitem__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetValueFromMapClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Map_FO_LineItem_Inventory_Master</name>
        <label>Map FO LineItem &amp; Inventory Master</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <actionName>FulfillmentOrderTaxMapClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sales_Order_Invoice_Line_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FOLineItems</name>
            <value>
                <elementReference>Get_Fulfillment_Order_Products</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FulfillmentOrderTaxMapClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sales_Order_Invoice_Line</name>
        <label>Sales Order Invoice Line</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <actionName>SalesOrderInvoiceLine</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Fulfillment_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Fulfillment_Short_Shipment_Process_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soInvHeader</name>
            <value>
                <elementReference>$Record.rstk__sydata_soinv__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrderInvoiceLine</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_FulfillmentOrderItemTax_in_Collection</name>
        <label>Add FulfillmentOrderItemTax in Collection</label>
        <locationX>270</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTaxes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderItemTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flag_To_Create_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FulfillmentOrderItemTax_in_Collection1</name>
        <label>Add FulfillmentOrderItemTax in Collection</label>
        <locationX>886</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTaxes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderItemTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flag_To_Create_Records1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Fulfillment_Order_Status_to_Fulfilled</name>
        <label>Change Fulfillment Order Status to Fulfilled</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>Get_Fulfillment_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fulfillment_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Flag_To_Create_Records</name>
        <label>Create Flag To Create Records</label>
        <locationX>270</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>FlafToCreateRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Flag_To_Create_Records1</name>
        <label>Create Flag To Create Records</label>
        <locationX>886</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>FlafToCreateRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_FulfillmentOrderItemTax</name>
        <label>Create FulfillmentOrderItemTax</label>
        <locationX>270</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.FulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Value_from_a_Map_key.FOLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.TaxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FulfillmentOrderItemTax_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_FulfillmentOrderItemTax1</name>
        <label>Create FulfillmentOrderItemTax</label>
        <locationX>886</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateShippingTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.FulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order_Shipping_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.TaxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderItemTax.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FulfillmentOrderItemTax_in_Collection1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Flag_to_Create_Records</name>
        <label>Check Flag to Create Records</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Change_Fulfillment_Order_Status_to_Fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not needed</defaultConnectorLabel>
        <rules>
            <name>Records_needs_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlafToCreateRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FulfillmentOrderItemTaxes</targetReference>
            </connector>
            <label>Records needs to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FO_LineItem_Exist_for_specific_Inventory_Master_SOI_LineItem</name>
        <label>Check FO LineItem Exist for specific Inventory Master / SOI LineItem</label>
        <locationX>556</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>FO_LineItemExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Value_from_a_Map_key.IsFOLineItemExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FulfillmentOrderLineItem Exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LineItems_Tax</targetReference>
            </connector>
            <label>FO LineItemExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fulfillment_Order_Exist</name>
        <label>Check Fulfillment Order Exist</label>
        <locationX>468</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Order_Invoice_Line</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LineItem_Tax</name>
        <label>Check LineItem Tax</label>
        <locationX>1018</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equal</defaultConnectorLabel>
        <rules>
            <name>Unequal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_taxamount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Fulfillment_Order_Shipping_Product.TotalTaxAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FulfillmentOrderItemTax1</targetReference>
            </connector>
            <label>Unequal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LineItems_Tax</name>
        <label>Check LineItems Tax</label>
        <locationX>402</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Equal</defaultConnectorLabel>
        <rules>
            <name>Taxes_Unequal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Value_from_a_Map_key.FOLineItemTax</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_taxamount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FulfillmentOrderItemTax</targetReference>
            </connector>
            <label>Taxes Unequal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stock_or_Miscellaneous_Product</name>
        <label>Check Stock or Miscellaneous Product</label>
        <locationX>941</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_prod__r.rstk__soprod_prodtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Value_from_a_Map_key</targetReference>
            </connector>
            <label>Stock</label>
        </rules>
        <rules>
            <name>Miscellaneous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_prod__r.rstk__soprod_prodtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miscellaneous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SalesOrderInvoiceLineItems.rstk__soinvline_prod__r.rstk__soprod_prod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GC REDEEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LineItem_Tax</targetReference>
            </connector>
            <label>Miscellaneous &amp; Shipping</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateShippingTax</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_SalesOrderInvoiceLineItems.rstk__soinvline_taxamount__c} - {!Get_Fulfillment_Order_Shipping_Product.TotalTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateTax</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_SalesOrderInvoiceLineItems.rstk__soinvline_taxamount__c} - {!Get_Value_from_a_Map_key.FOLineItemTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaxEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FMG - Fulfillment Order Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FMG - Fulfillment Order Tax</label>
    <loops>
        <name>Loop_SalesOrderInvoiceLineItems</name>
        <label>Loop SalesOrderInvoiceLineItems</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <collectionReference>Get_Sales_Order_Invoice_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stock_or_Miscellaneous_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Flag_to_Create_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fulfillment_Short_Shipment_Process_Exception</name>
        <label>Create Fulfillment (Short Shipment) Process Exception</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <stringValue>Short Shipment Failed (FO line item quantity not updated with rootstock line item quantity).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FulfillmentOrderItemTaxes</name>
        <label>Create FulfillmentOrderItemTaxes</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Change_Fulfillment_Order_Status_to_Fulfilled</targetReference>
        </connector>
        <inputReference>FulfillmentOrderItemTaxes</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_FMG_Warehouse</name>
        <label>Get FMG Warehouse</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FMG Warehouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>468</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Order_Invoice_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FulfilledFromLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FMG_Warehouse.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Products</name>
        <label>Get Fulfillment Order Products</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fulfillment_Order_Shipping_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Shipping_Product</name>
        <label>Get Fulfillment Order Shipping Product</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_FO_LineItem_Inventory_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__sydata_soinv__r.rstk__soinv_order__r.rstk__sohdr_order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__sydata_soinv__r.rstk__soinv_order__r.Order_Summary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Invoice_Header</name>
        <label>Get Sales Order Invoice Header</label>
        <locationX>468</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rstk__sydata_soinv__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soinv__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Invoice_Line_Items</name>
        <label>Get Sales Order Invoice Line Items</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SalesOrderInvoiceLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__soinvline_invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Invoice_Header.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__soinvline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fulfillment_Order_Status</name>
        <label>Update Fulfillment Order Status</label>
        <locationX>182</locationX>
        <locationY>3011</locationY>
        <inputReference>Get_Fulfillment_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FMG_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sydata_txntype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create Invoice for Shipper</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__sydata_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProcessingComplete</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__sydata_soinv__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rstk__sydata__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FlafToCreateRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FulfillmentOrderItemTax</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderItemTax</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderItemTaxes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderItemTax</objectType>
    </variables>
</Flow>
