force-app/main/default/flows/Fulfillment_Location_Update_In_OIS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_OIS_to_updateOIS_variable</name>
        <label>Add OIS to updateOIS variable</label>
        <locationX>402</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>updateOIS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_orderitemsummaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_orderitemsummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OIS_to_updateOIS_variable1</name>
        <label>Add OIS to updateOIS variable</label>
        <locationX>138</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>updateOIS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_orderitemsummaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_orderitemsummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OIS_to_updateOIS_variable3</name>
        <label>Add OIS to updateOIS variable</label>
        <locationX>270</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>updateOIS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_shipping_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_shipping_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_shipping_product_to_collection_variable</name>
        <label>Add shipping product to collection variable</label>
        <locationX>666</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>shippingProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_orderitemsummaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_orderitemsummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FMG_WareHouse</name>
        <label>Assign FMG WareHouse</label>
        <locationX>138</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>loop_orderitemsummaries.Fulfillment_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FMG Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_orderitemsummaries.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_orderitemsummaries.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_regular_odgs_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FMG_Warehouse_to_shipping</name>
        <label>Assign FMG Warehouse to shipping</label>
        <locationX>402</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>loop_shipping_products.Fulfillment_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FMG Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OIS_to_updateOIS_variable3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_gift_odgs_to_variable</name>
        <label>Assign gift odgs to variable</label>
        <locationX>402</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>giftProductodgs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_orderitemsummaries.OrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OIS_to_updateOIS_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_regular_odgs_to_variable</name>
        <label>Assign regular odgs to variable</label>
        <locationX>138</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>regularproductodgs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_orderitemsummaries.OrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OIS_to_updateOIS_variable1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Virtual_Warehouse</name>
        <label>Assign Virtual Warehouse</label>
        <locationX>402</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>loop_orderitemsummaries.Fulfillment_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virtual Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_gift_odgs_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Virtual_Warehouse_to_shipping</name>
        <label>Assign Virtual Warehouse to shipping</label>
        <locationX>138</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>loop_shipping_products.Fulfillment_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virtual Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OIS_to_updateOIS_variable3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_product_is_Regular_Product</name>
        <label>Check if product is Regular Product</label>
        <locationX>402</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Add_shipping_product_to_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regular_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_orderitemsummaries.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_orderitemsummaries.StockKeepingUnit</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>eGiftCertificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FMG_WareHouse</targetReference>
            </connector>
            <label>Regular Product</label>
        </rules>
        <rules>
            <name>Gift_Certificate_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_orderitemsummaries.MerchantID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_orderitemsummaries.StockKeepingUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eGiftCertificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Virtual_Warehouse</targetReference>
            </connector>
            <label>Gift Certificate product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Summary_Status</name>
        <label>Check Order Summary Status</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrderItemSummaries</targetReference>
            </connector>
            <label>Approved Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>compare_odgs</name>
        <label>compare odgs</label>
        <locationX>270</locationX>
        <locationY>1202</locationY>
        <defaultConnector>
            <targetReference>Assign_FMG_Warehouse_to_shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>odgs_as_gift_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_shipping_products.OrderDeliveryGroupSummary.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>giftProductodgs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Virtual_Warehouse_to_shipping</targetReference>
            </connector>
            <label>odgs as gift product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fulfillment Location Update In OIS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfillment Location Update In OIS</label>
    <loops>
        <name>loop_orderitemsummaries</name>
        <label>loop orderitemsummaries</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <collectionReference>Get_OrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_product_is_Regular_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_shipping_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_shipping_products</name>
        <label>loop shipping products</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <collectionReference>shippingProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>compare_odgs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_orderitemsummary_Fulfillment_Location</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OrderItemSummaries</name>
        <label>Get OrderItemSummaries</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_orderitemsummaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_orderitemsummary_Fulfillment_Location</name>
        <label>Update orderitemsummary Fulfillment Location</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <inputReference>updateOIS</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Order_Summary_Status</targetReference>
        </connector>
        <object>OrderSumStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ColoradoDeliveryfee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01tDK000006zahbYAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>GC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>giftProductodgs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regularproductodgs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>updateOIS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
