force-app/main/default/flows/If_Shipping_Address_Changed_Update_in_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Address_to_Opportunity_Products</name>
        <label>Assign Shipping Address to Opportunity Products</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Opportunity_Products.AVA_SFCLOUD__Shipping_Street_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Opportunity_Products.AVA_SFCLOUD__Shipping_Postal_Code_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Opportunity_Products.AVA_SFCLOUD__Shipping_City_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Opportunity_Products.AVA_SFCLOUD__Shipping_State_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Opportunity_Products.AVA_SFCLOUD__Shipping_Country_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityProductCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityProductCollection</name>
        <label>OpportunityProductCollection</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CollectOpportunityProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Products_Collected</name>
        <label>Check Products Collected ?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Not Collected</defaultConnectorLabel>
        <rules>
            <name>Collected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectOpportunityProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Products</targetReference>
            </connector>
            <label>Collected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Products_Exists</name>
        <label>Check Products Exists ?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Products Not Available</defaultConnectorLabel>
        <rules>
            <name>Products_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunity_Products</targetReference>
            </connector>
            <label>Products Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>If Shipping Address Changed Update in Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>If Shipping Address Changed Update in Products</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Shipping_Address_to_Opportunity_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Products_Collected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Products</name>
        <label>Update Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>CollectOpportunityProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Shipping_Address__Street__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_Address__PostalCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_Address__City__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_Address__StateCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_Address__CountryCode__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>150</triggerOrder>
    <variables>
        <name>CollectOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
