force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj352eb7db7582dff01153aa51828c99ac_FireJBTrigger</name>
        <label>SalesforceObj352eb7db7582dff01153aa51828c99ac_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj352eb7db7582dff01153aa51828c99ac</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534007695</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;PersonEmail&quot;,&quot;Discount_Level__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3fdf7a120545942f61df5698a568ffa4_FireJBTrigger</name>
        <label>SalesforceObj3fdf7a120545942f61df5698a568ffa4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3fdf7a120545942f61df5698a568ffa4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534007695</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;Discount_Level__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj40e94fa7c2b623b2ea8021966922a442_FireJBTrigger</name>
        <label>SalesforceObj40e94fa7c2b623b2ea8021966922a442_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj40e94fa7c2b623b2ea8021966922a442</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534007695</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;Discount_Level__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</name>
        <label>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3fdf7a120545942f61df5698a568ffa4</name>
        <label>JB_Decision_Null_Check_SalesforceObj3fdf7a120545942f61df5698a568ffa4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
            </connector>
            <label>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</name>
        <label>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
            </connector>
            <label>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Decision</name>
        <label>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj352eb7db7582dff01153aa51828c99ac</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Discount_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Star</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj352eb7db7582dff01153aa51828c99ac_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj352eb7db7582dff01153aa51828c99ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_State_change_Decision</name>
        <label>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj352eb7db7582dff01153aa51828c99ac</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Discount_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Star</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj352eb7db7582dff01153aa51828c99ac_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj352eb7db7582dff01153aa51828c99ac</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Decision</name>
        <label>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3fdf7a120545942f61df5698a568ffa4</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3fdf7a120545942f61df5698a568ffa4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3fdf7a120545942f61df5698a568ffa4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_State_change_Decision</name>
        <label>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj40e94fa7c2b623b2ea8021966922a442</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj3fdf7a120545942f61df5698a568ffa4</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3fdf7a120545942f61df5698a568ffa4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj3fdf7a120545942f61df5698a568ffa4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Decision</name>
        <label>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj40e94fa7c2b623b2ea8021966922a442</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Discount_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 Star</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj40e94fa7c2b623b2ea8021966922a442_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj40e94fa7c2b623b2ea8021966922a442</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_State_change_Decision</name>
        <label>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj352eb7db7582dff01153aa51828c99ac</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj40e94fa7c2b623b2ea8021966922a442</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Discount_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 Star</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj40e94fa7c2b623b2ea8021966922a442_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj40e94fa7c2b623b2ea8021966922a442</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj3fdf7a120545942f61df5698a568ffa4</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
