force-app/main/default/flows/Lead_UpdateCatalogStatustoNull.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_also_inmate_true</name>
        <label>Assign also inmate true</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>$Record.inmate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_catalog_status_to_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_catalog_status_to_none</name>
        <label>Assign catalog status to none</label>
        <locationX>556</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Catalog_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_inmate_true</name>
        <label>Assign inmate true</label>
        <locationX>490</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.inmate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_catalog_status_to_none</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_postal_invalid</name>
        <label>Assign postal invalid</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.PostalAddressInvalidRefrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_account_is_also_inmate_inactive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email_is_there_or_not</name>
        <label>Check Email is there or not</label>
        <locationX>875</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Catalog_Status_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Is Null</defaultConnectorLabel>
        <rules>
            <name>Email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Account_APT_Suite_exist</targetReference>
            </connector>
            <label>Email is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_account_is_also_inmate_inactive</name>
        <label>check if account is also inmate inactive</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Assign_catalog_status_to_none</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>inmate_account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email.Inmate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_also_inmate_true</targetReference>
            </connector>
            <label>inmate account</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_APT_Suite_exist</name>
        <label>If Account APT/Suite exist</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Based_on_Personal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APT_Suite1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APT_Suite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_APT_SUITE_values</targetReference>
            </connector>
            <label>APT/Suite</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_Exist_for_Lead</name>
        <label>If Account Exist for Lead ?</label>
        <locationX>556</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postal_invalid_Account</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email.Postal_Address_Invalid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email.AccountAddressKey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LeadAddressKey__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catalog Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_postal_invalid</targetReference>
            </connector>
            <label>Postal invalid Account</label>
        </rules>
        <rules>
            <name>inmate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Based_on_Personal_Email.Inmate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_inmate_true</targetReference>
            </connector>
            <label>inmate Account</label>
        </rules>
        <rules>
            <name>Country_is_not_USA_Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_catalog_status_to_none</targetReference>
            </connector>
            <label>Country is not USA/Canada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AptVar</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.APT_Suite__c}), null, {!$Record.APT_Suite__c})</expression>
    </formulas>
    <interviewLabel>Lead-UpdateInvalidPostalAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead-UpdateCatalogStatustoNull</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Based_on_Personal_Email</name>
        <label>Get Account Based on Personal Email</label>
        <locationX>556</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Account_Exist_for_Lead</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Postal_Address_Invalid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inmate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Catalog_Status_to_Null</name>
        <label>Update Catalog Status to Null</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Catalog_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead</name>
        <label>update lead</label>
        <locationX>556</locationX>
        <locationY>1547</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_APT_SUITE_values</name>
        <label>Updating APT/SUITE values</label>
        <locationX>424</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Account_Based_on_Personal_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Street</field>
            <value>
                <stringValue>{!$Record.Street}ㅤ{!$Record.APT_Suite__c}</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email_is_there_or_not</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
