force-app/main/default/flows/Lead_update_Account_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Account_to_Platinum_Inquirer</name>
        <label>Assign Account to Platinum Inquirer</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inquirer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Platinum_Prospect</name>
        <label>Assign Account to Platinum Prospect</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Platinum Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_type_to_Customer</name>
        <label>Assign Account type to Customer</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Account_to_Platinum_Inquirerr</name>
        <label>Assign Account to Platinum Inquirerr</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inquirer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account11</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_is_Platinum_Prospect</name>
        <label>Check if Account is Platinum Prospect</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Platinum_Prospect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Amount_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Platinum_Inquirer</targetReference>
            </connector>
            <label>Amount is Null</label>
        </rules>
        <rules>
            <name>Check_if_Account_has_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Account.Perf365Days__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_type_to_Customer</targetReference>
            </connector>
            <label>Check if Account has order</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_lead_source</name>
        <label>check lead source</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Platinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_is_Platinum_Prospect</targetReference>
            </connector>
            <label>Platinum</label>
        </rules>
        <rules>
            <name>Catalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catalog Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Account_to_Platinum_Inquirerr</targetReference>
            </connector>
            <label>Catalog</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - update Account type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - update Account type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_lead_source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Account1</name>
        <label>update Account1</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Account11</name>
        <label>update Account11</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Account2</name>
        <label>update Account2</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Related_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catalog Request</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
