force-app/main/default/flows/Lead_update_customer_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_lead_Customer_type_as_Account_Customer_type</name>
        <label>assign lead Customer type as Account Customer type</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Catalog_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Catalog_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_lead_as_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_lead_Customer_type_as_Inmates_Inactive_or_deceased</name>
        <label>assign lead Customer type as Inmates Inactive or deceased</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Catalog_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_lead_with_same_email.Catalog_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_lead_as_Account1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_has_lead_with_same_email</name>
        <label>check if has lead with same email</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_lead_with_same_email.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Inmates_Inactive_or_deceased</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inmates_Inactive_or_deceased</name>
        <label>Check if  Inmates Inactive or deceased</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>assign_lead_Customer_type_as_Account_Customer_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other than Inmates Inactive</defaultConnectorLabel>
        <rules>
            <name>Is_Inmates_Inactive_or_deceased</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INMATES INACTIVE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DECEASED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_lead_Customer_type_as_Inmates_Inactive_or_deceased</targetReference>
            </connector>
            <label>Is Inmates Inactive or deceased</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - update customer type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - update customer type on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_lead_with_same_email</name>
        <label>get lead with same email</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_has_lead_with_same_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_lead_as_Account</name>
        <label>update lead as Account</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>get_lead_with_same_email</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead_as_Account1</name>
        <label>update lead as Account1</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>get_lead_with_same_email</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_lead_with_same_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
