force-app/main/default/flows/Omnichannel_Inventory_Transfer_Fulfill_Release_Reservation_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Omnichannel_Inventory_Service_Fulfill_Reservation</name>
        <label>Omnichannel Inventory Service Fulfill Reservation</label>
        <locationX>734</locationX>
        <locationY>1335</locationY>
        <actionName>ociFulfillReservation</actionName>
        <actionType>ociFulfillReservation</actionType>
        <connector>
            <targetReference>Reset_Line_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Integration_Log_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociFulfillReservationInput</name>
            <value>
                <elementReference>FOReservation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociFulfillReservation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Omnichannel_Inventory_Service_Fulfill_Reservation_0</name>
        <label>Omnichannel Inventory Service Fulfill Reservation</label>
        <locationX>50</locationX>
        <locationY>1123</locationY>
        <actionName>ociFulfillReservation</actionName>
        <actionType>ociFulfillReservation</actionType>
        <faultConnector>
            <targetReference>Create_Integration_Log_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociFulfillReservationInput</name>
            <value>
                <elementReference>FOReservation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociFulfillReservation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Omnichannel_Inventory_Service_Transfer_Reservation</name>
        <label>Omnichannel Inventory Service Transfer Reservation</label>
        <locationX>1712</locationX>
        <locationY>1347</locationY>
        <actionName>ociTransferReservation</actionName>
        <actionType>ociTransferReservation</actionType>
        <connector>
            <targetReference>Reset_Line_Count_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Integration_Log_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociTransferReservationInput</name>
            <value>
                <elementReference>OCITransferReservationInputRep</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociTransferReservation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Omnichannel_Inventory_Service_Transfer_Reservation_0</name>
        <label>Omnichannel Inventory Service Transfer Reservation</label>
        <locationX>1166</locationX>
        <locationY>982</locationY>
        <actionName>ociTransferReservation</actionName>
        <actionType>ociTransferReservation</actionType>
        <faultConnector>
            <targetReference>Create_Integration_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociTransferReservationInput</name>
            <value>
                <elementReference>OCITransferReservationInputRep</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociTransferReservation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assigning_OCI_Transfer_Single_Input_Rep_to_OCI_Transfer_Single_Input_RepCollecti</name>
        <label>Assigning OCI Transfer Single Input Rep to OCI Transfer Single Input RepCollection</label>
        <locationX>1762</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>OCITransferSingleInputRepCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCITransferReservationSingleInputRep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementLineCount_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementLineCount</name>
        <label>Increment Line Count</label>
        <locationX>783</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_has_100_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementLineCount_1</name>
        <label>Increment Line Count</label>
        <locationX>1768</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_has_100_line_items_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Line_Count</name>
        <label>Initialize Line Count</label>
        <locationX>991</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FO_status_Fulfilled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_Fulfill_Input_Rep_Collection</name>
        <label>OCI Fulfill Input Rep Collection</label>
        <locationX>781</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FoSingleInputRepCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FOSingleInputRep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementLineCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_FulfillReservation_Release_Records</name>
        <label>OCI FulfillReservation Release Records</label>
        <locationX>731</locationX>
        <locationY>1171</locationY>
        <assignmentItems>
            <assignToReference>FOReservation.fulfillmentRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Omnichannel_Inventory_Service_Fulfill_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_FulfillReservation_Release_Records_0</name>
        <label>OCI FulfillReservation Release Records</label>
        <locationX>51</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FOReservation.fulfillmentRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FoSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Omnichannel_Inventory_Service_Fulfill_Reservation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_Transfer_Records</name>
        <label>OCI Transfer Records</label>
        <locationX>1706</locationX>
        <locationY>1167</locationY>
        <assignmentItems>
            <assignToReference>OCITransferReservationInputRep.transferRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCITransferSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Omnichannel_Inventory_Service_Transfer_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_Transfer_Records_0</name>
        <label>OCI Transfer Records</label>
        <locationX>1258</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>OCITransferReservationInputRep.transferRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OCITransferSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Omnichannel_Inventory_Service_Transfer_Reservation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCI_Transfer_Set_Input_Representation</name>
        <label>OCI Transfer Set Input Representation</label>
        <locationX>1759</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_FO_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.fromLocationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.OCILocationGroup__c.LG_ExternalRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.ignoreAvailabilityCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_FO_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.toLocationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_FO_Line_Items.FulfillmentOrder.FulfilledFromLocation.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCITransferReservationSingleInputRep.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_FO_Line_Items.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_OCI_Transfer_Single_Input_Rep_to_OCI_Transfer_Single_Input_RepCollecti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Line_Count</name>
        <label>Reset Line Count</label>
        <locationX>547</locationX>
        <locationY>1184</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_OCI_Fulfill_Input_Rep_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Line_Count_0</name>
        <label>Reset Line Count</label>
        <locationX>1531</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>LineCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_OCI_Transfer_Single_Input_Rep_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_OCI_Fulfill_Input_Rep_Collection</name>
        <label>Reset OCI Fulfill Input Rep Collection</label>
        <locationX>432</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>FoSingleInputRepCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FoSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_OCI_Transfer_Single_Input_Rep_Collection</name>
        <label>Reset OCI Transfer Single Input Rep Collection</label>
        <locationX>1408</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>OCITransferSingleInputRepCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCITransferSingleInputRepCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_FO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfill_Input_Representation</name>
        <label>Set Fulfill Input Representation</label>
        <locationX>781</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>FOSingleInputRep.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Fulfillment_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOSingleInputRep.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Fulfillment_Orders.FulfillmentOrder.FulfilledFromLocation.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOSingleInputRep.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Fulfillment_Orders.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FOSingleInputRep.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Fulfillment_Orders.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Fulfill_Input_Rep_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collection_has_100_line_items</name>
        <label>Collection has 99 line items?</label>
        <locationX>580</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Fulfillment_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_FulfillReservation_Release_Records</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_100_line_items_0</name>
        <label>Collection has 99 line items?</label>
        <locationX>1597</locationX>
        <locationY>976</locationY>
        <defaultConnector>
            <targetReference>Loop_All_FO_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_Transfer_Records</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_any_Items_Left</name>
        <label>Collection has any Items Left</label>
        <locationX>109</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_FulfillReservation_Release_Records_0</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_has_any_Items_Left_0</name>
        <label>Collection has any Items Left</label>
        <locationX>1279</locationX>
        <locationY>654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_Transfer_Records_0</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>FO_status_Fulfilled</name>
        <label>FO status Fulfilled</label>
        <locationX>991</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fulfilled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_line_Items</targetReference>
            </connector>
            <label>Fulfilled</label>
        </rules>
        <rules>
            <name>Allocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OldStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Allocated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_FO_line_Items</targetReference>
            </connector>
            <label>Allocated</label>
        </rules>
    </decisions>
    <description>Updates to handle more than 100 line items</description>
    <environments>Default</environments>
    <interviewLabel>Omnichannel Inventory Transfer &amp; Fulfill Release Reservation Platfrom Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Omnichannel Inventory Transfer &amp; Fulfill Release Reservation Platform Event</label>
    <loops>
        <name>Loop_All_FO_Line_Items</name>
        <label>Loop All FO Line Items</label>
        <locationX>1523</locationX>
        <locationY>624</locationY>
        <collectionReference>Get_All_FO_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OCI_Transfer_Set_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_has_any_Items_Left_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Fulfillment_Orders</name>
        <label>Loop All Fulfillment Orders</label>
        <locationX>471</locationX>
        <locationY>596</locationY>
        <collectionReference>Get_Fulfillment_Order_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfill_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_has_any_Items_Left</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Integration_Log</name>
        <label>Create Integration Log</label>
        <locationX>1263</locationX>
        <locationY>1228</locationY>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <stringValue>OCI Transfer Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Log_0</name>
        <label>Create Integration Log</label>
        <locationX>134</locationX>
        <locationY>1339</locationY>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <stringValue>FO Reservation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Log_0_0</name>
        <label>Create Integration Log</label>
        <locationX>887</locationX>
        <locationY>1451</locationY>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <stringValue>FO Reservation Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Integration_Log_0_0_0</name>
        <label>Create Integration Log</label>
        <locationX>1879</locationX>
        <locationY>1438</locationY>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <stringValue>OCI Transfer Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_FO_line_Items</name>
        <label>Get All FO line Items</label>
        <locationX>1324</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_FO_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_line_Items</name>
        <label>Get Fulfillment Order line Items</label>
        <locationX>662</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Fulfillment_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>865</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Initialize_Line_Count</targetReference>
        </connector>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FOReservation</name>
        <apexClass>ConnectApi__OCIFulfillReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOSingleInputRep</name>
        <apexClass>ConnectApi__OCIFulfillReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoSingleInputRepCollection</name>
        <apexClass>ConnectApi__OCIFulfillReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OCITransferReservationInputRep</name>
        <apexClass>ConnectApi__OCITransferReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCITransferReservationSingleInputRep</name>
        <apexClass>ConnectApi__OCITransferReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCITransferSingleInputRepCollection</name>
        <apexClass>ConnectApi__OCITransferReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
