force-app/main/default/flows/Opportunity_Task_Creation_for_Pricing_and_Product_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Require_Review_by_CS_Team_for_GSK_Order</name>
        <label>Require Review by CS Team for GSK Order</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.Review_by_CS_Team_for_GSK_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_a_Task_to_CS_Team1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Review_by_CS_Team_for_GSK_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Review_By_CS_Team_for_Special_Order</name>
        <label>Review By CS Team for Special Order</label>
        <locationX>666</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.Review_By_CS_Team_for_Special_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_a_Task_to_CS_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Review_By_CS_Team_for_Special_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Review_By_Platinum_Team_for_Special_Order</name>
        <label>Review By Platinum Team for Special Order</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Opportunity.Review_By_Platinum_Team_for_Special_Order</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Review_By_Platinum_Team_for_Special_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_a_Task_to_CS_Team</name>
        <label>Assign a Task to CS Team</label>
        <locationX>666</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CreateTask.In_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Order Review by CS Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Task_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Order Review by CS Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CS_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Task_for_CS_Team1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_a_Task_to_CS_Team1</name>
        <label>Assign a Task to CS Team</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>CreateTask.In_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GSK Order Review by CS Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Task_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GSK Order Review by CS Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CS_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Task_for_CS_Team1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_a_Task_to_Platinum_Team</name>
        <label>Assign a Task to Platinum Team</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CreateTask.In_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Order Review by Platinum Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.Task_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Order Review by Platinum Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Platinum_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Task_for_Platinum_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GSK_Variable</name>
        <label>Assign GSK Variable</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsGskOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_GSK_Customer</name>
        <label>Check for GSK Customer</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Not_a_GSK_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GSK_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Platinum_Team</targetReference>
            </connector>
            <label>Not a GSK Customer</label>
        </rules>
        <rules>
            <name>GSK_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GSK_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CS_Team</targetReference>
            </connector>
            <label>GSK Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_GSK_Order</name>
        <label>Check for GSK Order</label>
        <locationX>666</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Create_a_Task_for_CS_Team1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>GSK_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsGskOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Require_Review_by_CS_Team_for_GSK_Order</targetReference>
            </connector>
            <label>GSK Order</label>
        </rules>
        <rules>
            <name>Not_a_GSK_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Products.Product2.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GSK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_By_CS_Team_for_Special_Order</targetReference>
            </connector>
            <label>Not a GSK Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_for_GSK_Product</name>
        <label>Search for GSK Product</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Found_GSK_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Products.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GSK_Variable</targetReference>
            </connector>
            <label>Found GSK Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>Opportunity Task Creation for Pricing and Product Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Task Creation for CS and Platinum  Team</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Search_for_GSK_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_GSK_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task_for_CS_Team1</name>
        <label>Create a Task for CS Team</label>
        <locationX>666</locationX>
        <locationY>1547</locationY>
        <inputReference>CreateTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_for_Platinum_Team</name>
        <label>Create a Task for Platinum Team</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Review_By_Platinum_Team_for_Special_Order</targetReference>
        </connector>
        <inputReference>CreateTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CS_Team</name>
        <label>Get CS Team</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_GSK_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Platinum_Team</name>
        <label>Get Platinum Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_a_Task_to_Platinum_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>CreateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>IsGskOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
