force-app/main/default/flows/Order_Update_Opportunity_Payment_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Payment_Summaries_to_List</name>
        <label>Assign Opportunity Payment  Summaries to List</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>OpportunityPaymentSummariesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Opportunity_Payment_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Opportunity_Payment_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_each_Opportunity_Payment_Summary</name>
        <label>update each  Opportunity Payment  Summary</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loop_Opportunity_Payment_Summaries.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Payment_Summaries_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_has_Opportunity_Payment_Summary</name>
        <label>check if has Opportunity Payment Summary</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Opportunity Payment  Summaries</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunity_Payment_Summaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Payment_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Opportunity_Payment_Summaries</targetReference>
            </connector>
            <label>Has Opportunity Payment  Summaries</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order - Update Opportunity Payment Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Payment Summary before commit order</label>
    <loops>
        <name>loop_Opportunity_Payment_Summaries</name>
        <label>loop Opportunity Payment  Summaries</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Opportunity_Payment_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_each_Opportunity_Payment_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Opportunity_Payment_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Opportunity_Payment_Summaries</name>
        <label>get Opportunity Payment Summaries</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_has_Opportunity_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Payment_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Opportunity_Payment_Summaries</name>
        <label>update Opportunity Payment  Summaries</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>OpportunityPaymentSummariesList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunity_Payment_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Special_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityPaymentSummariesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Payment_Summary__c</objectType>
    </variables>
    <variables>
        <name>SingleOpportunityPaymentSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Payment_Summary__c</objectType>
    </variables>
</Flow>
