force-app/main/default/flows/Order_Payment_Summary_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_Order_Payment_Summary</name>
        <label>Assign to Order Payment Summary</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>orderPaySummary.FullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.Method</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.Authorized_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.Authorization_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.Captured_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.Available_to_Capture__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderPaySummary.Special_Order_Transaction_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Payment_Summaries.transactionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Order_Payment_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Order_Payment_Summaries</name>
        <label>Collect Order Payment Summaries</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>OrderPaymentSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderPaySummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Payment_Summaries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OppPaymentSummaries_Exist</name>
        <label>Check OppPaymentSummaries Exist</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Payment_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunity_Payment_Summaries</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Payment Summary - Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Payment Summary - Creation</label>
    <loops>
        <name>Loop_Opportunity_Payment_Summaries</name>
        <label>Loop Opportunity Payment Summaries</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opportunity_Payment_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Order_Payment_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Payment_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Payment_Summaries</name>
        <label>Create Order Payment Summaries</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>OrderPaymentSummaries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Payment_Summaries</name>
        <label>Get Opportunity Payment Summaries</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OppPaymentSummaries_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Order.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Payment_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Order</name>
        <label>Get Related Order</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Payment_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Special_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listOrderPaySummraries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPaymentSummary</objectType>
    </variables>
    <variables>
        <name>OrderPaymentSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPaymentSummary</objectType>
    </variables>
    <variables>
        <name>orderPaySummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPaymentSummary</objectType>
    </variables>
</Flow>
