force-app/main/default/flows/Platform_Event_Update_Gift_Certificate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_GC_s_Based_on_MerchantID</name>
        <label>Update GC&apos;s Based on MerchantID</label>
        <locationX>50</locationX>
        <locationY>986</locationY>
        <actionName>GiftCertificatePaymentCaptrure</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>merchantIDs</name>
            <value>
                <elementReference>OSIdsList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GiftCertificatePaymentCaptrure</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Id_s</name>
        <label>Assign Id&apos;s</label>
        <locationX>138</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>OSIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_GC_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OS_Id_s</name>
        <label>Assign OS Id&apos;s</label>
        <locationX>138</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>SingleVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_GC_Orders.OriginalOrderItem.MerchantID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Id_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_GC_Orders</name>
        <label>Check GC Orders</label>
        <locationX>270</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GC_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_GC_Orders.MerchantID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_GC_Orders.GiftCertificateNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OS_Id_s</targetReference>
            </connector>
            <label>GC Orders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_changed_to_Fulfilled</name>
        <label>Status is changed to Fulfilled</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrderItemSummaries</targetReference>
            </connector>
            <label>Fulfilled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Platform Event Update Gift Certificate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event Update Gift Certificate</label>
    <loops>
        <name>Iterate_GC_Orders</name>
        <label>Iterate GC Orders</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <collectionReference>Get_OrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_GC_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_GC_s_Based_on_MerchantID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OrderItemSummaries</name>
        <label>Get OrderItemSummaries</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_GC_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_is_changed_to_Fulfilled</targetReference>
        </connector>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OSIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OSList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
