force-app/main/default/flows/Return_Order_Is_exchange_return_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_OrderItemSummary_to_variable</name>
        <label>Add OrderItemSummary to variable</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>updateOrderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OrderItemSummaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OrderItemSummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OrderItemSummaryIds_to_variable</name>
        <label>Add OrderItemSummaryIds to variable</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>storeOrderItemSummaryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_return_order_lines.OrderItemSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_return_order_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_is_exchange_flag_to_true</name>
        <label>Assign is exchange flag to true</label>
        <locationX>264</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Loop_OrderItemSummaries.Is_Exchange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OrderItemSummary_to_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_order_item_summary_and_return_order_line_item_sku_same</name>
        <label>Is order item summary and return order line item sku same</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>loop_return_order_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_return_order_lines.Product2.StockKeepingUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_return_order_lines.OrderItemSummary.Product2.StockKeepingUnit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OrderItemSummaryIds_to_variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Return Order - Is exchange return order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Order - Is exchange return order</label>
    <loops>
        <name>Loop_OrderItemSummaries</name>
        <label>Loop OrderItemSummaries</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_OrderItemSummaries_to_be_updated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_is_exchange_flag_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_is_exchange_flag_in_OrderItemSummaries_to_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_return_order_lines</name>
        <label>loop return order lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_return_order_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_order_item_summary_and_return_order_line_item_sku_same</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_OrderItemSummaries_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OrderItemSummaries_to_be_updated</name>
        <label>Get OrderItemSummaries to be updated</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OrderItemSummaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>storeOrderItemSummaryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_return_order_line_items</name>
        <label>get return order line items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_return_order_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReasonForReturn</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESHIP AND RETURN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_is_exchange_flag_in_OrderItemSummaries_to_true</name>
        <label>Update is exchange flag in OrderItemSummaries to true</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <inputReference>updateOrderItemSummaries</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_return_order_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advance_Replacement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Released__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>storeOrderItemSummaryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
