force-app/main/default/flows/rootstock__SetStandardCostsfromSimulated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Standard_Costs_from_Simulated</name>
        <label>Set Standard Costs from Simulated</label>
        <locationX>675</locationX>
        <locationY>49</locationY>
        <actionName>rootstock__DivisionMasterCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>txnType</name>
            <value>
                <elementReference>Txn_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useTodaysDate</name>
            <value>
                <elementReference>Use_Today_s_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__DivisionMasterCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>processLogId</assignToReference>
            <name>processLogId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>A_Automatic</name>
        <choiceText>A - Automatic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Manual</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;M - Manual&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <interviewLabel>Set Standard Costs from Simulated {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Set Standard Costs from Simulated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Division_Master</name>
        <label>Get Division Master</label>
        <locationX>390</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_Costs_from_Simulate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__sydiv__c</object>
        <outputReference>divisionMasterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>816</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processlog</name>
            <fieldText>&lt;p&gt;Please check process log for more details - &lt;a href=&quot;/lightning/r/rstk__processlog__c/{!processLogId}/view&quot; target=&quot;_blank&quot;&gt;View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>processLogId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Standard_Costs_from_Simulate</name>
        <label>Set Standard Costs from Simulate</label>
        <locationX>521</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Standard_Costs_from_Simulated</targetReference>
        </connector>
        <fields>
            <name>Division</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(74, 74, 86); font-size: 12px; background-color: rgb(248, 248, 248); font-family: sans-serif;&quot;&gt;Division&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(74, 74, 86); font-size: 12px; background-color: rgb(248, 248, 248);&quot;&gt;{!divisionMasterRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Txn_Type</name>
            <choiceReferences>A_Automatic</choiceReferences>
            <choiceReferences>M_Manual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Txn Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Use_Today_s_Date</name>
            <dataType>Boolean</dataType>
            <fieldText>Use Today&apos;s Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Division_Master</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>divisionMasterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydiv__c</objectType>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
