force-app/main/default/flows/rootstock__Clone_PO_Line_Approved_Manufacturer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_PO_Line_Approved_Manufacturer_Detail</name>
        <label>Assign PO Line Approved Manufacturer Detail</label>
        <locationX>746</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_peitemmfr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_poline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_mfritemno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_mfritemno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_mfrname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_mfrname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_mfritemid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_mfritemid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAppMfr.rstk__polinemfr_mfritemdesc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_mfritemdesc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO_Line_Approved_Manufacturer_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Item_Name</name>
        <choiceText>{!Get_PO_Line_Approved_Manufacturer.&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;rstk__poline_item__c.Name}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <formulas>
        <name>FlowErrorMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <formulas>
        <name>selectedItemFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_peitemmfr__c}</expression>
    </formulas>
    <interviewLabel>Clone PO Line Approved Manufacturers {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Clone PO Line Approved Manufacturer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PO_Line_Approved_Manufacturer_Record</name>
        <label>Create PO Line Approved Manufacturer Record</label>
        <locationX>894</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Get_New_PO_Line_Approved_Mfr</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Clone_App_Mfr_Failed</targetReference>
        </faultConnector>
        <inputReference>poLineAppMfr</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_PO_Line_Approved_Mfr</name>
        <label>Get New PO Line Approved Mfr</label>
        <locationX>1096</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_App_Mfr_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>poLineAppMfr.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polinemfr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Line_Approved_Manufacturer</name>
        <label>Get PO Line Approved Manufacturer</label>
        <locationX>459</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_PO_Line_Item_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polinemfr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_App_Mfr_Failed</name>
        <label>Clone App Mfr Failed</label>
        <locationX>1093</locationX>
        <locationY>102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_App_Mfr_Success</name>
        <label>Clone App Mfr Success</label>
        <locationX>1099</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PO Line Approved Manufacturer has been cloned successfully. Click on the below link to navigate to the newly created PO Line Approved Manufacturer. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/rstk__poline__c/{!Get_New_PO_Line_Approved_Mfr.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 255);&quot;&gt;{!Get_New_PO_Line_Approved_Mfr.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_PO_Line_Item_Screen</name>
        <label>Select PO Line Item Screen</label>
        <locationX>607</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_PO_Line_Approved_Manufacturer_Detail</targetReference>
        </connector>
        <fields>
            <name>Item</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__peitemmfr__c </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approved Manufacturer by Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedItem</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__peitemmfr_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_PO_Line_Approved_Manufacturer.rstk__polinemfr_poline__r.rstk__poline_div__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedItem</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Get_PO_Line_Approved_Manufacturer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cloneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dockDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>poLineAppMfr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__polinemfr__c</objectType>
    </variables>
    <variables>
        <name>quantityReq</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>selectedItemFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>unitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
