force-app/main/default/flows/rootstock__LUI_Assign_Serials_From_Primary_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_First_Component_ID</name>
        <label>Assign First Component ID</label>
        <locationX>550</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>firstCompId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_WOORDDMD_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ICITEM_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Count</name>
        <label>Assign Loop Count</label>
        <locationX>420</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Component_Id</name>
        <label>Assign Primary Component Id</label>
        <locationX>1171</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>Selected_Primary_Component_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstCompId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_WOORDDMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Serial_Item_as_TRUE</name>
        <label>Assign Serial Item as TRUE</label>
        <locationX>774</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>isSerialControl</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_WOORDDMD_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOORDDMD_Count</name>
        <label>Assign WOORDDMD Count</label>
        <locationX>422</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>woorddmdCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_WOORDDMD_based_on_Current_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allWOORDMDCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_WOORDMD_for_Current_WO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_WOORDDMD_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOORDMDCST_Count</name>
        <label>Assign WOORDMDCST Count</label>
        <locationX>1180</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>woorddmdcstCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_WOORDDMDCST_for_Selected_Component</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Component_Detail_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOORDSRL_Count</name>
        <label>Assign WOORDSRL Count</label>
        <locationX>222</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>woordsrlCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_WOORDSRL_for_Current_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_WOORDMD_for_Current_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_to_Assign_Serials_from_Component</name>
        <label>Construct SYDATA to Assign Serials from Component</label>
        <locationX>774</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Primary_Component_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order – Auto Serialize from Primary Component</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SYDATA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WOORDMD_Count</name>
        <label>Check WOORDMD Count</label>
        <locationX>876</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Select_WOORDDMD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_One_Component</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allWOORDMDCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Component_Id</targetReference>
            </connector>
            <label>Contains One Component</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Component_Detail_Exist</name>
        <label>Is Component Detail Exist?</label>
        <locationX>995</locationX>
        <locationY>1005</locationY>
        <defaultConnector>
            <targetReference>No_Comp_Issued_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Component_Detail_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woorddmdcstCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_SYDATA_to_Assign_Serials_from_Component</targetReference>
            </connector>
            <label>Component Detail Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contains_Valid_WOORDDMD</name>
        <label>Is Contains Valid WOORDDMD?</label>
        <locationX>776</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>No_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Valid_WOORDDMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSerialControl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>woordsrlCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WOORDMD_Count</targetReference>
            </connector>
            <label>Contains Valid WOORDDMD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Component</name>
        <label>Is First Component?</label>
        <locationX>436</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Get_ICITEM_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_WO_Component</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Component_ID</targetReference>
            </connector>
            <label>First WO Component</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial_Controlled</name>
        <label>Is Serial Controlled?</label>
        <locationX>668</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Execute_WOORDDMD_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial_Controlled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ICITEM_Details.rstk__icitem_srlcontrol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Serial_Item_as_TRUE</targetReference>
            </connector>
            <label>Serial Controlled</label>
        </rules>
    </decisions>
    <formulas>
        <name>loopCountFormula</name>
        <dataType>Number</dataType>
        <expression>{!loopCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Assign Serials From Primary Component {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assign Serials From Primary Component</label>
    <loops>
        <name>Execute_WOORDDMD_Loop</name>
        <label>Execute WOORDDMD Loop</label>
        <locationX>544</locationX>
        <locationY>504</locationY>
        <collectionReference>Get_WOORDDMD_based_on_Current_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Contains_Valid_WOORDDMD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SYDATA</name>
        <label>Create SYDATA</label>
        <locationX>562</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>Get_SYDATA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Serials_Failed</targetReference>
        </faultConnector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_WOORDMD_for_Current_WO</name>
        <label>Get All WOORDMD for Current WO</label>
        <locationX>375</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOORDDMD_based_on_Current_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ICITEM_Details</name>
        <label>Get ICITEM Details</label>
        <locationX>677</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Serial_Controlled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Execute_WOORDDMD_Loop.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SYDATA</name>
        <label>Get SYDATA</label>
        <locationX>363</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Serial_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOCST_Details</name>
        <label>Get WOCST Details</label>
        <locationX>224</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOORDSRL_for_Current_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOORDDMD_based_on_Current_Work_Order</name>
        <label>Get WOORDDMD based on Current Work Order</label>
        <locationX>543</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WOORDDMD_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_qtyiss__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOORDDMDCST_for_Selected_Component</name>
        <label>Get WOORDDMDCST for Selected Component</label>
        <locationX>1178</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WOORDMDCST_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmdcst_woorddmd__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Primary_Component_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmdcst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOORDSRL_for_Current_Work_Order</name>
        <label>Get WOORDSRL for Current Work Order</label>
        <locationX>224</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WOORDSRL_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woordsrl_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woordsrl_srlno__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woordsrl__c</object>
        <sortField>rstk__woordsrl_srlseqno__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_Serial_Success</name>
        <label>Assign Serial Success</label>
        <locationX>363</locationX>
        <locationY>994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Serial Numbers assigned successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA.rstk__sydata_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA.rstk__sydata_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assign_Serials_Failed</name>
        <label>Assign Serials Failed</label>
        <locationX>563</locationX>
        <locationY>994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Comp_Issued_Screen</name>
        <label>No Comp Issued Screen</label>
        <locationX>773</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_comp_iss</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No Component Issues have been performed for this component.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Record_Screen</name>
        <label>No Record Screen</label>
        <locationX>1112</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_record_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No Work Order Component with Non-Zero Qty Issued/ unassigned Work Order Serials found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_WOORDDMD</name>
        <label>Select WOORDDMD</label>
        <locationX>990</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_WOORDDMDCST_for_Selected_Component</targetReference>
        </connector>
        <fields>
            <name>wo_component_list</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>woCompList</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__woorddmd__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Primary Component:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__woorddmd_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_Primary_Component_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__woorddmd_qtyiss__c &gt; 0 AND rstk__woorddmd_compitem__r.rstk__icitem_srlcontrol__c = TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Primary_Component_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>98</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Get_WOCST_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allWOORDMDCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>firstCompId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSerialControl</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Primary_Component_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>woorddmdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>woorddmdcstCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>woordsrlCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
