force-app/main/default/flows/rootstock__Sales_Order_Payment_Authorization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Initial_Breakdown_info</name>
        <label>Fetch_Initial_Breakdown_info</label>
        <locationX>509</locationX>
        <locationY>254</locationY>
        <actionName>rootstock__SalesOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sales_Order_Payments</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>InitialAmnountBreakdown</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SalesOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>authRemaining</assignToReference>
            <name>authRemaining</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>discountAmt</assignToReference>
            <name>discountAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>freightAmt</assignToReference>
            <name>freightAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>handlingAmt</assignToReference>
            <name>handlingAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>orderTotal</assignToReference>
            <name>orderTotal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>packageAmt</assignToReference>
            <name>packageAmt</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>paymentRemaining</assignToReference>
            <name>paymentRemaining</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>subTotal</assignToReference>
            <name>subTotal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>taxTotal</assignToReference>
            <name>taxTotal</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Sales_Order_Totals</name>
        <label>Get Sales Order Totals</label>
        <locationX>863</locationX>
        <locationY>248</locationY>
        <actionName>rootstock__SalesOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sales_Order_Total</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>GetSalesOrderTotals</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SalesOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesOrderPaymentAuthorization</name>
        <label>Sales Order Payment Authorization</label>
        <locationX>929</locationX>
        <locationY>656</locationY>
        <actionName>rootstock__SalesOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>acctNum</name>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>SalesOrderPaymentAuthorization</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cvv2</name>
            <value>
                <elementReference>Security_Code_CVV2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expireMonth</name>
            <value>
                <elementReference>Expires_Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expireYear</name>
            <value>
                <elementReference>Expires_Year</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noPaymentAtShipment</name>
            <value>
                <elementReference>No_Payment_at_Shipment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>previousPaymentMethod</name>
            <value>
                <elementReference>previousPaymentMethodId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesOrderPaymentGateway</name>
            <value>
                <elementReference>salesOrderPaymentGatewayId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetAddress</name>
            <value>
                <elementReference>streetAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zip</name>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SalesOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_address_defaults</name>
        <label>Assign address defaults</label>
        <locationX>589</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bill_to_override_address.rstk__soaddr_address1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bill_to_override_address.rstk__soaddr_zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_address_defaults_0</name>
        <label>Assign address defaults</label>
        <locationX>542</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_customer_address.rstk__socaddr_address1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_customer_address.rstk__socaddr_zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remaining_Authorization_Amount</name>
        <label>Remaining Authorization Amount</label>
        <locationX>677</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>authorizationAmountValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>salesOrderPayment.rstk__sohdrpay_authamount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Authorization_Amount_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Order_Total</name>
        <label>Sales Order Total</label>
        <locationX>1019</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesOrderTotalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Order_Payment_Authorization</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_gateway_is_Strip</name>
        <label>Check the gateway is Strip</label>
        <locationX>755</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Strip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Sales_Order_Payment_Gateway.rstk__sogateway_provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stripe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Postal_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use_Previous_Payment_Methods</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen5</targetReference>
            </connector>
            <label>is Strip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_customer_Address_Overrided</name>
        <label>Is customer Address Overrided</label>
        <locationX>686</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Get_customer_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_overrided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrderHeader.rstk__sohdr_ovrbill__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bill_to_override_address</targetReference>
            </connector>
            <label>is overrided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Existing_Payment_Methods</name>
        <label>Use Existing Payment Methods</label>
        <locationX>283</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Previous_Payment_Methods</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>Use Existing</label>
        </rules>
        <rules>
            <name>New_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Previous_Payment_Methods</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen5</targetReference>
            </connector>
            <label>New Card</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>customerPaymentGateway</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socustgateway_socust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderHeader.rstk__sohdr_custno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__socustgateway_sogateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesOrderPaymentGatewayId</elementReference>
            </value>
        </filters>
        <object>rstk__socustgateway__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>customerPaymentGatewayTokens</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socusttoken_refid__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__socusttoken_socustgateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCustomerPaymentGateway.Id</elementReference>
            </value>
        </filters>
        <object>rstk__socusttoken__c</object>
        <outputAssignments>
            <assignToReference>previousPaymentMethodId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>salesOrderPaymentGateway</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>rstk__sogateway__c</object>
        <outputAssignments>
            <assignToReference>salesOrderPaymentGatewayId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>authorizationAmount</name>
        <dataType>String</dataType>
        <expression>TEXT({!remainingAuthorizationAmountValue})</expression>
    </formulas>
    <formulas>
        <name>remainingAuthorizationAmountValue</name>
        <dataType>Number</dataType>
        <expression>IF({!salesOrderTotal} - {!authorizationAmountValue} &lt; 0, 0, {!salesOrderTotal} - {!authorizationAmountValue})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>salesOrderTotal</name>
        <dataType>Number</dataType>
        <expression>VALUE({!salesOrderTotalText})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sales Order Payment Authorization {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sales Order Payment Authorization</label>
    <loops>
        <name>Remaining_Authorization_Amount_Loop</name>
        <label>Remaining Authorization Amount Loop</label>
        <locationX>678</locationX>
        <locationY>245</locationY>
        <assignNextValueToReference>salesOrderPayment</assignNextValueToReference>
        <collectionReference>salesOrderPayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remaining_Authorization_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Sales_Order_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bill_to_override_address</name>
        <label>Get Bill to override address</label>
        <locationX>687</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_address_defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderHeader.rstk__sohdr_obilltoaddr__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soaddr__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_customer_address</name>
        <label>Get customer address</label>
        <locationX>617</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_address_defaults_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socaddr_custno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderHeader.rstk__sohdr_custno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__socaddr_defaultbillto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socaddr__c</object>
        <sortField>rstk__socaddr_name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Payment_Gateway</name>
        <label>Get Customer Payment Gateway</label>
        <locationX>793</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_customer_Address_Overrided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socustgateway_socust__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderHeader.rstk__sohdr_custno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__socustgateway_sogateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salesOrderPaymentGatewayId</elementReference>
            </value>
        </filters>
        <object>rstk__socustgateway__c</object>
        <outputReference>vCustomerPaymentGateway</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Header</name>
        <label>Get Sales Order Header</label>
        <locationX>405</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Initial_Breakdown_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__sohdr__c</object>
        <outputReference>SalesOrderHeader</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__sohdr_custno__c</queriedFields>
        <queriedFields>rstk__sohdr_ovrbill__c</queriedFields>
        <queriedFields>rstk__sohdr_obilltoaddr__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Sales_Order_Payment_Gateway</name>
        <label>get Sales Order Payment Gateway</label>
        <locationX>600</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_gateway_is_Strip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Order_Payment_Gateway</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sogateway__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Payments</name>
        <label>Get Sales Order Payments</label>
        <locationX>590</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_Authorization_Amount_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>rstk__sohdrpay_sohdr__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__sohdrpay_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorization Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__sohdrpay_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Completed</stringValue>
            </value>
        </filters>
        <object>rstk__sohdrpay__c</object>
        <outputReference>salesOrderPayments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__sohdrpay_authamount__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Sales_Order_Payment_Authorization</name>
        <label>Sales Order Payment Authorization</label>
        <locationX>1021</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Customer_Payment_Gateway</targetReference>
        </connector>
        <fields>
            <name>Sales_Order_Payment_Gateway</name>
            <choiceReferences>salesOrderPaymentGateway</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Order Payment Gateway</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>546</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Use_Existing_Payment_Methods</targetReference>
        </connector>
        <fields>
            <name>Use_Previous_Payment_Methods</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>usePreviousPaymentMethods</elementReference>
            </defaultValue>
            <fieldText>Use Previous Payment Methods</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>538</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen4</targetReference>
        </connector>
        <fields>
            <name>Previous_Payment_Methods</name>
            <choiceReferences>customerPaymentGatewayTokens</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Previous Payment Methods</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4</name>
        <label>Screen4</label>
        <locationX>687</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SalesOrderPaymentAuthorization</targetReference>
        </connector>
        <fields>
            <name>Amount</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>remainingAuthorizationAmountValue</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Payment_at_Shipment</name>
            <dataType>Boolean</dataType>
            <fieldText>No Payment at Shipment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Show_Initial_Amnount_Breakdown</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>showIntialBreakdown</elementReference>
            </defaultValue>
            <fieldText>Show Initial Amount Breakdown</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Check to view the Initial Amount Breakdown&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InitialAmnountBreakdownDisplayText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Initial Amount Breakdown&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subtotal_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Subtotal&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>subtotalValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!subTotal}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Total_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tax Total&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>taxTotalValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!taxTotal}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Freight_Amt_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Freight Amt&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>freightAmtValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!freightAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HandlingAmountDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Handling Amount&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HandlingAmountValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!handlingAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Packaging_Amount_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Packaging Amount&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PackagingAmountValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!packageAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Authorization_Remaining_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Authorization Remaining&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AuthorizationRemainingValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!authRemaining}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_Amount_Display1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Discount Amount&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiscountAmountValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!discountAmt}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentRemainingDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment Remaining&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentRemainingValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!paymentRemaining}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>emptyDash01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;--------------------------------------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen4_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen4_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderTotalDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Order Total&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderTotalValueDisplay1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!orderTotal}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen4_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>emptyDash02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--------------------------------------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Initial_Amnount_Breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen5</name>
        <label>Screen5</label>
        <locationX>516</locationX>
        <locationY>774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Sales_Order_Payment_Gateway</targetReference>
        </connector>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>String</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Security_Code_CVV2</name>
            <dataType>String</dataType>
            <fieldText>Security Code (CVV2)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expires_Month</name>
            <dataType>String</dataType>
            <fieldText>Expires Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expires_Year</name>
            <dataType>String</dataType>
            <fieldText>Expires Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>address</elementReference>
            </defaultValue>
            <fieldText>Address 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>postalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostalCodeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 3, 3);&quot;&gt;Postal Code must be entered for the Stripe gateway.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>is_Strip</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authorizationAmountValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>authRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cvv2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountAmt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>expireMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expireYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>freightAmt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>handlingAmt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>packageAmt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousPaymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sohdr__c</objectType>
    </variables>
    <variables>
        <name>salesOrderPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sohdrpay__c</objectType>
    </variables>
    <variables>
        <name>salesOrderPaymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sohdrpay__c</objectType>
    </variables>
    <variables>
        <name>salesOrderTotalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>message</elementReference>
        </value>
    </variables>
    <variables>
        <name>showIntialBreakdown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>streetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taxTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>usePreviousPaymentMethods</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCustomerPaymentGateway</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__socustgateway__c</objectType>
    </variables>
    <variables>
        <name>zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
