force-app/main/default/flows/rootstock__PO_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_POs_to_Issue</name>
        <label>Get POs to Issue</label>
        <locationX>561</locationX>
        <locationY>124</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_POHDR_ids_returned</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__pohdr__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Fault_Message_Screen_POLine</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Get_POs_To_Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>SYUSER.rstk__syusr_lastdiv__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>POHeaderIds</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_blank_to_POHeaderIds</name>
        <label>Assign blank to POHeaderIds</label>
        <locationX>1020</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>POHeaderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Order_Issue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_Dmd_Table_Cols</name>
        <label>Construct Dmd Table Cols</label>
        <locationX>1341</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>dmdtable_col_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Prep_Dmd_Table.rstk__podmd_compitem__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_remaining</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dmdtable_qty_remaining</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_req</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dmdtable_qty_req</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_issued</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dmd_qty_issued</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prep_Dmd_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Non_Serial</name>
        <label>Construct SYDATA Non Serial</label>
        <locationX>3049</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_podmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Component_Demands.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_On_ICLOCITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Serial</name>
        <label>Construct SYDATA Serial</label>
        <locationX>3310</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_podmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Component_Demands.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_to_use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICITEMLOT.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_serial2</name>
        <label>Construct SYDATA serial</label>
        <locationX>3540</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_podmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Component_Demands.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lot</name>
        <label>Populate Lot</label>
        <locationX>3186</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_icitemlot__r.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RESET_VARS</name>
        <label>RESET VARS</label>
        <locationX>2005</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocId_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocNum_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PO_Component_Demands</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Context</name>
        <label>Check Context</label>
        <locationX>562</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>SYUSER</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordID</defaultConnectorLabel>
        <rules>
            <name>recordID_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POL_Fetch</targetReference>
            </connector>
            <label>recordID Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lot_On_ICLOCITEM</name>
        <label>Check Lot On ICLOCITEM</label>
        <locationX>3182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ICITEMLOT</defaultConnectorLabel>
        <rules>
            <name>Found_ICITEMLOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ICLOCITEM.rstk__iclocitem_icitemlot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lot</targetReference>
            </connector>
            <label>Found ICITEMLOT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PODMDs</name>
        <label>Check PODMDs</label>
        <locationX>1100</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Prep_Dmd_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PODMD Outstanding</defaultConnectorLabel>
        <rules>
            <name>No_PODMD_Outstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_PO_Components</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order_Issue</targetReference>
            </connector>
            <label>No PODMD Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Selection</name>
        <label>Check Serials Selection</label>
        <locationX>2935</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>ICITEMLOT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_Select_Serial</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Serials</targetReference>
            </connector>
            <label>Must Select Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Selection2</name>
        <label>Check Serials Selection</label>
        <locationX>3202</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA_serial2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_Select_Serial2</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Manual_Serial_Entry2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manual_Serial_Entry2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials_comma_separated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials_comma_separated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Serials2</targetReference>
            </connector>
            <label>Must Select Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Non_Serial</name>
        <label>Check Skip Component Issue - Non Serial</label>
        <locationX>2265</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Validate_Selected_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Non Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Non_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_non_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Non Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Serial</name>
        <label>Check Skip Component Issue - Serial</label>
        <locationX>2342</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>Validate_Loc_Selections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_POHDR_ids_returned</name>
        <label>Is POHDR ids returned?</label>
        <locationX>830</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Purchase_Order_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_ids_returned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>idsReturned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_blank_to_POHeaderIds</targetReference>
            </connector>
            <label>No ids returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_serial</name>
        <label>Is serial</label>
        <locationX>2081</locationX>
        <locationY>999</locationY>
        <defaultConnector>
            <targetReference>Issue_Component_Non_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serial No</defaultConnectorLabel>
        <rules>
            <name>Serial_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Serial yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lot_Tracked_check</name>
        <label>Lot Tracked Value check</label>
        <locationX>2759</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Issue_Component_Select_Serials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lot Tracked Value Not Empty</defaultConnectorLabel>
        <rules>
            <name>Lot_Tracked_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_ICITEMLOT_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Serials2</targetReference>
            </connector>
            <label>Lot Tracked Value Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loc_Selections</name>
        <label>Validate Loc Selections</label>
        <locationX>2578</locationX>
        <locationY>993</locationY>
        <defaultConnector>
            <targetReference>SYLOCNUM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc Id/Num</defaultConnectorLabel>
        <rules>
            <name>Invalid_Loc_Id_Num</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocId_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocNum_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Invalid Loc Id/Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Selected_Options</name>
        <label>Validate Selected Options</label>
        <locationX>2720</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>ICLOCITEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc And Qty</defaultConnectorLabel>
        <rules>
            <name>Loc_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_ICLOCITEM_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Loc Not Selected</label>
        </rules>
        <rules>
            <name>Invalid_Issue_Quantity</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Invalid Issue Quantity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Component_serial_lot_null</name>
        <dataType>String</dataType>
        <displayField>rstk__iclocitem_locsec__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__iclocitem_availind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_div__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_iccontainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locqty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hand</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_proj__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_issproj__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_invsite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locsec__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rstk__iclocitem__c</object>
        <valueField>rstk__iclocitem_locsec__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Component_Serials_Lot</name>
        <dataType>String</dataType>
        <displayField>rstk__iclocitem_locsec__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__iclocitem_availind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_div__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_iccontainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemsrl__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locqty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hand</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_proj__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_issproj__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Component_Demands.rstk__podmd_invsite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemlot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <object>rstk__iclocitem__c</object>
        <sortField>rstk__iclocitem_locsec__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>rstk__iclocitem_locsec__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CheckIssueQtyNotDecimal_LotTracked</name>
        <dataType>Boolean</dataType>
        <expression>IF(MOD({!Quantity_To_Issue}, 1) == 0, true, false)</expression>
    </formulas>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>IF({!Manual_Serial_Entry} == TRUE,
(LEN({!Enter_Serials}) - LEN(SUBSTITUTE({!Enter_Serials}, &apos;,&apos;, &apos;&apos;) ) + 1),
(LEN({!Select_Serials}) - LEN(SUBSTITUTE({!Select_Serials}, &apos;;&apos;, &apos;&apos;) ) + 1)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count_Serials2</name>
        <dataType>Number</dataType>
        <expression>IF({!Manual_Serial_Entry2}==TRUE,
(LEN({!Enter_Serials_comma_separated}) - LEN(SUBSTITUTE({!Enter_Serials_comma_separated}, &apos;,&apos;, &apos;&apos;) ) + 1),
(LEN({!Select_Serials2}) - LEN(SUBSTITUTE({!Select_Serials2}, &apos;;&apos;, &apos;&apos;) ) + 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dmd_qty_issued</name>
        <dataType>String</dataType>
        <expression>TEXT({!Prep_Dmd_Table.rstk__podmd_qtyiss__c})</expression>
    </formulas>
    <formulas>
        <name>dmdtable_qty_allocated</name>
        <dataType>String</dataType>
        <expression>TEXT({!Prep_Dmd_Table.rstk__podmd_qtyalloc__c})</expression>
    </formulas>
    <formulas>
        <name>dmdtable_qty_remaining</name>
        <dataType>String</dataType>
        <expression>TEXT({!Prep_Dmd_Table.rstk__podmd_qtyoutstdg__c})</expression>
    </formulas>
    <formulas>
        <name>dmdtable_qty_req</name>
        <dataType>String</dataType>
        <expression>TEXT({!Prep_Dmd_Table.rstk__podmd_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <description>To see if Apex action returns at least one pohdr id</description>
        <name>idsReturned</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!POHeaderIds})</expression>
    </formulas>
    <formulas>
        <name>Issued_Qty_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_SYDATA.rstk__sydata_txnqty__c})</expression>
    </formulas>
    <formulas>
        <name>Loc_Num_Required</name>
        <dataType>Boolean</dataType>
        <expression>{!PO_Component_Demands.rstk__podmd_invsite__r.rstk__sysite_sylocnum_reqind__c}</expression>
    </formulas>
    <formulas>
        <name>Loc_Num_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Location_Number}!=NULL, {!Location_Number}, {!SYLOCNUM.rstk__sylocnum_locnum__c})</expression>
    </formulas>
    <formulas>
        <name>Lot_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!PO_Component_Demands.rstk__podmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracklot_pl__c})</expression>
    </formulas>
    <formulas>
        <name>POCompQtyIssued</name>
        <dataType>String</dataType>
        <expression>TEXT({!PO_Component_Demands.rstk__podmd_qtyiss__c})</expression>
    </formulas>
    <formulas>
        <name>POCompQtyRemaining</name>
        <dataType>String</dataType>
        <expression>TEXT({!PO_Component_Demands.rstk__podmd_qtyoutstdg__c})</expression>
    </formulas>
    <formulas>
        <name>POCompQtyReq</name>
        <dataType>String</dataType>
        <expression>TEXT({!PO_Component_Demands.rstk__podmd_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <name>Serial_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!PO_Component_Demands.rstk__podmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracksrl_pl__c})</expression>
    </formulas>
    <formulas>
        <name>Serials_to_use</name>
        <dataType>String</dataType>
        <expression>if({!Manual_Serial_Entry} == TRUE, {!Enter_Serials}, SUBSTITUTE({!Select_Serials}, &apos;;&apos;, &apos;,&apos;))</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use2</name>
        <dataType>String</dataType>
        <expression>IF({!Manual_Serial_Entry2}==TRUE, {!Enter_Serials_comma_separated}, SUBSTITUTE({!Select_Serials2}, &apos;;&apos;, &apos;,&apos;))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PO Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Issue</label>
    <loops>
        <name>PO_Component_Demands</name>
        <label>PO Component Demands</label>
        <locationX>1876</locationX>
        <locationY>750</locationY>
        <collectionReference>Fetch_PO_Components</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_serial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prep_Dmd_Table</name>
        <label>Prep Dmd Table</label>
        <locationX>1344</locationX>
        <locationY>741</locationY>
        <collectionReference>Fetch_PO_Components</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_Dmd_Table_Cols</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Construct_PO_Component_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_SYDATA</name>
        <label>SYDATA</label>
        <locationX>3540</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>GET_SYDATA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_SYDATA</targetReference>
        </faultConnector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Cost_Accounting_Control_Record</name>
        <label>Cost Accounting Control Record</label>
        <locationX>562</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POs_to_Issue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_POLine</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__csacctcntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYUSER.rstk__syusr_lastdiv__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__csacctcntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_PO_Components</name>
        <label>Fetch PO Components</label>
        <locationX>1110</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PODMDs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_PODMD</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__podmd_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__podmd_qtyoutstdg__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__podmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SYDATA</name>
        <label>SYDATA</label>
        <locationX>3547</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Component_Issue_Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_SYDATA</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICITEMLOT</name>
        <label>ICITEMLOT</label>
        <locationX>3172</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_SYDATA_Serial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_SYLOCNUM</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitemlot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICLOCITEM</name>
        <label>ICLOCITEM</label>
        <locationX>2922</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_SYDATA_Non_Serial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_SYDATA</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICLOCITEM_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__iclocitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>POL_Fetch</name>
        <label>POL Fetch</label>
        <locationX>848</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_PO_Components</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_PODMD</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYLOCNUM</name>
        <label>SYLOCNUM</label>
        <locationX>2588</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lot_Tracked_check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_SYLOCNUM</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocNum_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYUSER</name>
        <label>SYUSER</label>
        <locationX>569</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cost_Accounting_Control_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen_POLine</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Component_Issue_Result</name>
        <label>Component Issue Result</label>
        <locationX>2696</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RESET_VARS</targetReference>
        </connector>
        <fields>
            <name>Component_Issue_SYDATA_Result</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SYDATA:&lt;/strong&gt; &lt;a href=&quot;/lightning/r/rstk__sydata__c/{!GET_SYDATA.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Qty Issued:&lt;/strong&gt; {!Issued_Qty_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to issue another component.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen_PODMD</name>
        <label>Fault Message Screen PODMD</label>
        <locationX>982</locationX>
        <locationY>996</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage_podmd</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen_POLine</name>
        <label>Fault Message Screen POLine</label>
        <locationX>386</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen_SYDATA</name>
        <label>Fault Message Screen SYDATA</label>
        <locationX>3740</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage_sydata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen_SYLOCNUM</name>
        <label>Fault Message Screen SYLOCNUM</label>
        <locationX>3070</locationX>
        <locationY>1133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage_sylocnum</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Non_Serial</name>
        <label>Issue Component - Non-Serial</label>
        <locationX>2428</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Non_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Component Item:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!PO_Component_Demands.rstk__podmd_compitem__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Required: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyReq}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Issued: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyIssued}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Remaining:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!POCompQtyRemaining}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lot Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Serial Tracked:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inv_Loc_Lookup_No_Lot_No_Srl</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__iclocitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_locinfostring__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Issue from:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_icitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>PO_Component_Demands.rstk__podmd_compitem__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICLOCITEM_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__iclocitem_div__c = &apos;{!PO_Component_Demands.rstk__podmd_div__c}&apos; AND rstk__iclocitem_site__c = &apos;{!PO_Component_Demands.rstk__podmd_invsite__c}&apos; AND rstk__iclocitem_proj__c = &apos;{!PO_Component_Demands.rstk__podmd_issproj__c}&apos; AND rstk__iclocitem_locqty__c &gt; 0 AND rstk__iclocitem_availind__c = true AND rstk__iclocitem_icitemsrl__c = NULL AND rstk__iclocitem_iccontainer__c = NULL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Issue from Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Loc_Not_Selected_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select an inventory location to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Not_Selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity_To_Issue</name>
            <dataType>Number</dataType>
            <fieldText>Quantity To Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Invalid_Quantity_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter a valid quantity to issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Issue_Quantity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skip_this_component_issue_non_serial</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Locations_Lot</name>
        <label>Issue Component - Select Locations/Lot</label>
        <locationX>2460</locationX>
        <locationY>1208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Component Item:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!PO_Component_Demands.rstk__podmd_compitem__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Required: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyReq}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Issued: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyIssued}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Remaining: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyRemaining}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lot Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Serial Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocID_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Location ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loc ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocid_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocId_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>PO_Component_Demands.rstk__podmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sylocid_site__c = &apos;{!PO_Component_Demands.rstk__podmd_invsite__c}&apos; AND rstk__sylocid_loctype_pl__c = &apos;On Hand&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocId_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LocNum_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locnum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocnum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Location Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loc Num</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocnum_locid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocNum_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocNum_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Location_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter a Location Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Loc_Id_Num_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select/enter a valid Location Id and Location Number to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Loc_Id_Num_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__icitemlot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Lot Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_lotno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Lot Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>PO_Component_Demands.rstk__podmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICITEMLOT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__icitemlot_item__c = &apos;{!PO_Component_Demands.rstk__podmd_compitem__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked_Comp</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skip_this_component_issue</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Serials</name>
        <label>Issue Component - Select Serials</label>
        <locationX>2722</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Serials_Selection</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Component Item:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!PO_Component_Demands.rstk__podmd_compitem__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Required:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!POCompQtyReq}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Issued: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!POCompQtyIssued}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Qty Remaining: &lt;/b&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!POCompQtyRemaining}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lot Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Serial Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Serials</name>
            <choiceReferences>Component_Serials_Lot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must select/enter serial number(s) to issue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Must_Select_Serial</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manual_Serial_Entry</name>
            <dataType>Boolean</dataType>
            <fieldText>Manual Serial Entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Serials</name>
            <dataType>String</dataType>
            <fieldText>Enter Serials (comma separated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manual_Serial_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Serials2</name>
        <label>Issue Component - Select Serials</label>
        <locationX>3004</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Serials_Selection2</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Component Item:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!PO_Component_Demands.rstk__podmd_compitem__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty Required:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!POCompQtyReq}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Qty Issued: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!POCompQtyIssued}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Qty Remaining: &lt;/b&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!POCompQtyRemaining}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Lot Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Serial Tracked: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Serials2</name>
            <choiceReferences>Component_serial_lot_null</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Error2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must select/enter serial number(s) to issue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Must_Select_Serial</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manual_Serial_Entry2</name>
            <dataType>Boolean</dataType>
            <fieldText>Manual Serial Entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Serials_comma_separated</name>
            <dataType>String</dataType>
            <fieldText>Enter Serials (comma separated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manual_Serial_Entry2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Demand_Display</name>
        <label>PO Demand Display</label>
        <locationX>1722</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PO_Component_Demands</targetReference>
        </connector>
        <fields>
            <name>POL_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Division:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!POL_Fetch.rstk__poline_div__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Purchase Order Line:&lt;/b&gt; {!POL_Fetch.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Purchase Order Line Status: &lt;/b&gt;{!POL_Fetch.rstk__poline_ordsts__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComponentsDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Components&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!dmdtableString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click next to issue components one by one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_Order_Issue</name>
        <label>Purchase Order Issue</label>
        <locationX>847</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>POL_Fetch</targetReference>
        </connector>
        <fields>
            <name>DivisionInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division: &lt;/b&gt;{!SYUSER.rstk__syusr_lastdiv__r.Name}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__pohdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Purchase Order Header</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_po</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN ({!POHeaderIds}) and rstk__pohdr_ordsts__c IN (&apos;5-Vendor Notified&apos;,&apos;7-Line Item Received&apos;,&apos;8-All Line Items Received&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>POId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>POId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>POL_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_pol</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poline_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_po</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>No_Qty_Remaining</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;No Quantities outstanding on selected PO Line.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_PODMD_Outstanding</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cost_Accounting_Control_Record.rstk__csacctcntl_poissdateovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>1826</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>issue_message</name>
            <fieldText>&lt;p&gt;PO Component Demands has been issued successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>147</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Check_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Construct_PO_Component_Table</name>
        <label>Construct PO Component Table</label>
        <locationX>1555</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>PO_Demand_Display</targetReference>
        </connector>
        <flowName>rstk__Make_a_table_flow</flowName>
        <inputAssignments>
            <name>cvColumn1Values</name>
            <value>
                <elementReference>dmdtable_col_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn2Values</name>
            <value>
                <elementReference>dmdtable_col_qty_req</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn3Values</name>
            <value>
                <elementReference>dmdtable_col_qty_issued</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn4Values</name>
            <value>
                <elementReference>dmdtable_col_qty_remaining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader1Text</name>
            <value>
                <stringValue>Comp Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader2Text</name>
            <value>
                <stringValue>Qty Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader3Text</name>
            <value>
                <stringValue>Qty Issued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader4Text</name>
            <value>
                <stringValue>Qty Remaining</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTableStyle</name>
            <value>
                <stringValue>width=&quot;100%&quot;</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>dmdtableString</assignToReference>
            <name>TableHTMLOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>dmdtable_col_item</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_allocated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_issued</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_remaining</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_req</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtableString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POHeaderIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>polineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICITEMLOT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICLOCITEM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocNum_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
