force-app/main/default/flows/rootstock__WO_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>construct_html_table_for_demand</name>
        <label>construct html table for demand</label>
        <locationX>1576</locationX>
        <locationY>439</locationY>
        <actionName>rootstock__WorkOrderIssueCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WO_Demands_Display</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>construct demand table using Html</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderIssueCon</nameSegment>
        <outputParameters>
            <assignToReference>dmdtable_string</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_records_count</name>
        <label>Assign records count</label>
        <locationX>2242</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>No_of_total_dmds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>WOORDDMDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demands</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_for_counter_variable</name>
        <label>Assign value for counter variable</label>
        <locationX>4210</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>Successfully_issued_dmd_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Component_Issue_Success_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_selected_boolean</name>
        <label>Assign WO selected boolean</label>
        <locationX>1298</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>WO_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_Dmd_Table_Cols</name>
        <label>Construct Dmd Table Cols</label>
        <locationX>1745</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>dmdtable_col_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_req</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyReq_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_iss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyIss_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_rem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyRem_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prep_Dmd_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Non_Serial</name>
        <label>Construct SYDATA Non Serial</label>
        <locationX>3740</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_allowoverissue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txn_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_On_ICLOCITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Non_Serial_0</name>
        <label>Construct SYDATA Non Serial</label>
        <locationX>3756</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txn_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_On_ICLOCITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Serial</name>
        <label>Construct SYDATA Serial</label>
        <locationX>4079</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_allowoverissue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txn_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Serial_0</name>
        <label>Construct SYDATA Serial</label>
        <locationX>4082</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txn_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_assignment</name>
        <label>Counter assignment</label>
        <locationX>2432</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>Loop_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Serial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lot</name>
        <label>Populate Lot</label>
        <locationX>4611</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICITEMLOT.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICITEMLOT.rstk__icitemlot_expiredate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lot_And_Expiration_Date</name>
        <label>Populate Lot And Expiration Date</label>
        <locationX>4214</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_icitemlot__r.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_icitemlot__r.rstk__icitemlot_expiredate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_dmd_table</name>
        <label>Reset dmd table</label>
        <locationX>1896</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>dmdtable_string</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDDMDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_item</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_req</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_iss</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_rem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Successfully_issued_dmd_count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOORDDMDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RESET_VARS</name>
        <label>RESET VARS</label>
        <locationX>2597</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocId_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocNum_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Demands</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Allow_Over_Issue</name>
        <label>Check Allow Over-Issue</label>
        <locationX>3573</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA_Non_Serial_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue</defaultConnectorLabel>
        <rules>
            <name>Allow_Over_Issue_Comp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allow_OverIssue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_SYDATA_Non_Serial</targetReference>
            </connector>
            <label>Allow Over Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Allow_Over_Issue_for_Component</name>
        <label>Check Allow Over-Issue for Component</label>
        <locationX>3930</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA_Serial_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue</defaultConnectorLabel>
        <rules>
            <name>Over_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allow_Over_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_SYDATA_Serial</targetReference>
            </connector>
            <label>Over-Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Context</name>
        <label>Check Context</label>
        <locationX>992</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>SYUSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordID</defaultConnectorLabel>
        <rules>
            <name>recordID_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOCST</targetReference>
            </connector>
            <label>recordID Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lot_On_ICLOCITEM</name>
        <label>Check Lot On ICLOCITEM</label>
        <locationX>3943</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ICITEMLOT</defaultConnectorLabel>
        <rules>
            <name>Found_ICITEMLOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ICLOCITEM.rstk__iclocitem_icitemlot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lot_And_Expiration_Date</targetReference>
            </connector>
            <label>Found ICITEMLOT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lot_Selected</name>
        <label>Check Lot Selected</label>
        <locationX>4205</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lot Selected</defaultConnectorLabel>
        <rules>
            <name>Lot_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_ICITEMLOT_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICITEMLOT</targetReference>
            </connector>
            <label>Lot Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Selection</name>
        <label>Check Serials Selection</label>
        <locationX>3796</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Check_Allow_Over_Issue_for_Component</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_Select_Serial</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Serials</targetReference>
            </connector>
            <label>Must Select Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Non_Serial</name>
        <label>Check Skip Component Issue - Non Serial</label>
        <locationX>2996</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Validate_Selected_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Non Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Non_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_non_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Non Serial</label>
        </rules>
        <rules>
            <name>Skip_Issue_End_flow_Non_Serial</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_non_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Successfully_issued_dmd_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_Pending_Components</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Skip Issue - End flow Non-Serial</label>
        </rules>
        <rules>
            <name>Skip_Issue_Redirect_Non_serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_non_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_Pending_Components</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Component_Issue_Success_Result</targetReference>
            </connector>
            <label>Skip Issue - Redirect Non-serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Serial</name>
        <label>Check Skip Component Issue - Serial</label>
        <locationX>3006</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Validate_Loc_Selections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Serial</label>
        </rules>
        <rules>
            <name>Skip_Issue_End_flow_Serial</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Successfully_issued_dmd_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_Pending_Components</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Skip Issue - End flow Serial</label>
        </rules>
        <rules>
            <name>Skip_Issue_Redirect_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Skip_this_component_issue_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_Pending_Components</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Component_Issue_Success_Result</targetReference>
            </connector>
            <label>Skip Issue - Redirect Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOORDDMDs</name>
        <label>Check WOORDDMDs</label>
        <locationX>1389</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>checking_limitations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOORDDMD Outstanding</defaultConnectorLabel>
        <rules>
            <name>No_WOORDDMD_Outstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID_Context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYUSR</targetReference>
            </connector>
            <label>No WOORDDMD Outstanding</label>
        </rules>
        <rules>
            <name>No_WOORDDMD_Record_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID_Context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_demands_error_screen</targetReference>
            </connector>
            <label>No WOORDDMD Record Page</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is more than 100 records, apex code will invoke. otherwise flow will handle the work order issue</description>
        <name>checking_limitations</name>
        <label>checking limitations</label>
        <locationX>1566</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>construct_html_table_for_demand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>continue_with_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOCST.rootstock__Number_of_Demand_Lines__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_Dmd_Table_Cols</targetReference>
            </connector>
            <label>continue with flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Demand_issued_successfully</name>
        <label>Demand issued successfully?</label>
        <locationX>4429</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Component_Issue_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successfully_issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_SYDATA.rstk__sydata_message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_SYDATA.rstk__sydata_extmessage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_SYDATA.rstk__sydata_errorstack__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_for_counter_variable</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_the_flow</name>
        <label>End the flow ?</label>
        <locationX>2347</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_to_Issue_Screen</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Successfully_issued_dmd_count</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>want_to_Issue_pending_components</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>want_to_Issue_remaining_components</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_dmd_table</targetReference>
            </connector>
            <label>Redirect to Issue Screen</label>
        </rules>
        <rules>
            <name>End_without_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_total_dmds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_counter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Successfully_issued_dmd_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>End without issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial</name>
        <label>Is Serial?</label>
        <locationX>2601</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Issue_Component_Non_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serial-No</defaultConnectorLabel>
        <rules>
            <name>Serial_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Serial-Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loc_Selections</name>
        <label>Validate Loc Selections</label>
        <locationX>3192</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>SYLOCNUM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc Id/Num</defaultConnectorLabel>
        <rules>
            <name>Invalid_Loc_Id_Num</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocId_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocNum_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Invalid Loc Id/Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Selected_Options</name>
        <label>Validate Selected Options</label>
        <locationX>3201</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>ICLOCITEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc And Qty</defaultConnectorLabel>
        <rules>
            <name>Loc_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_ICLOCITEM_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Loc Not Selected</label>
        </rules>
        <rules>
            <name>Invalid_Issue_Quantity</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Invalid Issue Quantity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Component_Serials_Lot</name>
        <dataType>String</dataType>
        <displayField>rstk__iclocitem_locsec__c</displayField>
        <filterLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND ( 12 OR 13 ) )</filterLogic>
        <filters>
            <field>rstk__iclocitem_availind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_iccontainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemlot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemsrl__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locqty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_proj__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hand</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consigned</stringValue>
            </value>
        </filters>
        <object>rstk__iclocitem__c</object>
        <sortField>rstk__iclocitem_locsec__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>rstk__iclocitem_locsec__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>IF({!Manual_Serial_Entry}==TRUE,
(LEN({!Enter_Serials}) - LEN(SUBSTITUTE({!Enter_Serials}, &apos;,&apos;, &apos;&apos;) ) + 1),
(LEN({!Select_Serials}) - LEN(SUBSTITUTE({!Select_Serials}, &apos;;&apos;, &apos;&apos;) ) + 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IssuedQty_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_SYDATA.rstk__sydata_txnqty__c})</expression>
    </formulas>
    <formulas>
        <name>Loc_Num_Required</name>
        <dataType>Boolean</dataType>
        <expression>{!WOORDDMD.rstk__woorddmd_site__r.rstk__sysite_sylocnum_reqind__c}</expression>
    </formulas>
    <formulas>
        <name>Loc_Num_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Location_Number}!=NULL, {!Location_Number},{!SYLOCNUM.rstk__sylocnum_locnum__c})</expression>
    </formulas>
    <formulas>
        <name>Lot_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracklot_pl__c})</expression>
    </formulas>
    <formulas>
        <name>No_of_Pending_Components</name>
        <dataType>Number</dataType>
        <expression>{!No_of_total_dmds} - {!Successfully_issued_dmd_count}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QtyIss_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyiss__c})</expression>
    </formulas>
    <formulas>
        <name>QtyRem_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyoutstdg__c})</expression>
    </formulas>
    <formulas>
        <name>QtyReq_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <name>Serial_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracksrl_pl__c})</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Manual_Serial_Entry}==TRUE, {!Enter_Serials}, SUBSTITUTE({!Select_Serials}, &apos;; &apos;, &apos;,&apos;))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WO Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Issue</label>
    <loops>
        <name>Demands</name>
        <label>Demands</label>
        <locationX>2355</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>WOORDDMD</assignNextValueToReference>
        <collectionReference>WOORDDMDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_the_flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prep_Dmd_Table</name>
        <label>Prep Dmd Table</label>
        <locationX>1744</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>WOORDDMD</assignNextValueToReference>
        <collectionReference>WOORDDMDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_Dmd_Table_Cols</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Construct_Dmd_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_SYDATA</name>
        <label>SYDATA</label>
        <locationX>4611</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>GET_SYDATA</targetReference>
        </connector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_SYDATA</name>
        <label>SYDATA</label>
        <locationX>4611</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demand_issued_successfully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICITEMLOT</name>
        <label>ICITEMLOT</label>
        <locationX>4462</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Lot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitemlot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICLOCITEM</name>
        <label>ICLOCITEM</label>
        <locationX>3468</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Allow_Over_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICLOCITEM_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__iclocitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYLOCNUM</name>
        <label>SYLOCNUM</label>
        <locationX>3479</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Component_Select_Serials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocNum_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYUSR</name>
        <label>SYUSR</label>
        <locationX>1001</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOCST_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>1192</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOORDDMDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOORDDMDs</name>
        <label>WOORDDMDs</label>
        <locationX>1395</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WOORDDMDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_backflushpol_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Backflushing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Component_Issue_Result</name>
        <label>Component Issue Result</label>
        <locationX>4297</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RESET_VARS</targetReference>
        </connector>
        <fields>
            <name>Component_Issue_SYDATA_Result</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SYDATA:&lt;/strong&gt; &lt;a href=&quot;/{!GET_SYDATA.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Qty Issued:&lt;/strong&gt; {!IssuedQty_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_to_issue_next_dmd</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Click Next to issue another component.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Loop_counter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>want_to_Issue_pending_components</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you wish to perform issue on pending components?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Successfully_issued_dmd_count</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_counter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_of_total_dmds</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>notes_to_issue_pending_dmds</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Note :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Click &apos;&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&apos; without selecting the above checkbox to end the flow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Loop_counter</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Successfully_issued_dmd_count</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Component_Issue_Success_Result</name>
        <label>Component Issue Success Result</label>
        <locationX>3652</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RESET_VARS</targetReference>
        </connector>
        <fields>
            <name>Component_Issue_SYDATA_Success_Result</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SYDATA:&lt;/strong&gt; &lt;a href=&quot;/{!GET_SYDATA.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Qty Issued:&lt;/strong&gt; {!IssuedQty_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SYDATA.rstk__sydata_txntype__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Note_to_issue_next_dmds</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click Next to issue another component.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Loop_counter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>no_dmds_to_issue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;No more components are available to issue, Please click &apos;&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&apos; to end the flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Successfully_issued_dmd_count</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>want_to_Issue_remaining_components</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you wish to perform issue on pending components?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Successfully_issued_dmd_count</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_counter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_of_total_dmds</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Success_notes_to_issue</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Note :&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; Click &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&apos; without selecting the above checkbox to end the flow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>Successfully_issued_dmd_count</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_counter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No_of_total_dmds</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Non_Serial</name>
        <label>Issue Component - Non-Serial</label>
        <locationX>2886</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Non_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Component Item:&lt;/b&gt; {!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Issued:&lt;/b&gt; {!QtyIss_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Remaining: &lt;/b&gt;{!QtyRem_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lot Tracked:&lt;/b&gt; {!Lot_Tracked_Comp}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Serial Tracked:&lt;/b&gt; {!Serial_Tracked_Comp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inv_Loc_Lookup_No_Lot_No_Srl</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__iclocitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_locinfostring__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Issue from:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_icitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICLOCITEM_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__iclocitem_div__c = &apos;{!WOORDDMD.rstk__woorddmd_div__c}&apos; AND rstk__iclocitem_site__c = &apos;{!WOORDDMD.rstk__woorddmd_site__c}&apos; AND rstk__iclocitem_proj__c = &apos;{!WOORDDMD.rstk__woorddmd_issproj__c}&apos; AND rstk__iclocitem_locqty__c &gt; 0 AND rstk__iclocitem_availind__c = true AND rstk__iclocitem_icitemsrl__c = NULL AND rstk__iclocitem_iccontainer__c = NULL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Loc_Not_Selected_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select an inventory location to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Not_Selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity_To_Issue</name>
            <dataType>Number</dataType>
            <fieldText>Quantity To Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Invalid_Quantity_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter a valid quantity to issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Issue_Quantity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Txn_Comment</name>
            <dataType>String</dataType>
            <fieldText>Txn Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Allow_OverIssue</name>
            <dataType>Boolean</dataType>
            <fieldText>Allow Over-Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skip_this_component_issue_non_serial</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skip_Component_Msg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Note : &lt;/strong&gt;&lt;em&gt;Skipping this component will end the flow.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Loop_counter</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Successfully_issued_dmd_count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_of_Pending_Components</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Locations_Lot</name>
        <label>Issue Component - Select Locations/Lot</label>
        <locationX>2963</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Component Item: &lt;/b&gt;{!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Quantity Issued:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!QtyIss_Text}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Quantity Remaining:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!QtyRem_Text}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Lot Tracked:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Serial Tracked:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocID_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocid_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sylocid_site__c = &apos;{!WOORDDMD.rstk__woorddmd_site__c}&apos; AND ( rstk__sylocid_loctype_pl__c = &apos;On Hand&apos; OR rstk__sylocid_loctype_pl__c = &apos;Consigned&apos; )</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Location Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocId_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocId_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LocNum_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locnum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocnum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocnum_locid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Location Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocNum_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocNum_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Location_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter a Location Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Loc_Id_Num_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select/enter a valid Location Id and Location Number to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Loc_Id_Num</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__icitemlot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_lotno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Lot Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__icitemlot_item__c = &apos;{!WOORDDMD.rstk__woorddmd_compitem__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICITEMLOT_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked_Comp</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Allow_Over_Issue</name>
            <dataType>Boolean</dataType>
            <fieldText>Allow Over-Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skip_this_component_issue_serial</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Skip_Serial_Comp_Msg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Note :&lt;/strong&gt; &lt;em&gt;Skipping this component will end the flow.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_total_dmds</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Loop_counter</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Successfully_issued_dmd_count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_of_Pending_Components</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Serials</name>
        <label>Issue Component - Select Serials</label>
        <locationX>3642</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Serials_Selection</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Component &lt;/b&gt;&lt;b&gt;Item:&lt;/b&gt; {!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Quantity Issued:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!QtyIss_Text}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Quantity Remaining:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!QtyRem_Text}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Lot Tracked:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Lot_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Serial Tracked:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!Serial_Tracked_Comp}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Serials</name>
            <choiceReferences>Component_Serials_Lot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must select/enter serial number(s) to issue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Must_Select_Serial</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manual_Serial_Entry</name>
            <dataType>Boolean</dataType>
            <fieldText>Manual Serial Entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Serials</name>
            <dataType>String</dataType>
            <fieldText>Enter Serials (comma separated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manual_Serial_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Txn_Comments</name>
            <dataType>String</dataType>
            <fieldText>Txn Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_demands_error_screen</name>
        <label>No demands error screen</label>
        <locationX>1399</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_WO_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;No valid components exists on selected Work Order to perform issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Demands_Display</name>
        <label>WO Demands Display</label>
        <locationX>2144</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_records_count</targetReference>
        </connector>
        <fields>
            <name>WO_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Division:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!WOCST.rstk__wocst_div__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order&lt;/b&gt;: {!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Assembly Item&lt;/b&gt;: {!WOCST.rstk__wocst_item__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Components_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Components&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!dmdtable_string}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to issue components one by one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(55, 65, 81); background-color: rgb(247, 247, 248);&quot;&gt;&lt;em&gt;Note&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 12px; color: rgb(55, 65, 81); background-color: rgb(247, 247, 248);&quot;&gt;:&lt;/em&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(55, 65, 81); background-color: rgb(247, 247, 248);&quot;&gt;&lt;em&gt;&amp;nbsp;B&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;ackflush &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;components are excluded. For more options please use &lt;/em&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;Mass WO Issue&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WO_Selected</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WOCST_Selection</name>
        <label>WOCST Selection</label>
        <locationX>1195</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_WO_selected_boolean</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division:&lt;/b&gt; {!SYUSR.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Work Order to process:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>SYUSR.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>(rstk__wocst_disassmind__c = FALSE AND rstk__wocst_numbops__c &gt; 0 AND rstk__wocst_ordsts__c IN (&apos;5&apos;,&apos;7&apos;,&apos;8&apos;))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_wo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NoQtyOutstanding</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;No valid components exists on selected Work Order to perform issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_WOORDDMD_Outstanding</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(247, 247, 248); color: rgb(55, 65, 81); font-size: 12px;&quot;&gt;&lt;em&gt;Note&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(247, 247, 248); color: rgb(55, 65, 81); font-size: 12px;&quot;&gt;:&lt;/em&gt;&lt;strong style=&quot;background-color: rgb(247, 247, 248); color: rgb(55, 65, 81); font-size: 12px;&quot;&gt;&lt;em&gt;&amp;nbsp;B&lt;/em&gt;&lt;/strong&gt;&lt;strong&gt;&lt;em&gt;ackflush &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;components are excluded. For more options please use &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Mass WO Issue&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>531</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Check_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Construct_Dmd_Table</name>
        <label>Construct Dmd Table</label>
        <locationX>1940</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>WO_Demands_Display</targetReference>
        </connector>
        <flowName>rstk__Make_a_table_flow</flowName>
        <inputAssignments>
            <name>cvColumn1Values</name>
            <value>
                <elementReference>dmdtable_col_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn2Values</name>
            <value>
                <elementReference>dmdtable_col_qty_req</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn3Values</name>
            <value>
                <elementReference>dmdtable_col_qty_iss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn4Values</name>
            <value>
                <elementReference>dmdtable_col_qty_rem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader1Text</name>
            <value>
                <stringValue>Comp Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader2Text</name>
            <value>
                <stringValue>Qty Req</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader3Text</name>
            <value>
                <stringValue>Qty Iss</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader4Text</name>
            <value>
                <stringValue>Qty Rem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTableStyle</name>
            <value>
                <stringValue>width=&quot;100%&quot;</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>dmdtable_string</assignToReference>
            <name>TableHTMLOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_item</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_iss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_rem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_req</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loop_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>No_of_total_dmds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICITEMLOT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICLOCITEM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocNum_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Successfully_issued_dmd_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>WO_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WOORDDMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
</Flow>
