force-app/main/default/flows/rootstock__LUI_Rootstock_Cost_Transaction_Additional_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Additional_Info</name>
        <label>Additional Info</label>
        <locationX>555</locationX>
        <locationY>204</locationY>
        <actionName>rootstock__SytxncstAdditionalInfoCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Additional Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>journalId</name>
            <value>
                <elementReference>journalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SytxncstAdditionalInfoCon</nameSegment>
        <outputParameters>
            <assignToReference>jrnlName</assignToReference>
            <name>jrnlName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>jrnlUrl</assignToReference>
            <name>jrnlUrl</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>JournalNumber</name>
        <dataType>String</dataType>
        <expression>{!jrnlName}</expression>
    </formulas>
    <formulas>
        <name>JournalURL</name>
        <dataType>String</dataType>
        <expression>{!jrnlUrl}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Rootstock Cost Transaction - Additional Information {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Rootstock Cost Transaction - Additional Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cost_Transaction</name>
        <label>Get Cost Transaction</label>
        <locationX>432</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sytxncst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SYCONFIG</name>
        <label>Get SYCONFIG</label>
        <locationX>176</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <object>rstk__syconfig__c</object>
        <outputAssignments>
            <assignToReference>FinanceSystem</assignToReference>
            <field>rstk__syconfig_financials__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>302</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cost_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ViewLaborRate</assignToReference>
            <field>rstk__view_labor_rates__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>698</locationX>
        <locationY>204</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>JournalEntryNumber</name>
            <fieldText>&lt;p&gt;Journal Entry Number : &lt;a href=&quot;/lightning/r/{!JournalURL}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!JournalNumber}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FinanceSystem</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rootstock</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UnitCostLab</name>
            <fieldText>&lt;p&gt;Unit Cost, Lab : {!Get_Cost_Transaction.rstk__sytxncst_ucstlab__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewLaborRate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmployeeRate</name>
            <fieldText>&lt;p&gt;Employee Hourly Rate : {!Get_Cost_Transaction.rstk__sytxncst_emplrate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewLaborRate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Cost_Transaction.rstk__sytxncst_ordtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>M</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ActualLbRate</name>
            <fieldText>&lt;p&gt;Actual Labor Rate : {!Get_Cost_Transaction.rstk__sytxncst_actlabrate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewLaborRate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Cost_Transaction.rstk__sytxncst_ordtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>M</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LbGradeRate</name>
            <fieldText>&lt;p&gt;Labor Grade Rate : {!Get_Cost_Transaction.rstk__sytxncst_labgrdrate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewLaborRate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Cost_Transaction.rstk__sytxncst_ordtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>M</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SYCONFIG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceSystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>journalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Cost_Transaction.rstk__sytxncst_journalentryno__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>jrnlName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>jrnlUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ViewLaborRate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
