force-app/main/default/flows/rootstock__LUI_Convert_Inventory_Requisition_to_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Delete_Icreqs</name>
        <label>Delete Icreqs</label>
        <locationX>3181</locationX>
        <locationY>1755</locationY>
        <actionName>rootstock__InventoryRequisitionCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Do_Redirect_to_POHDR</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIdList</name>
            <value>
                <elementReference>IdstoDelete</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__InventoryRequisitionCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</name>
        <label>Navigate to Icreq List view Page in Existing Tab</label>
        <locationX>3818</locationX>
        <locationY>1239</locationY>
        <actionName>rootstock:NavigateEverywhere</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>openUrl</name>
            <value>
                <elementReference>icreqUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openUrlMode</name>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock:NavigateEverywhere</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_PO_Record_Page_in_Existing_Tab</name>
        <label>Navigate to PO Record Page in Existing Tab</label>
        <locationX>3213</locationX>
        <locationY>1501</locationY>
        <actionName>rootstock:NavigateEverywhere</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>openUrl</name>
            <value>
                <elementReference>pohdrUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openUrlMode</name>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock:NavigateEverywhere</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_PO_Record_Page_in_New_Tab</name>
        <label>Navigate to PO Record Page in New Tab</label>
        <locationX>3710</locationX>
        <locationY>1755</locationY>
        <actionName>rootstock:NavigateEverywhere</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Req_Convert_Success1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>openUrl</name>
            <value>
                <elementReference>pohdrUrl</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:NavigateEverywhere</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Current_Record_Id_into_Collection</name>
        <label>Add Current Record Id into Collection</label>
        <locationX>1143</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory_Requisition_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PO_LOADER_Record_into_collection</name>
        <label>Add PO LOADER Record into collection</label>
        <locationX>1387</locationX>
        <locationY>1836</locationY>
        <assignmentItems>
            <assignToReference>POLOADERCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POLOADERREC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Inventory_Req_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_in_Processing_as_TRUE</name>
        <label>Assign Error in Processing as TRUE</label>
        <locationX>2763</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>process_error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Multiple_POLOADERS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ids_to_delete</name>
        <label>Assign ids to delete</label>
        <locationX>2967</locationX>
        <locationY>2061</locationY>
        <assignmentItems>
            <assignToReference>IdstoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Execute_Poloadercollection_for_Icreq_id.rstk__poloader_icreq__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Multiple_POLOADERS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_inventory_requisition_record</name>
        <label>assign inventory requisition record</label>
        <locationX>804</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>InventoryRequistionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Inventory_Requisition_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Vendor_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_inventory_requisition_records</name>
        <label>Assign inventory requisition records</label>
        <locationX>1875</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>InventoryRequistionRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inv_Req_Rec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IcreqCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>InventoryRequistionRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Ireq_Record_Greater_then_45</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Use_Price</name>
        <label>Assign Last Use Price</label>
        <locationX>935</locationX>
        <locationY>2185</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_unitprice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_PO_Item_Vendor_Record.rstk__poitemvend_lastpoprice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PO_LOADER_Record_into_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PODHR_ID_from_Single_Req</name>
        <label>Assign PODHR ID from Single Req</label>
        <locationX>3213</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>created_pohdr_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_POLoader_Records.rstk__poloader_pohdr__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Inventory_Requisition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POHDR_Created_as_TRUE</name>
        <label>Assign POHDR Created as TRUE</label>
        <locationX>2317</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>pohdr_rec_created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_for_Poitemvendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POHDR_Error</name>
        <label>Assign POHDR Error</label>
        <locationX>2573</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>poloader_error_msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_POLOADER_Detail.rstk__poloader_message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POLoader_Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POHDR_Header_Details</name>
        <label>Assign POHDR Header Details</label>
        <locationX>521</locationX>
        <locationY>1461</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_pohdr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_POLOADER_Detail.rstk__poloader_pohdr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Line</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_POLOADER_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POHDR_Id_from_Multiple_Req</name>
        <label>Assign POHDR Id from Multiple Req</label>
        <locationX>3597</locationX>
        <locationY>1755</locationY>
        <assignmentItems>
            <assignToReference>created_pohdr_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_POLOADER_Detail.rstk__poloader_pohdr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>rstk__pohdr__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_PO_Record_Page_in_New_Tab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLOADER_Error</name>
        <label>Assign POLOADER Error</label>
        <locationX>2741</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>poloader_error_msg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_POLoader_Records.rstk__poloader_message__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POLoader_Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLOADER_Other_Details</name>
        <label>Assign POLOADER Other Details</label>
        <locationX>520</locationX>
        <locationY>1654</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Both</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_POLOADER_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLOADER_to_Create_POHDR</name>
        <label>Assign POLOADER to Create POHDR</label>
        <locationX>1759</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_vendno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedVendor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Details.rstk__syusr_lastsalesdiv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_submittovendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Header</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_POHDR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchse_item_ID</name>
        <label>Assign Purchse item ID</label>
        <locationX>1873</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>PurchaseItemid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Execute_for_Poitemvendor.rstk__icreq_item__r.rstk__icitem_poitem__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_for_Poitemvendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Record_Count</name>
        <label>Assign Selected Record Count</label>
        <locationX>1347</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>selectedRecCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Vendor_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_vendor_from_primary_vendor</name>
        <label>Assign selected vendor from primary vendor</label>
        <locationX>1111</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>selectedVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Vendor.rstk__poitemvend_vendno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Vendor_From_Requisition</name>
        <label>Assign Selected Vendor From Requisition</label>
        <locationX>792</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>selectedVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Requisition_Record.rstk__icreq_poreq__r.rstk__poreq_povend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_Price_Based_on_Req_Price</name>
        <label>Assign Unit Price Based on Req Price</label>
        <locationX>599</locationX>
        <locationY>1822</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_unitprice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_unitprice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PO_LOADER_Record_into_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Use_Price</name>
        <label>Assign Use Price</label>
        <locationX>894</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_unitprice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_PO_Item_Vendor_Record.rstk__poitemvend_poprice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PO_LOADER_Record_into_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_PoloadersCollection_IDs</name>
        <label>Assignment PoloadersCollection IDs</label>
        <locationX>2334</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>PoloaderCollectionIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Execute_POLOADERS_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Poloadercollectionid</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Poloadercollectionid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Execute_POLOADERS_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Poloadercollectionid</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos;,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_POLOADERS_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Selected_vendor_from_requisition_assign_vendor</name>
        <label>Assing Selected vendor from requisition assign vendor</label>
        <locationX>1277</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>selectedVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Requisition_Record.rstk__icreq_povend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_POLOADER_Record</name>
        <label>Construct POLOADER Record</label>
        <locationX>220</locationX>
        <locationY>1551</locationY>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_vendno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedVendor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_submittovendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_receive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_schedrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_proj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_proj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_qtyreq__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_qtyreq__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_poitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_item__r.rstk__icitem_poitem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_icreq__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_receiptsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_receiptsite__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADERREC.rstk__poloader_rcptlocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_receiptlocid__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_PO_Item_Vendor_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_PO_LOADER_count</name>
        <label>Get PO LOADER count</label>
        <locationX>2021</locationX>
        <locationY>1554</locationY>
        <assignmentItems>
            <assignToReference>idCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>POLOADERCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_POLOADERS_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>primary_not</name>
        <label>primary not</label>
        <locationX>433</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>selectedVendor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Vendor.rstk__poitemvend_vendno__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Vendor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requisition_Status</name>
        <label>Set Requisition Status</label>
        <locationX>2401</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>hasUnappReq</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Inv_Reqs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>assign_Vendor</name>
        <choiceText>Assign Vendor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>clear_assigned_vendor</name>
        <choiceText>Clear Assigned Vendor</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Assign_Vendor_Exist</name>
        <label>Assign Vendor Exist?</label>
        <locationX>793</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>PO_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assingn_Vendor_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Requisition_Record.rstk__icreq_povend__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Selected_vendor_from_requisition_assign_vendor</targetReference>
            </connector>
            <label>Assingn Vendor Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_navigate_to_list_view</name>
        <label>Check navigate to list view</label>
        <locationX>3769</locationX>
        <locationY>770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_list_view</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</targetReference>
            </connector>
            <label>To list view</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Price_Over</name>
        <label>Check PO Price Over</label>
        <locationX>456</locationX>
        <locationY>1904</locationY>
        <defaultConnector>
            <targetReference>Is_PO_Item_Vendor_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_PO_Price_Over</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_unitprice__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unit_Price_Based_on_Req_Price</targetReference>
            </connector>
            <label>Valid PO Price Over</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_POHDR_Created</name>
        <label>Check POHDR Created?</label>
        <locationX>800</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Assign_POLOADER_Other_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POHDR_Created_Individually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pohdr_rec_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_POHDR_Header_Details</targetReference>
            </connector>
            <label>POHDR Created Individually</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_POREQ_Exist</name>
        <label>Check POREQ Exist?</label>
        <locationX>782</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POREQ_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Requisition_Record.rstk__icreq_poreq__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Vendor_From_Requisition</targetReference>
            </connector>
            <label>POREQ Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Un_Approved_Requiistion</name>
        <label>Check Un Approved Requiistion</label>
        <locationX>1553</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contains Approved Req</defaultConnectorLabel>
        <rules>
            <name>Contains_Unapproved_Req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasUnappReq</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unapproved_Req_Error</targetReference>
            </connector>
            <label>Contains Unapproved Req</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Create_Multiple_Lines_Under_Single_PO</name>
        <label>Do Create Multiple Lines Under Single PO?</label>
        <locationX>1548</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>Execute_for_Poitemvendor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Individual PO</defaultConnectorLabel>
        <rules>
            <name>Create_Multiple_Lines_Under_Single_PO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Place_each_req_on_individual_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedRecCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Details</targetReference>
            </connector>
            <label>Create Multiple Lines Under Single PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Redirect_to_POHDR</name>
        <label>Do Redirect to POHDR</label>
        <locationX>3361</locationX>
        <locationY>1757</locationY>
        <defaultConnector>
            <targetReference>Req_Convert_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_to_POHDR</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Place_each_req_on_individual_PO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>process_error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedRecCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_POHDR_Id_from_Multiple_Req</targetReference>
            </connector>
            <label>Redirect to POHDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fired_from_Individual_Record</name>
        <label>Fired from Individual Record?</label>
        <locationX>2956</locationX>
        <locationY>1551</locationY>
        <defaultConnector>
            <targetReference>Execute_Multiple_POLOADERS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>idCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_POLoader_Records</targetReference>
            </connector>
            <label>From Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_POLOADER_Status</name>
        <label>Get POLOADER Status</label>
        <locationX>2958</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>Assign_POLOADER_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Processing_State_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_POLoader_Records.rstk__poloader_process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProcessingComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PODHR_ID_from_Single_Req</targetReference>
            </connector>
            <label>Processing State Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inv_Req_Record_Selected</name>
        <label>Is Inv Req Record Selected?</label>
        <locationX>1563</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Select_Rec_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Selected</defaultConnectorLabel>
        <rules>
            <name>Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inv_Req_Rec</targetReference>
            </connector>
            <label>Record Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ireq_Record_Greater_then_45</name>
        <label>Is Ireq Record Greater then 45</label>
        <locationX>2074</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Execute_Selected_Inv_Reqs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_the_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IcreqCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>45.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Rec_Screen</targetReference>
            </connector>
            <label>Greater the  45</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PO_Item_Vendor_Exist</name>
        <label>Is PO Item Vendor Exist?</label>
        <locationX>525</locationX>
        <locationY>2019</locationY>
        <defaultConnector>
            <targetReference>Add_PO_LOADER_Record_into_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Item_Vendor_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_PO_Item_Vendor_Record.rstk__poitemvend_vendno__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Use_Last_Price</targetReference>
            </connector>
            <label>PO Item Vendor Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_POHDR_Created</name>
        <label>Is POHDR Created?</label>
        <locationX>2311</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Assign_POHDR_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>POHDR Creation Error</defaultConnectorLabel>
        <rules>
            <name>POHDR_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_POLOADER_Detail.rstk__poloader_process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProcessingComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_POHDR_Created_as_TRUE</targetReference>
            </connector>
            <label>POHDR Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_POitem_same</name>
        <label>Is POitem same</label>
        <locationX>326</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Execute_PO_Item_Vendor_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_PO_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Selected_Inventory_Req_Ids.rstk__icreq_item__r.rstk__icitem_poitem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Execute_PO_Item_Vendor_Record.rstk__poitemvend_item__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_Price_Over</targetReference>
            </connector>
            <label>Same PO item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Processed</name>
        <label>Is Processed?</label>
        <locationX>2638</locationX>
        <locationY>2067</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_in_Processing_as_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Multiple_POLOADERS.rstk__poloader_process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProcessingComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ids_to_delete</targetReference>
            </connector>
            <label>Process Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RecordId_Exist</name>
        <label>Is RecordId Exist?</label>
        <locationX>1347</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Is_Inv_Req_Record_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From List View</defaultConnectorLabel>
        <rules>
            <name>From_Single_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Current_Record_Id_into_Collection</targetReference>
            </connector>
            <label>From Single Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requisition_Approved</name>
        <label>Is Requisition Approved?</label>
        <locationX>2207</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>Set_Requisition_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Req_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Selected_Inv_Reqs.rstk__icreq_ordsts_pl__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Selected_Inv_Reqs</targetReference>
            </connector>
            <label>Req Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Use_Last_Price</name>
        <label>Is Use Last Price?</label>
        <locationX>662</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Assign_Use_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_Last_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_PO_Item_Vendor_Record.rstk__poitemvend_popriceind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Use Last Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Use_Price</targetReference>
            </connector>
            <label>Use Last Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_vendor_item_master_Primary_vendor</name>
        <label>Is vendor item master Primary vendor?</label>
        <locationX>50</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>primary_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Primary_vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Vendor.rstk__poitemvend_primeind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Vendor.rstk__poitemvend_vendno__r.rstk__povend_dirmtlind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_selected_vendor_from_primary_vendor</targetReference>
            </connector>
            <label>is Primary vendor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_item_Master_exist_for_requisition_item</name>
        <label>Vendor item Master exist for requisition item?</label>
        <locationX>422</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Check_POREQ_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vendor_Item_Master_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_vendor_item_masters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Vendor</targetReference>
            </connector>
            <label>Vendor Item Master exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>Current_User</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>icreqUrl</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/rstk__icreq__c/list&quot;</expression>
    </formulas>
    <formulas>
        <name>pohdrUrl</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/&quot; &amp; {!created_pohdr_id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Convert Inventory Requisition to PO {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Convert Inventory Requisition to PO</label>
    <loops>
        <name>Execute_for_Poitemvendor</name>
        <label>Execute for Purchase Item</label>
        <locationX>1873</locationX>
        <locationY>950</locationY>
        <collectionReference>InventoryRequistionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Purchse_item_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_PO_Item_Vendor_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_Multiple_POLOADERS</name>
        <label>Execute Multiple POLOADERS</label>
        <locationX>2967</locationX>
        <locationY>1752</locationY>
        <collectionReference>Get_POLoader_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Execute_Poloadercollection_for_Icreq_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Icreqs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_PO_Item_Vendor_Record</name>
        <label>Execute PO Item Vendor Record</label>
        <locationX>220</locationX>
        <locationY>1746</locationY>
        <collectionReference>GET_PO_Item_Vendor_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_POitem_same</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Unit_Price_Based_on_Req_Price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_POLoader_Records</name>
        <label>Execute POLoader Records</label>
        <locationX>2965</locationX>
        <locationY>1233</locationY>
        <collectionReference>Get_POLoader_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_POLOADER_Status</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Execute_Poloadercollection_for_Icreq_id</name>
        <label>Execute Poloadercollection for Icreq id</label>
        <locationX>2637</locationX>
        <locationY>1750</locationY>
        <collectionReference>POLOADERCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Processed</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Execute_POLOADERS_Created</name>
        <label>Execute POLOADERS Created</label>
        <locationX>2332</locationX>
        <locationY>1556</locationY>
        <collectionReference>POLOADERCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_PoloadersCollection_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_POLoader_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_Selected_Inv_Reqs</name>
        <label>Execute Selected Inv Reqs</label>
        <locationX>2211</locationX>
        <locationY>474</locationY>
        <collectionReference>InventoryRequistionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Requisition_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Un_Approved_Requiistion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_Selected_Inventory_Req_Ids</name>
        <label>Execute Selected Inventory Req Ids</label>
        <locationX>1387</locationX>
        <locationY>1541</locationY>
        <collectionReference>InventoryRequistionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_POHDR_Created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Purchase_Order_from_Requisition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Primary_Vendor</name>
        <label>Primary Vendor</label>
        <locationX>57</locationX>
        <locationY>626</locationY>
        <collectionReference>Get_vendor_item_masters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_vendor_item_master_Primary_vendor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Vendors_List_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_POHDR_Record</name>
        <label>Create POHDR Record</label>
        <locationX>1976</locationX>
        <locationY>776</locationY>
        <connector>
            <targetReference>Get_Created_POLOADER_Detail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>POLOADERREC</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchase_Order_from_Requisition</name>
        <label>Create Purchase Order from Requisition</label>
        <locationX>1665</locationX>
        <locationY>1546</locationY>
        <connector>
            <targetReference>Get_PO_LOADER_count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>POLOADERCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Inventory_Requisition</name>
        <label>Delete Inventory Requisition</label>
        <locationX>3213</locationX>
        <locationY>1293</locationY>
        <connector>
            <targetReference>Navigate_to_PO_Record_Page_in_Existing_Tab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__icreq__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Active_Vendors_List_0</name>
        <label>Get Active Vendors List</label>
        <locationX>1356</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_Record_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__povend_dirmtlind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__povend_onetimeind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__povend_inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__povend__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_POLOADER_Detail</name>
        <label>Get Created POLOADER Detail</label>
        <locationX>2149</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_POHDR_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POLOADERREC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poloader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inv_Req_Rec</name>
        <label>Get Inv Req Rec</label>
        <locationX>1764</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_inventory_requisition_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__icreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Requisition_Record</name>
        <label>Get Inventory Requisition Record</label>
        <locationX>1036</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_inventory_requisition_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PO_Item_Vendor_Record</name>
        <label>GET PO Item Vendor Record</label>
        <locationX>1387</locationX>
        <locationY>1318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Selected_Inventory_Req_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PO_Item_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poitemvend_vendno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedVendor</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__poitemvend_item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>PurchaseItemid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poitemvend__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POLoader_Records</name>
        <label>Get POLoader Records</label>
        <locationX>2527</locationX>
        <locationY>1549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fired_from_Individual_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PoloaderCollectionIDS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poloader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>1564</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_POLOADER_to_Create_POHDR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>POHDR_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_vendor_item_masters</name>
        <label>Get vendor item masters</label>
        <locationX>428</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_item_Master_exist_for_requisition_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poitemvend_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__poitemvend_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Requisition_Record.rstk__icreq_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poitemvend__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PO_Item</name>
        <label>PO Item</label>
        <locationX>577</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_vendor_item_masters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poitem_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Requisition_Record.rstk__icreq_item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_Vendor_Screen</name>
        <label>Assign Vendor Screen</label>
        <locationX>1347</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_Create_Multiple_Lines_Under_Single_PO</targetReference>
        </connector>
        <fields>
            <name>vendor_lkp</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_vendo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__povend__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assigned Vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedVendor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__povend_dirmtlind__c = TRUE and rstk__povend_onetimeind__c != TRUE and rstk__povend_inactive__c = FALSE</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedVendor</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Place_each_req_on_individual_PO</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Place each req on individual PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedRecCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>2055</locationX>
        <locationY>1375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_navigate_to_list_view</targetReference>
        </connector>
        <fields>
            <name>fault_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Item_Error</name>
        <label>PO Item Error</label>
        <locationX>2043</locationX>
        <locationY>1221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_navigate_to_list_view</targetReference>
        </connector>
        <fields>
            <name>po_item_fault_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POHDR_Fault_Screen</name>
        <label>POHDR Fault Screen</label>
        <locationX>2028</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_navigate_to_list_view</targetReference>
        </connector>
        <fields>
            <name>pohdr_fault_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POLoader_Error_Screen</name>
        <label>POLoader Error Screen</label>
        <locationX>2740</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_navigate_to_list_view</targetReference>
        </connector>
        <fields>
            <name>poloader_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!poloader_error_msg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Req_Convert_Success</name>
        <label>Req Convert Success</label>
        <locationX>3369</locationX>
        <locationY>1585</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</targetReference>
        </connector>
        <fields>
            <name>req_convert_success_msg</name>
            <fieldText>&lt;p&gt;Selected Requisitions has been converted into Purchase Order Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>process_error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>poloader_status_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__poloader__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, rstk__poloader_process__c, rstk__poloader_pohdr__c, rstk__poloader_message__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_POLoader_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigate_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please click &apos;Finish&apos; to navigate to Inventory Requisition list view, otherwise close the tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Req_Convert_Success1</name>
        <label>Req Convert Success1</label>
        <locationX>3818</locationX>
        <locationY>1755</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</targetReference>
        </connector>
        <fields>
            <name>req_convert_success_msg1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;Selected Requisitions has been s&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;uccessfully &lt;/span&gt;converted into Purchase Order &lt;strong&gt;{!Get_Created_POLOADER_Detail.rstk__poloader_pohdr__r.Name}&lt;/strong&gt;&amp;nbsp;and opened in a separate new tab.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Finish&apos; to navigate to Inventory Requisition list view, otherwise close the tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Rec_Screen</name>
        <label>Select Rec Screen</label>
        <locationX>1820</locationX>
        <locationY>215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</targetReference>
        </connector>
        <fields>
            <name>select_record</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select at least one record to convert into PO.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ids</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MaxIcreq</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 2, 2);&quot;&gt;A maximum of&amp;nbsp;45 requisitions can be processed at a time. Please use the Inventory workbench for more than 45 requisitions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IcreqCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>45.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unapproved_Req_Error</name>
        <label>Unapproved Req Error</label>
        <locationX>1559</locationX>
        <locationY>484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Icreq_List_view_Page_in_Existing_Tab</targetReference>
        </connector>
        <fields>
            <name>has_unapprove_req_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Only Approved Requisitions can be converted into Purchase Order. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1228</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_RecordId_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllrecordIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>created_pohdr_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasUnappReq</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IcreqCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IcreqtoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__icreq__c</objectType>
    </variables>
    <variables>
        <name>idCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdstoDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryRequistionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__icreq__c</objectType>
    </variables>
    <variables>
        <name>invReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPOLoader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>pohdr_rec_created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>POLOADER</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>poloader_error_msg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLOADERCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>Poloadercollectionid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created poloaders ID</description>
        <name>PoloaderCollectionIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>poLoaderCreatedRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>POLOADERREC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>pourl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>process_error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PurchaseItemid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedVendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
