force-app/main/default/flows/rootstock__PO_Line_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Podmd_Allocate</name>
        <label>Podmd Allocate</label>
        <locationX>314</locationX>
        <locationY>2534</locationY>
        <actionName>rootstock__PodmdAllocateandDeallocate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Allocation_Message_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Allocate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>polineId</name>
            <value>
                <elementReference>POLINE.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PodmdAllocateandDeallocate</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Podmd_Deallocate_0</name>
        <label>Podmd Deallocate</label>
        <locationX>578</locationX>
        <locationY>2534</locationY>
        <actionName>rootstock__PodmdAllocateandDeallocate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Deallocation_Message_Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Deallocate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>polineId</name>
            <value>
                <elementReference>POLINE.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PodmdAllocateandDeallocate</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Allocate_and_Deallocate_Value_Assign</name>
        <label>Allocate and Deallocate Value Assign</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>allocateDeallocateVariables</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllocateVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeallocateVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Demands_Grid_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocate_Variable_True</name>
        <label>Allocate Variable True</label>
        <locationX>974</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>AllocateVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Component_Demand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POLINE_Id</name>
        <label>Assign POLINE Id</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Selected_POLINE_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POLINE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deallocate_Variable_True</name>
        <label>Deallocate Variable True</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>DeallocateVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Component_Demand</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Allocate_text_value</name>
        <choiceText>Allocate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Allocate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deallocate_text_value</name>
        <choiceText>Deallocate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deallocate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grid_text_value</name>
        <choiceText>Grid Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grid</stringValue>
        </value>
    </choices>
    <choices>
        <name>gridMaintenanceVariable</name>
        <choiceText>Grid Maintenance</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Allocate_and_Deallocate_Value_Check</name>
        <label>Allocate and Deallocate Value Check</label>
        <locationX>446</locationX>
        <locationY>2414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grid_Maintenance_Display_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grid_text_value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocate_Deallocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grid_text_value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deallocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grid_text_value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Grid_text_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Component_Demand_Grid_Maintenance_0</targetReference>
            </connector>
            <label>Grid Maintenance Display Screen</label>
        </rules>
        <rules>
            <name>Allocate_Action_Execute</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Allocate_text_value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocate_Deallocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Allocate_text_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Podmd_Allocate</targetReference>
            </connector>
            <label>Allocate Action Execute</label>
        </rules>
        <rules>
            <name>Deallocate_Action_Execute</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deallocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deallocate_text_value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocate_Deallocate_and_Grid_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deallocate_text_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Podmd_Deallocate_0</targetReference>
            </connector>
            <label>Deallocate Action Execute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allocate_and_Deallocate_Variables</name>
        <label>Allocate and Deallocate Variables</label>
        <locationX>446</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>PO_Demands_Grid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allocate and Deallocate Condition false</defaultConnectorLabel>
        <rules>
            <name>Allocate_and_Deallocate_Condition_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllocateVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeallocateVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocate_and_Deallocate_Value_Assign</targetReference>
            </connector>
            <label>Allocate and Deallocate Condition Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mfg_User</name>
        <label>Check Mfg User</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Manufacturing_User_Found_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mfg User</defaultConnectorLabel>
        <rules>
            <name>Have_Mfg_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordId</targetReference>
            </connector>
            <label>Have Mfg User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>Check RecordId</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>PO_POL_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Id_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_POLINE_Id</targetReference>
            </connector>
            <label>Record Id present</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Component_Demand_Allocation_Policy_check</name>
        <label>PO Component Demand Allocation Policy check</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>PO_Component_Demand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allocation Policy False</defaultConnectorLabel>
        <rules>
            <name>Allocation_Policy_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_compitem__r.rstk__formula_allocpol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_poline__r.rstk__poline_ordsts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7-Line Item Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_poline__r.rstk__poline_ordsts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>8-All Line Items Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_poline__r.rstk__poline_ordsts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9-Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Component_Demand_Qty_Allocated_Check</targetReference>
            </connector>
            <label>Allocation Policy True</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Component_Demand_Qty_Allocated_Check</name>
        <label>PO Component Demand Qty Allocated Check</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Qty_Issued_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Qty Allocated equal to 0</defaultConnectorLabel>
        <rules>
            <name>Qty_Allocated_Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_qtyalloc__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deallocate_Variable_True</targetReference>
            </connector>
            <label>Qty Allocated Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qty_Issued_Check</name>
        <label>Qty Issued Check</label>
        <locationX>886</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Allocate_Variable_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Qty Issued equal to 0</defaultConnectorLabel>
        <rules>
            <name>Qty_Issued_Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PO_Component_Demand.rstk__podmd_qtyiss__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Component_Demand</targetReference>
            </connector>
            <label>Qty Issued Greater than 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>gridReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>IF({!POLINE.rstk__formula_qtyrcvd__c} != 0, false, true)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PO Line Components {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Line Components</label>
    <loops>
        <name>PO_Component_Demand</name>
        <label>PO Component Demand</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <collectionReference>Fetch_PO_Component_Demand</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PO_Component_Demand_Allocation_Policy_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Allocate_and_Deallocate_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_PO_Component_Demand</name>
        <label>Fetch PO Component Demand</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Component_Demand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__podmd_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POLINE.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__podmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>POLINE</name>
        <label>POLINE</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_PO_Component_Demand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_POLINE_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mfg_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Allocation_Message_Success_Screen</name>
        <label>Allocation Message Success Screen</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Allocation_success_screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Allocation Complete&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AllocateError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deallocation_Message_Success_Screen</name>
        <label>Deallocation Message Success Screen</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Deallocation_success_screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Deallocation Complete&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DeallocateErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Manufacturing_User_Found_Error_Screen</name>
        <label>No Manufacturing User Found Error Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Manufacturing_User_Found_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Manufacturing User is not setup for the current user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PO_Component_Demand_Grid_Maintenance_0</name>
        <label>PO Component Demand Grid Maintenance</label>
        <locationX>50</locationX>
        <locationY>2534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PODemand_Grid_0</name>
            <extensionName>rootstock:rootstockGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>PO_Comp_Demands_Grid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>rstk__podmd__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableInlineEdit</name>
                <value>
                    <elementReference>gridReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableRowActions</name>
                <value>
                    <elementReference>gridReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>rstk__podmd_poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Selected_POLINE_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gridTitle</name>
                <value>
                    <stringValue>PO Components List</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Demands_Grid_Screen</name>
        <label>PO Demands Grid Screen</label>
        <locationX>446</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Allocate_and_Deallocate_Value_Check</targetReference>
        </connector>
        <fields>
            <name>POLINE_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Division: &lt;/b&gt;&lt;a href=&quot;/lightning/r/{!POLINE.rstk__poline_div__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!POLINE.rstk__poline_div__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Purchase Order:&lt;/b&gt; &lt;a href=&quot;/lightning/r/{!POLINE.rstk__poline_ordno__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!POLINE.rstk__poline_ordno__r.rstk__pohdr_ordno__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Purchase Order Line:&lt;/b&gt; &lt;a href=&quot;/lightning/r/{!POLINE.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!POLINE.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Item: &lt;/b&gt;&lt;a href=&quot;/lightning/r/{!POLINE.rstk__poline_item__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!POLINE.rstk__poline_item__r.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!POLINE.rstk__poline_ordsts__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Required: &lt;/b&gt;{!POLINE.rstk__poline_qtyreq__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grid_Maintenance</name>
            <choiceReferences>Grid_text_value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>POLINE.rstk__poline_ordsts__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>7-Line Item Received</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>POLINE.rstk__poline_ordsts__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>8-All Line Items Received</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>POLINE.rstk__poline_ordsts__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>9-Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AllocateVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DeallocateVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>allocateDeallocateVariables</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Allocate_and_Grid_Maintenance</name>
            <choiceReferences>Allocate_text_value</choiceReferences>
            <choiceReferences>Grid_text_value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AllocateVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deallocate_and_Grid_Maintenance</name>
            <choiceReferences>Deallocate_text_value</choiceReferences>
            <choiceReferences>Grid_text_value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DeallocateVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Allocate_Deallocate_and_Grid_Maintenance</name>
            <choiceReferences>Allocate_text_value</choiceReferences>
            <choiceReferences>Deallocate_text_value</choiceReferences>
            <choiceReferences>Grid_text_value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>allocateDeallocateVariables</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmptyBox</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewPOComponentDemand</name>
            <extensionName>rootstock:rootstockGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>New_PO_Component_Demand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>rstk__podmd__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentField</name>
                <value>
                    <stringValue>rstk__podmd_poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Selected_POLINE_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gridTitle</name>
                <value>
                    <stringValue>PO Components List</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PO_POL_Selection</name>
        <label>PO/POL Selection</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>POLINE</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Division:&lt;/b&gt; {!User.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_po_lkp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__pohdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Purchase Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_POHDR_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__pohdr_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN (Select rstk__poline_ordno__c From rstk__poline__c where rstk__poline_potype__c = &apos;Subcontract&apos; and rstk__poline_ordsts__c != &apos;9-Closed&apos;)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>POL_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_poline_lkp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_po_lkp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_POLINE_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Purchase Order Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__poline_potype__c = &apos;Subcontract&apos; and rstk__poline_ordsts__c != &apos;9-Closed&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poline_ordno__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_POLINE_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allocateDeallocateVariables</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AllocateVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DeallocateVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_POHDR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_POLINE_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
