force-app/main/default/flows/rootstock__Create_PicklIst_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Refiened_Existing_System_Options_value</name>
        <label>Get Refiened Existing System Options value</label>
        <locationX>842</locationX>
        <locationY>2414</locationY>
        <actionName>rootstock__SOPicklistHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_invoked_from_SOHDR_record_page</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__systemOptionsList</typeName>
            <typeValue>rstk__syreg__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>GetExistingSystemOptions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemOptionsUserIsExist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>syUserId</name>
            <value>
                <elementReference>Get_Manufacturing_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SOPicklistHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>displayInPickSequence</assignToReference>
            <name>displayInPickSequence</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>picklistSequence</assignToReference>
            <name>picklistSequence</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>printCustomerProductNameAndDesc</assignToReference>
            <name>printCustProdNameAndDesc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>printEnhancedCustInfoInHdr</assignToReference>
            <name>printEnhancedCustInfoInHdr</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>printItemDescription</assignToReference>
            <name>printItemDescription</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>printSOlineExternalNotes</assignToReference>
            <name>printSOLineExternalNotes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>printSOLineInternalNotes</assignToReference>
            <name>printSOLineInternalNotes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>showPreselectedLocationsOnly</assignToReference>
            <name>showPreselectedLocationsOnly</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_generate_report</name>
        <label>Navigate to generate report</label>
        <locationX>974</locationX>
        <locationY>3446</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Register_New_System_Options</name>
        <label>Register New System Options</label>
        <locationX>1106</locationX>
        <locationY>2414</locationY>
        <actionName>rootstock__SOPicklistHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assgin_System_User_register_Object_value_from_New_Register</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__systemOptionsList</typeName>
            <typeValue>rstk__syreg__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>newRegisterSystemOptions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displayInPickSequence</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklistSequence</name>
            <value>
                <stringValue>Order By Item</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printCustProdNameAndDesc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printEnhancedCustInfoInHdr</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printItemDescription</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printSOLineExternalNotes</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printSOLineInternalNotes</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showPreselectedLocationsOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemOptionsList</name>
        </inputParameters>
        <inputParameters>
            <name>syUserId</name>
            <value>
                <elementReference>Get_Manufacturing_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SOPicklistHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RootDox_report</name>
        <label>RootDox report</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Existing_System_Options</name>
        <label>Update Existing System Options</label>
        <locationX>974</locationX>
        <locationY>3338</locationY>
        <actionName>rootstock__SOPicklistHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_generate_report</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__systemOptionsList</typeName>
            <typeValue>rstk__syreg__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>updateExistingSystemOptions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displayInPickSequence</name>
            <value>
                <elementReference>displayInPickSequence</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklistSequence</name>
            <value>
                <elementReference>picklistSequence</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printCustProdNameAndDesc</name>
            <value>
                <elementReference>printCustomerProductNameAndDesc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printEnhancedCustInfoInHdr</name>
            <value>
                <elementReference>printEnhancedCustInfoInHdr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printItemDescription</name>
            <value>
                <elementReference>printItemDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printSOLineExternalNotes</name>
            <value>
                <elementReference>printSOlineExternalNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printSOLineInternalNotes</name>
            <value>
                <elementReference>printSOLineInternalNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showPreselectedLocationsOnly</name>
            <value>
                <elementReference>showPreselectedLocationsOnly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systemOptionsList</name>
        </inputParameters>
        <inputParameters>
            <name>systemOptionsUserIsExist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>syUserId</name>
            <value>
                <elementReference>Get_Manufacturing_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SOPicklistHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assgin_isRootDox</name>
        <label>Assgin isRootDox</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>IsRootDOxActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rootdox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_isRootDox_0</name>
        <label>Assgin isRootDox</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>IsRootDOxActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_System_Configuration_record.rstk__syconfig_rootdox__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rootdox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_System_User_register_Object_value_from_New_Register</name>
        <label>Assgin System User register Object value from New Register</label>
        <locationX>1106</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>picklistSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderByItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printSOLineInternalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printSOlineExternalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printCustomerProductNameAndDesc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printItemDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printEnhancedCustInfoInHdr</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_invoked_from_SOHDR_record_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_System_User_register_Object_value_from_Screen</name>
        <label>Assgin System User register Object value from Screen</label>
        <locationX>1062</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>picklistSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Sequence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printSOLineInternalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Print_SO_Line_Internal_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printSOlineExternalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Print_SO_Line_External_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printCustomerProductNameAndDesc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Print_Customer_Product_Name_and_Desc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printItemDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Print_Item_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printEnhancedCustInfoInHdr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Customer_Info_in_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_value_for_RootDOX</name>
        <label>Assgin value for RootDOX</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>IsRootDOxActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rootdox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_value_for_RootDOX_0</name>
        <label>Assgin value for RootDOX</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>IsRootDOxActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rootdox_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Picklist_Detail</name>
        <label>count Picklist Detail</label>
        <locationX>765</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PicklistDetailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_number_of_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_URL</name>
        <label>Create URL</label>
        <locationX>974</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__SOPicklistTabbed?sopickhid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;barcode=true&amp;picklistSequence=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>picklistSequence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;printSOLineInternalNotes=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>printSOLineInternalNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;printSOLineExternalNotes=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>printSOlineExternalNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;printCustProdNameAndDesc=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>printCustomerProductNameAndDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;printItemDescription=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>printItemDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;printEnhancedCustInfoInHdr=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>printEnhancedCustInfoInHdr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_System_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Form_Rootdox_Url_0</name>
        <label>Form Rootdox Url</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SOCONTROL_Record.rstk__socntl_picktemplate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RootDox_report</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OrderByItem</name>
        <choiceText>Order By Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order By Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderByLocation</name>
        <choiceText>Order By Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order By Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderByPickSequence</name>
        <choiceText>Order By Pick Sequence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order By Pick Sequence</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderBySalesOrderandLine</name>
        <choiceText>Order By Sales Order and Line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order By Sales Order and Line</stringValue>
        </value>
    </choices>
    <choices>
        <name>picklistChoiceset</name>
        <choiceText>{!picklistSequence}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>picklistSequence</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_for_No_override</name>
        <label>Check for No override</label>
        <locationX>380</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>check_for_Rootdox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a override</defaultConnectorLabel>
        <rules>
            <name>is_No_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_defaults_record.rstk__sydefault_formovr_spk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assgin_isRootDox_0</targetReference>
            </connector>
            <label>is No Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_Rootdox</name>
        <label>check for Rootdox</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Assgin_value_for_RootDOX_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRootdoxSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_defaults_record.rstk__sydefault_formovr_spk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assgin_value_for_RootDOX</targetReference>
            </connector>
            <label>isRootdoxSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_System_Options_By_User_decision_Exist</name>
        <label>Check System Options By User decision Exist</label>
        <locationX>974</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Register_New_System_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Options_By_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Refiened_Existing_System_Options_value</targetReference>
            </connector>
            <label>Is Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invoked_from_SOHDR_record_page</name>
        <label>Is invoked from SOHDR record page</label>
        <locationX>974</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>PicklistReportScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Not Invoked from SOHDR</defaultConnectorLabel>
        <rules>
            <name>is_Invoked_from_SOHDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvokedFromSOHDR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_URL</targetReference>
            </connector>
            <label>is Invoked from SOHDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rootdox_Decision</name>
        <label>Is Rootdox Decision</label>
        <locationX>677</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Get_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRootdox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRootDOxActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOcontrol_is_not_null</targetReference>
            </connector>
            <label>IsRootdox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Form_Tool_SO_Picklist_not_empty_or_empty</name>
        <label>Override Form Tool - SO Picklist not empty or empty</label>
        <locationX>677</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assgin_isRootDox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Override Form Tool - SO Picklist is empty</defaultConnectorLabel>
        <rules>
            <name>Override_Form_Tool_SO_Picklist_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_defaults_record.rstk__sydefault_formovr_spk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_No_override</targetReference>
            </connector>
            <label>Override Form Tool - SO Picklist is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Picklist_Detail_exist_decision</name>
        <label>Picklist Detail exist decision</label>
        <locationX>1023</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ValidationScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Picklist_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPicklistDetailsRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SO_Picklist_Header</targetReference>
            </connector>
            <label>Is Picklist Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SO_Picklist_Templete_Not_Null</name>
        <label>SO Picklist Templete Not Null</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>ValidateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Templete_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SOCONTROL_Record.rstk__socntl_picktemplate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Rootdox_Url_0</targetReference>
            </connector>
            <label>Templete not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>SOcontrol_is_not_null</name>
        <label>SOcontrol is not null</label>
        <locationX>380</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>ValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SOCONTROL_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SO_Picklist_Templete_Not_Null</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Create PicklIst Report {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create PicklIst Report</label>
    <loops>
        <name>Check_for_number_of_Details</name>
        <label>Check for number of Details</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Picklist_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>count_Picklist_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_System_Configuration_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Manufacturing_User</name>
        <label>Get Manufacturing User</label>
        <locationX>974</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Options_By_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Picklist</name>
        <label>Get Picklist</label>
        <locationX>974</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manufacturing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdmdpickloc_sopickh__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icdmdpickloc__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Picklist_Details</name>
        <label>Get Picklist Details</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_number_of_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sopickd_picklistno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SO_Picklist_Header.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__sopickd__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Picklist_Header</name>
        <label>Get SO Picklist Header</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Picklist_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sopickh__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOCONTROL_Record</name>
        <label>Get SOCONTROL Record</label>
        <locationX>677</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_defaults_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SO_Picklist_Header.rstk__sopickh_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socntl__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Configuration_record</name>
        <label>Get System Configuration record</label>
        <locationX>677</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SOCONTROL_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syconfig__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_defaults_record</name>
        <label>Get System defaults record</label>
        <locationX>677</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Override_Form_Tool_SO_Picklist_not_empty_or_empty</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydefault__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Options_By_User</name>
        <label>Get System Options By User</label>
        <locationX>974</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_System_Options_By_User_decision_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syreg_page__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rstk__sopickh</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__syreg_syusr__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manufacturing_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__syreg__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPicklistDetailsRecord</name>
        <label>GetPicklistDetailsRecord</label>
        <locationX>1023</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Picklist_Detail_exist_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdmdpickloc_sopickh__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icdmdpickloc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>OrderByScreen</name>
        <label>OrderByScreen</label>
        <locationX>1062</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assgin_System_User_register_Object_value_from_Screen</targetReference>
        </connector>
        <fields>
            <name>Print_SO_Line_Internal_Notes</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>printSOLineInternalNotes</elementReference>
            </defaultValue>
            <fieldText>Print SO Line Internal Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklist_Sequence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OrderBySalesOrderandLine</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Print_SO_Line_External_Notes</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Print SO Line External Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklist_Sequence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OrderBySalesOrderandLine</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Print_Customer_Product_Name_and_Desc</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>printCustomerProductNameAndDesc</elementReference>
            </defaultValue>
            <fieldText>Print Customer Product Name and Desc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklist_Sequence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OrderBySalesOrderandLine</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enhanced_Customer_Info_in_Header</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>printEnhancedCustInfoInHdr</elementReference>
            </defaultValue>
            <fieldText>Enhanced Customer Info in Header</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PicklistDetailCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Print_Item_Description</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>printItemDescription</elementReference>
            </defaultValue>
            <fieldText>Print Item Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PicklistReportScreen</name>
        <label>PicklistReportScreen</label>
        <locationX>1062</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrderByScreen</targetReference>
        </connector>
        <fields>
            <name>Picklist_Sequence</name>
            <choiceReferences>OrderByPickSequence</choiceReferences>
            <choiceReferences>OrderByLocation</choiceReferences>
            <choiceReferences>OrderByItem</choiceReferences>
            <choiceReferences>OrderBySalesOrderandLine</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>picklistChoiceset</elementReference>
            </defaultValue>
            <fieldText>Picklist Sequence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Picklist.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidateScreen</name>
        <label>ValidateScreen</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 3, 3); font-size: 14px;&quot;&gt;Invalid&amp;nbsp;Template&amp;nbsp;ID.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidationScreen</name>
        <label>ValidationScreen</label>
        <locationX>578</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 6, 6); font-size: 14px;&quot;&gt;No&amp;nbsp;Sales&amp;nbsp;Control&amp;nbsp;Record&amp;nbsp;defined.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidationScreen1</name>
        <label>ValidationScreen1</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13px; color: rgb(240, 5, 5);&quot;&gt;No Lines on the Order qualify for Picklist Detail.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>897</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPicklistDetailsRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayInPickSequence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isInvokedFromSOHDR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsRootDOxActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PicklistDetailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>picklistSequence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printCustomerProductNameAndDesc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>printCustProdNameAndDesc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printEnhancedCustInfoInHdr</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printItemDescription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printSOlineExternalNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>printSOLineExternalNotesValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printSOLineInternalNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printSOLineInternalNotesValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printSolinesInternalNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showPreselectedLocationsOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SystemOptionsRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__syreg__c</objectType>
    </variables>
    <variables>
        <name>SystemOptionsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__syreg__c</objectType>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
