force-app/main/default/flows/rootstock__Location_Adjust_Inventory_by_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Define_SYDATA_Record</name>
        <label>Define SYDATA Record</label>
        <locationX>867</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loc Adjust</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_proj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjustQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_icitem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATAid.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_locsec__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Assign</name>
        <label>Single Assign</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Single_Record</name>
        <label>Single Record</label>
        <locationX>42</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Location_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Assign</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <description>Location Adjust 1 or more Inventory by Locations from either a record of list view selection</description>
    <formulas>
        <description>Calculate transaction quantity for location adjustment</description>
        <name>AdjustQty</name>
        <dataType>Number</dataType>
        <expression>{!NewQuantity}-{!InventorybyLocationRecord.rstk__iclocitem_locqty__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Location Adjust - Inventory by Location {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location Adjust - Inventory by Location</label>
    <loops>
        <name>Location_Records</name>
        <label>Location Records</label>
        <locationX>207</locationX>
        <locationY>289</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inventory_by_Location_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Loc Adjust SYDATA transaction</description>
        <name>Create_SYDATA</name>
        <label>Create SYDATA</label>
        <locationX>731</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Get_SYDATA_Details</targetReference>
        </connector>
        <inputReference>SYDATAid</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SYDATA_Details</name>
        <label>Get SYDATA Details</label>
        <locationX>570</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Results_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATAid.Id</elementReference>
            </value>
        </filters>
        <object>rstk__sydata__c</object>
        <outputReference>SYDATAProcessed</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__sydata_process__c</queriedFields>
        <queriedFields>rstk__sydata_extmessage__c</queriedFields>
        <queriedFields>rstk__sydata_locnum__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Inventory by Location details required for SYDATA creation</description>
        <name>Inventory_by_Location_Details</name>
        <label>Inventory by Location Details</label>
        <locationX>426</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopId</elementReference>
            </value>
        </filters>
        <object>rstk__iclocitem__c</object>
        <outputReference>InventorybyLocationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__iclocitem_div__c</queriedFields>
        <queriedFields>rstk__iclocitem_site__c</queriedFields>
        <queriedFields>rstk__iclocitem_proj__c</queriedFields>
        <queriedFields>rstk__iclocitem_locid__c</queriedFields>
        <queriedFields>rstk__iclocitem_locnum__c</queriedFields>
        <queriedFields>rstk__iclocitem_locqty__c</queriedFields>
        <queriedFields>rstk__iclocitem_icitem__c</queriedFields>
        <queriedFields>rstk__iclocitem_locsec__c</queriedFields>
        <queriedFields>rstk__iclocitem_icitemlot__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Item_Information</name>
        <label>Item Information</label>
        <locationX>572</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_ID_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_icitem__c</elementReference>
            </value>
        </filters>
        <object>rstk__icitem__c</object>
        <outputReference>ItemRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__icitem_item__c</queriedFields>
        <queriedFields>rstk__icitem_invuom__c</queriedFields>
        <queriedFields>rstk__icitem_descr__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Location_ID_Details</name>
        <label>Location ID Details</label>
        <locationX>723</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdjustScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_locid__c</elementReference>
            </value>
        </filters>
        <object>rstk__sylocid__c</object>
        <outputReference>LocationIdDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__sylocid_locid__c</queriedFields>
    </recordLookups>
    <screens>
        <name>AdjustScreen</name>
        <label>Adjust Screen</label>
        <locationX>867</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_SYDATA_Record</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Item:    &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!ItemRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Location ID:    &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!LocationIdDetails.rstk__sylocid_locid__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Location:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!InventorybyLocationRecord.rstk__iclocitem_locnum__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewQuantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InventorybyLocationRecord.rstk__iclocitem_locqty__c</elementReference>
            </defaultValue>
            <fieldText>New Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ReturntoList</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__iclocitem__c/list&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 95, 178);&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>208</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Results</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__iclocitem__c/list&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(0, 95, 178); background-color: rgb(255, 255, 255);&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results_2</name>
        <label>Results</label>
        <locationX>430</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_Records</targetReference>
        </connector>
        <fields>
            <name>ResultsScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;LOCATION: &lt;/b&gt;{!LocationIdDetails.rstk__sylocid_locid__c}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;LOCTION NUMBER:  &lt;/b&gt;{!InventorybyLocationRecord.rstk__iclocitem_locnum__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;STATUS:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!SYDATAProcessed.rstk__sydata_process__c}  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 14, 14); font-size: 16px;&quot;&gt;{!SYDATAProcessed.rstk__sydata_extmessage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__iclocitem__c/list&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(0, 95, 178); background-color: rgb(255, 255, 255);&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Single_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InventorybyLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__iclocitem__c</objectType>
    </variables>
    <variables>
        <name>ItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__icitem__c</objectType>
    </variables>
    <variables>
        <name>LocationIdDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sylocid__c</objectType>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record id of the new SYDATA transaction</description>
        <name>SYDATAid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>SYDATAProcessed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>SYDATARecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
