force-app/main/default/flows/rootstock__LUI_Engineering_Item_Master_Tabs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responsible_Engineer_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Responsible_Engineer_Overridden_Value</name>
        <label>Assign Responsible Engineer Overridden Value</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>engineeringItemMasterToUpdate.rstk__peitem_respeng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedResponsibleEngineer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>engineeringItemMasterToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>engineeringItemMasterToUpdate.rstk__peitem_respengind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Responsible_Engineer_Indicator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Engineering_Item_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_EffRev</name>
        <label>Initialize EffRev</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>effRev</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Peitemrevs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EffRev</name>
        <label>Set EffRev</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>effRev</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Peitemrevs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Peitemrevs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Override_Indicator</name>
        <label>Check Override Indicator</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Updated_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Engineer_Overridden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Responsible_Engineer_Indicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responsible_Engineer_Overridden_Value</targetReference>
            </connector>
            <label>Responsible Engineer Overridden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Tab_Name</name>
        <label>Check Tab Name</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tabName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsible Engineer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Responsible_Engineer_Screen</targetReference>
            </connector>
            <label>Responsible Engineer</label>
        </rules>
        <rules>
            <name>Effective_Rev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tabName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Effective Rev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engineering_Item_Revisions</targetReference>
            </connector>
            <label>Effective Rev</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_EffRev</name>
        <label>Is EffRev</label>
        <locationX>1326</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Peitemrevs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EffRev_Record</name>
            <conditionLogic>1 OR (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>effRev</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Peitemrevs.rstk__peitemrev_effdate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>effRev.rstk__peitemrev_effdate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Peitemrevs.rstk__peitemrev_effdate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>effRev.rstk__peitemrev_effdate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_revno</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>effRev_revno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EffRev</targetReference>
            </connector>
            <label>EffRev Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>curr_revno</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Loop_Peitemrevs.rstk__peitemrev_rev__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>effRev_revno</name>
        <dataType>Number</dataType>
        <expression>VALUE({!effRev.rstk__peitemrev_rev__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>revno</name>
        <dataType>String</dataType>
        <expression>{!effRev.rstk__peitemrev_rev__c}</expression>
    </formulas>
    <interviewLabel>Engineering {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Engineering Item Master Tabs</label>
    <loops>
        <name>Loop_Peitemrevs</name>
        <label>Loop Peitemrevs</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Engineering_Item_Revisions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_EffRev</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Effective_Rev_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Commodity_Code_Details</name>
        <label>Get Commodity Code Details</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Tab_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engineering_Item_Master.rstk__peitem_iccomcod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__iccomcod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engineering_Item_Master</name>
        <label>Get Engineering Item Master</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Commodity_Code_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__peitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engineering_Item_Revisions</name>
        <label>Get Engineering Item Revisions</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_EffRev</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__peitemrev_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__peitemrev_effdate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__peitemrev_revsts_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implemented</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__peitemrev__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__peitemrev_rev__c</queriedFields>
        <queriedFields>rstk__peitemrev_effdate__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Engineering_Item_Master</name>
        <label>Update Engineering Item Master</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>engineeringItemMasterToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Effective_Rev_Screen</name>
        <label>Effective Rev Screen</label>
        <locationX>1106</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_EffRev</name>
            <fieldText>&lt;p&gt;Effective Rev. : &lt;a href=&quot;/{!effRev.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!revno}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Responsible_Engineer_Screen</name>
        <label>Responsible Engineer Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Override_Indicator</targetReference>
        </connector>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 4, 4);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Responsible_Engineer_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Responsible_Engineer_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Responsible_Engineer_Indicator</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Engineering_Item_Master.rstk__peitem_respengind__c</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Responsible_Engineer_Info_Default</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 255); font-size: 11px;&quot;&gt;(com cod)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Responsible_Engineer_Indicator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Responsible_Engineer_Info_Override</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;(override)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Responsible_Engineer_Indicator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Responsible_Engineer_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Responsible_Engineer_Value</name>
                    <fieldText>&lt;p&gt;Responsible Engineer: {!Get_Commodity_Code_Details.rstk__iccomcod_respeng__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Responsible_Engineer_Indicator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Responsible_Engineer_Lookup</name>
                    <extensionName>rstk:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Responsible_Engineer_Lkp</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>rstk__syusr__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Responsible Engineer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>selectedResponsibleEngineer</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>rstk__syusr_obsolete__c = false AND rstk__syusr_respengind__c = true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedResponsibleEngineer</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Responsible_Engineer_Indicator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Record has been updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engineering_Item_Master</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>effRev</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__peitemrev__c</objectType>
    </variables>
    <variables>
        <name>engineeringItemMasterToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__peitem__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedResponsibleEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Engineering_Item_Master.rstk__peitem_respeng__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tabName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
