force-app/main/default/flows/rootstock__LUI_DWO_Cost_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Disassembly_Item_Cost</name>
        <label>Assign Disassembly Item Cost</label>
        <locationX>480</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>disassItemCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>disassCostWOCompDtlFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_WO_Component_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Derived_Component_Cost</name>
        <label>Assign Total Derived Component Cost</label>
        <locationX>1020</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>totalDerCmpCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totDerCmpCostFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Disassembly_Derived_Components_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Valid_Total_Cost_Received</name>
        <label>Is Valid Total Cost Received?</label>
        <locationX>1013</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Execute_Disassembly_Derived_Components_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Total Cost</defaultConnectorLabel>
        <rules>
            <name>Valid_Total_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Disassembly_Derived_Components_Record.rstk__icdreq_totdolchg__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Derived_Component_Cost</targetReference>
            </connector>
            <label>Valid Total Cost</label>
        </rules>
    </decisions>
    <formulas>
        <name>consumableItemCostFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Work_Order_Record.rstk__wocst_dmdtotcst_total__c} - {!disassItemCost}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>disassCostWOCompDtlFormula</name>
        <dataType>Number</dataType>
        <expression>{!disassItemCost} + {!disassItemCostFormula}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>disassItemCostFormula</name>
        <dataType>Number</dataType>
        <expression>({!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstmtl__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstlab__c} +{!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstohdmtl__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstohdlab__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstohdfrng__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstohdmach__c} +{!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstsubmtl__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstsublab__c} +
{!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstfrght__c} + {!Execute_WO_Component_Detail.rstk__woorddmdcst_ucstothlnd__c}) * {!Execute_WO_Component_Detail.rstk__woorddmdcst_qtyiss__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>laborCostFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Work_Order_Record.rstk__wocst_suptotcst_total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalDisassCostFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Work_Order_Record.rstk__wocst_suptotcst_total__c} + {!Get_Work_Order_Record.rstk__wocst_dmdtotcst_total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totDerCmpCostFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalDerCmpCost} + {!Execute_Disassembly_Derived_Components_Record.rstk__icdreq_totdolchg__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LUI DWO Cost Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cost Summary</label>
    <loops>
        <name>Execute_Disassembly_Derived_Components_Record</name>
        <label>Execute Disassembly Derived Components Record</label>
        <locationX>837</locationX>
        <locationY>69</locationY>
        <collectionReference>Get_Disassembly_Derived_Components</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Valid_Total_Cost_Received</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Order_Component_Detail_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_WO_Component_Detail</name>
        <label>Execute WO Component Detail</label>
        <locationX>481</locationX>
        <locationY>267</locationY>
        <collectionReference>Get_Work_Order_Component_Detail_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Disassembly_Item_Cost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cost_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Disassembly_Derived_Components</name>
        <label>Get Disassembly Derived Components</label>
        <locationX>684</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Disassembly_Derived_Components_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdreq_wocst__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__icdreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Component_Detail_Record</name>
        <label>Get Work Order Component Detail Record</label>
        <locationX>678</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_WO_Component_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmdcst_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmdcst_compitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Record.rstk__wocst_item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmdcst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>486</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Disassembly_Derived_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cost_Summary</name>
        <label>Cost Summary</label>
        <locationX>172</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cost_Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cost_Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disass_cost_label</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Disassembly&amp;nbsp;Item&amp;nbsp;Cost : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost_Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disass_cost_vlaue</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!disassItemCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cost_Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cost_Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>consumable_cost_label</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Consumable&amp;nbsp;Item&amp;nbsp;Costs : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost_Summary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>consumable_cost_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!consumableItemCostFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cost_Summary_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cost_Summary_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>labor_cost_label</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Labor&amp;nbsp;Costs :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost_Summary_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>labor_cost_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!laborCostFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cost_Summary_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cost_Summary_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disass_tot_cost_label</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Total&amp;nbsp;Cost&amp;nbsp;of&amp;nbsp;Disassembly&amp;nbsp;Process : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost_Summary_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disass_tot_cost_value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!totalDisassCostFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cost_Summary_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cost_Summary_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rec_der_cmp_cost_label</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Total&amp;nbsp;Cost&amp;nbsp;of&amp;nbsp;Received&amp;nbsp;Derived&amp;nbsp;Components :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost_Summary_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rec_der_cmp_cost_value</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!totalDerCmpCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disassItemCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalDerCmpCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
