force-app/main/default/flows/rootstock__Create_Serial_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Actual_Fault_Message</name>
        <label>Assign Actual Fault Message</label>
        <locationX>1446</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Serial_Number_Message_based_on_Container_Detail</name>
        <label>Assign Duplicate Serial Number Message based on Container Detail</label>
        <locationX>766</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>duplicationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate Serial Numbers found in same Container Detail.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Record_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Serial_Number_Message_based_on_Shipper_Demand</name>
        <label>Assign Duplicate Serial Number Message based on Shipper Demand</label>
        <locationX>1058</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>duplicationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Serial Numbers already exists for Shipper Demand</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Record_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formula_Text_Fault_Message</name>
        <label>Assign Formula Text Fault Message</label>
        <locationX>1253</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>faultMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Container_Serials_Exceed_Message</name>
        <label>Assign Total Container Serials Exceed Message</label>
        <locationX>917</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>duplicationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Serial Numbers entered must be less than Container Detail Quantity.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Record_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Container_Serials_Count</name>
        <label>Update Total Container Serials Count</label>
        <locationX>521</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>totalContainerSerialsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Serial_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Container_Detail_Quantity_Within_Limit</name>
        <label>Is Container Detail Quantity Within Limit?</label>
        <locationX>761</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Assign_Total_Container_Serials_Exceed_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Container Detail Quantity limit exceeded</defaultConnectorLabel>
        <rules>
            <name>Container_Detail_Quantity_exists_under_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalContainerSerialsCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Container_Detail_Record.rstk__socontainel_qty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Container_Serials</targetReference>
            </connector>
            <label>Container Detail Quantity exists under limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Container_Serial_Exist_With_Same_Shipper_Demand</name>
        <label>Is Container Serial Exist With Same Shipper Demand?</label>
        <locationX>1057</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Execute_All_Container_Serials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record with same Shipper Demand</defaultConnectorLabel>
        <rules>
            <name>Container_Serial_With_Same_Shipper_Demand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_All_Container_Serials.rstk__socontainser_soconatinel__r.rstk__socontainel_soshipdmd__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Shipper_Demand_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Execute_All_Container_Serials.rstk__socontainser_srlno__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Serial_Number</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Execute_All_Container_Serials.rstk__socontainser_soconatinel__r.rstk__socontainel_socontainer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Container_Detail_Record.rstk__socontainel_socontainer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Serial_Number_Message_based_on_Shipper_Demand</targetReference>
            </connector>
            <label>Container Serial With Same Shipper Demand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Custom_Field_Exception</name>
        <label>Is Custom Field Exception?</label>
        <locationX>1247</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Assign_Actual_Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Custom Exception</defaultConnectorLabel>
        <rules>
            <name>Custom_Field_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formula_Text_Fault_Message</targetReference>
            </connector>
            <label>Custom Field Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial_Number_Exist</name>
        <label>Is Serial Number Exist?</label>
        <locationX>757</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Container_Serials_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Serial Number</defaultConnectorLabel>
        <rules>
            <name>Serial_Number_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Selected_Serial_Number.rstk__socontainser_srlno__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Serial_Number</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Serial_Number_Message_based_on_Container_Detail</targetReference>
            </connector>
            <label>Serial Number Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>serialNumberChoiceSet</name>
        <dataType>String</dataType>
        <displayField>rstk__soshipsrl_srlno__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__soshipsrl_soshipdmd__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_soshipdmd__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__soshipsrl_srlno__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>containerSerialRecord.rstk__socontainser_srlno__c</elementReference>
            </value>
        </filters>
        <object>rstk__soshipsrl__c</object>
        <valueField>rstk__soshipsrl_srlno__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>faultMessageFormula</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Create Serial Number {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Serial Number</label>
    <loops>
        <name>Execute_All_Container_Serials</name>
        <label>Execute All Container Serials</label>
        <locationX>1063</locationX>
        <locationY>388</locationY>
        <collectionReference>Get_All_Container_Serials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Container_Serial_Exist_With_Same_Shipper_Demand</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Container_Serial_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Execute_Selected_Serial_Number</name>
        <label>Execute Selected Serial Number</label>
        <locationX>521</locationX>
        <locationY>233</locationY>
        <collectionReference>Get_All_Container_Serials_Record_based_on_Container_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Serial_Number_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Container_Detail_Quantity_Within_Limit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Container_Serial_Record</name>
        <label>Create Container Serial Record</label>
        <locationX>1254</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Custom_Field_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>rstk__socontainser_comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__socontainser_soconatinel__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__socontainser_srlno__c</field>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <object>rstk__socontainser__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Container_Serials</name>
        <label>Get All Container Serials</label>
        <locationX>1062</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_All_Container_Serials</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__socontainser__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Container_Serials_Record_based_on_Container_Detail</name>
        <label>Get All Container Serials Record based on Container Detail</label>
        <locationX>339</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serial_Number_List_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socontainser_soconatinel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__socontainser__c</object>
        <sortField>rstk__socontainser_srlno__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Container_Detail_Record</name>
        <label>Get Container Detail Record</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipper_Demand_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socontainel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipper_Demand_Record</name>
        <label>Get Shipper Demand Record</label>
        <locationX>177</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Container_Serials_Record_based_on_Container_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_soshipdmd__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soshipdmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Duplicate_Record_Info_Screen</name>
        <label>Duplicate Record Info Screen</label>
        <locationX>917</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>duplicateSerialNumber</name>
            <fieldText>&lt;p&gt;{!duplicationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1446</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Serial_Number_List_Screen</name>
        <label>Serial Number List Screen</label>
        <locationX>339</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Execute_Selected_Serial_Number</targetReference>
        </connector>
        <fields>
            <name>Serial_Number</name>
            <choiceReferences>serialNumberChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1451</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Container Serial has been created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Container_Detail_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>containerSerialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__socontainser__c</objectType>
    </variables>
    <variables>
        <name>containerSerialRecordDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalContainerSerialsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
