force-app/main/default/flows/rootstock__Vendor_Account_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_To_Account_Inquiry</name>
        <label>Redirect To Account Inquiry</label>
        <locationX>818</locationX>
        <locationY>69</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Vendor_Account_Inquiry_URL</name>
        <label>Assign Vendor Account Inquiry URL</label>
        <locationX>639</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstkf__povendcmpnoAcctInquiry?povendid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;sycmpid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_Information.rstk__syusr_lastcmpno__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Account_Inquiry</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Vendor Account Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Vendor Account Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Information</name>
        <label>Get User Information</label>
        <locationX>469</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Vendor_Account_Inquiry_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
