force-app/main/default/flows/rootstock__Submit_PO_to_Vendor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Construct_POLOADER_Details_to_Submit_Purchase_Order</name>
        <label>Construct POLOADER Details to Submit Purchase Order</label>
        <locationX>770</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit to Vendor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_submittovendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Purchase_Order_Record.rstk__pohdr_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_vendno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Purchase_Order_Record.rstk__pohdr_vendno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_pohdr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_POLOADER_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>noButton</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>yesButton</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Confirm_PO_Submission</name>
        <label>Confirm PO Submission</label>
        <locationX>769</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_submit_the_PO_to_Vendor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_Order_Record</targetReference>
            </connector>
            <label>Submit PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_Review_PO</name>
        <label>Want to Review PO?</label>
        <locationX>45</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Review</targetReference>
            </connector>
            <label>Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit PO to Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Submit PO to Vendor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_POLOADER_Record</name>
        <label>Create POLOADER Record</label>
        <locationX>585</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Get_POLOADER_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>POLOADER</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_POLOADER_Record</name>
        <label>Get POLOADER Record</label>
        <locationX>400</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POLoader_Submission_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POLOADER.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poloader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Record</name>
        <label>Get Purchase Order Record</label>
        <locationX>911</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_POLOADER_Details_to_Submit_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Message_Screen</name>
        <label>Fault Message Screen</label>
        <locationX>585</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>POLoader_Submission_Status</name>
        <label>POLoader Submission Status</label>
        <locationX>196</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_Review_PO</targetReference>
        </connector>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Purchase_Order_Record.Name}&lt;/strong&gt; has been successfully submitted to the &lt;strong&gt;{!Get_Purchase_Order_Record.rstk__pohdr_vendno__r.Name}&lt;/strong&gt; Vendor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_POLOADER_Record.rstk__poloader_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Would you like to review the order?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yes</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_PO_to_Vendor</name>
        <label>Submit PO to Vendor</label>
        <locationX>572</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_PO_Submission</targetReference>
        </connector>
        <fields>
            <name>Do_you_wish_to_submit_the_PO_to_Vendor</name>
            <choiceReferences>yesButton</choiceReferences>
            <choiceReferences>noButton</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>yesButton</defaultSelectedChoiceReference>
            <fieldText>Do you wish to submit the PO to Vendor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>110</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Submit_PO_to_Vendor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Order_Review</name>
        <label>Order Review</label>
        <locationX>54</locationX>
        <locationY>496</locationY>
        <flowName>rootstock__PO_Header_Order_Review</flowName>
        <inputAssignments>
            <name>actionName</name>
            <value>
                <stringValue>Order_Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>POLOADER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
