force-app/main/default/flows/rootstock__Firm_Work_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Firm_Work_Order_Action</name>
        <label>Firm Work Order Action</label>
        <locationX>686</locationX>
        <locationY>286</locationY>
        <actionName>rootstock__WorkOrderViewListCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Work_Order_Firm</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedWorkOrderIds</name>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderViewListCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Work_Order_Id</name>
        <label>Add Work Order Id</label>
        <locationX>306</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopId},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Record</name>
        <label>Selected Record</label>
        <locationX>91</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Work_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExtractOnlyChoice</name>
        <choiceText>Extract Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extract Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleExtractChoice</name>
        <choiceText>Schedule - Extract Operations if Necessary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule - Extract Operations if Necessary</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleOnlyChoice</name>
        <choiceText>Schedule Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Get_Selected_Work_Order_Record</name>
        <label>Get Selected Work Order Record</label>
        <locationX>83</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Selected_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Record</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Selected</name>
        <label>Is Record Selected</label>
        <locationX>485</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Selected</defaultConnectorLabel>
        <rules>
            <name>Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firm_Work_Order_Action</targetReference>
            </connector>
            <label>Record Selected</label>
        </rules>
    </decisions>
    <interviewLabel>Firm Work Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Firm Work Orders</label>
    <loops>
        <name>Selected_Work_Order</name>
        <label>Selected Work Order</label>
        <locationX>299</locationX>
        <locationY>288</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Work_Order_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Record_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>493</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectRecordErrorScreen</name>
            <fieldText>&lt;p&gt;Select atleast one record to process Work Order Firm.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__wocst__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Firm</name>
        <label>Work Order Firm</label>
        <locationX>861</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;{!message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__wocst__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>91</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Selected_Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Firm</stringValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rstk__wocst__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__wocst__c</objectType>
    </variables>
</Flow>
