force-app/main/default/flows/rootstock__Set_Serial_Dispostion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assignment_for_All_Ok</name>
        <label>Assignment for All Ok</label>
        <locationX>1172</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_ok__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_scrap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Order_Serial_Detail_All_Ok</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_All_Other</name>
        <label>Assignment for All Other</label>
        <locationX>1188</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_ok__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_scrap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Order_Serial_Detail_All_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_All_Scrap</name>
        <label>Assignment for All Scrap</label>
        <locationX>1183</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_ok__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_scrap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionOrderSerialDetailLoopRecord.rstk__inspordsrl_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Order_Serial_Detail_All_Scrap</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AllChoice</name>
        <choiceText>Set All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set All</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndividualChoice</name>
        <choiceText>Set Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Set Individual </stringValue>
        </value>
    </choices>
    <choices>
        <name>OKChoice</name>
        <choiceText>All OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>All Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScrapChoice</name>
        <choiceText>All Scrap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Scrap</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_for_All_Choice</name>
        <label>Decision for All Choice</label>
        <locationX>499</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Inspection_Order_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Set_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Order_Serial2</targetReference>
            </connector>
            <label>All Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_All_Ok</name>
        <label>Decision for All Ok</label>
        <locationX>903</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Descision_for_All_Scrap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ALL_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Choice_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_All_Ok</targetReference>
            </connector>
            <label>ALL OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_All_Other</name>
        <label>Decision for All Other</label>
        <locationX>911</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Choice_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_All_Other</targetReference>
            </connector>
            <label>All Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Multiple_Check_Box_True_Per_Row</name>
        <label>Decision for Multiple Check Box True Per Row</label>
        <locationX>975</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Inspection_Order_Serial_Detail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_Check_Box_True_Per_Row</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_Order_Serial_Detail_Loop.rstk__inspordsrl_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Inspection_Order_Serial_Detail_Loop.rstk__inspordsrl_scrap__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Inspection_Order_Serial_Detail_Loop.rstk__inspordsrl_other__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Validation_Message</targetReference>
            </connector>
            <label>Multiple Check Box True Per Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Descision_for_All_Scrap</name>
        <label>Descision for All Scrap</label>
        <locationX>922</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Decision_for_All_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Scrap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Choice_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Scrap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_All_Scrap</targetReference>
            </connector>
            <label>All Scrap</label>
        </rules>
    </decisions>
    <interviewLabel>Set Serial Dispostion {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Set Serial Disposition</label>
    <loops>
        <name>Inspection_Order_Serial_Detail_Loop</name>
        <label>Inspection Order Serial Detail Loop</label>
        <locationX>775</locationX>
        <locationY>567</locationY>
        <collectionReference>InspectionOrderSerialDetailRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_Multiple_Check_Box_True_Per_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inspection_Order_Serial_Detail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>inspection_Order_Serial_Detail_Loop2</name>
        <label>inspection Order Serial Detail Loop</label>
        <locationX>785</locationX>
        <locationY>231</locationY>
        <assignNextValueToReference>inspectionOrderSerialDetailLoopRecord</assignNextValueToReference>
        <collectionReference>InspectionOrderSerialDetailRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_All_Ok</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inspection_Order_Serial</name>
        <label>Get Inspection Order Serial</label>
        <locationX>631</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Order_Serials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__inspordsrl_inspord__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__inspordsrl__c</object>
        <outputReference>InspectionOrderSerialDetailRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__inspordsrl_srlno__c</queriedFields>
        <queriedFields>rstk__inspordsrl_ok__c</queriedFields>
        <queriedFields>rstk__inspordsrl_scrap__c</queriedFields>
        <queriedFields>rstk__inspordsrl_other__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Order_Serial2</name>
        <label>Get Inspection Order Serial</label>
        <locationX>390</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Serial_Disposition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__inspordsrl_inspord__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__inspordsrl__c</object>
        <outputReference>InspectionOrderSerialDetailRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__inspordsrl_inspord__c</queriedFields>
        <queriedFields>rstk__inspordsrl_ok__c</queriedFields>
        <queriedFields>rstk__inspordsrl_scrap__c</queriedFields>
        <queriedFields>rstk__inspordsrl_other__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inspection_Order_Serial_Detail</name>
        <label>Update Inspection Order Serial Detail</label>
        <locationX>779</locationX>
        <locationY>780</locationY>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Message</targetReference>
        </faultConnector>
        <inputReference>InspectionOrderSerialDetailRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Order_Serial_Detail_All_Ok</name>
        <label>Update Inspection Order Serial Detail All Ok</label>
        <locationX>1365</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>inspection_Order_Serial_Detail_Loop2</targetReference>
        </connector>
        <inputReference>inspectionOrderSerialDetailLoopRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Order_Serial_Detail_All_Other</name>
        <label>Update Inspection Order Serial Detail All Other</label>
        <locationX>1367</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>inspection_Order_Serial_Detail_Loop2</targetReference>
        </connector>
        <inputReference>inspectionOrderSerialDetailLoopRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Order_Serial_Detail_All_Scrap</name>
        <label>Update Inspection Order Serial Detail All Scrap</label>
        <locationX>1367</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>inspection_Order_Serial_Detail_Loop2</targetReference>
        </connector>
        <inputReference>inspectionOrderSerialDetailLoopRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Inspection_Order_Serials</name>
        <label>Inspection Order Serials</label>
        <locationX>631</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Order_Serial_Detail_Loop</targetReference>
        </connector>
        <fields>
            <name>Inspection_Order_Serials_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__inspordsrl__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>rstk__inspordsrl_srlno__c,rstk__inspordsrl_ok__c,rstk__inspordsrl_scrap__c,rstk__inspordsrl_other__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>InspectionOrderSerialDetailRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isConfigMode</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>rstk__inspordsrl_ok__c:true,rstk__inspordsrl_scrap__c:true,rstk__inspordsrl_other__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>rstk__inspordsrl_srlno__c:200,rstk__inspordsrl_ok__c:80,rstk__inspordsrl_scrap__c:80,rstk__inspordsrl_other__c:80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>InspectionOrderSerialDetailRecords</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>785</locationX>
        <locationY>955</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;Set Serial Disposition has been processed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen2</name>
        <label>Result Screen</label>
        <locationX>787</locationX>
        <locationY>437</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 11, 11);&quot;&gt;Set Serial &lt;/span&gt;&lt;span style=&quot;font-size: 13px; color: rgb(10, 11, 11);&quot;&gt;Disposition&lt;/span&gt;&lt;span style=&quot;color: rgb(10, 11, 11);&quot;&gt; has been processed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Choice</name>
        <label>Select Choice</label>
        <locationX>499</locationX>
        <locationY>190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_for_All_Choice</targetReference>
        </connector>
        <fields>
            <name>Select_Set_Choice</name>
            <choiceReferences>AllChoice</choiceReferences>
            <choiceReferences>IndividualChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Set Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Serial_Disposition</name>
        <label>Set Serial Disposition</label>
        <locationX>630</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>inspection_Order_Serial_Detail_Loop2</targetReference>
        </connector>
        <fields>
            <name>Select_Choice_Field</name>
            <choiceReferences>OKChoice</choiceReferences>
            <choiceReferences>ScrapChoice</choiceReferences>
            <choiceReferences>OtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_Message</name>
        <label>Show Error Message</label>
        <locationX>954</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Arial, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, sans-serif; color: rgb(36, 39, 41);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Validation_Message</name>
        <label>Show Validation Message</label>
        <locationX>1216</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Validation_Message</name>
            <fieldText>&lt;p&gt;Atmost single check box can be true per row&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_Choice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionOrderSerialDetailLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__inspordsrl__c</objectType>
    </variables>
    <variables>
        <name>InspectionOrderSerialDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__inspordsrl__c</objectType>
    </variables>
    <variables>
        <name>InspectionOrderSerialDetailRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__inspordsrl__c</objectType>
    </variables>
    <variables>
        <name>inspordids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
