force-app/main/default/flows/rootstock__WO_Generate_Serials.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ADD_TO_COLLECTION</name>
        <label>ADD TO COLLECTION</label>
        <locationX>2782</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>WOORDSRLS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDSRL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Serial_Numbers_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woordsrlCountToCreate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Serials_Remaining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Actual_Fault_Message</name>
        <label>Assign Actual Fault Message</label>
        <locationX>3417</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formula_Text_Fault_Message</name>
        <label>Assign Formula Text Fault Message</label>
        <locationX>3420</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Max_Seq_No</name>
        <label>Assign Max Seq No</label>
        <locationX>2931</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>maxSeqNoSrl</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>woordsrlCountToCreate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_WOORDSRL_with_Blank_Serial_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOORDSRLs_To_Create</name>
        <label>Assign WOORDSRLs To Create</label>
        <locationX>2658</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>WOORDSRLS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDSRL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_WOORDSRL_to_Create_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CONSTRUCT_WOORDSRL</name>
        <label>CONSTRUCT WOORDSRL</label>
        <locationX>2795</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_srlno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grab_Serial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_qtyacc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_qtyscrap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_assigndate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_srlseqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SEQ_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDSRL_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_wotype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDSRL_WOTYPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_TO_COLLECTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_WOORDSRL_with_Blank_Serial_Number</name>
        <label>Construct WOORDSRL with Blank Serial Number</label>
        <locationX>2765</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_targetsite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_wotype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDSRL_WOTYPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_srlseqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SEQ_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_srlno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_qtyacc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_qtyscrap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.rstk__woordsrl_assigndate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDSRL.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>woordsrlName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_WOORDSRLs_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Serials</name>
        <label>Copy Serials</label>
        <locationX>2694</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>Serial_Numbers_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Serial_Numbers_Copy</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CONSTRUCT_WOORDSRL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExistSrlNo</name>
        <label>ExistSrlNo</label>
        <locationX>1969</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>ExistSrlNoCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Exist_Serial_Number_Record.rstk__icitemsrl_srlno__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_serials_to_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Serial_Numbers</name>
        <label>Get Serial Numbers</label>
        <locationX>2334</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>Entered_Serial_Numbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entered_Serial_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Serial_Number_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_WOORDSRL_Count</name>
        <label>Get WOORDSRL Count</label>
        <locationX>2092</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>woordsrlCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Existing_Woordsrls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Serials_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>INCREMENT_SEQNO</name>
        <label>INCREMENT SEQNO</label>
        <locationX>2916</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>SEQ_NO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CONSTRUCT_WOORDSRL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Serial_Number_Collection</name>
        <label>Serial Number Collection</label>
        <locationX>2333</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstSerialNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Entered_Serial_Numbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingSerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Exist_Serial_Number_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Srl_Blank_Serials</name>
        <choiceText>Blank Serial Masters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Srl_Blank_Serials</stringValue>
        </value>
    </choices>
    <choices>
        <name>Srl_Entry</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter Serial&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Srl_Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Srl_Generate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Generate Serials&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Srl_Generate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Context</name>
        <label>Check Context</label>
        <locationX>1369</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOSELECTION</defaultConnectorLabel>
        <rules>
            <name>WOID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOCST</targetReference>
            </connector>
            <label>WOID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Qty_And_Srls</name>
        <label>Check Qty And Srls</label>
        <locationX>2538</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Do_Generate_Serials_without_Serial_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serials_Exceed_Qty_Req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Serials</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>WOCST.rstk__wocst_qtyreq__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serials_Exceeds_Qty_Req</targetReference>
            </connector>
            <label>Serials Exceed Qty Req</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Exist</name>
        <label>Check Serials Exist</label>
        <locationX>2115</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Generate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed To Generate</defaultConnectorLabel>
        <rules>
            <name>Serials_Exist_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOCST.rstk__wocst_qtyreq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>woordsrlCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Serials_Exist_Already</targetReference>
            </connector>
            <label>Serials Exist Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Remaining</name>
        <label>Check Serials Remaining?</label>
        <locationX>2908</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>CREATE_WOORDSRLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Serials Remaining</defaultConnectorLabel>
        <rules>
            <name>Parse_Remaining_Serials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Numbers_Copy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>woordsrlCountToCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INCREMENT_SEQNO</targetReference>
            </connector>
            <label>Parse Remaining Serials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Generate_Serials_without_Serial_Number</name>
        <label>Do Generate Serials without Serial Number?</label>
        <locationX>2494</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Copy_Serials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generate_Serials_without_Serial_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Entry_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Srl_Blank_Serials</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_WOORDSRL_to_Create_Exists</targetReference>
            </connector>
            <label>Generate Serials without Serial Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Custom_Field_Exception</name>
        <label>Is Custom Field Exception?</label>
        <locationX>3244</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Assign_Actual_Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Custom Exception</defaultConnectorLabel>
        <rules>
            <name>Custom_Field_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formula_Text_Fault_Message</targetReference>
            </connector>
            <label>Custom Field Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_duplicate_serial_nos_exist</name>
        <label>Is duplicate serial nos exist?</label>
        <locationX>2532</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>Check_Qty_And_Srls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Serial_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistSrlNoCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Assigned_Serial_Number</targetReference>
            </connector>
            <label>Duplicate Serial No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate_Serial_Number</name>
        <label>Is Duplicate Serial Number</label>
        <locationX>1958</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>More_serials_to_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Serial Number</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Serial_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exist_Serial_Number_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistSrlNo</targetReference>
            </connector>
            <label>Duplicate Serial Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial_Item</name>
        <label>Is Serial Item</label>
        <locationX>1860</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>Non_Serial_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Serial Item</defaultConnectorLabel>
        <rules>
            <name>Serial_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Woordsrls</targetReference>
            </connector>
            <label>Serial Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WOORDSRL_to_Create_Exists</name>
        <label>Is WOORDSRL to Create Exists?</label>
        <locationX>2762</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>CREATE_WOORDSRLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOORDSRL_to_Create_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woordsrlCountToCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Max_Seq_No</targetReference>
            </connector>
            <label>WOORDSRL to Create Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_serials_to_process</name>
        <label>More serials to process?</label>
        <locationX>2202</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Is_duplicate_serial_nos_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entered_Serial_Numbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serial_Number_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serial_Entry</name>
        <label>Serial Number Entry</label>
        <locationX>2322</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Qty_And_Srls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank serials</defaultConnectorLabel>
        <rules>
            <name>EitherEnterOrGenerate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Entry_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Srl_Entry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Serial_Entry_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Srl_Generate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Serial_Numbers</targetReference>
            </connector>
            <label>EitherEnterOrGenerate</label>
        </rules>
    </decisions>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>LEN({!Serials_To_Use}) - LEN( SUBSTITUTE({!Serials_To_Use}, &apos;,&apos;, &apos;&apos;) ) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FirstSerialNumber</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Entered_Serial_Numbers}, FIND(&apos;,&apos;,{!Entered_Serial_Numbers})-1))</expression>
    </formulas>
    <formulas>
        <name>FlowErrorMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <formulas>
        <name>Grab_Serial</name>
        <dataType>String</dataType>
        <expression>(LEFT({!Serial_Numbers_Copy},FIND(&apos;,&apos;,{!Serial_Numbers_Copy})-1))</expression>
    </formulas>
    <formulas>
        <name>maxSeqNo</name>
        <dataType>Number</dataType>
        <expression>IF({!woordsrlCount} == 0, 0, {!Get_Last_WOORDSRL_Record.rstk__woordsrl_srlseqno__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>numberOfSerialstoCreateFormula</name>
        <dataType>Number</dataType>
        <expression>{!WOCST.rstk__wocst_qtyreq__c} - {!woordsrlCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Remaining_Serials</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!Serial_Numbers_Copy},LEN({!Serial_Numbers_Copy})-FIND(&apos;,&apos;,{!Serial_Numbers_Copy}))))</expression>
    </formulas>
    <formulas>
        <name>RemainingSerialNumber</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!Entered_Serial_Numbers},{!FirstSerialNumber}+&apos;,&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>SEQ_Number</name>
        <dataType>Number</dataType>
        <expression>IF({!EitherEnterOrGenerate} == false, MCEILING({!maxSeqNoSrl}), MCEILING({!SEQ_NO}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>seqNoMax</name>
        <dataType>Number</dataType>
        <expression>IF({!woordsrlCount} == 0, 1, {!Get_Last_WOORDSRL_Record.rstk__woordsrl_srlseqno__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Serial_Tracked</name>
        <dataType>Boolean</dataType>
        <expression>{!WOCST.rstk__wocst_item__r.rstk__icitem_srlcontrol__c}</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Serial_Entry_Options}=={!Srl_Generate},{!Serial_Numbers},{!Serial_Numbers_comma_separated})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>WOORDSRL_Name</name>
        <dataType>String</dataType>
        <expression>{!WOCST.rstk__wocst_ordno__c} &amp; &quot;_&quot; &amp; TEXT({!SEQ_NO})</expression>
    </formulas>
    <formulas>
        <name>WOORDSRL_WOTYPE</name>
        <dataType>String</dataType>
        <expression>IF({!WOCST.rstk__wocst_disassmind__c}==TRUE, &quot;D&quot;, IF({!WOCST.rstk__wocst_refurbind__c}==TRUE, &quot;B&quot;, IF({!WOCST.rstk__wocst_reworkind__c}==TRUE, &quot;R&quot;, &quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>woordsrlName</name>
        <dataType>String</dataType>
        <expression>{!WOCST.rstk__wocst_ordno__c} &amp; &apos;_&apos; &amp; text({!maxSeqNoSrl})</expression>
    </formulas>
    <interviewLabel>WO Generate Serials {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Generate Serials</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_WOORDSRLS</name>
        <label>CREATE WOORDSRLS</label>
        <locationX>3077</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Custom_Field_Exception</targetReference>
        </faultConnector>
        <inputReference>WOORDSRLS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Existing_Woordsrls</name>
        <label>Existing Woordsrls</label>
        <locationX>2023</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_WOORDSRL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woordsrl_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woordsrl__c</object>
        <sortField>rstk__woordsrl_srlseqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exist_Serial_Number_Record</name>
        <label>Get Exist Serial Number Record</label>
        <locationX>2154</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Duplicate_Serial_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icitemsrl_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemsrl_srlno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SerialNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitemsrl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_WOORDSRL_Record</name>
        <label>Get Last WOORDSRL Record</label>
        <locationX>1857</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOORDSRL_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woordsrl_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woordsrl__c</object>
        <sortField>rstk__woordsrl_srlseqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>1240</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>1714</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Serial_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Already_Assigned_Serial_Number</name>
        <label>Already Assigned Serial Number</label>
        <locationX>2764</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Exist_Serial_Number</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 11, 15); background-color: rgb(255, 255, 255);&quot;&gt;Serial Numbers {!ExistSrlNoCollection} already assigned to another work order&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Serials_Exist_Already</name>
        <label>Display Serials Exist Already</label>
        <locationX>2034</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Serials_Exist_Already</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Serials were already generated for this Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>3552</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate</name>
        <label>Generate</label>
        <locationX>2330</locationX>
        <locationY>699</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Serial_Entry</targetReference>
        </connector>
        <fields>
            <name>WO_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Work Order:  &lt;/b&gt;{!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Item:  &lt;/b&gt;{!WOCST.rstk__wocst_item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Req: &lt;/b&gt;{!WOCST.rstk__wocst_qtyreq__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Serial_Entry_Options</name>
            <choiceReferences>Srl_Entry</choiceReferences>
            <choiceReferences>Srl_Generate</choiceReferences>
            <choiceReferences>Srl_Blank_Serials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Serial Entry Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Generate_Serials</name>
            <extensionName>rootstock:lwcGenerateSerial</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rcptQty</name>
                <value>
                    <elementReference>WOCST.rstk__wocst_qtyreq__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUpdateSerial</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Serial_Numbers</assignToReference>
                <name>serialNumbers</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Entry_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Srl_Generate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Serial_Numbers_comma_separated</name>
            <dataType>String</dataType>
            <fieldText>Enter Serial Numbers (comma separated):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Entry_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Srl_Entry</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Non_Serial_WO</name>
        <label>Non Serial WO</label>
        <locationX>1868</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Non_Serial_WO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The item in this work order is not a serial controlled item. Cannot generate serials for a non-serial item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Serials_Exceeds_Qty_Req</name>
        <label>Serials Exceeds Qty Req</label>
        <locationX>2656</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_QtyAndSerials_No_Match</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Number of serials entered or generated ({!Serials_To_Use}) cannot exceed Qty Req({!WOCST.rstk__wocst_qtyreq__c}) on this work order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>3211</locationX>
        <locationY>925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Display</name>
            <fieldText>&lt;p&gt;Serials &lt;b&gt;{!Serials_To_Use}&lt;/b&gt; have been generated for &lt;b&gt;{!WOCST.Name}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Entry_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Srl_Entry</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Serial_Entry_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Srl_Generate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Blank_Serials_Success</name>
            <fieldText>&lt;p&gt;Serials have been generated for &lt;b&gt;{!WOCST.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Entry_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Srl_Blank_Serials</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Selection</name>
        <label>Work Order Selection</label>
        <locationX>1558</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <fields>
            <name>Display_Current_Division</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!User.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__wocst_disassmind__c = FALSE AND rstk__wocst_ordsts__c IN (&apos;2&apos;,&apos;3&apos;,&apos;4&apos;,&apos;5&apos;) AND rstk__wocst_item__r.rstk__icitem_srlcontrol__c = true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>860</locationX>
        <locationY>668</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Entered_Serial_Numbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistSrlNoCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>license_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>license_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxSeqNoSrl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>maxSeqNo</elementReference>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SEQ_NO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>seqNoMax</elementReference>
        </value>
    </variables>
    <variables>
        <name>Serial_Numbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Serial_Numbers_Copy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOORDSRL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woordsrl__c</objectType>
    </variables>
    <variables>
        <name>woordsrlCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>woordsrlCountToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>numberOfSerialstoCreateFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>WOORDSRLS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woordsrl__c</objectType>
    </variables>
</Flow>
