force-app/main/default/flows/rootstock__Work_Order_Scheduling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Work_Order_Scheduling_Action</name>
        <label>Work Order Scheduling Action</label>
        <locationX>652</locationX>
        <locationY>32</locationY>
        <actionName>rootstock__WorkOrderViewListCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runOption</name>
            <value>
                <elementReference>Run_Option</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedWorkOrderIds</name>
            <value>
                <elementReference>selectedWorkOrderIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderViewListCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>processLogId</assignToReference>
            <name>processLogId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Selected_Work_Order_Id</name>
        <label>Add Selected Work Order Id</label>
        <locationX>243</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>selectedWorkOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopId},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Record</name>
        <label>Selected Record</label>
        <locationX>57</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExtractOnlyChoice</name>
        <choiceText>Extract Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleExtractChoice</name>
        <choiceText>Schedule - Extract Operations if Necessary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduleOnlyChoice</name>
        <choiceText>Schedule Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>S</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Get_Selected_Work_Order_Record</name>
        <label>Get Selected Work Order Record</label>
        <locationX>49</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Execute_Selected_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Record</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Selected</name>
        <label>Is Record Selected</label>
        <locationX>445</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Selected</defaultConnectorLabel>
        <rules>
            <name>Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedWorkOrderIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Option_Select_Screen</targetReference>
            </connector>
            <label>Record Selected</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Work Order Scheduling</label>
    <loops>
        <name>Execute_Selected_Records</name>
        <label>Execute Selected Records</label>
        <locationX>242</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_Work_Order_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Record_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>822</locationX>
        <locationY>32</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndFlow</name>
            <fieldText>&lt;p&gt;{!message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processLogDetail</name>
            <fieldText>&lt;p&gt;Please check process log for more detail - &lt;a href=&quot;/lightning/r/rstk__processlog__c/{!processLogId}/view&quot; target=&quot;_blank&quot;&gt;View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>processLogId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>returnToList</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__wocst__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>838</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectRecordErrorScreen</name>
            <fieldText>&lt;p&gt;Select atleast one record to process Work Order Scheduling.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__wocst__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Run_Option_Select_Screen</name>
        <label>Run Option Select Screen</label>
        <locationX>454</locationX>
        <locationY>33</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_Order_Scheduling_Action</targetReference>
        </connector>
        <fields>
            <name>Run_Option</name>
            <choiceReferences>ScheduleExtractChoice</choiceReferences>
            <choiceReferences>ExtractOnlyChoice</choiceReferences>
            <choiceReferences>ScheduleOnlyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Run Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Selected_Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WorkOrderSchedule</stringValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedWorkOrderIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rstk__wocst__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__wocst__c</objectType>
    </variables>
</Flow>
