force-app/main/default/flows/rootstock__WO_Receipt_Reversal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_LocIdNum</name>
        <label>Add LocIdNum</label>
        <locationX>2191</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>Srls_Rcvd_Locs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOPLOC_LOOP.rootstock__woploc_location_info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Srls_Rcvd_Locs_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOPLOC_LOOP_Id_Str</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Serials_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Id</name>
        <label>Assign WO Id</label>
        <locationX>1232</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>Selected_WO_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CONSTRUCT_SYDATA</name>
        <label>SYDATA</label>
        <locationX>2402</locationX>
        <locationY>84</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Receipt Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reverse_Qty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOPLOC.rstk__woploc_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOPLOC.rstk__woploc_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Txn_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txndate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CONSTRUCT_SYDATA_SRL</name>
        <label>SYDATA</label>
        <locationX>3134</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Receipt Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_WOPLOC_SRL.rstk__woploc_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_WOPLOC_SRL.rstk__woploc_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Comments_Srls</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txndate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA_SRL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_recordId</name>
        <label>Check recordId</label>
        <locationX>893</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>WO_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordId</defaultConnectorLabel>
        <rules>
            <name>Has_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Id</targetReference>
            </connector>
            <label>Has recordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial</name>
        <label>Is Serial</label>
        <locationX>1585</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Receipt_Reversal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Serial</defaultConnectorLabel>
        <rules>
            <name>Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOPLOCS_LOCS</targetReference>
            </connector>
            <label>Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>LocIdNum_Check</name>
        <label>LocIdNum Check</label>
        <locationX>2002</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Add_LocIdNum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LocIdNum Not Exists</defaultConnectorLabel>
        <rules>
            <name>LocIdNum_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Srls_Rcvd_Locs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>WOPLOC_LOOP.rootstock__woploc_location_info__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serials_Locations</targetReference>
            </connector>
            <label>LocIdNum Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Reverse_Qty</name>
        <label>Validate Reverse Qty</label>
        <locationX>2511</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>CONSTRUCT_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Reverse Qty</defaultConnectorLabel>
        <rules>
            <name>Invalid_Reverse_Qty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reverse_Qty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>WOPLOC.rstk__woploc_qtyacc__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_Reversal</targetReference>
            </connector>
            <label>Invalid Reverse Qty</label>
        </rules>
        <rules>
            <name>Invalid_Reverse_Qty_Decimal_Places</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOCST.rstk__wocst_item__r.rstk__formula_qtydecimal__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>reverseQtyDecimalPlaces</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_Reversal</targetReference>
            </connector>
            <label>Invalid Reverse Qty Decimal Places</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WOPLOCS</name>
        <dataType>String</dataType>
        <displayField>rootstock__woploc_op_receipt_Info__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woploc_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woploc_qtyacc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>rstk__woploc__c</object>
        <outputAssignments>
            <assignToReference>Selected_WOPLOC_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOPLOCS_SRLS</name>
        <dataType>String</dataType>
        <displayField>rstk__woploc_srlno__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rootstock__woploc_location_info__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WOPLOC_SRL.rootstock__woploc_location_info__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woploc_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </filters>
        <object>rstk__woploc__c</object>
        <valueField>rstk__woploc_srlno__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>(LEN({!Reverse_Serials}) - LEN(SUBSTITUTE({!Reverse_Serials}, &apos;;&apos;, &apos;&apos;) ) + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Lot_Number</name>
        <dataType>String</dataType>
        <expression>IF({!WOCST.rstk__wocst_item__r.rstk__icitem_lotcontrol__c}=true, {!WOPLOC.rstk__woploc_locsec__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Qty_Accepted</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOCST.rstk__wocst_qtyacc__c})</expression>
    </formulas>
    <formulas>
        <name>Qty_Required</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOCST.rstk__wocst_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <name>reverseQtyDecimalPlaces</name>
        <dataType>Number</dataType>
        <expression>IF(FIND(&apos;.&apos;, TEXT({!Reverse_Qty})) &gt; 0, LEN(TEXT({!Reverse_Qty})) - FIND(&apos;.&apos;, TEXT({!Reverse_Qty})), 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Serial_Tracked</name>
        <dataType>Boolean</dataType>
        <expression>{!WOCST.rstk__wocst_item__r.rstk__icitem_srlcontrol__c}</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Reverse_Serials}, &apos;; &apos;, &apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>Srls_Rcvd_Locs_Ids_Final</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Srls_Rcvd_Locs_Ids})==false, (&quot;Id IN (&quot; &amp; MID({!Srls_Rcvd_Locs_Ids}, 0, LEN({!Srls_Rcvd_Locs_Ids})-1) &amp; &quot;)&quot;), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SydataTxnQty</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_SYDATA.rstk__sydata_txnqty__c})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>WOPLOC_LOOP_Id_Str</name>
        <dataType>String</dataType>
        <expression>&quot;&apos;&quot; &amp; {!WOPLOC_LOOP.Id} &amp; &quot;&apos;,&quot;</expression>
    </formulas>
    <interviewLabel>WO Receipt Reversal {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Receipt Reversal</label>
    <loops>
        <name>Serials_Locations</name>
        <label>Serials Locations</label>
        <locationX>2013</locationX>
        <locationY>449</locationY>
        <assignNextValueToReference>WOPLOC_LOOP</assignNextValueToReference>
        <collectionReference>WOPLOCS_LOCS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LocIdNum_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Receipt_Locations_Serials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_SYDATA</name>
        <label>SYDATA</label>
        <locationX>2577</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>GET_SYDATA</targetReference>
        </connector>
        <inputReference>SYDATA_R</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CREATE_SYDATA_SRL</name>
        <label>SYDATA</label>
        <locationX>3326</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>GET_SYDATA_SRL</targetReference>
        </connector>
        <inputReference>SYDATA_R</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Cost_Accounting_Control_Record</name>
        <label>Cost Accounting Control Record</label>
        <locationX>704</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__csacctcntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__csacctcntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SYDATA</name>
        <label>SYDATA</label>
        <locationX>2761</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reversal_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA_R.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SYDATA_SRL</name>
        <label>SYDATA</label>
        <locationX>3512</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serials_Reversal_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA_R.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Selected_WOPLOC_SRL</name>
        <label>WOPLOC</label>
        <locationX>2585</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt_Reversal_Serials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WOPLOC_Srl_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woploc__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rootstock__woploc_location_info__c</queriedFields>
        <queriedFields>rstk__woploc_locid__c</queriedFields>
        <queriedFields>rstk__woploc_locnum__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>507</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cost_Accounting_Control_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>1400</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Serial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOPLOC</name>
        <label>WOPLOC</label>
        <locationX>2013</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Reverse_Qty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WOPLOC_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woploc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOPLOCS_LOCS</name>
        <label>WOPLOCS_LOCS</label>
        <locationX>1829</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serials_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woploc_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_WO_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woploc_qtyacc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woploc__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rootstock__woploc_location_info__c</queriedFields>
        <sortField>rootstock__woploc_location_info__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Receipt_Locations_Serials</name>
        <label>Receipt Locations Serials</label>
        <locationX>2417</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_WOPLOC_SRL</targetReference>
        </connector>
        <fields>
            <name>WO_Info_Copy1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order Number: &lt;/b&gt;{!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Item Number: &lt;/b&gt;{!WOCST.rstk__wocst_item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Project: &lt;/b&gt;{!WOCST.rstk__wocst_proj__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Required: &lt;/b&gt;{!WOCST.rstk__wocst_qtyreq__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Accepted: &lt;/b&gt;{!WOCST.rstk__wocst_qtyacc__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Serial Tracked: &lt;/b&gt;Yes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WOPLOC_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue> rstk__woploc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Received Locations(LocId/LocNum):</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <elementReference>Srls_Rcvd_Locs_Ids_Final</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_WOPLOC_Srl_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rootstock__woploc_location_info__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_WOPLOC_Srl_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Empty_Box2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt_Reversal</name>
        <label>Receipt Reversal</label>
        <locationX>2149</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOPLOC</targetReference>
        </connector>
        <fields>
            <name>WO_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Order Number: &lt;/strong&gt;{!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Item Number: &lt;/strong&gt;{!WOCST.rstk__wocst_item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project: &lt;/strong&gt;{!WOCST.rstk__wocst_proj__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Qty Required: &lt;/strong&gt;{!Qty_Required}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Qty Accepted: &lt;/strong&gt;{!Qty_Accepted}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Receipt_Locations</name>
            <choiceReferences>WOPLOCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Receipt Locations (LocId / LocNum / Lot / Qty Received)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reverse_Qty</name>
            <dataType>Number</dataType>
            <fieldText>Reverse Qty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Error_ReverseQty</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Invalid &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Reverse &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Qty or Reverse Qty cannot be more than the received Qty at this selected location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Reverse_Qty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invaild_Reverse_Qty_Decimals</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 17, 17);&quot;&gt;Reverse Qty Cannot be exceed {!WOCST.rstk__wocst_item__r.rstk__formula_qtydecimal__c} decimal places&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Reverse_Qty_Decimal_Places</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Txn_Comment</name>
            <dataType>String</dataType>
            <fieldText>Txn Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt_Reversal_Serials</name>
        <label>Receipt Reversal Serials</label>
        <locationX>2760</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reverse_Serials_Summary</targetReference>
        </connector>
        <fields>
            <name>Receipt_Serials_Loc_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Loc Id / Loc Num&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Selected_WOPLOC_SRL.rootstock__woploc_location_info__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reverse_Serials</name>
            <choiceReferences>WOPLOCS_SRLS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reverse Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transaction_Comments_Srls</name>
            <dataType>String</dataType>
            <fieldText>Transaction Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Result</name>
        <label>Reversal Result</label>
        <locationX>2952</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reversal_Result_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SYDATA: &lt;/strong&gt;&lt;a href=&quot;/{!GET_SYDATA.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Reversed Qty:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!SydataTxnQty}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reverse_Serials_Summary</name>
        <label>Reverse Serials Summary</label>
        <locationX>2945</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CONSTRUCT_SYDATA_SRL</targetReference>
        </connector>
        <fields>
            <name>Srl_Reverse_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please review the quantity and/or serials to be reversed/returned to vendor.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reverse Quantity: &lt;/b&gt;{!Count_Serials}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reverse Serials: &lt;/b&gt;{!Serials_To_Use}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Previous&lt;/b&gt; button to make corrections.&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;button &lt;/span&gt;to proceed with the reversal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Serials_Reversal_Result</name>
        <label>Serials Reversal Result</label>
        <locationX>3713</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Serials_Reversal_Result_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SYDATA: &lt;/strong&gt;&lt;a href=&quot;/{!GET_SYDATA_SRL.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA_SRL.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA_SRL.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reversed Qty:&lt;/strong&gt; {!GET_SYDATA_SRL.rstk__sydata_txnqty__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA_SRL.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Selection</name>
        <label>WO Selection</label>
        <locationX>1217</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Division: &lt;/b&gt;{!User.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_WO_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__wocst_ordsts__c IN (&apos;7&apos;, &apos;8&apos;) AND rstk__wocst_qtyacc__c &gt; 0 And RecordType.Name = &apos;Regular&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_WO_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cost_Accounting_Control_Record.rstk__csacctcntl_worcptdateovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_WO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_WOPLOC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_WOPLOC_Srl_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Srls_Rcvd_Locs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Srls_Rcvd_Locs_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA_R</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>WOPLOC_LOOP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woploc__c</objectType>
    </variables>
</Flow>
