force-app/main/default/flows/rootstock__LUI_DWO_Reverse_Derived_Components.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Derived_Component_Count</name>
        <label>Assign Derived Component Count</label>
        <locationX>1326</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>disDerivedComponentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Disassembly_Derived_Component_List_based_on_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Derived_Components_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_Reverse_Derived_Component_SYDATA</name>
        <label>Construct Reverse Derived Component SYDATA</label>
        <locationX>1757</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Derived Component Receipt Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_icdreqs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDerivedCompIdsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reverse_Derived_Component_SYDATA_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Derived_Component_Assignment</name>
        <label>Selected Derived Component Assignment</label>
        <locationX>1758</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>derivedCompIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Derived_Component</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Construct_Reverse_Derived_Component_SYDATA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Derived_Components_Exists</name>
        <label>Is Derived Components Exists?</label>
        <locationX>1510</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>No_Derived_Component_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Derived Components</defaultConnectorLabel>
        <rules>
            <name>Derived_Components_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disDerivedComponentCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Derived_Components_List_Screen</targetReference>
            </connector>
            <label>Derived Components Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>disDerivedCompList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdreq_wocst__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__icdreq__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>selectedDerivedCompIdsFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!derivedCompIds}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <interviewLabel>LUI DWO Reverse Derived Components {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Reverse Derived Components</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reverse_Derived_Component_SYDATA_Record</name>
        <label>Create Reverse Derived Component SYDATA Record</label>
        <locationX>1764</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>Get_SYDATA_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Submission_Failure_Screen</targetReference>
        </faultConnector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Disassembly_Derived_Component_List_based_on_Work_Order</name>
        <label>Get Disassembly Derived Component List based on Work Order</label>
        <locationX>1144</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Derived_Component_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdreq_wocst__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__icdreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SYDATA_Record</name>
        <label>Get SYDATA Record</label>
        <locationX>2013</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sydata_Submission_Status_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Derived_Components_List_Screen</name>
        <label>Derived Components List Screen</label>
        <locationX>1751</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Derived_Component_Assignment</targetReference>
        </connector>
        <fields>
            <name>Select_Derived_Component</name>
            <choiceReferences>disDerivedCompList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Derived Component</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Derived_Component_Screen</name>
        <label>No Derived Component Screen</label>
        <locationX>1520</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_comp_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Reverse Derived Component cannot be processed as there is no Derived Components for this work order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submission_Failure_Screen</name>
        <label>Submission Failure Screen</label>
        <locationX>1539</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sydata_Submission_Status_Screen</name>
        <label>Sydata Submission Status Screen</label>
        <locationX>2013</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_message_text</name>
            <fieldText>&lt;p&gt;Reverse Derived Components has been processed successfully.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/rstk__poitem__c/{!Get_SYDATA_Record.Id}/view/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_SYDATA_Record.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA_Record.rstk__sydata_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>error_message_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_SYDATA_Record.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA_Record.rstk__sydata_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>730</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Get_Disassembly_Derived_Component_List_based_on_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>derivedCompIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disDerivedComponentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
