force-app/main/default/flows/rootstock__WO_Receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Derive_backflush_components</name>
        <label>Derive backflush components</label>
        <locationX>5701</locationX>
        <locationY>1418</locationY>
        <actionName>rootstock__WorkOrderReceiveCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_backflush_Component_available</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Receipt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>txnQuantity</name>
            <value>
                <elementReference>SYDATA_RCPT.rstk__sydata_txnqty__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderReceiveCon</nameSegment>
        <outputParameters>
            <assignToReference>BackFlushComponents</assignToReference>
            <name>backflushComps</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Component_Item_Id</name>
        <label>Assign Component Item Id</label>
        <locationX>5723</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>WOORDDMD_COMPITEMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDDMD_Loop.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDDMD_ISSPROJs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDDMD_Loop.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOORDDMD_SITEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDDMD_Loop.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOORDDMD_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_Insufficient_qty_Boolean</name>
        <label>Assign value Insufficient qty Boolean</label>
        <locationX>6361</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>insufficient_Qty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WOORDDMD_Records_with_Last_Operation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>WOORDDMD_Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_qty_added</name>
        <label>Assignment for qty added</label>
        <locationX>6137</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>Total_ICLOCITEM_qty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ICLOCITEM_Loop.rstk__iclocitem_locqty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ICLOCITEM_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_RCPT</name>
        <label>Construct SYDATA RCPT</label>
        <locationX>5546</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Receipt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rcpt_Loc_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_Number_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_ExpirationDate_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_woordopn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_WOORDOP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_loccomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Single_Step_CSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_RCPT_LaborOnly</name>
        <label>Construct SYDATA RCPT</label>
        <locationX>5547</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Receipt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_icitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_Number_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_ExpirationDate_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_woordopn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_WOORDOP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_loccomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Single_Step_CSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_TotalQty</name>
        <label>Reset TotalQty</label>
        <locationX>5760</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Total_ICLOCITEM_qty</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ICLOCITEM_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Background_Processing</name>
        <label>Set Background Processing</label>
        <locationX>5931</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_RCPT.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WOORDDMD_Records_with_Last_Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasLotOrSerialComponents</name>
        <label>Set HasLotOrSerialComponents</label>
        <locationX>3076</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>HasLotOrSerialComponents</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SYLOCID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Context</name>
        <label>Check Context</label>
        <locationX>2077</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOSELECTION</defaultConnectorLabel>
        <rules>
            <name>WOID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOCST</targetReference>
            </connector>
            <label>WOID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ICLOCITEM_Is_Exist</name>
        <label>Check ICLOCITEM Is Exist</label>
        <locationX>5904</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>WOORDDMD_Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ICLOCITEM_Is_Exist</defaultConnectorLabel>
        <rules>
            <name>ICLOCITEM_Is_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ICLOCITEM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_screen</targetReference>
            </connector>
            <label>ICLOCITEM Is Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_want_to_Continue</name>
        <label>Check if user want to Continue</label>
        <locationX>6161</locationX>
        <locationY>807</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Warning_message_CheckBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYDATA</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_Number</name>
        <label>Check Location Number</label>
        <locationX>5056</locationX>
        <locationY>1256</locationY>
        <defaultConnector>
            <targetReference>Is_Labor_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Number Entered</defaultConnectorLabel>
        <rules>
            <name>Location_Number_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_Num_Required_For_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Rcpt_Loc_Num</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYLOCNUM_SELECTED</targetReference>
            </connector>
            <label>Location Number Selected</label>
        </rules>
        <rules>
            <name>Location_Number_Not_Entered</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Location_Num_Required_For_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO_Receipt_Loc_Num_Enterable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WO_Receipt_Loc_Num_Enterable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt</targetReference>
            </connector>
            <label>Location Number Not Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Operation_Exists</name>
        <label>Check Operation Exists</label>
        <locationX>2640</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>WOORDDMDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last Operation Found</defaultConnectorLabel>
        <rules>
            <name>Last_Operation_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_WOORDOP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Selection</targetReference>
            </connector>
            <label>Last Operation Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_qty_is_enough</name>
        <label>Check the qty is enough</label>
        <locationX>6196</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>WOORDDMD_Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Qty is enough</defaultConnectorLabel>
        <rules>
            <name>Qty_is_not_enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMD_Loop_1.rstk__woorddmd_qtyoutstdg__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Total_ICLOCITEM_qty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_Insufficient_qty_Boolean</targetReference>
            </connector>
            <label>Qty is not enough</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WODEMAND_Is_Exist</name>
        <label>Check_WODEMAND_Is_Exist</label>
        <locationX>6056</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WODEMAND_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOORDDMD_Records_with_Last_Operation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOORDDMD_Loop</targetReference>
            </connector>
            <label>WODEMAND Is Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_to_display_waring_message</name>
        <label>Condition to display waring message</label>
        <locationX>6273</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_the_warning_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insufficient_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_screen</targetReference>
            </connector>
            <label>Display the warning message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditions_for_ICLOCITME_qty_add</name>
        <label>Conditions for ICLOCITME qty add</label>
        <locationX>5886</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>ICLOCITEM_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOORDDMD_is_equal_to_ICLOCITEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMD_Loop_1.rstk__woorddmd_compitem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ICLOCITEM_Loop.rstk__iclocitem_icitem__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_qty_added</targetReference>
            </connector>
            <label>WOORDDMD is equal to ICLOCITEM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_backflush_Component_available</name>
        <label>Is backflush Component available</label>
        <locationX>5918</locationX>
        <locationY>1437</locationY>
        <defaultConnector>
            <targetReference>Get_WOORDDMD_Records_with_Last_Operation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackFlushComponents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Background_Processing</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Labor_Only</name>
        <label>Is Labor Only?</label>
        <locationX>5331</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA_RCPT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Labor_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOCST.rstk__wocst_item__r.rstk__icitem_item__r.rstk__peitem_itemtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_SYDATA_RCPT_LaborOnly</targetReference>
            </connector>
            <label>Labor Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lot</name>
        <label>Is Lot?</label>
        <locationX>4295</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Validate_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lot - No</defaultConnectorLabel>
        <rules>
            <name>Lot_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lot_Tracked</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Lot</targetReference>
            </connector>
            <label>Lot - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial</name>
        <label>Is Serial?</label>
        <locationX>3886</locationX>
        <locationY>1244</locationY>
        <defaultConnector>
            <targetReference>Is_Lot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serial - No</defaultConnectorLabel>
        <rules>
            <name>Serial_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Serials</targetReference>
            </connector>
            <label>Serial - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial_Or_Lot_Component</name>
        <label>Is Serial Or Lot Component</label>
        <locationX>2833</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Check_Component_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serial Or Lot Component - No</defaultConnectorLabel>
        <rules>
            <name>Serial_Or_Lot_Component_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_srlcontrol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_lotcontrol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasLotOrSerialComponents</targetReference>
            </connector>
            <label>Serial Or Lot Component - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Single_Step_CSO</name>
        <label>Is Single Step CSO?</label>
        <locationX>5696</locationX>
        <locationY>1230</locationY>
        <defaultConnector>
            <targetReference>Derive_backflush_components</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Single Step CSO</defaultConnectorLabel>
        <rules>
            <name>Single_Step_CSO</name>
            <conditionLogic>(1 AND 3) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SOCNTL.rstk__socntl_wiptocogs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_Serials</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOCST.rstk__wocst_soline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Background_Processing</targetReference>
            </connector>
            <label>Single Step CSO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Lot</name>
        <label>Validate Lot</label>
        <locationX>4544</locationX>
        <locationY>1318</locationY>
        <defaultConnector>
            <targetReference>Validate_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LotNumber Entered Or Not Required</defaultConnectorLabel>
        <rules>
            <name>LotNumber_Not_Entered</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Allow_Lot_to_be_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasLotOrSerialComponents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lot_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lot_Expiration_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt</targetReference>
            </connector>
            <label>LotNumber Not Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Quantity</name>
        <label>Validate Quantity</label>
        <locationX>4820</locationX>
        <locationY>1251</locationY>
        <defaultConnector>
            <targetReference>Check_Location_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Quantity</defaultConnectorLabel>
        <rules>
            <name>Invalid_Quantity_Entered</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Receipt_Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Receipt_Quantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Receipt_Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Default_Qty_To_Receive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt</targetReference>
            </connector>
            <label>Invalid Quantity Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Serials</name>
        <label>Validate Serials</label>
        <locationX>4091</locationX>
        <locationY>1318</locationY>
        <defaultConnector>
            <targetReference>Is_Lot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serials Selected</defaultConnectorLabel>
        <rules>
            <name>Serials_Not_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Numbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Serial_Numbers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt</targetReference>
            </connector>
            <label>Serials Not Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WO_Serials</name>
        <dataType>String</dataType>
        <displayField>rstk__woordsrl_srlno__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woordsrl_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woordsrl_qtyacc__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__woordsrl_qtyscrap__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>rstk__woordsrl__c</object>
        <sortField>rstk__woordsrl_srlseqno__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>rstk__woordsrl_srlno__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Allow_Lot_to_be_Entered</name>
        <dataType>Boolean</dataType>
        <expression>IF({!WOCST.rstk__wocst_item__r.rstk__icitem_worcptlotfrm__c}=TRUE, TRUE, IF({!WOCST.rstk__wocst_item__r.rstk__icitem_iccomcod__r.rstk__iccomcod_worcptlot__c}=TRUE, TRUE, FALSE))</expression>
    </formulas>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>LEN({!Serial_Numbers}) - LEN(SUBSTITUTE({!Serial_Numbers}, &apos;,&apos;, &apos;&apos;) ) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Current_User</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Default_Qty_To_Receive</name>
        <dataType>Number</dataType>
        <expression>{!WOCST.rstk__wocst_qtyreq__c} - {!WOCST.rstk__wocst_qtyacc__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ICITEM_Default_Rcpt_Loc_Id</name>
        <dataType>String</dataType>
        <expression>IF({!WOCST.rstk__wocst_item__r.rstk__icitem_rcptlocid__c}==NULL, {!WOCST.rstk__wocst_item__r.rstk__icitem_iccomcod__r.rstk__iccomcod_rcptlocid__c}, {!WOCST.rstk__wocst_item__r.rstk__icitem_rcptlocid__c})</expression>
    </formulas>
    <formulas>
        <name>ICITEM_Default_Rcpt_Loc_Num</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!WOCST.rstk__wocst_item__r.rstk__icitem_rcptlocnum__c}), {!WOCST.rstk__wocst_item__r.rstk__icitem_iccomcod__r.rstk__iccomcod_rcptlocnum__c}, {!WOCST.rstk__wocst_item__r.rstk__icitem_rcptlocnum__c})</expression>
    </formulas>
    <formulas>
        <name>Location_Num_Required_For_Site</name>
        <dataType>Boolean</dataType>
        <expression>{!WOCST.rstk__wocst_site__r.rstk__sysite_sylocnum_reqind__c}</expression>
    </formulas>
    <formulas>
        <name>Location_Num_To_Use</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!WO_Receipt_Loc_Num_Enterable}), {!Selected_To_LocNum_Number}, {!WO_Receipt_Loc_Num_Enterable})</expression>
    </formulas>
    <formulas>
        <name>Lot_ExpirationDate_To_Use</name>
        <dataType>Date</dataType>
        <expression>IF({!Lot_Tracked}==&apos;Yes&apos; &amp;&amp; {!Allow_Lot_to_be_Entered} == TRUE &amp;&amp; {!HasLotOrSerialComponents} == FALSE, {!Lot_Expiration_Date}, NULL)</expression>
    </formulas>
    <formulas>
        <name>Lot_Number_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Lot_Tracked}==&apos;Yes&apos; &amp;&amp; {!Allow_Lot_to_be_Entered} == TRUE &amp;&amp; {!HasLotOrSerialComponents} == FALSE, {!Lot_Number}, NULL)</expression>
    </formulas>
    <formulas>
        <name>Lot_Tracked</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOCST.rstk__wocst_item__r.rstk__icitem_item__r.rstk__peitem_tracklot_pl__c})</expression>
    </formulas>
    <formulas>
        <name>Quantity_To_Use</name>
        <dataType>Number</dataType>
        <expression>IF({!Count_Serials} != NULL &amp;&amp; {!Count_Serials} &gt; 0, {!Count_Serials}, {!Receipt_Quantity})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Serial_Tracked</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOCST.rstk__wocst_item__r.rstk__icitem_item__r.rstk__peitem_tracksrl_pl__c})</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Serial_Numbers} != NULL, {!Serial_Numbers}, NULL)</expression>
    </formulas>
    <interviewLabel>WO Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Receipt</label>
    <loops>
        <name>Check_Component_Items</name>
        <label>Check Component Items</label>
        <locationX>2839</locationX>
        <locationY>1254</locationY>
        <assignNextValueToReference>WOORDDMD</assignNextValueToReference>
        <collectionReference>WOORDDMDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Serial_Or_Lot_Component</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SYLOCID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ICLOCITEM_Loop</name>
        <label>ICLOCITEM Loop</label>
        <locationX>5883</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_ICLOCITEM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Conditions_for_ICLOCITME_qty_add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_qty_is_enough</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WOORDDMD_Loop</name>
        <label>(WOORDDMD_Loop)</label>
        <locationX>5902</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_WOORDDMD_Records_with_Last_Operation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Component_Item_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ICLOCITEM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WOORDDMD_Loop_1</name>
        <label>WOORDDMD Loop 1</label>
        <locationX>5900</locationX>
        <locationY>409</locationY>
        <collectionReference>Get_WOORDDMD_Records_with_Last_Operation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_TotalQty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Condition_to_display_waring_message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SYDATA</name>
        <label>SYDATA</label>
        <locationX>6178</locationX>
        <locationY>1301</locationY>
        <connector>
            <targetReference>SYDATA_CREATED</targetReference>
        </connector>
        <inputReference>SYDATA_RCPT</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Current_Division</name>
        <label>Current Division</label>
        <locationX>1895</locationX>
        <locationY>1450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rstk__syusr_lastdiv__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ICLOCITEM</name>
        <label>Get ICLOCITEM</label>
        <locationX>5909</locationX>
        <locationY>765</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ICLOCITEM_Is_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8) AND 9</filterLogic>
        <filters>
            <field>rstk__iclocitem_icitem__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WOORDDMD_COMPITEMs</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_availind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_backflushind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locqty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_proj__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WOORDDMD_ISSPROJs</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_site__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WOORDDMD_SITEs</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hand</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__iclocitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOORDDMD_Records_with_Last_Operation</name>
        <label>Get WOORDDMD Records with Last Operation</label>
        <locationX>6066</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WODEMAND_Is_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_backflushpol_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last Operation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Last_WOORDOP</name>
        <label>Last WOORDOP</label>
        <locationX>2648</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Operation_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woordop_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woordop__c</object>
        <sortField>rstk__woordop_oper__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SOCNTL</name>
        <label>SOCNTL</label>
        <locationX>2542</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_WOORDOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYDATA_CREATED</name>
        <label>SYDATA</label>
        <locationX>6295</locationX>
        <locationY>1422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA_RCPT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYLOCID</name>
        <label>SYLOCID</label>
        <locationX>3205</locationX>
        <locationY>1449</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SYLOCNUM_DFLT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICITEM_Default_Rcpt_Loc_Id</elementReference>
            </value>
        </filters>
        <object>rstk__sylocid__c</object>
        <outputAssignments>
            <assignToReference>Selected_Rcpt_Loc_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Default_Rcpt_Loc_Id_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SYLOCNUM_DFLT</name>
        <label>SYLOCNUM</label>
        <locationX>3458</locationX>
        <locationY>1449</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sylocnum_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICITEM_Default_Rcpt_Loc_Num</elementReference>
            </value>
        </filters>
        <object>rstk__sylocnum__c</object>
        <outputAssignments>
            <assignToReference>Selected_Rcpt_Loc_Num</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SYLOCNUM_SELECTED</name>
        <label>SYLOCNUM</label>
        <locationX>5201</locationX>
        <locationY>1555</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Labor_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Rcpt_Loc_Num</elementReference>
            </value>
        </filters>
        <object>rstk__sylocnum__c</object>
        <outputAssignments>
            <assignToReference>Selected_To_LocNum_Number</assignToReference>
            <field>rstk__sylocnum_locnum__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>2435</locationX>
        <locationY>1452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SOCNTL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOORDDMDs</name>
        <label>WOORDDMDs</label>
        <locationX>2647</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Component_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>6436</locationX>
        <locationY>1256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Processing_Result</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;SYDATA: &lt;/b&gt;&lt;a href=&quot;/{!SYDATA_CREATED.Id}&quot; target=&quot;_blank&quot;&gt;{!SYDATA_CREATED.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!SYDATA_CREATED.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Issued:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!SYDATA_CREATED.rstk__sydata_txnqty__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!SYDATA_CREATED.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt</name>
        <label>Receipt</label>
        <locationX>3738</locationX>
        <locationY>1449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Serial</targetReference>
        </connector>
        <fields>
            <name>Display_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division: &lt;/b&gt;{!Current_Division.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order: &lt;/b&gt;{!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Item:&lt;/b&gt; {!WOCST.rstk__wocst_item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Serial: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Serial_Tracked}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Lot: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Lot_Tracked}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot_Num_Date_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lot Number&lt;/b&gt;: {!WOCST.rstk__wocst_lotno__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lot Expiration Date&lt;/b&gt;: {!WOCST.rstk__wocst_lotexpiredate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Receipt_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Default_Qty_To_Receive</elementReference>
            </defaultValue>
            <fieldText>Receipt Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Quantity to receive or process&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Qty_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a valid quantity to receive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Quantity_Entered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WOCST.rstk__wocst_lotno__c</elementReference>
            </defaultValue>
            <fieldText>Lot Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Lot number specified on WO&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Allow_Lot_to_be_Entered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HasLotOrSerialComponents</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Num_Date_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a valid Lot Number or Lot Expiration Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LotNumber_Not_Entered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Expiration_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>WOCST.rstk__wocst_lotexpiredate__c</elementReference>
            </defaultValue>
            <fieldText>Lot Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Expiration date of the lot entered&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Allow_Lot_to_be_Entered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HasLotOrSerialComponents</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Serial_Numbers</name>
            <choiceReferences>WO_Serials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Serial Number(s)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Serial number(s) for the item being processed&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Serials_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select serial numbers to receive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serials_Not_Selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WO_Receipt_Loc_Id</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>Default_Rcpt_Loc_Id_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Receipt Location Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocid_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOCST.rstk__wocst_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_Rcpt_Loc_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>(rstk__sylocid_loctype_pl__c = &apos;On Hand&apos; AND rstk__sylocid_site__c = &apos;{!WOCST.rstk__wocst_site__c}&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>clocid</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Rcpt_Loc_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WO_Receipt_Loc_Num_Enterable</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ICITEM_Default_Rcpt_Loc_Num</elementReference>
            </defaultValue>
            <fieldText>Enter a Receipt Location Number to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Num_Required_For_Site</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LocNum_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid location number to receive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Number_Not_Entered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WO_Receipt_Loc_Num</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocnum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Receipt Location Number(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocnum_locid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>clocnum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>clocid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_Rcpt_Loc_Num</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Rcpt_Loc_Num</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Num_Required_For_Site</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Location_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Location_Comments</elementReference>
            </defaultValue>
            <fieldText>Location Comments</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter comments for this location and is optional&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transaction_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Transaction_Comments</elementReference>
            </defaultValue>
            <fieldText>Transaction Comments</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter comments for this transaction and is optional&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_screen</name>
        <label>Warning screen</label>
        <locationX>5985</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_user_want_to_Continue</targetReference>
        </connector>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;There isn&apos;t sufficient quantity to backflush one or more components.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_message_CheckBox</name>
            <dataType>Boolean</dataType>
            <fieldText>If you wish to continue please check this box and click &apos;Next&apos; to perform receipt.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Selection</name>
        <label>Work Order Selection</label>
        <locationX>2265</locationX>
        <locationY>1320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <fields>
            <name>Display_Current_Division</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division:&lt;/b&gt; {!Current_Division.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Selection_Lkp</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select a Work Order to receive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Current_Division.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>(rstk__wocst_disassmind__c = FALSE AND rstk__wocst_numbops__c &gt; 0 AND rstk__wocst_ordsts__c IN (&apos;5&apos;,&apos;7&apos;))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_wo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WO_Operation_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;At least one work order operation must be found for this work order&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Last_Operation_Not_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmptyDisp</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1435</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Current_Division</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BackFlushComponents</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Default_Rcpt_Loc_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_Rcpt_Loc_Id_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_Rcpt_Loc_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasLotOrSerialComponents</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>insufficient_Qty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId of WOCST</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Rcpt_Loc_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Rcpt_Loc_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_To_LocNum_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SYDATA_RCPT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>Total_ICLOCITEM_qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>WOORDDMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
    <variables>
        <name>WOORDDMD_COMPITEMs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOORDDMD_ISSPROJs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOORDDMD_SITEs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
