force-app/main/default/flows/rootstock__LUI_DWO_Delete_Disassembly_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>deleteNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>deleteYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_ICDREQ_Exists_For_DWO_with_Received_Qty_greater_than_0</name>
        <label>Is ICDREQ Exists For DWO with Received Qty greater than 0?</label>
        <locationX>1411</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Delete_Work_Order_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICDREQ_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ICDREQ_With_Received_Qty_Greater_than_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>ICDREQ Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WO_Closed</name>
        <label>Is WO Closed?</label>
        <locationX>690</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Delete_Work_Order_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disassembly_Work_Order_Record.rstk__wocst_ordsts_pl__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9-Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ICDREQ_With_Received_Qty_Greater_than_0</targetReference>
            </connector>
            <label>Closed Work Order</label>
        </rules>
    </decisions>
    <formulas>
        <name>errorMessageFormula</name>
        <dataType>String</dataType>
        <expression>MID({!message}, (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION,&apos;, {!message}) + LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION,&apos;)), LEN({!message}))</expression>
    </formulas>
    <interviewLabel>Delete Disassembly Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Delete Disassembly Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Disassembly_Work_Order_Record</name>
        <label>Get Disassembly Work Order Record</label>
        <locationX>470</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_WO_Closed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_For_DB_Operation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ICDREQ_With_Received_Qty_Greater_than_0</name>
        <label>Get ICDREQ With Received Qty Greater than 0</label>
        <locationX>997</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ICDREQ_Exists_For_DWO_with_Received_Qty_greater_than_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_For_DB_Operation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icdreq_wocst__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__icdreq_qtydisgood__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icdreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1767</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDWODelete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Cannot delete work order since derived component(s) have already been received.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_For_DB_Operation</name>
        <label>Error Screen For DB Operation</label>
        <locationX>821</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageForDBOperation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Get_Disassembly_Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Delete_Work_Order_Subflow</name>
        <label>Delete Work Order Subflow</label>
        <locationX>1046</locationX>
        <locationY>739</locationY>
        <flowName>rootstock__Delete_Selected_Record</flowName>
        <inputAssignments>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>success</name>
            <value>
                <elementReference>success</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </variables>
    <variables>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>qtyAccepted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
