force-app/main/default/flows/rootstock__PO_Line_Shipping_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Additional_Values_to_Create_Line_Address</name>
        <label>Assign Additional Values to Create Line Address</label>
        <locationX>684</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_seqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seqNoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_PO_Line_Rev_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Values_to_Create_Line_Address_0</name>
        <label>Assign Additional Values to Create Line Address</label>
        <locationX>357</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_seqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seqNoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_PO_Line_Rev_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Line_Address_Values</name>
        <label>Assign PO Line Address Values</label>
        <locationX>499</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_stateprov__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_zippostalcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_isocountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_contactemail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>poLineAddressRec.rstk__polineaddr_website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>line_website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PO_Line_Address_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_PO_Line_Rev_0</name>
        <label>New PO Line Rev</label>
        <locationX>1167</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__triggeroptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;ST&quot;:&quot;1&quot;,&quot;HK&quot;:&quot;1&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__externalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision_0.rstk__polinerev_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision_0.rstk__polinerev_qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_puruom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision_0.rstk__polinerev_puruom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poumcf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision_0.rstk__polinerev_poumcf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_unitpricemcurr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_unitpricemcurr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_Line_Revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_PO_Line_Rev_0_0</name>
        <label>New PO Line Rev</label>
        <locationX>347</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__triggeroptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;ST&quot;:&quot;1&quot;,&quot;HK&quot;:&quot;1&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__externalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_puruom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_puruom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poumcf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_poumcf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_unitpricemcurr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_unitpricemcurr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_seqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_rev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_curintrev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_lne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_lne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_buyerrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_schedrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_shipviatype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_shipviatype__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_carrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_fob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_fob__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_frghtrm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_frghtrm__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO_Line_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_PO_Line_Rev_0_0_0</name>
        <label>New PO Line Rev</label>
        <locationX>939</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__triggeroptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;ST&quot;:&quot;1&quot;,&quot;HK&quot;:&quot;1&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__externalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_puruom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_puruom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_poumcf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Revision.rstk__polinerev_poumcf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_unitpricemcurr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_unitpricemcurr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_seqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaPolinenextseqNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_rev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_curintrev__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_lne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_lne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_buyerrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_schedrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_shipviatype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_shipviatype__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_carrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_fob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_fob__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.rstk__polinerev_frghtrm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_frghtrm__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_Line_Rev.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO_Line_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Condition to check if there is any PO Line Revision in Implemented status</description>
        <name>Is_Implemented_Revision</name>
        <label>Is Implemented Revision</label>
        <locationX>1014</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Create_PO_Line_Rev</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Line_Revision_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_PO_Line_Rev_0</targetReference>
            </connector>
            <label>Released</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Line_Address_Exist</name>
        <label>Is Line Address Exist?</label>
        <locationX>531</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Additional_Values_to_Create_Line_Address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PO Line Address</defaultConnectorLabel>
        <rules>
            <name>PO_Line_Address_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Line_Record.rstk__poline_polineaddr_st__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Values_to_Create_Line_Address</targetReference>
            </connector>
            <label>PO Line Address Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Status_of_the_PO_Line_is_greater_or_equal_to_7</name>
        <label>Is The Status of the PO Line is greater or equal to 7?</label>
        <locationX>719</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>PO_Line_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_7_8_or_9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Line_Record.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7-Line Item Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Line_Record.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8-All Line Items Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Line_Record.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9-Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Screen</targetReference>
            </connector>
            <label>Status is 7, 8 or 9</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>countryCodeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>rstk__polineaddr_isocountry__c</picklistField>
        <picklistObject>rstk__polineaddr__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>cityFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),
{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_city__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_city__c})</expression>
    </formulas>
    <formulas>
        <name>contactEmailFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_contactemail__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_contactemail__c})</expression>
    </formulas>
    <formulas>
        <name>countryFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_country__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_country__c})</expression>
    </formulas>
    <formulas>
        <name>faxFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_fax__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_fax__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_fax__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaNextPORevisionsNumber</name>
        <dataType>Number</dataType>
        <expression>{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_numbcurhdrrev__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaPolinenextseqNo</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Get_PO_Line_Revision.rstk__polinerev_seqno__c}+1, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>phoneFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_phone__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_phone__c})</expression>
    </formulas>
    <formulas>
        <name>seqNoFormula</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!Get_PO_Line_Address_Record.Id}), 0, {!Get_PO_Line_Address_Record.rstk__polineaddr_seqno__c} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>stateFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),
{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_stateprov__c},{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_stateprov__c})</expression>
    </formulas>
    <formulas>
        <name>streetFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_street__c},{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_street__c})</expression>
    </formulas>
    <formulas>
        <name>websiteFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_shiptoaddrseqno__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_website__c},{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_website__c})</expression>
    </formulas>
    <formulas>
        <name>zipcodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_PO_Line_Record.rstk__poline_polineaddr_st__c}),{!Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_zippostalcode__c},
{!Get_PO_Line_Record.rstk__poline_polineaddr_st__r.rstk__polineaddr_zippostalcode__c})</expression>
    </formulas>
    <interviewLabel>PO Line Shipping Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Line Shipping Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PO_Line_Record</name>
        <label>Create PO Line Record</label>
        <locationX>601</locationX>
        <locationY>898</locationY>
        <connector>
            <targetReference>Get_PO_Line_Revision_0</targetReference>
        </connector>
        <inputReference>poLineAddressRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_Line_Rev</name>
        <label>Create PO Line Rev</label>
        <locationX>787</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Update_Header_Revisions_count</targetReference>
        </connector>
        <inputReference>PO_Line_Rev</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PO_Line_Address_Record</name>
        <label>Get PO Line Address Record</label>
        <locationX>555</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Line_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__polineaddr_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polineaddr__c</object>
        <sortField>rstk__polineaddr_seqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Line_Record</name>
        <label>Get PO Line Record</label>
        <locationX>499</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_The_Status_of_the_PO_Line_is_greater_or_equal_to_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Line_Revision</name>
        <label>Get PO Line Revision</label>
        <locationX>814</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Line_Address_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__polinerev_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polinerev__c</object>
        <sortField>rstk__polinerev_seqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Line_Revision_0</name>
        <label>Get PO Line Revision-Implemented</label>
        <locationX>1103</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Implemented_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__polinerev_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__polinerev_sts__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polinerev__c</object>
        <sortField>rstk__polinerev_seqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>When a new revision is created on a PO LIne , &quot;Number of Header Revisions&quot; should be increased by 1 to let PO be ready to be submitted to Vendor.</description>
        <name>Update_Header_Revisions_count</name>
        <label>Update Header Revisions count</label>
        <locationX>657</locationX>
        <locationY>1039</locationY>
        <connector>
            <targetReference>Create_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rstk__pohdr_numbcurhdrrev__c</field>
            <value>
                <elementReference>FormulaNextPORevisionsNumber</elementReference>
            </value>
        </inputAssignments>
        <object>rstk__pohdr__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Line_Address_Record</name>
        <label>Update PO Line Address Record</label>
        <locationX>153</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>Update_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__polineaddr_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PO_Line_Record.rstk__poline_ordno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__polineaddr_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rstk__polineaddr_city__c</field>
            <value>
                <elementReference>line_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_contactemail__c</field>
            <value>
                <elementReference>Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_country__c</field>
            <value>
                <elementReference>line_country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_fax__c</field>
            <value>
                <elementReference>line_fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_isocountry__c</field>
            <value>
                <elementReference>line_country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_phone__c</field>
            <value>
                <elementReference>line_phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_seqno__c</field>
            <value>
                <elementReference>seqNoFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_stateprov__c</field>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_street__c</field>
            <value>
                <elementReference>line_street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_website__c</field>
            <value>
                <elementReference>line_website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rstk__polineaddr_zippostalcode__c</field>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>rstk__polineaddr__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Line_Revision</name>
        <label>Update PO Line Revision</label>
        <locationX>1323</locationX>
        <locationY>1026</locationY>
        <inputReference>PO_Line_Rev</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Success_Screen</name>
        <label>Create Success Screen</label>
        <locationX>564</locationX>
        <locationY>1112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>line_create_success</name>
            <fieldText>&lt;p&gt;PO Line Address created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Line_Info</name>
        <label>PO Line Info</label>
        <locationX>499</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_PO_Line_Address_Values</targetReference>
        </connector>
        <fields>
            <name>ord_no</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order No :&lt;/b&gt; {!orderNo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>line_no</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Line No :&lt;/b&gt; {!lineNo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>address_name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Address Name :&lt;/b&gt; {!addressName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>line_street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>line_city</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>city</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State_Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>state</elementReference>
            </defaultValue>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>zipcode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line_country</name>
            <choiceReferences>countryCodeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>countryFormula</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>line_phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>line_fax</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fax</elementReference>
            </defaultValue>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contactEmail</elementReference>
            </defaultValue>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The email ID entered is not of proper format.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>
REGEX({!Contact_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>line_website</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>website</elementReference>
            </defaultValue>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Error_Screen</name>
        <label>Update Error Screen</label>
        <locationX>932</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;PO Line Addresses cannot be modified for status &apos;7-Line&amp;nbsp;Item&amp;nbsp;Received&apos;, &apos;8-All Lines Items Received&apos;, or &apos;9-Closed&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Success_Screen</name>
        <label>Update Success Screen</label>
        <locationX>125</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>update_address_success</name>
            <fieldText>&lt;p&gt;PO Line Address updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_PO_Line_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WorkOrderSchedule</stringValue>
        </value>
    </variables>
    <variables>
        <name>addressName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_PO_Line_Record.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>cityFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>contactEmailFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>faxFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>isoCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.rstk__pohdr_pohdraddr_st__r.rstk__pohdraddr_isocountry__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>lineNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_PO_Line_Record.rstk__poline_lne__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_PO_Line_Record.rstk__poline_ordno__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>phoneFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>PO_Line_Rev</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__polinerev__c</objectType>
    </variables>
    <variables>
        <name>poLineAddressRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__polineaddr__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rstk__wocst__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>stateFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>streetFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>websiteFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>zipcodeFormula</elementReference>
        </value>
    </variables>
</Flow>
