force-app/main/default/flows/rootstock__Print_BOL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Print_Bill_Of_Lading</name>
        <label>Print Bill Of Lading</label>
        <locationX>1180</locationX>
        <locationY>804</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign Email Template URL</label>
        <locationX>1009</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__sobolprint?Id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;template=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SO_Control.rstk__socntl_soboltemplate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOL_Print_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Template</name>
        <label>Assign Default Template</label>
        <locationX>1311</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SO_Control.rstk__socntl_soboltemplate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RootFormId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SO_Control.rstk__socntl_soboltemplate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DrawLoop_URL</name>
        <label>Assign DrawLoop URL</label>
        <locationX>837</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDDP?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;type=bol</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOL_Print_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_Email_Template_URL</name>
        <label>Assign Override Email Template URL</label>
        <locationX>1519</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__sobolprint?Id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;template=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOL_Print_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_RootForm_URL</name>
        <label>Assign Override RootForm URL</label>
        <locationX>1336</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;template=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOL_Print_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RootForm_URL</name>
        <label>Assign RootForm URL</label>
        <locationX>1181</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;template=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SO_Control.rstk__socntl_soboltemplate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BOL_Print_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Override_Template</name>
        <label>Override Template</label>
        <locationX>1108</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Override</defaultConnectorLabel>
        <rules>
            <name>Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SO_Control.rstk__socntl_boltemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyConfig.rstk__syconfig_drawloop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Template</targetReference>
            </connector>
            <label>Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Type</name>
        <label>Template Type</label>
        <locationX>1512</locationX>
        <locationY>106</locationY>
        <defaultConnector>
            <targetReference>Email_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Template</defaultConnectorLabel>
        <rules>
            <name>RootForms</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Root_Forms</targetReference>
            </connector>
            <label>RootForms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>1100</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Email Template</defaultConnectorLabel>
        <rules>
            <name>Is_RootForm</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault.rstk__sydefault_formovr_bol__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RootForm_URL</targetReference>
            </connector>
            <label>Is RootForm</label>
        </rules>
        <rules>
            <name>Is_DrawLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig.rstk__syconfig_drawloop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DrawLoop_URL</targetReference>
            </connector>
            <label>Is DrawLoop</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Print BOL {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Print BOL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bill_Of_Lading_Record</name>
        <label>Get Bill Of Lading Record</label>
        <locationX>509</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sobol__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Control</name>
        <label>Get SO Control</label>
        <locationX>979</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Override_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill_Of_Lading_Record.rstk__sobol_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyConfig</name>
        <label>Get SyConfig</label>
        <locationX>667</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyDefault</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syconfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyDefault</name>
        <label>Get SyDefault</label>
        <locationX>822</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SO_Control</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydefault__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BOL_Print_Date</name>
        <label>Update BOL Print Date</label>
        <locationX>1185</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>Print_Bill_Of_Lading</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rstk__sobol_prtdate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>rstk__sobol__c</object>
    </recordUpdates>
    <screens>
        <name>Email_Templates</name>
        <label>Email Templates</label>
        <locationX>1521</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Override_Email_Template_URL</targetReference>
        </connector>
        <fields>
            <name>EmailTemplate</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EmailTemplate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Form Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Folder.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Bill of Lading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>isActive = true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>EmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailTemplateId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmailTemplateLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Root_Forms</name>
        <label>Root Forms</label>
        <locationX>1336</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Override_RootForm_URL</targetReference>
        </connector>
        <fields>
            <name>RootForm</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>DOX__Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Bill of Lading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>DOX__Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Form Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>RootFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RootFormId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RootFormLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>68</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_Bill_Of_Lading_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPackingSlip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sopack__c</objectType>
    </variables>
    <variables>
        <name>recordShipperHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__soship__c</objectType>
    </variables>
    <variables>
        <name>recordSOControl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__socntl__c</objectType>
    </variables>
    <variables>
        <name>recordSyConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__syconfig__c</objectType>
    </variables>
    <variables>
        <name>recordSyDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydefault__c</objectType>
    </variables>
    <variables>
        <name>RootFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
