force-app/main/default/flows/rootstock__LUI_Clone_Routing_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Eng_Revision_Active</name>
        <label>Eng Revision Active Assignment</label>
        <locationX>418</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>engRivActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Master.rstk__rtrouthdr_div__r.rstk__sydiv_revcntlact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_Master_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Routing_Operation</name>
        <label>Routing Operation</label>
        <locationX>2078</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_hdrid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtrouthdr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtrouthdr.rstk__rtrouthdr_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_oper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_oper__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_procno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_procno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_allowscrapind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_allowscrapind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_isscomptocompl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_isscomptocompl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_labbackflush__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_labbackflush__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_labonlyind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_labonlyind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_multmachind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_multmachind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_subflag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_subflag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.SystemModstamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.SystemModstamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_runtype_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_runtype_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_runhr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_runhr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_runhrsim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_runhrsim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_runhrsimind_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_runhrsimind_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_runlabgrd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_runlabgrd__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_descr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_descr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_addrev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddRevisionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_allowaccind_ui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_allowaccind_ui__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_wctr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_wctr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_labmachschtype_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_labmachschtype_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_setuplabgrd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_setuplabgrd__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_setuptype_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_setuptype_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_setuphrsim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_setuphrsim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_setuphr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_setuphr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_allowaccind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_allowaccind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtrouthdr.rstk__rtrouthdr_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_type_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_type_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_concurseqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_concurseqno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_altcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_altcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_machhr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_machhr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_machhrsim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_machhrsim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_machno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_machno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_machtype_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_machtype_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_machhrsimind_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_machhrsimind_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_scrapfactor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_scrapfactor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_subltdays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_subltdays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_movcompind_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_movcompind_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_setuphrsimind_pl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_setuphrsimind_pl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_labbfclock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_labbfclock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_insptempl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_insptempl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_movehr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_movehr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>routingmasterOperation.rstk__rtroutoper_stddivideby__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Operation_0.rstk__rtroutoper_stddivideby__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_Operation_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Responsible_Engineer_Indicator_Check_False</name>
        <label>Responsible Engineer Indicator False</label>
        <locationX>1167</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>responsibleEngineerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engineering_Item_Master.rstk__peitem_respeng__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responsible_Planner_Indicator_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Responsible_Engineer_Indicator_True</name>
        <label>Responsible Engineer Indicator True</label>
        <locationX>1154</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>responsibleEngineerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engineering_Item_Master.rstk__peitem_iccomcod__r.rstk__iccomcod_respeng__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responsible_Planner_Indicator_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Responsible_Planner_Indicator_False</name>
        <label>Responsible Planner Indicator False</label>
        <locationX>1520</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>responsiblePlannerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Item_Master.rstk__icitem_respinv__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responsible_Engineer_and_Planner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Responsible_Planner_Indicator_True</name>
        <label>Responsible Planner Indicator_Ture</label>
        <locationX>1507</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>responsiblePlannerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Item_Master.rstk__icitem_iccomcod__r.rstk__iccomcod_respinv__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responsible_Engineer_and_Planner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Master_Assignment_0</name>
        <label>Routing Master</label>
        <locationX>1833</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>rtrouthdr.rstk__rtrouthdr_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Master.rstk__rtrouthdr_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rtrouthdr.rstk__rtrouthdr_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_Master.rstk__rtrouthdr_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rtrouthdr.rstk__rtrouthdr_item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_Item_Master.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rtrouthdr.rstk__rtrouthdr_respeng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responsibleEngineerOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rtrouthdr.rstk__rtrouthdr_respplanner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responsiblePlannerOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Routing_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routing_Operation_Collection_Variable</name>
        <label>Routing Operation Collection Variable</label>
        <locationX>1935</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>routingOperations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>routingmasterOperation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_Operation_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SourceAddRevisionNoneValue</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Responsible_Engineer_Indicator</name>
        <label>Responsible Engineer Indicator Check</label>
        <locationX>1010</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Engineer_Indicator_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engineering_Item_Master.rstk__peitem_respengind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Responsible_Engineer_Indicator_True</targetReference>
            </connector>
            <label>Responsible Engineer Indicator True</label>
        </rules>
        <rules>
            <name>Responsible_Engineer_Indicator_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engineering_Item_Master.rstk__peitem_respengind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Responsible_Engineer_Indicator_Check_False</targetReference>
            </connector>
            <label>Responsible Engineer Indicator False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Responsible_Planner_Indicator_Check</name>
        <label>Responsible Planner Indicator Check</label>
        <locationX>1310</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Responsible_Planner_Indicator_Check_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Item_Master.rstk__icitem_respinvind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Responsible_Planner_Indicator_True</targetReference>
            </connector>
            <label>Responsible Planner Indicator True</label>
        </rules>
        <rules>
            <name>Responsible_Planner_Indicator_False1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_Item_Master.rstk__icitem_respinvind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Responsible_Planner_Indicator_False</targetReference>
            </connector>
            <label>Responsible Planner Indicator False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Source_Add_Revision_Picklist_Values</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__peitemrev_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_Item_Master.rstk__icitem_item__c</elementReference>
            </value>
        </filters>
        <object>rstk__peitemrev__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowErrorMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Clone Routing Master {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Clone Routing Master</label>
    <loops>
        <name>Routing_Operation_0</name>
        <label>Routing Operation</label>
        <locationX>2074</locationX>
        <locationY>460</locationY>
        <collectionReference>Routing_Operation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Routing_Operation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Routing_Master_Operation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Routing_Master</name>
        <label>Routing Master</label>
        <locationX>1950</locationX>
        <locationY>280</locationY>
        <connector>
            <targetReference>Routing_Operation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Routing_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>rtrouthdr</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Routing_Master_Operation</name>
        <label>Create Routing Operation</label>
        <locationX>1646</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Routing_Master_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>routingOperations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Engineering_Item_Master</name>
        <label>Get Engineering Item Master</label>
        <locationX>883</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Responsible_Engineer_Indicator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Item_Master_Based_on_User_Selection.rstk__icitem_item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__peitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Item_Master</name>
        <label>Get Inventory Item Master</label>
        <locationX>769</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engineering_Item_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__icitem_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inventory_Item_Master_Based_on_User_Selection.rstk__icitem_item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Item_Master_Based_on_User_Selection</name>
        <label>Get Inventory Item Master Based on User Selection</label>
        <locationX>648</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory_Item_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>itemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inventory_Item_Master</name>
        <label>Get Inventory Item Master</label>
        <locationX>295</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eng_Revision_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routing_Master.rstk__rtrouthdr_item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Routing_Master</name>
        <label>Get Routing Master</label>
        <locationX>169</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Item_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__rtrouthdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Routing_Master_Name</name>
        <label>Get Routing Master Name</label>
        <locationX>1528</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtrouthdr.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__rtrouthdr__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Routing_Operation</name>
        <label>Routing Operation</label>
        <locationX>2074</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Routing_Operation_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4 ) OR 5)</filterLogic>
        <filters>
            <field>rstk__rtroutoper_hdrid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routing_Master.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_adddate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_delsts_pl__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Implemented</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_delsts_pl__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_deldate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__rtroutoper__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1642</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;{!FlowErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Responsible_Engineer_and_Planner</name>
        <label>Responsible Engineer and Planner</label>
        <locationX>1722</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Routing_Master_Assignment_0</targetReference>
        </connector>
        <fields>
            <name>target_add_revision</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>target_add_revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Target Add Revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__peitemrev__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Add Revision </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__peitemrev_item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Engineering_Item_Master.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AddRevisionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddRevisionId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>engRivActive</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Responsible_Planner_None_Value1</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>Responsible Planner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__syusr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Responsible Planner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>responsiblePlannerOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>responsiblePlannerOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Responsible Planner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>responsiblePlannerOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Responsible_Engineer_None_Value1</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>Responsible Engineer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__syusr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Responsible Engineer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>responsibleEngineerOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>responsibleEngineerOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Responsible Engineer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>responsibleEngineerOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Routing_Error_Screen</name>
        <label>Routing Error Screen</label>
        <locationX>1960</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;{!FlowErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Routing_Master_0</name>
        <label>Routing Master Screen</label>
        <locationX>528</locationX>
        <locationY>179</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Inventory_Item_Master_Based_on_User_Selection</targetReference>
        </connector>
        <fields>
            <name>Division</name>
            <fieldText>&lt;p&gt;Division : {!Routing_Master.rstk__rtrouthdr_div__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site</name>
            <fieldText>&lt;p&gt;Site : {!Routing_Master.rstk__rtrouthdr_site__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>target_item_number</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>target_item_number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__icitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Item Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>itemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__icitem_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Routing_Master.rstk__rtrouthdr_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id NOT IN (select rstk__rtrouthdr_item__c from rstk__rtrouthdr__c where rstk__rtrouthdr_site__c = &apos;{!Routing_Master.rstk__rtrouthdr_site__r.Id}&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Target Item Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>itemId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Source_Add_Revision1</name>
            <choiceReferences>Source_Add_Revision_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Add Revision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>engRivActive</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>1383</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RoutingMasterDisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Routing Master has been cloned successfully. Click on the below link to navigate to newly cloned Routing Master.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/rstk__rtrouthdr__c/{!Routing_Master_Name.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Routing_Master_Name.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Routing_Master</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddRevisionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>engRivActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responsibleEngineerOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responsiblePlannerOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routingmasterOperation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>routingNewMasterOperation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>routingOperations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>rtrouthdr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtrouthdr__c</objectType>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
