force-app/main/default/flows/rootstock__RS_SO_Line_Ship_by_Lot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Sydata</name>
        <label>Sydata</label>
        <locationX>573</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>SYDATARecord.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Order Pick-Pack-Ship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATARecord.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecord.rstk__iclocitem_locqty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATARecord.rstk__sydata_soline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATARecord.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecord.rstk__iclocitem_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATARecord.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecord.rstk__iclocitem_locsec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CumulativeAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRecord.rstk__iclocitem_locqty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LotCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRecord.rstk__iclocitem_locsec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LotCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;, &quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SYDATA_Collect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SYDATA_Collect</name>
        <label>SYDATA Collect</label>
        <locationX>571</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>SYDATACollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SYDATARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Locations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue2</name>
        <label>Continue</label>
        <locationX>407</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYDATACreate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>RS - SO Line Ship by Lot {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>RS - SO Line Ship by Lot</label>
    <loops>
        <name>Inventory_Locations</name>
        <label>Inventory Locations</label>
        <locationX>414</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>LoopRecord</assignNextValueToReference>
        <collectionReference>Inventory_by_Location_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sydata</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SYDATACreate</name>
        <label>SYDATACreate</label>
        <locationX>575</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <inputReference>SYDATACollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Inventory_by_Location_Details</name>
        <label>Inventory by Location Details</label>
        <locationX>275</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SO_Line_Details.rstk__soline_shipdiv__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locsec__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Lot_String</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__iclocitem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__iclocitem_locsec__c</queriedFields>
        <queriedFields>rstk__iclocitem_locid__c</queriedFields>
        <queriedFields>rstk__iclocitem_locnum__c</queriedFields>
        <queriedFields>rstk__iclocitem_locqty__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inventory_Item_Details</name>
        <label>Inventory Item Details</label>
        <locationX>164</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SO_Line_Details.rstk__soline_icitem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SO_Line_Details</name>
        <label>SO Line Details</label>
        <locationX>37</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Item_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__soline_icitem__c</queriedFields>
        <queriedFields>rstk__soline_sohdr__c</queriedFields>
        <queriedFields>rstk__soline_avtopick__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rstk__soline_shipdiv__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_2</name>
        <label>Confirmation</label>
        <locationX>161</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inventory_by_Location_Details</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You have selected &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!SO_Line_Details.Name}&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;  with inventory item &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!Inventory_Item_Details.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Enter the beginning string for lot selection below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot_String</name>
            <dataType>String</dataType>
            <fieldText>Lot String</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>196</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>415</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue2</targetReference>
        </connector>
        <fields>
            <name>FinalConfirmation</name>
            <fieldText>&lt;p&gt;SO LINE: {!SO_Line_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ITEM: {!Inventory_Item_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Qty: {!CumulativeAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Continue?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lots</name>
            <fieldText>&lt;p&gt;{!LotCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>SO_Line_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CumulativeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__iclocitem__c</objectType>
    </variables>
    <variables>
        <name>LotCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>SYDATARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
