force-app/main/default/flows/rootstock__WO_Component_Swap_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Swap_From_PO_Demand</name>
        <label>Swap From PO Demand</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <actionName>rootstock__WorkOrderComponentActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PO_Demand_Swap_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Swap Allocation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woorddmdId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandId</name>
            <value>
                <elementReference>Selected_PO_Demands_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandType</name>
            <value>
                <stringValue>podmd__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderComponentActions</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Swap_From_SO_Demand</name>
        <label>Swap From SO Demand</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <actionName>rootstock__WorkOrderComponentActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SO_Demand_Swap_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Swap Allocation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woorddmdId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandId</name>
            <value>
                <elementReference>Selected_SO_Demands_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandType</name>
            <value>
                <stringValue>soorddmd__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderComponentActions</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Swap_From_WO_Demand</name>
        <label>Swap From WO Demand</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <actionName>rootstock__WorkOrderComponentActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WO_Demand_Swap_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Swap Allocation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woorddmdId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandId</name>
            <value>
                <elementReference>Selected_WO_Demands_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>demandType</name>
            <value>
                <stringValue>woorddmd__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderComponentActions</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>PO_Demand_Choice</name>
        <choiceText>PO Demand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Demand</stringValue>
        </value>
    </choices>
    <choices>
        <name>SO_Demand_Choice</name>
        <choiceText>SO Demand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SO Demand</stringValue>
        </value>
    </choices>
    <choices>
        <name>WO_Demand_Choice</name>
        <choiceText>WO Demand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WO Demand</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_PO_Demand_In_Loop</name>
        <label>Check PO Demand In Loop</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Selected_PO_Demands_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Demand_In_Loop_Is_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_PO_Demands_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Swap_From_PO_Demand</targetReference>
            </connector>
            <label>PO Demand In Loop Is NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Damands</name>
        <label>Check Selected Damands</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_From_WO_Demands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Swap_Allocation_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WO_Demand_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_WO_Demands_Loop</targetReference>
            </connector>
            <label>Selected From WO Demands</label>
        </rules>
        <rules>
            <name>Selected_From_PO_Demands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Swap_Allocation_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PO_Demand_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_PO_Demands_Loop</targetReference>
            </connector>
            <label>Selected From PO Demands</label>
        </rules>
        <rules>
            <name>Selected_From_SO_Demands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Swap_Allocation_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SO_Demand_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_SO_Demands_Loop</targetReference>
            </connector>
            <label>Selected From SO Demands</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Demand_In_Loop</name>
        <label>Check SO Demand In Loop</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Selected_SO_Demands_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Demand_In_Loop_Is_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_SO_Demands_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Swap_From_SO_Demand</targetReference>
            </connector>
            <label>SO Demand In Loop Is NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Demand_In_Loop</name>
        <label>Check WO Demand In Loop</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Selected_WO_Demands_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Demand_In_Loop_Is_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_WO_Demands_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Swap_From_WO_Demand</targetReference>
            </connector>
            <label>WO Demand In Loop Is NotNull</label>
        </rules>
    </decisions>
    <interviewLabel>WO Component Swap Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Component Swap Allocation</label>
    <loops>
        <name>Selected_PO_Demands_Loop</name>
        <label>Selected PO Demands Loop</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <collectionReference>Selected_PO_Demands</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_PO_Demand_In_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Selected_SO_Demands_Loop</name>
        <label>Selected SO Demands Loop</label>
        <locationX>1282</locationX>
        <locationY>878</locationY>
        <collectionReference>Selected_SO_Demands</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SO_Demand_In_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Selected_WO_Demands_Loop</name>
        <label>Selected WO Demands Loop</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Selected_WO_Demands</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_WO_Demand_In_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PO_Demands</name>
        <label>Get PO Demands</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SO_Demands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__podmd_compitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__podmd_qtyalloc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>rstk__podmd__c</object>
        <outputReference>PO_Demands</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rootstock__podmd_po_ordno__c</queriedFields>
        <queriedFields>rstk__podmd_lne__c</queriedFields>
        <queriedFields>rstk__podmd_dtereqd__c</queriedFields>
        <queriedFields>rstk__podmd_qtyreq__c</queriedFields>
        <queriedFields>rstk__podmd_qtyiss__c</queriedFields>
        <queriedFields>rstk__podmd_qtyalloc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Demands</name>
        <label>Get SO Demands</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Demands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__soorddmd_compicitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__soorddmd_qtyalloc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>rstk__soorddmd__c</object>
        <outputReference>SO_Demands</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__soorddmd_lne__c</queriedFields>
        <queriedFields>rstk__soorddmd_dtereqd__c</queriedFields>
        <queriedFields>rstk__soorddmd_qtyreq__c</queriedFields>
        <queriedFields>rstk__soorddmd_qtyiss__c</queriedFields>
        <queriedFields>rstk__soorddmd_qtyalloc__c</queriedFields>
        <queriedFields>rootstock__soorddmd_so_order_no__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Demands</name>
        <label>Get WO Demands</label>
        <locationX>798</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Demands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_compitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_qtyalloc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>rstk__woorddmd__c</object>
        <outputReference>WO_Demands</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rootstock__woorddmd_wo_order_no__c</queriedFields>
        <queriedFields>rstk__woorddmd_lne__c</queriedFields>
        <queriedFields>rstk__woorddmd_dtereqd__c</queriedFields>
        <queriedFields>rstk__woorddmd_qtyreq__c</queriedFields>
        <queriedFields>rstk__woorddmd_qtyiss__c</queriedFields>
        <queriedFields>rstk__woorddmd_qtyalloc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WOORDDMD</name>
        <label>WOORDDMD</label>
        <locationX>798</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO_Demands</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PO_Demand_Swap_Result</name>
        <label>PO Demand Swap Result</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_PO_Demands_Loop</targetReference>
        </connector>
        <fields>
            <name>PO_Demand_Allocation_Swap_Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Allocation swap complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PO_Demand_Allocation_Swap_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: {!message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Demands</name>
        <label>Show Demands</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Damands</targetReference>
        </connector>
        <fields>
            <name>Comp_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Component&lt;/b&gt;: {!WOORDDMD.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Allocated&lt;/b&gt;: {!WOORDDMD.rstk__woorddmd_qtyalloc__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Swap_Allocation_From</name>
            <choiceReferences>WO_Demand_Choice</choiceReferences>
            <choiceReferences>PO_Demand_Choice</choiceReferences>
            <choiceReferences>SO_Demand_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Swap Allocation from demand types</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT_WO_Demands</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__woorddmd__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>WO_Demands</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>rootstock__woorddmd_wo_order_no__c,rstk__woorddmd_lne__c,rstk__woorddmd_dtereqd__c,rstk__woorddmd_qtyreq__c,rstk__woorddmd_qtyiss__c,rstk__woorddmd_qtyalloc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:150,2:100,3:120,4:100,5:120,6:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Order Number,2:Line</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_WO_Demands</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_WO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>WO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_WO_Demands_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;No WO demands available for swapping allocation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>WO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_WO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_PO_Demands</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__podmd__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PO_Demands</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>rootstock__podmd_po_ordno__c,rstk__podmd_lne__c,rstk__podmd_dtereqd__c,rstk__podmd_qtyreq__c, rstk__podmd_qtyiss__c, rstk__podmd_qtyalloc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:150,2:100,3:120,4:100,5:120,6:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Order Number,2:Line</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_PO_Demands</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_PO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_PO_Demands_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;No PO demands available for swapping allocation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_PO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_SO_Demands</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__soorddmd__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SO_Demands</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>rootstock__soorddmd_so_order_no__c,rstk__soorddmd_lne__c,rstk__soorddmd_dtereqd__c,rstk__soorddmd_qtyreq__c,rstk__soorddmd_qtyiss__c,rstk__soorddmd_qtyalloc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:150,2:100,3:120,4:100,5:120,6:120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Order Number,2:Line</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_SO_Demands</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_SO_Demands_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;No SO demands available for swapping allocation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Swap_Allocation_From</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SO_Demand_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_SO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_Demands_Available</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No demands available for swapping allocation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_PO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_SO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_WO_Demands</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SO_Demand_Swap_Result</name>
        <label>SO Demand Swap Result</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_SO_Demands_Loop</targetReference>
        </connector>
        <fields>
            <name>SO_Demand_Allocation_Swap_Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Allocation swap complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SO_Demand_Allocation_Swap_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: {!message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Demand_Swap_Result</name>
        <label>WO Demand Swap Result</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_WO_Demands_Loop</targetReference>
        </connector>
        <fields>
            <name>WO_Demand_Allocation_Swap_Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 255);&quot;&gt;Allocation swap complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WO_Demand_Allocation_Swap_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: {!message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WOORDDMD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__podmd__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_PO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__podmd__c</objectType>
    </variables>
    <variables>
        <name>Selected_SO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__soorddmd__c</objectType>
    </variables>
    <variables>
        <name>Selected_WO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
    <variables>
        <name>SO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__soorddmd__c</objectType>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WO_Demands</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
</Flow>
