force-app/main/default/flows/rootstock__Order_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Review_Action</name>
        <label>Order Review Action</label>
        <locationX>1245</locationX>
        <locationY>826</locationY>
        <actionName>rootstock__SalesOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Print_Packing_Slip</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SalesOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Print_Packing_Slip</name>
        <label>Print Packing Slip</label>
        <locationX>1248</locationX>
        <locationY>1069</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <outputParameters>
            <assignToReference>returnUrl</assignToReference>
            <name>url</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign Email Template URL</label>
        <locationX>1054</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__SOAckPrint?id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Print_Packing_Slip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Template_From_Assgin_0</name>
        <label>Assign Default Template From Assgin</label>
        <locationX>897</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Override_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Template_From_SO_Control</name>
        <label>Assign Default Template From SO Control</label>
        <locationX>691</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SO_Control_Record.rstk__socntl_soackemailtmpl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RootFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SO_Control_Record.rstk__socntl_soackemailtmpl__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Template_From_SO_Header</name>
        <label>Assign Default Template From SO Header</label>
        <locationX>673</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order_Header_Record.rstk__sohdr_emailtack__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RootFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order_Header_Record.rstk__sohdr_emailtack__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_Email_Template_URL</name>
        <label>Assign Override Email Template URL</label>
        <locationX>1508</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__SOAckPrint?id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Print_Packing_Slip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_RootForm_URL</name>
        <label>Assign Override RootForm URL</label>
        <locationX>1344</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Review_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RootForm_URL</name>
        <label>Assign RootForm URL</label>
        <locationX>1229</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Review_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_email_template_is_active</name>
        <label>Check if email template is active</label>
        <locationX>889</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Template_From_Assgin_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>2 AND 1</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template_Info.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Template_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Override_Template</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Form_Template_Acknowledge_Exist</name>
        <label>Is Form Template Acknowledge Exist?</label>
        <locationX>528</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Template_From_SO_Control</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Form Template Ack</defaultConnectorLabel>
        <rules>
            <name>Form_Template_Acknowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Order_Header_Record.rstk__sohdr_emailtack__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Template_From_SO_Header</targetReference>
            </connector>
            <label>Form Template Acknowledge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Template</name>
        <label>Override Template</label>
        <locationX>1198</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Override</defaultConnectorLabel>
        <rules>
            <name>Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SO_Control_Record.rstk__socntl_acktemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Type</targetReference>
            </connector>
            <label>Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Type</name>
        <label>Template Type</label>
        <locationX>1407</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Email_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Template</defaultConnectorLabel>
        <rules>
            <name>RootForms</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Root_Forms</targetReference>
            </connector>
            <label>RootForms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>1234</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Email Template</defaultConnectorLabel>
        <rules>
            <name>Is_RootForm</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_ack__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RootForm_URL</targetReference>
            </connector>
            <label>Is RootForm</label>
        </rules>
        <rules>
            <name>Is_DrawLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordSyConfig.rstk__syconfig_drawloop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is DrawLoop</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Order Review {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Order Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_Template_Info</name>
        <label>Get Email Template Info</label>
        <locationX>815</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_email_template_is_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Header_Record</name>
        <label>Get Sales Order Header Record</label>
        <locationX>443</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyConfig_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Control_Record</name>
        <label>Get SO Control Record</label>
        <locationX>597</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Form_Template_Acknowledge_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Header_Record.rstk__sohdr_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyConfig_Record</name>
        <label>Get SyConfig Record</label>
        <locationX>443</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyDefault_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syconfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyDefault_Record</name>
        <label>Get SyDefault Record</label>
        <locationX>443</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SO_Control_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydefault__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_Templates</name>
        <label>Email Templates</label>
        <locationX>1688</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Override_Email_Template_URL</targetReference>
        </connector>
        <fields>
            <name>EmailTemplate</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EmailTemplate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Form Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Folder.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>SOAckTemplates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>EmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>isActive = true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailTemplateId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Root_Forms</name>
        <label>Root Forms</label>
        <locationX>1469</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Override_RootForm_URL</targetReference>
        </connector>
        <fields>
            <name>RootForm</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>DOX__Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Sales Order Acknowledgement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>DOX__Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Form Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>RootFormId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RootFormId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RootFormLine2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>317</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Header_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPackingSlip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sopack__c</objectType>
    </variables>
    <variables>
        <name>recordShipperHeader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__soship__c</objectType>
    </variables>
    <variables>
        <name>recordSOControl</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__socntl__c</objectType>
    </variables>
    <variables>
        <name>recordSyConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__syconfig__c</objectType>
    </variables>
    <variables>
        <name>recordSyDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydefault__c</objectType>
    </variables>
    <variables>
        <name>returnUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RootFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
