force-app/main/default/flows/rootstock__Split_Shipper_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_Shipper_Detail</name>
        <label>Split Shipper Detail</label>
        <locationX>893</locationX>
        <locationY>379</locationY>
        <actionName>rootstock__SalesOrderShippingContainerDetailCon</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>containerQty</name>
            <value>
                <elementReference>Qty_in_this_Container</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>qtyAvail</name>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_qty__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedContainer</name>
            <value>
                <elementReference>selectedContainerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__SalesOrderShippingContainerDetailCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Container_ID</name>
        <label>Assign Container ID</label>
        <locationX>666</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>selectedContainerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Container_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultChoice</name>
        <choiceText>{!Get_Container_Detail_Record.rstk__socontainel_socontainer__r.Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_Container_ID_Changed</name>
        <label>Is Container ID Changed?</label>
        <locationX>584</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Container_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Container_ID_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Container_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Container_ID</targetReference>
            </connector>
            <label>Container ID Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipper_Demand_Exists</name>
        <label>Is Shipper Demand Exists?</label>
        <locationX>172</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Shipper_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Shipper Demand</defaultConnectorLabel>
        <rules>
            <name>Shipper_Demand_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Container_Detail_Record.rstk__socontainel_soshipdmd__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipper_Demand_Record</targetReference>
            </connector>
            <label>Shipper Demand Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>containerChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_socontainer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__socontainer_shipper__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_soshipline__r.rstk__soshipline_shipper__c</elementReference>
            </value>
        </filters>
        <object>rstk__socontainer__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Split Shipper Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Split Shipper Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Container_Detail_Record</name>
        <label>Get Container Detail Record</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Shipper_Demand_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socontainel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Container_Record</name>
        <label>Get Selected Container Record</label>
        <locationX>745</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Split_Shipper_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContainerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socontainer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipper_Demand_Record</name>
        <label>Get Shipper Demand Record</label>
        <locationX>178</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipper_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_soshipdmd__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soshipdmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Shipper_Details</name>
        <label>Shipper Details</label>
        <locationX>436</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Container_ID_Changed</targetReference>
        </connector>
        <fields>
            <name>Container_ID</name>
            <choiceReferences>defaultChoice</choiceReferences>
            <choiceReferences>containerChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Container ID</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Line : &lt;/b&gt;{!Get_Container_Detail_Record.rstk__socontainel_soshipline__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qtyAvail</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Qty Avail : &lt;/b&gt;{!Get_Container_Detail_Record.rstk__socontainel_qty__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Qty_in_this_Container</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Container_Detail_Record.rstk__socontainel_qty__c</elementReference>
            </defaultValue>
            <fieldText>Qty in this Container</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Container_Detail_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContainerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Container_Detail_Record.rstk__socontainel_socontainer__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
