force-app/main/default/flows/rootstock__Batch_Assign_Release.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Batch_Assign_Release_Action</name>
        <label>Execute Batch Assign/Release Action</label>
        <locationX>913</locationX>
        <locationY>856</locationY>
        <actionName>rootstock__WorkOrderOperationsCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignTo</name>
            <value>
                <elementReference>UserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>changeAssignTo</name>
            <value>
                <elementReference>Change_Assign_To</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>changeRelease</name>
            <value>
                <elementReference>Change_Release</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isReleased</name>
            <value>
                <elementReference>ReleaseFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedWorkOrderOperationIds</name>
            <value>
                <elementReference>selectedWorkOrderOperationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>sObjectName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__WorkOrderOperationsCon</nameSegment>
        <outputParameters>
            <assignToReference>message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Selected_Work_Order_Operation_Id</name>
        <label>Add Selected Work Order Operation Id</label>
        <locationX>178</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopId};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Valid_Operation_Id</name>
        <label>Add Valid Operation Id</label>
        <locationX>1208</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>selectedWorkOrderOperationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!validOperationId};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validWorkOperation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>woOperationRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validWorkOperation</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Operation_Actuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Valid_Status_Record</name>
        <label>Add Valid Status Record</label>
        <locationX>625</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>validWorkOrderStatusIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Work_Order_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Records</name>
        <label>Selected Records</label>
        <locationX>50</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>workOrderOperationIsLessThan</name>
        <label>workOrderOperationIsLessThan</label>
        <locationX>1440</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>workOperationIsLessThan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>woOperationRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOperationIsLessThan</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Operation_Actuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>workOrderOperationQuantityGreaterThanZero</name>
        <label>workOrderOperationQuantityGreaterThanZero</label>
        <locationX>1563</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderOperationGreaterThanZero</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>woOperationRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderOperationGreaterThanZero</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Operation_Actuals</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AssignToChoice</name>
        <choiceText>{!changeAssignToChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Assign To</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>{!NoneOption}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReleaseChoice</name>
        <choiceText>{!changeReleaseChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Release</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Get_Selected_WO_Operation_Schedule_Record</name>
        <label>Get Selected WO Operation Schedule Record</label>
        <locationX>154</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Execute_Selected_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Records</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Selected</name>
        <label>Is Record Selected</label>
        <locationX>352</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Empty</defaultConnectorLabel>
        <rules>
            <name>Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Work_Order_Status</targetReference>
            </connector>
            <label>Record Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Operation_Actual</name>
        <label>Is Valid Operation Actual?</label>
        <locationX>1773</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Is_Valid_Work_Operation_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Operation Actual</defaultConnectorLabel>
        <rules>
            <name>InValid_Operation_Actual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Release</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReleaseFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trueFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>woOperationRecords.rstk__woordop_released__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>woOperationActual.rstk__woordopact_qtyavail__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workOrderOperationQuantityGreaterThanZero</targetReference>
            </connector>
            <label>InValid Operation Actual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Work_Operation_Decision</name>
        <label>Is Valid Work Operation Decision</label>
        <locationX>1773</locationX>
        <locationY>883</locationY>
        <defaultConnector>
            <targetReference>workOrderOperationIsLessThan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid Less Than</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_greater_than_or_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woOperationActual.rstk__woordopact_qtycomp__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Work_Order.rstk__wocst_qtyreq__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Valid_Operation_Id</targetReference>
            </connector>
            <label>Is Valid greater than or equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Order_Status_Valid</name>
        <label>Is Work Order Status Valid?</label>
        <locationX>620</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Validate_Work_Order_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid WO Status</defaultConnectorLabel>
        <rules>
            <name>Valid_WO_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecords.rstk__wocst_ordsts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Valid_Status_Record</targetReference>
            </connector>
            <label>Valid WO Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_has_Valid_Work_Order_Ids</name>
        <label>List has Valid Work Order Ids</label>
        <locationX>495</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Update_Fail_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Work Order Ids</defaultConnectorLabel>
        <rules>
            <name>Has_Valid_Work_Order_Ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validWorkOrderStatusIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Assign_Release</targetReference>
            </connector>
            <label>Has Valid Work Order Ids</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_operations_exist_decision</name>
        <label>Valid operations exist decision</label>
        <locationX>904</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>End_Flow_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No valid operation</defaultConnectorLabel>
        <rules>
            <name>Valid_operations_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedWorkOrderOperationIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Batch_Assign_Release_Action</targetReference>
            </connector>
            <label>Valid operations exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_obsolete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rstk__syusr__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ReleaseFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Release} = true, true, false)</expression>
    </formulas>
    <formulas>
        <name>SelectedWorkOrderIdsFormula</name>
        <dataType>String</dataType>
        <expression>IF({!selectedWorkOrderOperationIds} != &apos;&apos;,{!selectedWorkOrderOperationIds}, null)</expression>
    </formulas>
    <formulas>
        <name>trueFormula</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Batch Assign/Release {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Batch Assign/Release</label>
    <loops>
        <name>Execute_Selected_Records</name>
        <label>Execute Selected Records</label>
        <locationX>181</locationX>
        <locationY>412</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Selected_Work_Order_Operation_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Record_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validate_Operation_Actuals</name>
        <label>Validate Operation Actuals</label>
        <locationX>1053</locationX>
        <locationY>415</locationY>
        <assignNextValueToReference>validOperationId</assignNextValueToReference>
        <collectionReference>validWorkOrderStatusIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_WO_Operations_for_Valid_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Valid_operations_exist_decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validate_Work_Order_Status</name>
        <label>Validate Work Order Status</label>
        <locationX>360</locationX>
        <locationY>182</locationY>
        <assignNextValueToReference>LoopId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_WO_Operation_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_has_Valid_Work_Order_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Operation_Actuals_Record</name>
        <label>Get Operation Actuals Record</label>
        <locationX>1783</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Valid_Operation_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woOperationRecords.rstk__woordop_woordopact__c</elementReference>
            </value>
        </filters>
        <object>rstk__woordopact__c</object>
        <outputReference>woOperationActual</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__woordopact_qtyavail__c</queriedFields>
        <queriedFields>rstk__woordopact_qtycomp__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Operation_Record</name>
        <label>Get WO Operation Record</label>
        <locationX>360</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopId</elementReference>
            </value>
        </filters>
        <object>rstk__woordop__c</object>
        <outputReference>woOperationRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__woordop_ordno__c</queriedFields>
        <queriedFields>rstk__woordop_woordopact__c</queriedFields>
        <queriedFields>rstk__woordop_released__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Operations_for_Valid_Ids</name>
        <label>Get WO Operations for Valid Ids</label>
        <locationX>1285</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>validOperationId</elementReference>
            </value>
        </filters>
        <object>rstk__woordop__c</object>
        <outputReference>woOperationRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__woordop_woordopact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>rstk__woordop_ordno__c</queriedFields>
        <queriedFields>rstk__woordop_released__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1504</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operation_Actuals_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woOperationRecords.rstk__woordop_ordno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>881</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Work_Order_Status_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woOperationRecords.rstk__woordop_ordno__c</elementReference>
            </value>
        </filters>
        <object>rstk__wocst__c</object>
        <outputReference>workOrderRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rstk__wocst_ordsts__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Batch_Assign_Release</name>
        <label>Batch Assign/Release</label>
        <locationX>710</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_Screen</targetReference>
        </connector>
        <fields>
            <name>Change_Assign_To</name>
            <dataType>Boolean</dataType>
            <fieldText>Change &quot;Assign To&quot;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Change_Release</name>
            <dataType>Boolean</dataType>
            <fieldText>Change &quot;Release&quot;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>1054</locationX>
        <locationY>865</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageTest</name>
            <fieldText>&lt;p&gt;The following WO Operation(s) have been updated successfully.&lt;/p&gt;&lt;p&gt;{!validWorkOperation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedWorkOrderOperationIds</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The following WO Operation(s) are excluded from the processing because the Qty Completed is Less than the Qty Required of the Work Order.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!workOperationIsLessThan}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>workOperationIsLessThan</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FailureMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The following WO Operation(s) are excluded from the processing because the Qty available is Greater than 0.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!WorkOrderOperationGreaterThanZero}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WorkOrderOperationGreaterThanZero</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavigationDisplay</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__woordop__c/list&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Flow_0</name>
        <label>End Flow</label>
        <locationX>730</locationX>
        <locationY>820</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The following WO Operation(s) are excluded from the processing because the Qty Completed is Less than the Qty Required of the Work Order.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!workOperationIsLessThan}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>workOperationIsLessThan</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FailureMessage2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The following WO Operation(s) are excluded from the processing because the Qty available is Greater than 0.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!WorkOrderOperationGreaterThanZero}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WorkOrderOperationGreaterThanZero</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavigationDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__woordop__c/list&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>357</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectRecordErrorScreen</name>
            <fieldText>&lt;p&gt;Select atleast one record to process Batch Assign/Release.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__woordop__c/list&quot; target=&quot;_blank&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_Screen</name>
        <label>Selection Screen</label>
        <locationX>868</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Operation_Actuals</targetReference>
        </connector>
        <fields>
            <name>Assigned_To</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>UserList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Assigned To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Assign_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Release</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Release</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Release</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Fail_Screen</name>
        <label>Update Fail Screen</label>
        <locationX>503</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedWorkOrdersError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(163, 21, 21);&quot;&gt;Cannot&amp;nbsp;update&amp;nbsp;records&amp;nbsp;for&amp;nbsp;Closed&amp;nbsp;Work&amp;nbsp;Order.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/o/rstk__woordop__c/list&quot; target=&quot;_blank&quot; style=&quot;color: rgb(45, 16, 215);&quot;&gt;Return to List View&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Selected_WO_Operation_Schedule_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BatchAssignRelease</stringValue>
        </value>
    </variables>
    <variables>
        <name>changeAssignToChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Assign To</stringValue>
        </value>
    </variables>
    <variables>
        <name>changeReleaseChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Release</stringValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoneOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedWorkOrderOperationIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rstk__woordop__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>validOperationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validOperationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>validWorkOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validWorkOrderStatusIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>woOperationActual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__woordopact__c</objectType>
    </variables>
    <variables>
        <name>woOperationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__woordop__c</objectType>
    </variables>
    <variables>
        <name>workOperationIsLessThan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderOperationGreaterThanZero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__wocst__c</objectType>
    </variables>
</Flow>
