force-app/main/default/flows/rootstock__Update_All_Line_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_PO_Line_Revision</name>
        <label>Create PO Line Revision</label>
        <locationX>3133</locationX>
        <locationY>2354</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PO_Line_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__polinerev__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Create_Revision_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Create Object</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>linerevsToAdd</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_All_Lines</name>
        <label>Update All Lines</label>
        <locationX>3805</locationX>
        <locationY>1737</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PO_Line_Update_Asynchronous_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__poline__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Create_Revision_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Update Line Values</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultReceiptSite</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_dfltrcvsite__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dockDate</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_duedte__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationalDept</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_dfltorgid__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_proj__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receiptLocationID</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_rcptlocid__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receiptLocationNumber</name>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_rcptlocnum__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PO_Header.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateHeader</name>
            <value>
                <elementReference>updateHeader</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_PO_Line_Revision</name>
        <label>Update PO Line Revision</label>
        <locationX>2893</locationX>
        <locationY>2603</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PO_Line_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__polinerev__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Update_Revision_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Update Object</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>linerevsToAdd</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_PO_Line_Values</name>
        <label>Update PO Line Values</label>
        <locationX>2910</locationX>
        <locationY>2340</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Update_Header</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__poline__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>PO_Line_Update_Error_Message_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Update Object</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>polinesToMassUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Current_Internal_Revision_Number_by_1</name>
        <label>Add Current Internal Revision Number by 1</label>
        <locationX>2626</locationX>
        <locationY>3136</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_curintrev__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_null_for_Number_of_Revisions_at_Release_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Number_of_Revisions_at_Release_Status_by_1</name>
        <label>Add Number of Revisions at Release Status by 1</label>
        <locationX>3243</locationX>
        <locationY>3109</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_numbcurlnerev__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Updated_Lines_For_Revision_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Po_Line_to_update</name>
        <label>Add Po Line to update</label>
        <locationX>3724</locationX>
        <locationY>3123</locationY>
        <assignmentItems>
            <assignToReference>polinesToMassUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Collection_PO_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection_PO_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Revision_Record_To_Create</name>
        <label>Add Revision Record To Create</label>
        <locationX>3233</locationX>
        <locationY>3640</locationY>
        <assignmentItems>
            <assignToReference>linerevsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPoLineRevRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Header_Revision_Release_Status_and_Revisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Revision_Record_To_Create_0</name>
        <label>Add Revision Record To Create</label>
        <locationX>3009</locationX>
        <locationY>3273</locationY>
        <assignmentItems>
            <assignToReference>linerevsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Revision_Record_of_the_PO_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Header_Revision_Release_Status_and_Revisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adjustment</name>
        <label>Assign Adjustment</label>
        <locationX>5356</locationX>
        <locationY>3624</locationY>
        <assignmentItems>
            <assignToReference>adjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueForAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adjustment_2_Dock_Date</name>
        <label>Assign Adjustment - 2 (Dock Date)</label>
        <locationX>4944</locationX>
        <locationY>3807</locationY>
        <assignmentItems>
            <assignToReference>adjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForAdjustmentDockDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dock_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adjustment_to_zero</name>
        <label>Assign Adjustment to zero</label>
        <locationX>5188</locationX>
        <locationY>3390</locationY>
        <assignmentItems>
            <assignToReference>adjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Line_items_due_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Adjustment_to_zero_0</name>
        <label>Assign Adjustment to zero</label>
        <locationX>4679</locationX>
        <locationY>3433</locationY>
        <assignmentItems>
            <assignToReference>adjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Line_items_Dock_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bool_Variable_For_Error_Message</name>
        <label>Assign Bool Variable For Error Message</label>
        <locationX>4886</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>CanUpdateRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Polines</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Check_Condition_For_updating_line_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_the_Revision_Collection</name>
        <label>Assign Count of the Revision Collection</label>
        <locationX>3623</locationX>
        <locationY>3478</locationY>
        <assignmentItems>
            <assignToReference>countOfCollectionRevisionRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_seqno__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sequence_for_the_purchase_order_line_revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Internal_Revision_Number_to_0</name>
        <label>Assign Current Internal Revision Number to 0</label>
        <locationX>2355</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_curintrev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_null_for_Number_of_Revisions_at_Release_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dock_Date</name>
        <label>Assign Dock Date</label>
        <locationX>4750</locationX>
        <locationY>3807</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Due_Date_in_po_control_record_or_status_less_than_5_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Due_Date</name>
        <label>Assign Due Date</label>
        <locationX>5661</locationX>
        <locationY>3582</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Due_Date_in_po_control_record_or_status_less_than_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Dock_Date_For_the_item</name>
        <label>Assign new Dock Date For the item</label>
        <locationX>5959</locationX>
        <locationY>3749</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueforLineDockDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Null_Value_For_Sched_Vendor_Ship_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Schd_Vendor_Ship_Date_For_the_item</name>
        <label>Assign new Schd Vendor Ship Date For the item</label>
        <locationX>6179</locationX>
        <locationY>3788</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_vendshipdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForSchedVendorShipDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PO_Line_Item_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Schd_Vendor_Ship_Date_For_the_item_Header</name>
        <label>Assign new Schd Vendor Ship Date For the item(Header)</label>
        <locationX>4146</locationX>
        <locationY>4409</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_vendshipdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForSchedVendorShipDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PO_Line_Item_Type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Scheduled_Pick_Date_For_the_item</name>
        <label>Assign new Scheduled Pick Date For the item</label>
        <locationX>6858</locationX>
        <locationY>4302</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedpickdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForScheduledPickDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Line_to_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Scheduled_Pick_Date_For_the_item_1</name>
        <label>Assign new Scheduled Pick Date For the item - 1</label>
        <locationX>4884</locationX>
        <locationY>4026</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedpickdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForScheduledPickDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Line_to_true_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Revisions_at_Release_Status_to_0</name>
        <label>Assign Number of Revisions at Release Status to 0</label>
        <locationX>3134</locationX>
        <locationY>2854</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_numbcurlnerev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Updated_Lines_For_Revision_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organizational_Dept</name>
        <label>Assign Organizational Dept</label>
        <locationX>4220</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_orgid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_dfltorgid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Update_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project</name>
        <label>Assign Project</label>
        <locationX>4769</locationX>
        <locationY>3025</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_proj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_proj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Header_Value_for_due_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Loc_Id</name>
        <label>Assign Receipt Loc Id</label>
        <locationX>4757</locationX>
        <locationY>2671</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_rcptlocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_rcptlocid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Value_for_Receipt_Location_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt_Loc_number</name>
        <label>Assign Receipt Loc number</label>
        <locationX>4763</locationX>
        <locationY>2860</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_rcptlocnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_rcptlocnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Value_for_Project_In_PO_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sequence_for_the_purchase_order_line_revision</name>
        <label>Assign Sequence for the purchase order line revision</label>
        <locationX>3621</locationX>
        <locationY>3648</locationY>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_seqno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_New_Revision_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stock_Location_with_Header_Values</name>
        <label>Assign Stock Location with Header Values</label>
        <locationX>2595</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedReceiptLocationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt_Location_Number_Line_Update_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventorySite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDefaultReceiptSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CanUpdateRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Location_Id_is_not_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stock_Location_with_Header_Values_When_Location_ID_not_mentioned</name>
        <label>Assign Stock Location with Header Values When Location ID not mentioned</label>
        <locationX>2592</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedReceiptLocationIDWithoutDefaultReceiptSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt_Location_Number_Line_Update_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventorySite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDefaultReceiptSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CanUpdateRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Location_Id_is_not_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Po_Line_Count</name>
        <label>Assign Total Po Line Count</label>
        <locationX>2292</locationX>
        <locationY>1889</locationY>
        <assignmentItems>
            <assignToReference>PoLineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PO_Lines_Related_to_PO_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Polines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Lines_Related_to_PO_Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Line_to_true</name>
        <label>Assign Update Line to true</label>
        <locationX>5071</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Header_Value_for_Dock_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Line_to_true_1</name>
        <label>Assign Update Line to true - 1</label>
        <locationX>4494</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Dock_date_greater_than_due_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_due_date_to_the_PO_Line</name>
        <label>Assign Updated due date to the PO Line</label>
        <locationX>3554</locationX>
        <locationY>3849</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>valueForDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Line_Vendor_Ship_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_Line_s_Receipt_Site</name>
        <label>Assign Value For Line&apos;s Receipt Site</label>
        <locationX>4885</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Collection_PO_Lines.rstk__poline_receiptsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_dfltrcvsite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Value_For_Assign_Receipt_Location_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_Location_Id_bool_variable</name>
        <label>Assign Value For Location Id bool variable</label>
        <locationX>3063</locationX>
        <locationY>1349</locationY>
        <assignmentItems>
            <assignToReference>StockRecptLocMustBeSpecIfLocNumSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecptLocNumMustBeSpecIfLocIsSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocId_LocNumNotValidLocNumValueBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_Status_Than_5</name>
        <label>Assign Value For Status Than 5</label>
        <locationX>4996</locationX>
        <locationY>1543</locationY>
        <assignmentItems>
            <assignToReference>statusLessThan5</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Line_Based_on_qty_rtv_accepted_and_inv_division</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_stock_location_bool_variable</name>
        <label>Assign Value For stock location bool variable</label>
        <locationX>3288</locationX>
        <locationY>1672</locationY>
        <assignmentItems>
            <assignToReference>LocId_LocNumNotValidLocNumValueBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecptLocMustBeSpecIfLocNumSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecptLocNumMustBeSpecIfLocIsSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_stock_location_number_bool_variable</name>
        <label>Assign Value For stock location number bool variable</label>
        <locationX>3469</locationX>
        <locationY>1902</locationY>
        <assignmentItems>
            <assignToReference>StockRecptLocNumMustBeSpecIfLocIsSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocId_LocNumNotValidLocNumValueBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StockRecptLocMustBeSpecIfLocNumSetBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_for_Update_Line</name>
        <label>Assign Value for Update Line</label>
        <locationX>5184</locationX>
        <locationY>2086</locationY>
        <assignmentItems>
            <assignToReference>updateLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_for_Line_Item_s_Default_Receipt_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_New_Revision_Record</name>
        <label>Assign Values for New Revision Record</label>
        <locationX>3249</locationX>
        <locationY>3270</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_buyerrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_schedrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_puruom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_puruom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_poumcf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_poumcf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_unitpricemcurr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_unitpricemcurr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_vendrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_vendrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_carrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_fob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_fob__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_shipviatype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_shipviatype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision_Record_of_the_PO_Line.rstk__polinerev_frghtrm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_frghtrm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Revision_Record_To_Create_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_New_Revision_Record_0</name>
        <label>Assign Values for New Revision Record</label>
        <locationX>3418</locationX>
        <locationY>3633</locationY>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_seqno__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_lne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_lne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_buyerrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_schedrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_duedte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__externalid__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_ordno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_sts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_puruom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_puruom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_poumcf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_poumcf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_unitpricemcurr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_unitpricemcurr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_vendrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_vendrcptdte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_carrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_fob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_fob__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_frghtrm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_frghtrm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_shipviatype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_shipviatype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.rstk__poline_qtyreq__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPoLineRevRec.rstk__polinerev_rev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Revision_Record_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_For_PO_Header</name>
        <label>Assign Values For PO Header</label>
        <locationX>4387</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_dfltrcvsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDefaultReceiptSite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_rcptlocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_rcptlocnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt_Location_Number_Line_Update_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_proj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedValueForProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_duedte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date_Line_Update_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dock_Date_Line_Update_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PO_Header.rstk__pohdr_dfltorgid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrganizationDeptValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Check_Condition_For_updating_line_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_PO_Lines_To_Update</name>
        <label>Count of PO Lines To Update</label>
        <locationX>3992</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>countOfPolinesToUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>polinesToMassUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Size_of_polinesToMassUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Not_Less_Than_5</name>
        <label>Status Not Less Than 5</label>
        <locationX>4619</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>statusLessThan5</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Line_Based_on_qty_rtv_accepted_and_inv_division</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Value_for_Line_Item_s_Default_Receipt_Site</name>
        <label>Assign Value for Line Item&apos;s Default Receipt Site</label>
        <locationX>5163</locationX>
        <locationY>2262</locationY>
        <defaultConnector>
            <targetReference>Check_Value_For_Assign_Receipt_Location_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Value_for_Header_Default_Receipt_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_dfltrcvsite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_Line_s_Receipt_Site</targetReference>
            </connector>
            <label>Check Value for Header Default Receipt Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Header_Revision_Release_Status_and_Revisions</name>
        <label>Check Current Header Revision Release Status and Revisions</label>
        <locationX>2800</locationX>
        <locationY>3524</locationY>
        <defaultConnector>
            <targetReference>Check_null_for_Number_of_Revisions_at_Release_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Header_Revision_and_Release_Status_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_numbcurhdrrev__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_numbcurlnerev__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_null_for_Current_Internal_Revision_Number</targetReference>
            </connector>
            <label>Header Revision and Release Status is 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Default_Receipt_Site</name>
        <label>Check Default Receipt Site</label>
        <locationX>2309</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>Assign_Stock_Location_with_Header_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_receipt_Site_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedDefaultReceiptSite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stock_Location_with_Header_Values_When_Location_ID_not_mentioned</targetReference>
            </connector>
            <label>Default receipt Site is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_current_Header_Due_Date</name>
        <label>Check for current Header Due Date</label>
        <locationX>4117</locationX>
        <locationY>3848</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_duedte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Line_Item_Due_Date</targetReference>
            </connector>
            <label>Due Date Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_current_Line_item_s_Dock_Date</name>
        <label>Check for current Line item&apos;s Dock Date</label>
        <locationX>5948</locationX>
        <locationY>3469</locationY>
        <defaultConnector>
            <targetReference>Check_Null_Value_For_Sched_Vendor_Ship_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dock_Date_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Dock_Date_For_the_item</targetReference>
            </connector>
            <label>Dock Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Dock_date_greater_than_due_date</name>
        <label>Check for Dock date greater than due date</label>
        <locationX>4499</locationX>
        <locationY>3293</locationY>
        <defaultConnector>
            <targetReference>Check_Header_Organizational_Dept_Line_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dock_Date_is_greater_than_due_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Dock_date_Due_date_Validation</targetReference>
            </connector>
            <label>Dock Date is greater than due date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Due_Date_in_po_control_record_or_status_less_than_5</name>
        <label>Check For Due Date in po control record or status less than 5</label>
        <locationX>5654</locationX>
        <locationY>3744</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_is_not_null_in_po_control_record_or_status_less_than_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_dateupdate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusLessThan5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_current_Line_item_s_Dock_Date</targetReference>
            </connector>
            <label>Due Date is not null in po control record or status less than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Due_Date_in_po_control_record_or_status_less_than_5_0</name>
        <label>Check For Due Date in po control record or status less than 5</label>
        <locationX>4388</locationX>
        <locationY>3784</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>date_independent_from_status_5_or_status_less_than_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_dateupdate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>statusLessThan5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_current_Header_Due_Date</targetReference>
            </connector>
            <label>date independent from status 5 or status less than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Line_Item_Due_Date</name>
        <label>Check For Line Item Due Date</label>
        <locationX>3802</locationX>
        <locationY>3850</locationY>
        <defaultConnector>
            <targetReference>Check_For_Line_Vendor_Ship_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_due_date_to_the_PO_Line</targetReference>
            </connector>
            <label>Due Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Line_items_Dock_date</name>
        <label>Check For Line items Dock date</label>
        <locationX>4742</locationX>
        <locationY>3635</locationY>
        <defaultConnector>
            <targetReference>Assign_Dock_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dock_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjustment_2_Dock_Date</targetReference>
            </connector>
            <label>Dock Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Line_items_due_date</name>
        <label>Check For Line items due date</label>
        <locationX>5501</locationX>
        <locationY>3400</locationY>
        <defaultConnector>
            <targetReference>Assign_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjustment</targetReference>
            </connector>
            <label>Due Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Line_Vendor_Ship_Date</name>
        <label>Check For Line Vendor Ship Date</label>
        <locationX>3557</locationX>
        <locationY>4597</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Line_Item_Type_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sched_Vendor_Ship_Date_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_vendshipdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Schd_Vendor_Ship_Date_For_the_item_Header</targetReference>
            </connector>
            <label>Sched Vendor Ship Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Header_Organizational_Dept_Line_Update</name>
        <label>Check Header Organizational Dept. (Line Update)</label>
        <locationX>4276</locationX>
        <locationY>3293</locationY>
        <defaultConnector>
            <targetReference>Check_Update_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organizational_Dept_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_dfltorgid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Organizational_Dept</targetReference>
            </connector>
            <label>Organizational Dept. is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Header_Value_for_Dock_date</name>
        <label>Check Header Value for Dock date</label>
        <locationX>4766</locationX>
        <locationY>3163</locationY>
        <defaultConnector>
            <targetReference>Check_for_Dock_date_greater_than_due_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_present_for_Dock_Date_Line_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjustment_to_zero_0</targetReference>
            </connector>
            <label>Value present for Dock Date (Line Update)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Header_Value_for_due_date</name>
        <label>Check Header Value for due date</label>
        <locationX>5171</locationX>
        <locationY>3162</locationY>
        <defaultConnector>
            <targetReference>Check_Header_Value_for_Dock_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_present_for_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_duedte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Adjustment_to_zero</targetReference>
            </connector>
            <label>Value present for Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Header_Values_For_Update</name>
        <label>Check Header Values For Update</label>
        <locationX>4087</locationX>
        <locationY>1205</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Check_Condition_For_updating_line_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_for_Header_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_dfltrcvsite__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>selectedDefaultReceiptSite</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_rcptlocid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LocationId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_rcptlocnum__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Receipt_Location_Number_Line_Update_0_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_proj__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>selectedValueForProject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Dock_Date_Line_Update_0_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_duedte__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Due_Date_Line_Update_0_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_dfltorgid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>selectedOrganizationDeptValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_For_PO_Header</targetReference>
            </connector>
            <label>Condition for Header Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Status_Less_Than_5</name>
        <label>Check Line Status Less Than 5</label>
        <locationX>4469</locationX>
        <locationY>1565</locationY>
        <defaultConnector>
            <targetReference>Status_Not_Less_Than_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Not Less Than 5</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Less_Than_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2-Firmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3-Approvals Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_Status_Than_5</targetReference>
            </connector>
            <label>Is Status Less Than 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_Id_is_not_Empty</name>
        <label>Check Location Id is not Empty</label>
        <locationX>2878</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>Location_number_is_not_empty_and_location_Id_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Id_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inv_Site_Is_Present</targetReference>
            </connector>
            <label>Location Id Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_for_Current_Internal_Revision_Number</name>
        <label>Check null for Current Internal Revision Number</label>
        <locationX>2362</locationX>
        <locationY>3533</locationY>
        <defaultConnector>
            <targetReference>Add_Current_Internal_Revision_Number_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Internal_Revision_Number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_curintrev__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Internal_Revision_Number_to_0</targetReference>
            </connector>
            <label>Current Internal Revision Number is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_null_for_Number_of_Revisions_at_Release_Status</name>
        <label>Check null for Number of Revisions at Release Status</label>
        <locationX>2769</locationX>
        <locationY>3018</locationY>
        <defaultConnector>
            <targetReference>Add_Number_of_Revisions_at_Release_Status_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Revisions_at_Release_Status_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_numbcurlnerev__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number_of_Revisions_at_Release_Status_to_0</targetReference>
            </connector>
            <label>Number of Revisions at Release Status is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null_Value_For_Sched_Vendor_Ship_Date</name>
        <label>Check Null Value For Sched Vendor Ship Date</label>
        <locationX>6295</locationX>
        <locationY>3478</locationY>
        <defaultConnector>
            <targetReference>Check_PO_Line_Item_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sched_Vendor_Ship_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_vendshipdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Schd_Vendor_Ship_Date_For_the_item</targetReference>
            </connector>
            <label>Sched Vendor Ship Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Line_Item_Type</name>
        <label>Check PO Line Item Type</label>
        <locationX>6533</locationX>
        <locationY>3930</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_type_Sub_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_potype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcontract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_Line_Scheduled_Pick_Date</targetReference>
            </connector>
            <label>Is type Sub Contract?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Line_Item_Type_1</name>
        <label>Check PO Line Item Type - 1</label>
        <locationX>4561</locationX>
        <locationY>4585</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_type_Sub_Contract_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_potype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcontract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_Line_Scheduled_Pick_Date_0</targetReference>
            </connector>
            <label>Is type Sub Contract?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Line_Scheduled_Pick_Date</name>
        <label>Check PO Line Scheduled Pick Date</label>
        <locationX>6846</locationX>
        <locationY>4049</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Scheduled_Pick_Date_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedpickdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Scheduled_Pick_Date_For_the_item</targetReference>
            </connector>
            <label>Is Scheduled Pick Date not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Line_Scheduled_Pick_Date_0</name>
        <label>Check PO Line Scheduled Pick Date</label>
        <locationX>4885</locationX>
        <locationY>4321</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Line_to_true_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Scheduled_Pick_Date_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_schedpickdte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Scheduled_Pick_Date_For_the_item_1</targetReference>
            </connector>
            <label>Is Scheduled Pick Date not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pohdr_Status</name>
        <label>Check Pohdr Status</label>
        <locationX>3593</locationX>
        <locationY>3293</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_New_Revision_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>POHDR Status is below Vendor Notified</defaultConnectorLabel>
        <rules>
            <name>Pohdr_Status_is_Vendor_Notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_apprvrev__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Vendor Notified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_of_the_Revision_Collection</targetReference>
            </connector>
            <label>Pohdr Status is Vendor Notified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pohdr_Status_0</name>
        <label>Check Pohdr Status</label>
        <locationX>3133</locationX>
        <locationY>2632</locationY>
        <defaultConnector>
            <targetReference>Update_PO_Line_Revision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>POHDR Status is below Vendor Notified</defaultConnectorLabel>
        <rules>
            <name>POHDR_Status_Vendor_Notified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_apprvrev__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_ordsts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5-Vendor Notified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_Line_Revision</targetReference>
            </connector>
            <label>POHDR Status Vendor Notified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size_of_polinesToMassUpdate</name>
        <label>Check Size of polinesToMassUpdate</label>
        <locationX>3456</locationX>
        <locationY>2243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_PO_Lines_To_Update_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfPolinesToUpdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Updated_Lines_For_Revision_Updation</targetReference>
            </connector>
            <label>Number of PO Lines To Update greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Poline_to_Process_Asynchronously</name>
        <label>Check the Poline to Process Asynchronously</label>
        <locationX>4011</locationX>
        <locationY>1729</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Collection_PO_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Poline Count is lessthan the 50</defaultConnectorLabel>
        <rules>
            <name>Poline_Count_is_greater_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PoLineCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Lines</targetReference>
            </connector>
            <label>Poline Count is greater than 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Header</name>
        <label>Check Update Header</label>
        <locationX>2683</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <targetReference>PO_Line_Update_Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Header_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_The_PO_Header</targetReference>
            </connector>
            <label>Update Header is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Line</name>
        <label>Check Update Line</label>
        <locationX>3807</locationX>
        <locationY>3314</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Collection_PO_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_the_Current_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Po_Line_to_update</targetReference>
            </connector>
            <label>Update the Current Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_For_Assign_Receipt_Location_ID</name>
        <label>Check Value For Assign Receipt Location ID</label>
        <locationX>5174</locationX>
        <locationY>2523</locationY>
        <defaultConnector>
            <targetReference>Check_Value_for_Receipt_Location_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_Present_For_Receipt_Loc_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_rcptlocid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Loc_Id</targetReference>
            </connector>
            <label>Value Present For Receipt Loc ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_for_Project_In_PO_Header</name>
        <label>Check Value for Project In PO Header</label>
        <locationX>5172</locationX>
        <locationY>2941</locationY>
        <defaultConnector>
            <targetReference>Check_Header_Value_for_due_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_present_for_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_proj__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project</targetReference>
            </connector>
            <label>Value present for Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_for_Receipt_Location_Number</name>
        <label>Check Value for Receipt Location Number</label>
        <locationX>5171</locationX>
        <locationY>2688</locationY>
        <defaultConnector>
            <targetReference>Check_Value_for_Project_In_PO_Header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_present_for_Receipt_Loc_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Header.rstk__pohdr_rcptlocnum__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Receipt_Loc_number</targetReference>
            </connector>
            <label>Value present for Receipt Loc Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Values_for_Default_Receipt_Site_For_Redirecting</name>
        <label>check Values for Default Receipt Site For Redirecting</label>
        <locationX>3454</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>Check_Header_Values_For_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Redirect flow to Update Line Values</defaultConnectorLabel>
        <rules>
            <name>loc_num_not_empty_and_loc_id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_stock_location_bool_variable</targetReference>
            </connector>
            <label>loc num not empty and loc id is null</label>
        </rules>
        <rules>
            <name>Location_number_is_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_stock_location_number_bool_variable</targetReference>
            </connector>
            <label>Location number is not present</label>
        </rules>
        <rules>
            <name>inv_location_is_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_of_Inventory_Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_Location_Id_bool_variable</targetReference>
            </connector>
            <label>inv location is not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Redirect_The_Flow_To_Update_Values_For_Header_And_Lines</name>
        <label>Decision To Redirect The Flow To Update Values For Header And Lines</label>
        <locationX>4618</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Check_Condition_For_updating_line_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_is_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Check_Condition_For_updating_line_values.rstk__poline_qtyacc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Check_Condition_For_updating_line_values.rstk__poline_qtyrtv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Check_Condition_For_updating_line_values.rstk__poline_invdiv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PO_Header.rstk__pohdr_div__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bool_Variable_For_Error_Message</targetReference>
            </connector>
            <label>Condition is met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Update_Line_Records</name>
        <label>Decision to Update Line Records</label>
        <locationX>4873</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>Update_Only_Header_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Line_Update_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanUpdateRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_PO_Lines</targetReference>
            </connector>
            <label>Can Line Update Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inv_Site_Is_Present</name>
        <label>Inv Site Is Present</label>
        <locationX>2880</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Location_number_is_not_empty_and_location_Id_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inventorySite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_of_Site_Master</targetReference>
            </connector>
            <label>Inventory is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Location_Number_is_null</name>
        <label>Inventory Location Number is null?</label>
        <locationX>3466</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Location_number_is_not_empty_and_location_Id_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loc_Id_Loc_Num_is_not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_of_Inventory_Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Values_for_Default_Receipt_Site_For_Redirecting</targetReference>
            </connector>
            <label>Loc Id Loc Num is not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_number_Empty</name>
        <label>Is Location number Empty?</label>
        <locationX>3079</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Get_Record_of_Inventory_Location_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Number_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Values_for_Default_Receipt_Site_For_Redirecting</targetReference>
            </connector>
            <label>Location Number is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_number_is_not_empty_and_location_Id_is_empty</name>
        <label>Location number is not empty and location Id is empty</label>
        <locationX>4394</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Check_Header_Values_For_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loc_num_is_not_empty_and_loc_id_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Values_for_Default_Receipt_Site_For_Redirecting</targetReference>
            </connector>
            <label>Loc num is not empty and loc id is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Number_Not_Present</name>
        <label>Location Number Not Present</label>
        <locationX>2884</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Location_number_is_not_empty_and_location_Id_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Number_Required_Ind_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_of_Site_Master.rstk__sysite_sylocnum_reqind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Location_number_Empty</targetReference>
            </connector>
            <label>Location Number Required Ind is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Line_Based_on_qty_rtv_accepted_and_inv_division</name>
        <label>Update Line Based on qty rtv, accepted and inv division</label>
        <locationX>4989</locationX>
        <locationY>1928</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Collection_PO_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>qty_Rtv_qty_accepted_is_zero_and_line_division_is_same_as_header_division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_qtyacc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_qtyrtv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Collection_PO_Lines.rstk__poline_invdiv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_PO_Header.rstk__pohdr_div__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_for_Update_Line</targetReference>
            </connector>
            <label>qty Rtv, qty accepted is zero and line division is same as header division</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormuaForScheduledPickDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Collection_PO_Lines.rstk__poline_schedpickdte__c} + {!adjustment}</expression>
    </formulas>
    <formulas>
        <name>FormulaForAdjustment</name>
        <dataType>Number</dataType>
        <expression>{!Get_PO_Header.rstk__pohdr_duedte__c} - {!Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaForAdjustmentDockDate</name>
        <dataType>Number</dataType>
        <expression>{!Get_PO_Header.rstk__pohdr_schedrcptdte__c} - {!Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaForDueDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Collection_PO_Lines.rstk__poline_duedte__c} + {!adjustment}</expression>
    </formulas>
    <formulas>
        <name>FormulaForExternalID</name>
        <dataType>String</dataType>
        <expression>IF((ISBLANK({!tempPoLineRevRec.rstk__externalid__c})=FALSE || ISBLANK({!tempPoLineRevRec.rstk__externalid__c})=TRUE),NULL,NULL)</expression>
    </formulas>
    <formulas>
        <name>formulaForLineItemDockDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Collection_PO_Lines.rstk__poline_schedrcptdte__c} + {!adjustment}</expression>
    </formulas>
    <formulas>
        <name>FormulaForPrepopulaitngDefaultReceiptSite</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_PO_Header.rstk__pohdr_dfltrcvsite__c}),&apos;&apos;,{!Get_PO_Header.rstk__pohdr_dfltrcvsite__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForPrePopulatingOrganizationalDept</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_PO_Header.rstk__pohdr_dfltorgid__c}),&apos;&apos;,{!Get_PO_Header.rstk__pohdr_dfltorgid__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForPrePopulatingProject</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_PO_Header.rstk__pohdr_proj__c}),&apos;&apos;,{!Get_PO_Header.rstk__pohdr_proj__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForPrePopulatingReceiptLocationID</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_PO_Header.rstk__pohdr_rcptlocid__c}),&apos;&apos;,{!Get_PO_Header.rstk__pohdr_rcptlocid__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForPrePopulatingReceiptLocationNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Receipt_Location_Number_Line_Update_0_0})=FALSE,{!Receipt_Location_Number_Line_Update_0_0},{!Get_PO_Header.rstk__pohdr_rcptlocnum__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForSchdVendorShipDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Collection_PO_Lines.rstk__poline_vendshipdte__c} + {!adjustment}</expression>
    </formulas>
    <formulas>
        <name>FormulaForSubcontractBOMEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Collection_PO_Lines.rstk__poline_effdte__c} + {!adjustment}</expression>
    </formulas>
    <interviewLabel>Update All Line {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Line Values - PO</label>
    <loops>
        <name>Loop_Through_Collection_PO_Lines</name>
        <label>Loop Through Collection PO Lines</label>
        <locationX>4311</locationX>
        <locationY>2039</locationY>
        <collectionReference>Get_Related_PO_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Line_Status_Less_Than_5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_PO_Lines_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Updated_Lines_For_Revision_Updation</name>
        <label>Loop Through Updated Lines For Revision Updation</label>
        <locationX>3586</locationX>
        <locationY>2688</locationY>
        <collectionReference>polinesToMassUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Revision_Record_of_the_PO_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Pohdr_Status_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Check_Condition_For_updating_line_values</name>
        <label>Loop to Check Condition For updating line values</label>
        <locationX>4516</locationX>
        <locationY>1130</locationY>
        <collectionReference>All_Polines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_To_Redirect_The_Flow_To_Update_Values_For_Header_And_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_to_Update_Line_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PO_Control_Record</name>
        <label>Get PO Control Record</label>
        <locationX>1714</locationX>
        <locationY>1885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Lines_Related_to_PO_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__pocntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pocntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Header</name>
        <label>Get PO Header</label>
        <locationX>1463</locationX>
        <locationY>1884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Control_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Lines_Related_to_PO_Header</name>
        <label>Get PO Lines Related to PO Header</label>
        <locationX>1890</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen_For_Default_Receipt_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poline_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_of_Inventory_Location_Number</name>
        <label>Get Record of Inventory Location Number</label>
        <locationX>3469</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Location_Number_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__sylocnum_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__sylocnum_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationNum</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_of_Site_Master</name>
        <label>Get Record of Site Master</label>
        <locationX>2891</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Number_Not_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventorySite</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sysite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PO_Lines</name>
        <label>Get Related PO Lines</label>
        <locationX>4309</locationX>
        <locationY>1450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Poline_to_Process_Asynchronously</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Revision_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poline_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revision_Record_of_the_PO_Line</name>
        <label>Get Revision Record of the PO Line</label>
        <locationX>3592</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pohdr_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__polinerev_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Updated_Lines_For_Revision_Updation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__polinerev__c</object>
        <sortField>rstk__polinerev_seqno__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Only_Header_Variable</name>
        <label>Update Only Header Variable</label>
        <locationX>5115</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>PO_Header_Only_Update_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lines_Updates_Not_Possible_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_PO_Header</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_PO_Header</name>
        <label>Update The PO Header</label>
        <locationX>2378</locationX>
        <locationY>2155</locationY>
        <connector>
            <targetReference>PO_Header_Update_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_PO_Header_Update</targetReference>
        </faultConnector>
        <inputReference>Get_PO_Header</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Revision_Fault_Message</name>
        <label>Create Revision Fault Message</label>
        <locationX>3143</locationX>
        <locationY>2201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>createRevisionErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 18, 18);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;span style=&quot;color: rgb(205, 21, 21);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Dock_date_Due_date_Validation</name>
        <label>Error Screen Dock date Due date Validation</label>
        <locationX>4368</locationX>
        <locationY>3598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DockDateValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Dock Date cannot be greater than due date&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_PO_Header_Update</name>
        <label>Fault Message PO Header Update</label>
        <locationX>2155</locationX>
        <locationY>2153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreenRevision_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_1_0</name>
        <label>Input Screen</label>
        <locationX>2583</locationX>
        <locationY>1890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Default_Receipt_Site</targetReference>
        </connector>
        <fields>
            <name>ErrorStockRecptLocNumMustBeSpecIfLocIsSet</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The stock receipt location number must be specified if the location id is set.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StockRecptLocNumMustBeSpecIfLocIsSetBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorLocId_LocNumNotValidLocNumValue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Location ID / Location Number not a valid Location Number Value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LocId_LocNumNotValidLocNumValueBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorStockRecptLocMustBeSpecIfLocNumSet</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The stock receipt location number must be specified if the location number is set.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StockRecptLocMustBeSpecIfLocNumSetBool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookupForReceiptLocationIDLineUpdate_0</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sylocid_loctype_pl__c = &apos;On Hand&apos; AND rstk__sylocid_site__c = &apos;{!selectedDefaultReceiptSite}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Receipt Location ID (Line Update)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedReceiptLocationID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedReceiptLocationID</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedDefaultReceiptSite</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookupForReceiptLocationIDLineUpdateWithOutDefaultReceiptSite</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Receipt Location ID (Line Update)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sylocid_loctype_pl__c = &apos;On Hand&apos; AND rstk__sylocid_div__c = &apos;{!Get_PO_Header.rstk__pohdr_div__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedReceiptLocationIDWithoutDefaultReceiptSite</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedReceiptLocationIDWithoutDefaultReceiptSite</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedDefaultReceiptSite</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Receipt_Location_Number_Line_Update_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FormulaForPrePopulatingReceiptLocationNumber</elementReference>
            </defaultValue>
            <fieldText>Receipt Location Number (Line Update)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The length of the Receipt Location Number must at maximum of 20 characters.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lookupproject_0_0</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__pjproj__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project(Line Update)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedValueForProject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__pjproj_completed__c = false AND rstk__pjproj_div__c = &apos;{!Get_PO_Header.rstk__pohdr_div__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedValueForProject</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Due_Date_Line_Update_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_PO_Header.rstk__pohdr_duedte__c</elementReference>
            </defaultValue>
            <fieldText>Due Date (Line Update)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dock_Date_Line_Update_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_PO_Header.rstk__pohdr_schedrcptdte__c</elementReference>
            </defaultValue>
            <fieldText>Dock Date (Line Update)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LookupForOrganizationalDepartmnt_0_0</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__syorg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organizational Dept. (Line Update)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedOrganizationDeptValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__syorg_div__c = &apos;{!Get_PO_Header.rstk__pohdr_div__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrganizationDeptValue</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Note: If p&lt;/em&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;oline&apos;s &lt;/em&gt;&lt;strong&gt;&lt;em&gt;&apos;Dock Date&apos;&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; is Greater than its &lt;/em&gt;&lt;strong&gt;&lt;em&gt;&apos;Due Date&apos; &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;then those polines will not be updated.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PoLineCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>50.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_For_Default_Receipt_Site</name>
        <label>Input Screen For Default Receipt Site</label>
        <locationX>2073</locationX>
        <locationY>1885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Total_Po_Line_Count</targetReference>
        </connector>
        <fields>
            <name>lookupDefaultReceiptSite_0</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sysite__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Default Receipt Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedDefaultReceiptSite</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sysite_div__c = &apos;{!Get_PO_Header.rstk__pohdr_div__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDefaultReceiptSite</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lines_Updates_Not_Possible_Error_Screen</name>
        <label>Lines Updates Not Possible Error Screen</label>
        <locationX>5101</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>pohdrUpdateErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Header_Only_Update_Success_Screen</name>
        <label>PO Header Only Update Success Screen</label>
        <locationX>5338</locationX>
        <locationY>1178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PO_Only_Update_Success_Screen</name>
            <fieldText>&lt;p&gt;Purchase Order Header values has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Header_Update_Success_Screen</name>
        <label>PO Header Update Success Screen</label>
        <locationX>2244</locationX>
        <locationY>2374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>pohdrSuccessScreen</name>
            <fieldText>&lt;p&gt;Purchase Order Header and Purchase Order Line values has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Line_Update_Asynchronous_Screen</name>
        <label>PO Line Update Asynchronous Screen</label>
        <locationX>3806</locationX>
        <locationY>1887</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>polineAsycScreen</name>
            <fieldText>&lt;p&gt;Due to high line count this process has been submitted for background processing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Line_Update_Error_Message_Screen</name>
        <label>PO Line Update Error Message Screen</label>
        <locationX>2919</locationX>
        <locationY>2177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updatePolineErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 11, 11);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Line_Update_Success_Screen</name>
        <label>PO Line Update Success Screen</label>
        <locationX>2379</locationX>
        <locationY>2458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>polineSuccessScreen</name>
            <fieldText>&lt;p&gt;Purchase Order Line has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Revision_Error_Screen</name>
        <label>Update Revision Error Screen</label>
        <locationX>2911</locationX>
        <locationY>2770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updateRevisionErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>895</locationX>
        <locationY>1864</locationY>
        <connector>
            <targetReference>Get_PO_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>All_Polines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poline__c</objectType>
    </variables>
    <variables>
        <name>CanUpdateRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>countOfCollectionRevisionRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countOfPolinesToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inventorySite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>rstk__poline__c</objectType>
    </variables>
    <variables>
        <name>linerevsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__polinerev__c</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocId_LocNumNotValidLocNumValueBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PoLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>polinesToMassUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poline__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDefaultReceiptSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForPrepopulaitngDefaultReceiptSite</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedOrganizationDeptValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForPrePopulatingOrganizationalDept</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedReceiptLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForPrePopulatingReceiptLocationID</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedReceiptLocationIDWithoutDefaultReceiptSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValueForProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForPrePopulatingProject</elementReference>
        </value>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusLessThan5</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StockRecptLocMustBeSpecIfLocNumSetBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StockRecptLocNumMustBeSpecIfLocIsSetBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>tempPoLineRevRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__polinerev__c</objectType>
    </variables>
    <variables>
        <name>updateHeader</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValueForAdjustment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>FormulaForAdjustment</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueForAdjustmentDockDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>FormulaForAdjustmentDockDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueForDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForDueDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueforLineDockDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>formulaForLineItemDockDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueForScheduledPickDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormuaForScheduledPickDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueForSchedVendorShipDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForSchdVendorShipDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>valueForSubContractBOMDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaForSubcontractBOMEffectiveDate</elementReference>
        </value>
    </variables>
</Flow>
