force-app/main/default/flows/rootstock__PO_Header_Order_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Print_Record_Action</name>
        <label>Create Print Record Action</label>
        <locationX>1568</locationX>
        <locationY>1618</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Print_Order_Review_For_Purchase_Order</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__pohdr__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>actionName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_default_Drawloop_template</name>
        <label>Get default Drawloop template</label>
        <locationX>1489</locationX>
        <locationY>577</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Print_Options_For_Draw_Loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__pohdr__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Get_POPrint_Default_Template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>POHDR_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>Default_Template</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_default_Rootform_template</name>
        <label>Get default Rootform template</label>
        <locationX>1494</locationX>
        <locationY>724</locationY>
        <actionName>rootstock__PurchaseOrderHeaderCon</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Print_Options_For_Root_Form</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>rstk__pohdr__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <stringValue>Get_POPrint_Default_Template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>POHDR_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <elementReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock__PurchaseOrderHeaderCon</nameSegment>
        <outputParameters>
            <assignToReference>Default_Template</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Print_Order_Review_For_Purchase_Order</name>
        <label>Print Order Review For Purchase Order</label>
        <locationX>1789</locationX>
        <locationY>1618</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_End_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Adding_Suppress_Lines_Closed_Short_To_url_Is_Print_Notes_as_Trailer_Selected_Whe</name>
        <label>Adding Suppress Lines Closed Short To url Is Print Notes as Trailer Selected When Template Override Inactive?</label>
        <locationX>2295</locationX>
        <locationY>1657</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;supcs=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Template_Id_Exists_When_Template_Override_is_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Email_Template_Id_from_Header_When_Email_Template_Is_Not_Selected</name>
        <label>Assign Default Email Template Id from Header When Email Template Is Not Selected By User And Template Override is Active</label>
        <locationX>1373</locationX>
        <locationY>2007</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>headerTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Po_Print_header_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_drawloop_template</name>
        <label>Assign drawloop template</label>
        <locationX>1117</locationX>
        <locationY>1237</locationY>
        <assignmentItems>
            <assignToReference>drawLoopId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Root_Forms_Enabled_in_SYCONFIG_and_SYDEFAULT_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_template</name>
        <label>Assign email template</label>
        <locationX>758</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Root_Forms_Enabled_in_SYCONFIG_and_SYDEFAULT_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template_Id_From_Header_When_Email_Template_Is_Not_selected_By_User</name>
        <label>Assign Email Template Id From Header When Email Template Is Not selected By User And Template Override is Inactive</label>
        <locationX>1909</locationX>
        <locationY>2092</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>headerTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Po_Print_header_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template_Id_When_Email_Template_Is_selected_By_The_User_And_Templat</name>
        <label>Assign Email Template Id When Email Template Is selected By The User And Template Override is Active</label>
        <locationX>1363</locationX>
        <locationY>1803</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Po_Print_header_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template_Id_When_Email_Template_Is_selected_By_User_And_Template_Ov</name>
        <label>Assign Email Template Id When Email Template Is selected By User And Template Override is Inactive</label>
        <locationX>1848</locationX>
        <locationY>1840</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Po_Print_header_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_template_not_found_flag</name>
        <label>Assign Email template not found flag</label>
        <locationX>1510</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>Email_Template_Not_Valid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Print_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exclude_Full_Line_To_url_When_Template_Override_is_Active</name>
        <label>Assign Exclude Full Line To url When Template Override is Active</label>
        <locationX>506</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;efl=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exclude_Full_Line_To_url_When_Template_Override_is_Inactive</name>
        <label>Assign Exclude Full Line To url When Template Override is Inactive</label>
        <locationX>2327</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;efl=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Non_Email_Template_When_Template_Override_is_Inactive</name>
        <label>Assign for Non Email Template When Template Override is Inactive</label>
        <locationX>2279</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__purchOrdPrint?id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;revnum=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRevisionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;reprint=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exclude_Full_Line_Selected_When_Template_Override_is_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Root_Form_Template_When_Template_Override_Is_Active</name>
        <label>Assign For Root Form Template When Template Override Is Active</label>
        <locationX>919</locationX>
        <locationY>1495</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Print_Record_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Override_Root_Form_Template_When_Template_Override_is_Inactive</name>
        <label>Assign Override Root Form Template When Template Override is Inactive</label>
        <locationX>1836</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Print_Record_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_POHDR_Record</name>
        <label>Assign POHDR Record</label>
        <locationX>1300</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>POHDR_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Purchase_Order_Header_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Root_Forms_Enabled_in_SYDEFAULT_and_SYCONFIG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Print_Notes_as_Trailer_To_url_Is_Print_Notes_as_Trailer_Selected_When_Tem</name>
        <label>Assign Print Notes as Trailer To url Is Print Notes as Trailer Selected When Template Override is Inactive</label>
        <locationX>2275</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nt=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Print_Notes_as_Trailer_To_url_When_Template_Override_is_Active</name>
        <label>Assign Print Notes as Trailer To url When Template Override is Active</label>
        <locationX>498</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nt=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revision_Number_As_0</name>
        <label>Assign Revision Number As 0</label>
        <locationX>1869</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>selectedRevisionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_blank_for_selected_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revision_Number_Based_on_The_Selected_Revision_Number</name>
        <label>Assign Revision Number Based on The Selected Revision Number</label>
        <locationX>2170</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>selectedRevisionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Revision_Number_For_the_Selected_Print_Header_Record.rstk__poprinthdr_vendrev__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_blank_for_selected_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Form_Template_When_Template_Override_is_Inactive</name>
        <label>Assign Root Form Template When Template Override is Inactive</label>
        <locationX>1356</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;t=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Print_Record_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rootform_template</name>
        <label>Assign rootform template</label>
        <locationX>678</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>RootFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Root_Forms_Enabled_in_SYCONFIG_and_SYDEFAULT_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Suppress_Lines_Closed_Short_To_url_When_Template_Override_is_Active</name>
        <label>Assign Suppress Lines Closed Short To url When Template Override is Active</label>
        <locationX>507</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;supcs=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Template_Id_Exists_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_As_Header_Template_When_Template_Override_is_Inactive</name>
        <label>Assign Template As Header Template When Template Override is Inactive</label>
        <locationX>1614</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>headerTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Whether_The_Header_Template_Is_Null_When_Template_Override_is_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_URL_For_Drawloop</name>
        <label>Assign URL For Drawloop</label>
        <locationX>443</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDDP?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;type=po&amp;revnum=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRevisionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;reprint=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exclude_Full_Line_Selected_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_URL_For_Email_Template</name>
        <label>Assign URL For Email Template</label>
        <locationX>795</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__purchOrdPrint?id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;revnum=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRevisionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;reprint=true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exclude_Full_Line_Selected_When_Template_Override_is_Active</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_blank_for_selected_template</name>
        <label>Check blank for selected template</label>
        <locationX>1758</locationX>
        <locationY>1138</locationY>
        <defaultConnector>
            <targetReference>Is_Template_Override_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Template_Invalid</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4)) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Template_Not_Valid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Template_Not_Valid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Email Template Invalid</label>
        </rules>
        <rules>
            <name>Rootforms_Invalid</name>
            <conditionLogic>(1 AND 2 AND 3 AND (4 OR 5)) OR (6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Root_Forms_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Root_Forms_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Rootforms Invalid</label>
        </rules>
        <rules>
            <name>Drawloop_Invalid</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4) AND 5) OR (6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Drawloop_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>drawLoopId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>drawLoopId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Drawloop_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Drawloop Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_defaulted_template_blank</name>
        <label>Check defaulted template blank</label>
        <locationX>1304</locationX>
        <locationY>1150</locationY>
        <defaultConnector>
            <targetReference>Is_Root_Forms_Enabled_in_SYCONFIG_and_SYDEFAULT_When_Template_Override_is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Rootform</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Root_Forms_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_rootform_template</targetReference>
            </connector>
            <label>Reset Rootform</label>
        </rules>
        <rules>
            <name>Reset_Drawloop</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Drawloop_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>drawLoopId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>drawLoopId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_drawloop_template</targetReference>
            </connector>
            <label>Reset Drawloop</label>
        </rules>
        <rules>
            <name>Reset_Email_template</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_email_template</targetReference>
            </connector>
            <label>Reset Email template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_valid_email_template</name>
        <label>Check for valid email template</label>
        <locationX>1686</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_template_not_found_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Default_Template</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Print_Options</targetReference>
            </connector>
            <label>Valid template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_control_print_template_blank</name>
        <label>Check PO control print template blank</label>
        <locationX>1299</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_PO_Control_email_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Print_Template_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Email_template_not_found_flag</targetReference>
            </connector>
            <label>Print Template blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Whether_The_Header_Template_Is_Null_When_Template_Override_is_Inactive</name>
        <label>Checking Whether The Header Template Is Null When Template Override is Inactive</label>
        <locationX>1353</locationX>
        <locationY>1229</locationY>
        <defaultConnector>
            <targetReference>Assign_Root_Form_Template_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Is_Null_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen_For_Template</targetReference>
            </connector>
            <label>Template Is Null When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_Selected_Revision_Number</name>
        <label>Has User Selected Revision Number</label>
        <locationX>2137</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>Assign_Revision_Number_As_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revision Number is not Selected</defaultConnectorLabel>
        <rules>
            <name>Revision_Number_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revision_Number_For_the_Selected_Print_Header_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Revision_Number_Based_on_The_Selected_Revision_Number</targetReference>
            </connector>
            <label>Revision Number Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Template_Id_Exists_When_Template_Override_is_Active</name>
        <label>Is Email Template Id Exists When Template Override is Active</label>
        <locationX>906</locationX>
        <locationY>1963</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Email_Template_Id_from_Header_When_Email_Template_Is_Not_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_template_Id_for_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Template_Id_When_Email_Template_Is_selected_By_The_User_And_Templat</targetReference>
            </connector>
            <label>Add template Id for URL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Template_Id_Exists_When_Template_Override_is_Inactive</name>
        <label>Is Email Template Id Exists When Template Override is Inactive</label>
        <locationX>2224</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_Template_Id_From_Header_When_Email_Template_Is_Not_selected_By_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Email_Template_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Template_Id_When_Email_Template_Is_selected_By_User_And_Template_Ov</targetReference>
            </connector>
            <label>Set Email Template Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exclude_Full_Line_Selected_When_Template_Override_is_Active</name>
        <label>Is Exclude Full Line Selected When Template Override is Active?</label>
        <locationX>797</locationX>
        <locationY>1177</locationY>
        <defaultConnector>
            <targetReference>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exclude Full Line Not Selected</defaultConnectorLabel>
        <rules>
            <name>Exclude_Full_Line_is_Selected_When_Template_Override_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exclude_fully_received_lines_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exclude_Full_Line_To_url_When_Template_Override_is_Active</targetReference>
            </connector>
            <label>Exclude Full Line is Selected When Template Override is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exclude_Full_Line_Selected_When_Template_Override_is_Inactive</name>
        <label>Is Exclude Full Line Selected When Template Override is Inactive?</label>
        <locationX>1968</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exclude Full Line Not Selected</defaultConnectorLabel>
        <rules>
            <name>Exclude_Full_Line_is_Selected_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exclude_fully_received_lines_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exclude_Full_Line_To_url_When_Template_Override_is_Inactive</targetReference>
            </connector>
            <label>Exclude Full Line is Selected When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Header_Template_Present_When_Template_Override_is_Inactive</name>
        <label>Is Header Template Present When Template Override is Inactive</label>
        <locationX>1619</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>Error_screen_For_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Id_Is_Not_Empty_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>headerTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Template_As_Header_Template_When_Template_Override_is_Inactive</targetReference>
            </connector>
            <label>Template Id Is Not Empty When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_header_template_valid</name>
        <label>Is header template valid?</label>
        <locationX>1035</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Check_PO_control_print_template_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid template</defaultConnectorLabel>
        <rules>
            <name>Email_Template_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_Options</targetReference>
            </connector>
            <label>Valid template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Po_Print_header_Exist</name>
        <label>Is Po Print header Exist</label>
        <locationX>1617</locationX>
        <locationY>1887</locationY>
        <defaultConnector>
            <targetReference>Create_Print_Record_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Po Print Header Not Exist</defaultConnectorLabel>
        <rules>
            <name>Po_Print_Header_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Revision_Number_For_the_Selected_Print_Header_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_Order_Review_For_Purchase_Order</targetReference>
            </connector>
            <label>Po Print Header Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Active</name>
        <label>Is Print Notes as Trailer Selected When Template Override is Active?</label>
        <locationX>798</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Print_Notes_as_Trailer_is_Selected_When_Template_Override_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Print_Notes_as_Trailer_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Print_Notes_as_Trailer_To_url_When_Template_Override_is_Active</targetReference>
            </connector>
            <label>Print Notes as Trailer is Selected When Template Override is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Print_Notes_as_Trailer_Selected_When_Template_Override_is_Inactive</name>
        <label>Is Print Notes as Trailer Selected When Template Override is Inactive?</label>
        <locationX>1966</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Print Notes as Trailer Not Selected</defaultConnectorLabel>
        <rules>
            <name>Print_Notes_as_Trailer_Selected_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Print_Notes_as_Trailer_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Print_Notes_as_Trailer_To_url_Is_Print_Notes_as_Trailer_Selected_When_Tem</targetReference>
            </connector>
            <label>Print Notes as Trailer Selected When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Root_Forms_Enabled_in_SYCONFIG_and_SYDEFAULT_When_Template_Override_is_Active</name>
        <label>Is Root Forms Enabled in SYCONFIG and SYDEFAULT When Template Override is Active</label>
        <locationX>844</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Assign_URL_For_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_The_Selected_Template_Root_Form_When_Template_Override_is_Active</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Root_Forms_ID_Present_When_Template_Override_Is_Active</targetReference>
            </connector>
            <label>Is The Selected Template Root Form When Template Override is Active</label>
        </rules>
        <rules>
            <name>Is_The_Selected_Template_Draw_Loop_When_Template_Override_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_drawloop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_URL_For_Drawloop</targetReference>
            </connector>
            <label>Is The Selected Template Draw Loop When Template Override is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Root_Forms_Enabled_in_SYCONFIG_SYDEFAULT_When_Template_Override_Is_Inactive</name>
        <label>Is Root Forms Enabled in SYCONFIG &amp; SYDEFAULT When Template Override Is Inactive</label>
        <locationX>1873</locationX>
        <locationY>813</locationY>
        <defaultConnector>
            <targetReference>Assign_for_Non_Email_Template_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_Email_Template_Selected_is_RootDox_When_Template_Override_is_Inactive</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Root_Forms_Id_Present_When_Template_Override_is_Inactive</targetReference>
            </connector>
            <label>Is the Email Template Selected is RootDox When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Root_Forms_Enabled_in_SYDEFAULT_and_SYCONFIG</name>
        <label>Is Root Forms Enabled in SYDEFAULT and SYCONFIG</label>
        <locationX>1292</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Header_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Template Enabled</defaultConnectorLabel>
        <rules>
            <name>Is_Root_Forms_Enabled</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootForms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SyDefault_Record.rstk__sydefault_formovr_pop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RootDOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_default_Rootform_template</targetReference>
            </connector>
            <label>Is Root Forms Enabled</label>
        </rules>
        <rules>
            <name>Is_Drawloop_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SyConfig_Record.rstk__syconfig_drawloop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_default_Drawloop_template</targetReference>
            </connector>
            <label>Is Drawloop Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Root_Forms_ID_Present_When_Template_Override_Is_Active</name>
        <label>Is Root Forms ID Present When Template Override Is Active</label>
        <locationX>986</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Error_screen_For_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Root_Form_Is_Present_when_Template_Override_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_For_Root_Form_Template_When_Template_Override_Is_Active</targetReference>
            </connector>
            <label>Root Form Is Present when Template Override Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Root_Forms_Id_Present_When_Template_Override_is_Inactive</name>
        <label>Is Root Forms Id Present When Template Override is Inactive</label>
        <locationX>1865</locationX>
        <locationY>1013</locationY>
        <defaultConnector>
            <targetReference>Is_Header_Template_Present_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Root_Form_Is_Not_Null_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RootFormId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Override_Root_Form_Template_When_Template_Override_is_Inactive</targetReference>
            </connector>
            <label>Root Form Is Not Null When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Active</name>
        <label>Is Suppress Full Line Selected When Template Override is Active</label>
        <locationX>771</locationX>
        <locationY>1659</locationY>
        <defaultConnector>
            <targetReference>Is_Email_Template_Id_Exists_When_Template_Override_is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Flow</defaultConnectorLabel>
        <rules>
            <name>Suppress_Full_Line_Selected_When_Template_Override_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suppress_Lines_Closed_Short_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Suppress_Lines_Closed_Short_To_url_When_Template_Override_is_Active</targetReference>
            </connector>
            <label>Suppress Full Line Selected When Template Override is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Suppress_Full_Line_Selected_When_Template_Override_is_Inactive</name>
        <label>Is Suppress Full Line Selected When Template Override is Inactive?</label>
        <locationX>1969</locationX>
        <locationY>1560</locationY>
        <defaultConnector>
            <targetReference>Is_Email_Template_Id_Exists_When_Template_Override_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Flow</defaultConnectorLabel>
        <rules>
            <name>Suppress_Full_Line_Selected_When_Template_Override_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suppress_Lines_Closed_Short_For_Email_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Suppress_Lines_Closed_Short_To_url_Is_Print_Notes_as_Trailer_Selected_Whe</targetReference>
            </connector>
            <label>Suppress Full Line Selected When Template Override is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Template_Override_Checked</name>
        <label>Is Template Override Checked?</label>
        <locationX>1429</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Is_Root_Forms_Enabled_in_SYCONFIG_SYDEFAULT_When_Template_Override_Is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overriding_The_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Control_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_defaulted_template_blank</targetReference>
            </connector>
            <label>Overriding The Template</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>checkHeaderValue</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c}) || ISNULL({!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c}),IF(ISBLANK({!Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c})  || ISNULL({!Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c}),null,{!Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c}),{!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c})</expression>
    </formulas>
    <formulas>
        <name>checkHeaderValueForOverridePOPrint</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c}),IF(ISNULL({!Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c}),&apos;&apos;,{!Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c}),
{!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c})</expression>
    </formulas>
    <formulas>
        <name>checkNotNullForPOPrintTemplate</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c}),&apos;&apos;,{!Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c})</expression>
    </formulas>
    <formulas>
        <name>checkNotNullForSelectedRevisionID</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Purchase_Order_Header_Record.rstk__pohdr_poprinthdr__c}),&apos;&apos;,{!Get_Purchase_Order_Header_Record.rstk__pohdr_poprinthdr__c})</expression>
    </formulas>
    <interviewLabel>PO Header Order Review {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Header Order Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Header_Email_Template</name>
        <label>Get Header Email Template</label>
        <locationX>1043</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_header_template_valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order_Header_Record.rstk__pohdr_poemailtmpl__c</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>Default_Template</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Control_email_template</name>
        <label>Get PO Control email template</label>
        <locationX>1695</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_valid_email_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_poprintemailtmpl__c</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>Default_Template</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Control_Record</name>
        <label>Get PO Control Record</label>
        <locationX>1260</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Print_Header_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__pocntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order_Header_Record.rstk__pohdr_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pocntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Print_Header_Record</name>
        <label>Get PO Print Header Record</label>
        <locationX>1381</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_POHDR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poprinthdr_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poprinthdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Header_Record</name>
        <label>Get Purchase Order Header Record</label>
        <locationX>805</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyConfig_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revision_Number_For_the_Selected_Print_Header_Record</name>
        <label>Get Revision Number For the Selected Print Header Record</label>
        <locationX>2143</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_Selected_Revision_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedRevisionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poprinthdr__c</object>
        <sortField>rootstock__Vendor_Revision_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyConfig_Record</name>
        <label>Get SyConfig Record</label>
        <locationX>962</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SyDefault_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syconfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SyDefault_Record</name>
        <label>Get SyDefault Record</label>
        <locationX>1117</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PO_Control_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydefault__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_screen</name>
        <label>Error_screen</label>
        <locationX>1615</locationX>
        <locationY>870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;No valid PO Print Email Template defined (set in PO Control Record).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Email_Template_Invalid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Rootforms_Invalid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Drawloop_Invalid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fault_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 12, 12);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_For_Template</name>
        <label>Error screen For Template</label>
        <locationX>1359</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlertUserForNoTemplateId</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Template&amp;nbsp;is&amp;nbsp;Required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_End_Screen</name>
        <label>Flow End Screen</label>
        <locationX>1897</locationX>
        <locationY>1711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endingOfFlow</name>
            <fieldText>&lt;p&gt;Your Order Review request has been processed Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Print_Options</name>
        <label>Print Options For Email Template</label>
        <locationX>1696</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Revision_Number_For_the_Selected_Print_Header_Record</targetReference>
        </connector>
        <fields>
            <name>Exclude_fully_received_lines_For_Email_Template</name>
            <dataType>Boolean</dataType>
            <fieldText>Exclude fully received lines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Notes_as_Trailer_For_Email_Template</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Notes as Trailer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetVendorRevisionEmailTemplate</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Print Revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poprinthdr_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poprinthdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rootstock__Vendor_Revision_Formula__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedRevisionId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRevisionId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Suppress_Lines_Closed_Short_For_Email_Template</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_supprintcl__c</elementReference>
            </defaultValue>
            <fieldText>Suppress Lines Closed Short</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetPOPrintEmailTemplatesEmailTemplate</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>POPrintTemplates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EmailTemplate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Print Form Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Folder.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>EmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>isActive = true</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailTemplateId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_Empty_space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Print_Options_For_Draw_Loop</name>
        <label>Print Options For Draw Loop</label>
        <locationX>1722</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Revision_Number_For_the_Selected_Print_Header_Record</targetReference>
        </connector>
        <fields>
            <name>Suppress_Lines_Closed_Short_For_Draw_Loop</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_supprintcl__c</elementReference>
            </defaultValue>
            <fieldText>Suppress Lines Closed Short</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Notes_as_Trailer_For_Draw_loop</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Notes as Trailer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetVendorRevisionForDrawLoop</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Print Revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poprinthdr_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poprinthdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rootstock__Vendor_Revision_Formula__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedRevisionId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRevisionId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Exclude_fully_received_lines_For_Draw_Loop</name>
            <dataType>Boolean</dataType>
            <fieldText>Exclude fully received lines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetPOPrintEmailTemplatesDrawLoop</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Loop__DDP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Print Form Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>drawLoopId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>drawLoopId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rootforms_Empty_space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Print_Options_For_Root_Form</name>
        <label>Print Options For Root Form</label>
        <locationX>1726</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Revision_Number_For_the_Selected_Print_Header_Record</targetReference>
        </connector>
        <fields>
            <name>Exclude_fully_received_lines_For_Root_Form</name>
            <dataType>Boolean</dataType>
            <fieldText>Exclude fully received lines</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Print_Notes_as_Trailer_For_Root_Form</name>
            <dataType>Boolean</dataType>
            <fieldText>Print Notes as Trailer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetVendorRevisionRootForm</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Print Revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poprinthdr_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>revision</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poprinthdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rootstock__Vendor_Revision_Formula__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>selectedRevisionId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRevisionId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Suppress_Lines_Closed_Short_For_Root_Form</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_PO_Control_Record.rstk__pocntl_supprintcl__c</elementReference>
            </defaultValue>
            <fieldText>Suppress Lines Closed Short</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetPOPrintEmailTemplatesRootForm</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Purchase Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>DOX__Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Print Form Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>DOX__Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>RootFormId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RootFormId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_PO_Control_Record.rstk__pocntl_potemplovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Drawloop_Empty_space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>513</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Get_Purchase_Order_Header_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>drawLoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Default_Template</elementReference>
        </value>
    </variables>
    <variables>
        <name>Email_Template_Not_Valid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Default_Template</elementReference>
        </value>
    </variables>
    <variables>
        <name>headerTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Default_Template</elementReference>
        </value>
    </variables>
    <variables>
        <name>HeaderTemplateOverride</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>checkHeaderValueForOverridePOPrint</elementReference>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>POHDR_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__pohdr__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RootFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Default_Template</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedRevisionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>checkNotNullForSelectedRevisionID</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedRevisionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>headerTemplate</elementReference>
        </value>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
