force-app/main/default/flows/rootstock__Product_Configurator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Product_Configuration_Url</name>
        <label>Product Configuration Url</label>
        <locationX>864</locationX>
        <locationY>65</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Url_Assignment</name>
        <label>Url Assignment</label>
        <locationX>651</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__confsess?sohdrId=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.rstk__soline_sohdrline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;socustId=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Sales_Order_Line.rstk__formula_socust__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Configuration_Url</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Product Configurator {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Product Configurator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>soline</description>
        <name>Get_Sales_Order_Line</name>
        <label>Get Sales Order Line</label>
        <locationX>487</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Url_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soline__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>568</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Sales Order Line : &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Sales_Order_Line.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Line</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
