force-app/main/default/flows/rootstock__Email_Invoice_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Email_Invoice_Batch</name>
        <label>Navigate to Email Invoice Batch</label>
        <locationX>185</locationX>
        <locationY>592</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>emailInvoiceBatchUrl</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <outputParameters>
            <assignToReference>returnUrl</assignToReference>
            <name>url</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_Template</name>
        <label>Assign Default Template</label>
        <locationX>558</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>invoiceEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SO_Control_Record.rstk__socntl_soinvtemplate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditMemoEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SO_Control_Record.rstk__socntl_socredittemplate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Invoice_Batch_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template_Url_for_Invoice_and_Credit_Memo</name>
        <label>Assign Email Template Url for Invoice and Credit Memo</label>
        <locationX>300</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__soinvBatchProcessingPDF?batchid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;flag=email&amp;emailtemplateid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invoiceEmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;creditEmailtemplateid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailInvoiceBatchUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditMemoEmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Email_Invoice_Batch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_Template_Exist</name>
        <label>Is Email Template Exist?</label>
        <locationX>1049</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Template_Exist</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5) OR (1 AND 4 AND 5) OR (2 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_System_Defaults_Record.rstk__sydefault_formovr_inv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_System_Defaults_Record.rstk__sydefault_formovr_crm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_System_Defaults_Record.rstk__sydefault_formovr_inv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_System_Defaults_Record.rstk__sydefault_formovr_crm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Override</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_System_Configuration_Record.rstk__syconfig_rootdox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Email Template Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Email Invoice Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Email Invoice Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sales_Order_Invoice_Batch_Record</name>
        <label>Get Sales Order Invoice Batch Record</label>
        <locationX>177</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Defaults_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__soibatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Control_Record</name>
        <label>Get SO Control Record</label>
        <locationX>558</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__socntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order_Invoice_Batch_Record.rstk__soibatch_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__socntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Configuration_Record</name>
        <label>Get System Configuration Record</label>
        <locationX>421</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SO_Control_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syconfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Defaults_Record</name>
        <label>Get System Defaults Record</label>
        <locationX>303</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Configuration_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydefault__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_Invoice_Batch_Screen</name>
        <label>Email Invoice Batch Screen</label>
        <locationX>425</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email_Template_Url_for_Invoice_and_Credit_Memo</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p&gt;Select Form Template&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmailTempForInv</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EmailTemplate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invoice Form Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Folder.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Invoice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>isActive = true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>invoiceEmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>invoiceEmailTemplateId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SO_Control_Record.rstk__socntl_invtemplovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailTempForCreditMemo</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EmailTemplate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Credit Memo Form Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Folder.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Credit Memo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>creditMemoEmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>isActive = true</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>creditMemoEmailTemplateId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SO_Control_Record.rstk__socntl_credittemplovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1064</locationX>
        <locationY>744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Email Invoice Batch can be processed when RootDOX is inactive and &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Override Form Tools is set to &apos;No Override&apos;&lt;/span&gt;/ Override Form Tools is set to &apos;Email Template&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Get_Sales_Order_Invoice_Batch_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>emailInvoiceBatch</stringValue>
        </value>
    </variables>
    <variables>
        <name>creditMemoEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailInvoiceBatchUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
    <variables>
        <name>invoiceEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>rstk__soibatch__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
