force-app/main/default/flows/rootstock__WO_Extract_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ADD_ALTCODE_FROM_ROUTOPER_ROUTHDR_ITEM</name>
        <label>ADD ALTCODE FROM ROUTOPER ROUTHDR ITEM</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>FINAL_ROUTING_OPERATIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_OPER_RTROUTHDR_ITEM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALT_OPER_CODES</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_OPER_RTROUTHDR_ITEM.rstk__rtroutoper_altcode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_OPER_RTROUTHDR_ITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ADD_ALTCODE_FROM_ROUTOPER_WOCST_ITEM</name>
        <label>ADD ALTCODE FROM ROUTOPER WOCST ITEM</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>FINAL_ROUTING_OPERATIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_OPER_WOCST_ITEM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALT_OPER_CODES</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_OPER_WOCST_ITEM.rstk__rtroutoper_altcode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_OPER_WOCST_ITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA</name>
        <label>Construct SYDATA</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extract Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_wocst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOCST.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_altcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Alt_Code_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Alt_Codes</name>
        <label>Count Alt Codes</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>ALT_CODES_COUNT</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ALT_OPER_CODES</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Alt_Code_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Element_From_Selected</name>
        <label>Get Element From Selected</label>
        <locationX>138</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Selected_Routing_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Routing_Operations_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Routing_Operations_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Alt_Code_Collection</name>
        <label>Check Alt Code Collection</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alt Code Not Found</defaultConnectorLabel>
        <rules>
            <name>Alt_Code_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALT_CODES_COUNT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ALT_CODES_COUNT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alt_Code_Selection_Screen</targetReference>
            </connector>
            <label>Alt Code Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Alt_Code_Exists_From_ROUTHDR_Item</name>
        <label>Check Alt Code Exists From ROUTHDR Item</label>
        <locationX>358</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ADD_ALTCODE_FROM_ROUTOPER_ROUTHDR_ITEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alt Code Doesnt Exists From ROUTHDR Item</defaultConnectorLabel>
        <rules>
            <name>Alt_Code_Exists_From_ROUTHDR_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALT_OPER_CODES</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_OPER_RTROUTHDR_ITEM.rstk__rtroutoper_altcode__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_OPER_RTROUTHDR_ITEM</targetReference>
            </connector>
            <label>Alt Code Exists From ROUTHDR Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Alt_Code_Exists_From_WOCST_Item</name>
        <label>Check Alt Code Exists From WOCST Item</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ADD_ALTCODE_FROM_ROUTOPER_WOCST_ITEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alt Code Doesnt Exists From WOCST Item</defaultConnectorLabel>
        <rules>
            <name>Alt_Code_Exists_From_WOCST_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALT_OPER_CODES</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOP_OPER_WOCST_ITEM.rstk__rtroutoper_altcode__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_OPER_WOCST_ITEM</targetReference>
            </connector>
            <label>Alt Code Exists From WOCST Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_recordId</name>
        <label>Check recordId</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>WO_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordId Sent</defaultConnectorLabel>
        <rules>
            <name>recordId_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOCST</targetReference>
            </connector>
            <label>recordId Sent</label>
        </rules>
    </decisions>
    <formulas>
        <name>Selected_Alt_Code_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Selected_Routing_Operation.Id}), &quot;&quot;, {!Selected_Routing_Operation.rstk__rtroutoper_altcode__c})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WO Extract Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Extract Operations</label>
    <loops>
        <name>LOOP_OPER_RTROUTHDR_ITEM</name>
        <label>LOOP OPER RTROUTHDR ITEM</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <collectionReference>RTROUTOPER_RTROUTHDR_ITEM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Alt_Code_Exists_From_ROUTHDR_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Alt_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_OPER_WOCST_ITEM</name>
        <label>LOOP OPER WOCST ITEM</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <collectionReference>RTROUTOPER_WOCST_ITEM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Alt_Code_Exists_From_WOCST_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RTROUTOPER_RTROUTHDR_ITEM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Routing_Operations_Loop</name>
        <label>Selected Routing Operations Loop</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <collectionReference>Selected_Routing_Operations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Element_From_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Construct_SYDATA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SYDATA</name>
        <label>Create SYDATA</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Get_SYDATA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_SYDATA_Failure</targetReference>
        </faultConnector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SYDATA</name>
        <label>Get SYDATA</label>
        <locationX>182</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RTROUTOPER_RTROUTHDR_ITEM</name>
        <label>RTROUTOPER RTROUTHDR ITEM</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_OPER_RTROUTHDR_ITEM</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>rstk__rtroutoper_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__r.rstk__icitem_iccomcod__r.rstk__iccomcod_refroutitem__r.rstk__rtrouthdr_item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_adddate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_effdte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_deldate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_deldate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_effdte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_altcode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__rtroutoper__c</object>
        <sortField>rstk__rtroutoper_altcode__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RTROUTOPER_WOCST_ITEM</name>
        <label>RTROUTOPER WOCST ITEM</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_OPER_WOCST_ITEM</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>rstk__rtroutoper_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_adddate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_effdte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_deldate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_deldate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>WOCST.rstk__wocst_effdte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__rtroutoper_altcode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__rtroutoper__c</object>
        <sortField>rstk__rtroutoper_altcode__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_recordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Manufacturing_User_Found_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTROUTOPER_WOCST_ITEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Alt_Code_Selection_Screen</name>
        <label>Alt Code Selection Screen</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Routing_Operations_Loop</targetReference>
        </connector>
        <fields>
            <name>Alt_Code_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Alternate&amp;nbsp;Operation&amp;nbsp;Code&amp;nbsp;(optional):&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Alt_Codes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__rtroutoper__c</typeValue>
            </dataTypeMappings>
            <extensionName>rootstock:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FINAL_ROUTING_OPERATIONS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>rstk__rtroutoper_altcode__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Routing_Operations</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_SYDATA_Failure</name>
        <label>Create SYDATA Failure</label>
        <locationX>534</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_SYDATA_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Manufacturing_User_Found_Error_Screen</name>
        <label>No Manufacturing User Found Error Screen</label>
        <locationX>798</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Manufacturing_User_Found_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Manufacturing User is not setup for the current user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SYDATA_Success</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Operations have been extracted successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA.rstk__sydata_process__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ProcessingComplete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SYDATA_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Get_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_SYDATA.rstk__sydata_process__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>ProcessingComplete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Selection</name>
        <label>WO Selection</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Division:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;{!User.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_wo_lkp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Work Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.Name = &apos;Regular&apos; AND rstk__wocst_disassmind__c = FALSE AND rstk__wocst_reworkind__c = FALSE AND rstk__wocst_ordsts__c != &apos;1&apos; AND rstk__wocst_ordsts__c != &apos;9&apos; AND rootstock__Number_of_Demand_Lines__c = 0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALT_CODES_COUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ALT_OPER_CODES</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FINAL_ROUTING_OPERATIONS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Routing_Operation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>Selected_Routing_Operations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__rtroutoper__c</objectType>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
