force-app/main/default/flows/rootstock__LUI_DWO_Update_Derived_Component_Serial_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Srl_Entry</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter Serial&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Srl_Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Srl_Generate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Generate Serials&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Srl_Generate</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Serial_Item</name>
        <label>Is Serial Item</label>
        <locationX>1609</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Non_Serial_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Serial Item</defaultConnectorLabel>
        <rules>
            <name>Serial_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate</targetReference>
            </connector>
            <label>Serial Item</label>
        </rules>
    </decisions>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Serial_Tracked</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Disassembly_Derived_Component_Record.rstk__icdreq_item__r.rstk__icitem_srlcontrol__c}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>WOORDSRL_Name</name>
        <dataType>String</dataType>
        <expression>{!WOCST.rstk__wocst_ordno__c} &amp; &quot;_&quot; &amp; TEXT({!SEQ_NO})</expression>
    </formulas>
    <formulas>
        <name>WOORDSRL_WOTYPE</name>
        <dataType>String</dataType>
        <expression>IF({!WOCST.rstk__wocst_disassmind__c}==TRUE, &quot;D&quot;, IF({!WOCST.rstk__wocst_refurbind__c}==TRUE, &quot;B&quot;, IF({!WOCST.rstk__wocst_reworkind__c}==TRUE, &quot;R&quot;, &quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Update Derived Component Serial Number {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Derived Component Serial Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Disassembly_Derived_Component_Record</name>
        <label>Get Disassembly Derived Component Record</label>
        <locationX>1248</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icdreq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>1414</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Serial_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Disassembly_Derived_Component_Record.rstk__icdreq_wocst__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disassembly_Derived_Component</name>
        <label>Update Disassembly Derived Component</label>
        <locationX>1999</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rstk__icdreq_serial__c</field>
            <value>
                <elementReference>Serial_Numbers</elementReference>
            </value>
        </inputAssignments>
        <object>rstk__icdreq__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2193</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate</name>
        <label>Generate</label>
        <locationX>1816</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Disassembly_Derived_Component</targetReference>
        </connector>
        <fields>
            <name>UpdateSerial</name>
            <extensionName>rootstock:lwcGenerateSerial</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rcptQty</name>
                <value>
                    <elementReference>Get_Disassembly_Derived_Component_Record.rstk__icdreq_actqty__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUpdateSerial</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Non_Serial_WO</name>
        <label>Non Serial WO</label>
        <locationX>1619</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Non_Serial_WO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The item in this disassembly derived component is not a serial controlled item. Cannot generate/edit serials for a non-serial item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1999</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Serial Numbers has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>844</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Get_Disassembly_Derived_Component_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disDerivedCompRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__icdreq__c</objectType>
    </variables>
    <variables>
        <name>error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>license_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SEQ_NO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Serial_Numbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Serial_Numbers_Copy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOORDSRL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woordsrl__c</objectType>
    </variables>
    <variables>
        <name>WOORDSRLS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woordsrl__c</objectType>
    </variables>
</Flow>
