force-app/main/default/flows/rootstock__LUI_Rootstock_Cost_Transaction_Dimensions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Rootstock Cost Transaction - Dimensions {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Rootstock Cost Transaction - Dimensions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Company</name>
        <label>Get Company</label>
        <locationX>332</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dimension_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cost_Transaction.rstk__sytxncst_div__r.rstk__sydiv_cmpno__r.Id</elementReference>
            </value>
        </filters>
        <object>rstk__sycmp__c</object>
        <outputAssignments>
            <assignToReference>Dim1Source</assignToReference>
            <field>rstk__sycmp_dim1source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim2Source</assignToReference>
            <field>rstk__sycmp_dim2source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim3Source</assignToReference>
            <field>rstk__sycmp_dim3source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim4Source</assignToReference>
            <field>rstk__sycmp_dim4source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim5Source</assignToReference>
            <field>rstk__sycmp_dim5source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim6Source</assignToReference>
            <field>rstk__sycmp_dim6source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim7Source</assignToReference>
            <field>rstk__sycmp_dim7source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Dim8Source</assignToReference>
            <field>rstk__sycmp_dim8source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoOfDims</assignToReference>
            <field>rstk__sycmp_numdims__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cost_Transaction</name>
        <label>Get Cost Transaction</label>
        <locationX>185</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sytxncst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Dimension_Details</name>
        <label>Dimension Details</label>
        <locationX>462</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dim1</name>
            <fieldText>&lt;p&gt;{!Dim1Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim1Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim2</name>
            <fieldText>&lt;p&gt;{!Dim2Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim2Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim3</name>
            <fieldText>&lt;p&gt;{!Dim3Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim3Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim4</name>
            <fieldText>&lt;p&gt;{!Dim4Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim4Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim5</name>
            <fieldText>&lt;p&gt;{!Dim5Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim5__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim5Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim6</name>
            <fieldText>&lt;p&gt;{!Dim6Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim6__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim6Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim7</name>
            <fieldText>&lt;p&gt;{!Dim7Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim7__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim7Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dim8</name>
            <fieldText>&lt;p&gt;{!Dim8Source} Dimension : {!Get_Cost_Transaction.rstk__sytxncst_dim8__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dim8Source</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Cost_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim1Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim2Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim3Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim4Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim5Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim6Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim7Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Dim8Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfDims</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
