force-app/main/default/flows/rootstock__LUI_DWO_Disassembly_WO_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Construct_Dmd_Table_Cols</name>
        <label>Construct Dmd Table Cols</label>
        <locationX>1745</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>dmdtable_col_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_req</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyReq_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_iss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyIss_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dmdtable_col_qty_rem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QtyRem_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prep_Dmd_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Non_Serial</name>
        <label>Construct SYDATA Non Serial</label>
        <locationX>3696</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_To_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_On_ICLOCITEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_SYDATA_Serial</name>
        <label>Construct SYDATA Serial</label>
        <locationX>3960</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WO Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_woorddmd__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_pjproj__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lot_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lot</name>
        <label>Populate Lot</label>
        <locationX>4611</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICITEMLOT.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICITEMLOT.rstk__icitemlot_expiredate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lot_And_Expiration_Date</name>
        <label>Populate Lot And Expiration Date</label>
        <locationX>4214</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_icitemlot__r.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA.rstk__sydata_lotexpirationdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICLOCITEM.rstk__iclocitem_icitemlot__r.rstk__icitemlot_expiredate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RESET_VARS</name>
        <label>RESET VARS</label>
        <locationX>2597</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocId_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_LocNum_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Demands</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Context</name>
        <label>Check Context</label>
        <locationX>992</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>SYUSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordID</defaultConnectorLabel>
        <rules>
            <name>recordID_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOCST</targetReference>
            </connector>
            <label>recordID Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lot_On_ICLOCITEM</name>
        <label>Check Lot On ICLOCITEM</label>
        <locationX>3943</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ICITEMLOT</defaultConnectorLabel>
        <rules>
            <name>Found_ICITEMLOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ICLOCITEM.rstk__iclocitem_icitemlot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lot_And_Expiration_Date</targetReference>
            </connector>
            <label>Found ICITEMLOT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lot_Selected</name>
        <label>Check Lot Selected</label>
        <locationX>4205</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lot Selected</defaultConnectorLabel>
        <rules>
            <name>Lot_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_ICITEMLOT_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICITEMLOT</targetReference>
            </connector>
            <label>Lot Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serials_Selection</name>
        <label>Check Serials Selection</label>
        <locationX>3796</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Construct_SYDATA_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Must_Select_Serial</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manual_Serial_Entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_Serials</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Serials</targetReference>
            </connector>
            <label>Must Select Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Non_Serial</name>
        <label>Check Skip Component Issue - Non Serial</label>
        <locationX>2996</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Validate_Selected_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Non Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Non_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_non_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Non Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Skip_Component_Issue_Serial</name>
        <label>Check Skip Component Issue - Serial</label>
        <locationX>3006</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Validate_Loc_Selections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue - Serial</defaultConnectorLabel>
        <rules>
            <name>Skip_Issue_Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skip_this_component_issue_serial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RESET_VARS</targetReference>
            </connector>
            <label>Skip Issue - Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOORDDMDs</name>
        <label>Check WOORDDMDs</label>
        <locationX>1389</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Prep_Dmd_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOORDDMD Outstanding</defaultConnectorLabel>
        <rules>
            <name>No_WOORDDMD_Outstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOORDDMDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYUSR</targetReference>
            </connector>
            <label>No WOORDDMD Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Serial</name>
        <label>Is Serial?</label>
        <locationX>2601</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Issue_Component_Non_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Serial-No</defaultConnectorLabel>
        <rules>
            <name>Serial_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Serial-Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Loc_Selections</name>
        <label>Validate Loc Selections</label>
        <locationX>3192</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>SYLOCNUM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc Id/Num</defaultConnectorLabel>
        <rules>
            <name>Invalid_Loc_Id_Num</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) ) OR ( 4 AND ( 5 OR 6 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocId_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_LocNum_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loc_Num_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Select_Locations_Lot</targetReference>
            </connector>
            <label>Invalid Loc Id/Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Selected_Options</name>
        <label>Validate Selected Options</label>
        <locationX>3095</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>ICLOCITEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Loc And Qty</defaultConnectorLabel>
        <rules>
            <name>Loc_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_ICLOCITEM_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Loc Not Selected</label>
        </rules>
        <rules>
            <name>Invalid_Issue_Quantity</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked_Comp</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_To_Issue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Component_Non_Serial</targetReference>
            </connector>
            <label>Invalid Issue Quantity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Component_Serials_Lot</name>
        <dataType>String</dataType>
        <displayField>rstk__iclocitem_locsec__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__iclocitem_availind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_iccontainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemlot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_icitemsrl__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locnum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loc_Num_To_Use</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_locqty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_loctype_pl__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hand</stringValue>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_proj__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_issproj__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__iclocitem_site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOORDDMD.rstk__woorddmd_site__c</elementReference>
            </value>
        </filters>
        <object>rstk__iclocitem__c</object>
        <sortField>rstk__iclocitem_locsec__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>rstk__iclocitem_locsec__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>IF({!Manual_Serial_Entry}==TRUE,
(LEN({!Enter_Serials}) - LEN(SUBSTITUTE({!Enter_Serials}, &apos;,&apos;, &apos;&apos;) ) + 1),
(LEN({!Select_Serials}) - LEN(SUBSTITUTE({!Select_Serials}, &apos;;&apos;, &apos;&apos;) ) + 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Loc_Num_Required</name>
        <dataType>Boolean</dataType>
        <expression>{!WOORDDMD.rstk__woorddmd_site__r.rstk__sysite_sylocnum_reqind__c}</expression>
    </formulas>
    <formulas>
        <name>Loc_Num_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Location_Number}!=NULL, {!Location_Number},{!SYLOCNUM.rstk__sylocnum_locnum__c})</expression>
    </formulas>
    <formulas>
        <name>Lot_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracklot_pl__c})</expression>
    </formulas>
    <formulas>
        <name>QtyIss_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyiss__c})</expression>
    </formulas>
    <formulas>
        <name>QtyRem_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyoutstdg__c})</expression>
    </formulas>
    <formulas>
        <name>QtyReq_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <name>Serial_Tracked_Comp</name>
        <dataType>String</dataType>
        <expression>TEXT({!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_tracksrl_pl__c})</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Manual_Serial_Entry}==TRUE, {!Enter_Serials}, SUBSTITUTE({!Select_Serials}, &apos;; &apos;, &apos;,&apos;))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Disassembly WO Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Disassembly WO Issue</label>
    <loops>
        <name>Demands</name>
        <label>Demands</label>
        <locationX>2355</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>WOORDDMD</assignNextValueToReference>
        <collectionReference>WOORDDMDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Serial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prep_Dmd_Table</name>
        <label>Prep Dmd Table</label>
        <locationX>1744</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>WOORDDMD</assignNextValueToReference>
        <collectionReference>WOORDDMDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Construct_Dmd_Table_Cols</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Construct_Dmd_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_SYDATA</name>
        <label>SYDATA</label>
        <locationX>4611</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>GET_SYDATA</targetReference>
        </connector>
        <inputReference>SYDATA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_SYDATA</name>
        <label>SYDATA</label>
        <locationX>4611</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Component_Issue_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICITEMLOT</name>
        <label>ICITEMLOT</label>
        <locationX>4462</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Lot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICITEMLOT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__icitemlot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ICLOCITEM</name>
        <label>ICLOCITEM</label>
        <locationX>3468</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_SYDATA_Non_Serial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_ICLOCITEM_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__iclocitem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYLOCNUM</name>
        <label>SYLOCNUM</label>
        <locationX>3479</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Component_Select_Serials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_LocNum_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sylocnum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SYUSR</name>
        <label>SYUSR</label>
        <locationX>1001</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOCST_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOCST</name>
        <label>WOCST</label>
        <locationX>1192</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOORDDMDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WOORDDMDs</name>
        <label>WOORDDMDs</label>
        <locationX>1395</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WOORDDMDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__woorddmd_qtyoutstdg__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Component_Issue_Result</name>
        <label>Component Issue Result</label>
        <locationX>4297</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RESET_VARS</targetReference>
        </connector>
        <fields>
            <name>Component_Issue_SYDATA_Result</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SYDATA:&lt;/b&gt; &lt;a href=&quot;/{!GET_SYDATA.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Qty Issued:&lt;/b&gt; {!GET_SYDATA.rstk__sydata_txnqty__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to issue another component.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Non_Serial</name>
        <label>Issue Component - Non-Serial</label>
        <locationX>2886</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Non_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Component Item:&lt;/b&gt; {!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Issued: &lt;/b&gt;{!QtyIss_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Remaining: &lt;/b&gt;{!QtyRem_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lot Tracked:&lt;/b&gt; {!Lot_Tracked_Comp}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Serial Tracked:&lt;/b&gt; {!Serial_Tracked_Comp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inv_Loc_Lookup_No_Lot_No_Srl</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__iclocitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_locinfostring__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Issue from:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__iclocitem_icitem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_compitem__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICLOCITEM_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__iclocitem_div__c = &apos;{!WOORDDMD.rstk__woorddmd_div__c}&apos; AND rstk__iclocitem_site__c = &apos;{!WOORDDMD.rstk__woorddmd_site__c}&apos; AND rstk__iclocitem_proj__c = &apos;{!WOORDDMD.rstk__woorddmd_issproj__c}&apos; AND rstk__iclocitem_locqty__c &gt; 0 AND rstk__iclocitem_availind__c = true AND rstk__iclocitem_icitemsrl__c = NULL AND rstk__iclocitem_iccontainer__c = NULL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICLOCITEM_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Loc_Not_Selected_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select an inventory location to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Not_Selected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity_To_Issue</name>
            <dataType>Number</dataType>
            <fieldText>Quantity To Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Invalid_Quantity_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter a valid quantity to issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Issue_Quantity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skip_this_component_issue_non_serial</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Locations_Lot</name>
        <label>Issue Component - Select Locations/Lot</label>
        <locationX>2963</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Skip_Component_Issue_Serial</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Component Item:&lt;/b&gt; {!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Issued:&lt;/b&gt; {!QtyIss_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Remaining:&lt;/b&gt; {!QtyRem_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lot Tracked:&lt;/b&gt; {!Lot_Tracked_Comp}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Serial Tracked: &lt;/b&gt;{!Serial_Tracked_Comp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocID_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocid_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__sylocid_site__c = &apos;{!WOORDDMD.rstk__woorddmd_site__c}&apos; AND rstk__sylocid_loctype_pl__c = &apos;On Hand&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Location Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocId_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocId_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LocNum_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_locnum</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_locid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__sylocnum__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__sylocnum_locid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Location Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_LocNum_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_LocNum_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Location_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter a Location Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loc_Num_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invalid_Loc_Id_Num_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select/enter a valid Location Id and Location Number to issue from&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Loc_Id_Num_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lot_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__icitemlot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_lotno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__icitemlot_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Lot Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>WOORDDMD.rstk__woorddmd_div__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__icitemlot_item__c = &apos;{!WOORDDMD.rstk__woorddmd_compitem__c}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_ICITEMLOT_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ICITEMLOT_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked_Comp</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skip_this_component_issue_serial</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this component issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Component_Select_Serials</name>
        <label>Issue Component - Select Serials</label>
        <locationX>3642</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Serials_Selection</targetReference>
        </connector>
        <fields>
            <name>Component_Info_Copy2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Component &lt;/b&gt;&lt;b&gt;Item:&lt;/b&gt; {!WOORDDMD.rstk__woorddmd_compitem__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Required:&lt;/b&gt; {!QtyReq_Text}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Quantity Issued: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!QtyIss_Text}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantity Remaining: &lt;/b&gt;{!QtyRem_Text}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lot Tracked:&lt;/b&gt; {!Lot_Tracked_Comp}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Serial Tracked:&lt;/b&gt; {!Serial_Tracked_Comp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Serials</name>
            <choiceReferences>Component_Serials_Lot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must select/enter serial number(s) to issue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Must_Select_Serial</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manual_Serial_Entry</name>
            <dataType>Boolean</dataType>
            <fieldText>Manual Serial Entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Serials</name>
            <dataType>String</dataType>
            <fieldText>Enter Serials (comma separated)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manual_Serial_Entry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>2358</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>issue_message</name>
            <fieldText>&lt;p&gt;WO Components has been issued successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Demands_Display</name>
        <label>WO Demands Display</label>
        <locationX>2144</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Demands</targetReference>
        </connector>
        <fields>
            <name>WO_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Division: &lt;/b&gt;{!WOCST.rstk__wocst_div__r.Name}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Work Order&lt;/b&gt;: {!WOCST.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Assembly Item&lt;/b&gt;: {!WOCST.rstk__wocst_item__r.rstk__icitem_item__r.rstk__peitem_item__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Components_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Components&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!dmdtable_string}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to issue components one by one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WOCST_Selection</name>
        <label>WOCST Selection</label>
        <locationX>1195</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOCST</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division:&lt;/b&gt; {!SYUSR.rstk__syusr_lastdiv__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WO_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__wocst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Work Order to process:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__wocst_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>SYUSR.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>(rstk__wocst_disassmind__c = FALSE AND rstk__wocst_numbops__c &gt; 0 AND rstk__wocst_ordsts__c IN (&apos;5&apos;,&apos;7&apos;,&apos;8&apos;))</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_wo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NoQtyOutstanding</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;No Quantities outstanding on selected Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_WOORDDMD_Outstanding</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>531</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Check_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Construct_Dmd_Table</name>
        <label>Construct Dmd Table</label>
        <locationX>1940</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>WO_Demands_Display</targetReference>
        </connector>
        <flowName>rstk__Make_a_table_flow</flowName>
        <inputAssignments>
            <name>cvColumn1Values</name>
            <value>
                <elementReference>dmdtable_col_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn2Values</name>
            <value>
                <elementReference>dmdtable_col_qty_req</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn3Values</name>
            <value>
                <elementReference>dmdtable_col_qty_iss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn4Values</name>
            <value>
                <elementReference>dmdtable_col_qty_rem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader1Text</name>
            <value>
                <stringValue>Comp Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader2Text</name>
            <value>
                <stringValue>Qty Req</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader3Text</name>
            <value>
                <stringValue>Qty Iss</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader4Text</name>
            <value>
                <stringValue>Qty Rem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTableStyle</name>
            <value>
                <stringValue>width=&quot;100%&quot;</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>dmdtable_string</assignToReference>
            <name>TableHTMLOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_item</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_iss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_rem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_col_qty_req</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dmdtable_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICITEMLOT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_ICLOCITEM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_LocNum_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
    <variables>
        <name>WOORDDMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
</Flow>
