force-app/main/default/flows/rootstock__Delete_Unit_Of_Measure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unit_of_Measure_List_Redirection</name>
        <label>Unit of Measure List Redirection</label>
        <locationX>1263</locationX>
        <locationY>448</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Actual_Fault_Message</name>
        <label>Assign Actual Fault Message</label>
        <locationX>687</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formula_Text_Fault_Message</name>
        <label>Assign Formula Text Fault Message</label>
        <locationX>683</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>faultMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirection_URL</name>
        <label>Assign Redirection URL</label>
        <locationX>1261</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/lightning/o/rstk__syuom__c/list?filterName=Recent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unit_of_Measure_List_Redirection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>deleteNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>deleteYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Custom_Field_Exception</name>
        <label>Is Custom Field Exception?</label>
        <locationX>867</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_Actual_Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Custom Exception</defaultConnectorLabel>
        <rules>
            <name>Custom_Field_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formula_Text_Fault_Message</targetReference>
            </connector>
            <label>Custom Field Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delete_Confirmed</name>
        <label>Is Delete Confirmed?</label>
        <locationX>669</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_delete_this_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>deleteYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Record</targetReference>
            </connector>
            <label>Delete Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>faultMessageFormula</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>Unit Of Measure {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Delete Unit Of Measure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Record</name>
        <label>Delete Selected Record</label>
        <locationX>877</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Delete_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Custom_Field_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>rstk__syuom__c</object>
    </recordDeletes>
    <screens>
        <name>Delete_Confirmation</name>
        <label>Delete Confirmation</label>
        <locationX>500</locationX>
        <locationY>212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Delete_Confirmed</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_delete_this_record</name>
            <choiceReferences>deleteYes</choiceReferences>
            <choiceReferences>deleteNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to delete this record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Success_Screen</name>
        <label>Delete Success Screen</label>
        <locationX>1095</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Redirection_URL</targetReference>
        </connector>
        <fields>
            <name>notDelete</name>
            <fieldText>&lt;p&gt;The record has been deleted successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>518</locationX>
        <locationY>444</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Delete_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
