force-app/main/default/flows/rootstock__PO_Receipt_Reversal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Current_PO_Header_Value</name>
        <label>Assign Current PO Header Value</label>
        <locationX>435</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Selected_POHDR_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pohdr_id_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cost_Accounting_Control_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_PO_Line_Value</name>
        <label>Assign Current PO Line Value</label>
        <locationX>523</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Selected_POLINE_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PO_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Qty</name>
        <label>Assign Qty</label>
        <locationX>996</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Qty_to_Process</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reverse_Qty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>background_processing_assignment</name>
        <label>Assign background processing</label>
        <locationX>732</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_backgroundprocessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_SYDATA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CONSTRUCT_SYDATA</name>
        <label>SYDATA</label>
        <locationX>864</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txntype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Receipt Reversal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txnqty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qty_to_Process</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_srlnos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serials_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_lotno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_To_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_rtv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_pohdr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_POHDR_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_poline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_POLINE_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_porcptno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PORCPTCST.rstk__porcptcst_rcptno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sydiv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sysite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PORCPTLOCDTL.rstk__porlocdtl_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_sylocid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PORCPTLOCDTL.rstk__porlocdtl_locid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_locnum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PORCPTLOCDTL.rstk__porlocdtl_locnum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_txncomments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SYDATA_R.rstk__sydata_acctgdateovr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Serial_Tracked_Item_and_selected_qty_80</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Qty</name>
        <label>Assign Qty</label>
        <locationX>732</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Qty_to_Process</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Serials</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_serial_track</name>
        <label>Check for serial track</label>
        <locationX>864</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assign_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Qty</targetReference>
            </connector>
            <label>Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mfg_User</name>
        <label>Check Mfg User</label>
        <locationX>748</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Manufacturing_User_Found_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mfg User</defaultConnectorLabel>
        <rules>
            <name>Have_Mfg_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_record_Id_present</targetReference>
            </connector>
            <label>Have Mfg User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Processing_status</name>
        <label>Check Processing status?</label>
        <locationX>864</locationX>
        <locationY>3062</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_processing_status_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SYDATA</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Qty_Serials</name>
        <label>Check Qty/Serials</label>
        <locationX>556</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Check_for_serial_track</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Qty</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reverse_Qty</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reverse_Qty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_qtyacc__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation</targetReference>
            </connector>
            <label>Invalid Qty</label>
        </rules>
        <rules>
            <name>Invalid_Serials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Serials_To_Use</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation</targetReference>
            </connector>
            <label>Invalid Serials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_record_Id_present</name>
        <label>Is record Id present?</label>
        <locationX>303</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Type_of_The_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_Id_is_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cost_Accounting_Control_Record</targetReference>
            </connector>
            <label>record Id is not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serial_Tracked_Item_and_selected_qty_80</name>
        <label>Serial Tracked Item and selected quantity &gt;80?</label>
        <locationX>864</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>CREATE_SYDATA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial_item_with_qty_80</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Tracked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_Serials</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>background_processing_assignment</targetReference>
            </connector>
            <label>Serial item with quantity &gt; 80</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Date_Validation</name>
        <label>Transaction Date Validation</label>
        <locationX>303</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>GET_PORCPTCST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_validation</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Transcation_date_validation_formula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transaction_Date</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Validation_Screenn</targetReference>
            </connector>
            <label>Date validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_The_Record_Id</name>
        <label>Type of The Record Id</label>
        <locationX>435</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_PO_Line_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Id_is_PO_header</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pohdr__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Header</targetReference>
            </connector>
            <label>Record Id is PO header</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GET_RCPTLOCDTL_SRLS</name>
        <dataType>String</dataType>
        <displayField>rstk__porlocdtl_srlno__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__porlocdtl_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_POLINE_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__porlocdtl_qtyacc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__porlocdtl_rcptno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PORCPTCST.rstk__porcptcst_rcptno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__porlocdtl_srlno__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rstk__porlocdtl__c</object>
        <valueField>rstk__porlocdtl_srlno__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AcceptedQtyText</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_qtyacc__c})</expression>
    </formulas>
    <formulas>
        <name>Count_Serials</name>
        <dataType>Number</dataType>
        <expression>(LEN({!Reverse_Serials}) - LEN(SUBSTITUTE({!Reverse_Serials}, &apos;;&apos;, &apos;&apos;) ) + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>division_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId}),{!User.rstk__syusr_lastdiv__r.Name},{!Get_PO_Header.rstk__pohdr_div__r.Name})</expression>
    </formulas>
    <formulas>
        <name>division_formula_for_id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId}),{!User.rstk__syusr_lastdiv__r.Id},{!Get_PO_Header.rstk__pohdr_div__r.Id})</expression>
    </formulas>
    <formulas>
        <name>Lot_To_Use</name>
        <dataType>String</dataType>
        <expression>IF({!Lot_Tracked}==TRUE &amp;&amp; {!Serial_Tracked}==FALSE, {!GET_PORCPTLOCDTL.rstk__porlocdtl_locsec__c},NULL)</expression>
    </formulas>
    <formulas>
        <name>Lot_Tracked</name>
        <dataType>Boolean</dataType>
        <expression>{!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_item__r.rstk__poitem_item__r.rstk__icitem_lotcontrol__c}</expression>
    </formulas>
    <formulas>
        <name>pohdr_id_formula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!sObjectName},&apos;pohdr__c&apos;)=true, {!recordId}, {!Get_PO_Line_Record.rstk__poline_ordno__c})</expression>
    </formulas>
    <formulas>
        <name>Process_QTY_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Qty_to_Process})</expression>
    </formulas>
    <formulas>
        <name>QtyRTVText</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_qtyrtv__c})</expression>
    </formulas>
    <formulas>
        <name>RequiredQtyText</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_qtyreq__c})</expression>
    </formulas>
    <formulas>
        <name>ReverseQtyText</name>
        <dataType>String</dataType>
        <expression>TEXT({!GET_SYDATA.rstk__sydata_txnqty__c})</expression>
    </formulas>
    <formulas>
        <name>RTV_YesNo</name>
        <dataType>String</dataType>
        <expression>IF({!RTV}==TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>Serial_Tracked</name>
        <dataType>Boolean</dataType>
        <expression>{!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_item__r.rstk__poitem_item__r.rstk__icitem_srlcontrol__c}</expression>
    </formulas>
    <formulas>
        <name>Serials_To_Use</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Reverse_Serials}, &apos;; &apos;, &apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>Transcation_date_validation_formula</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate} - 365)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PO Receipt Reversal {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Receipt Reversal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_SYDATA</name>
        <label>SYDATA</label>
        <locationX>864</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>GET_SYDATA</targetReference>
        </connector>
        <inputReference>SYDATA_R</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cost_Accounting_Control_Record</name>
        <label>Get Cost Accounting Control Record</label>
        <locationX>303</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__csacctcntl_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>division_formula_for_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__csacctcntl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Header</name>
        <label>Get PO Header</label>
        <locationX>435</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_PO_Header_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pohdr_id_formula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Line_Record</name>
        <label>Get PO Line Record</label>
        <locationX>523</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_PO_Line_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PORCPTCST</name>
        <label>PORCPTCST</label>
        <locationX>556</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PORCPTLOCDTL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_PORCPTCST_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__porcptcst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PORCPTLOCDTL</name>
        <label>PORCPTLOCDTL</label>
        <locationX>556</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt_Reversal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__porlocdtl_poline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_POLINE_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__porlocdtl_qtyacc__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__porlocdtl_rcptno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PORCPTCST.rstk__porcptcst_rcptno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__porlocdtl__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SYDATA</name>
        <label>SYDATA</label>
        <locationX>864</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reversal_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SYDATA_R.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__sydata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>748</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mfg_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__syusr_employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__syusr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Manufacturing_User_Found_Error_Screen</name>
        <label>No Manufacturing User Found Error Screen</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Manufacturing_User_Found_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Manufacturing User is not setup for the current user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Selection</name>
        <label>PO Selection</label>
        <locationX>303</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transaction_Date_Validation</targetReference>
        </connector>
        <fields>
            <name>Division_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Division: &lt;/b&gt;{!division_formula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>POHDR_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_po</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__pohdr__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Purchase Order:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__pohdr_div__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>User.rstk__syusr_lastdiv__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_POHDR_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>Get_PO_Header.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_POHDR_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>POLINE_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_poline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_po</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent, Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__poline_ordno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_POLINE_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__poline_qtyacc__c &gt; 0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Line:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Order Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_PO_Header.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_POLINE_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PORCPTCST_Lookup</name>
            <extensionName>rstk:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>cmp_porcptcst</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>cmp_poline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>rstk__porcptcst__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PO Receipt Number:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>rootstock__porcptcst_rcpt_info__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Selected_PORCPTCST_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>rstk__porcptcst_poline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>rstk__porcptcst_qtyacc__c &gt; 0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Purchase Receipt Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_PORCPTCST_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Cost_Accounting_Control_Record.rstk__csacctcntl_porcptdateovr__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty_Box</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt_Reversal</name>
        <label>Receipt Reversal</label>
        <locationX>556</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Qty_Serials</targetReference>
        </connector>
        <fields>
            <name>Line_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Receipt Number: &lt;/strong&gt;{!GET_PORCPTCST.rstk__porcptcst_rcptno__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Item: &lt;/strong&gt;{!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_item__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Inv Division: &lt;/strong&gt;{!GET_PORCPTCST.rstk__porcptcst_invdiv__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project: &lt;/strong&gt;{!GET_PORCPTCST.rstk__porcptcst_poline__r.rstk__poline_proj__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PO Line Qty Req: &lt;/strong&gt;{!RequiredQtyText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PO Line Qty Accepted: &lt;/strong&gt;{!AcceptedQtyText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PO Line Qty RTV: &lt;/strong&gt;{!QtyRTVText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Receipt_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Loc Id / Loc Num / &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Qty Received&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GET_PORCPTLOCDTL.rstk__porlocdtl_locid__r.rstk__sylocid_locid__c} / {!GET_PORCPTLOCDTL.rstk__porlocdtl_locnum__c} / {!AcceptedQtyText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lot Num&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GET_PORCPTLOCDTL.rstk__porlocdtl_locsec__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Lot_Tracked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reverse_Qty</name>
            <dataType>Number</dataType>
            <fieldText>Reverse Qty</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter quantity to be reversed&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>6</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reverse_Serials</name>
            <choiceReferences>GET_RCPTLOCDTL_SRLS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reverse Serials</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Select serials to be reversed&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RTV</name>
            <dataType>Boolean</dataType>
            <fieldText>RTV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transaction_Comments</name>
            <dataType>String</dataType>
            <fieldText>Transaction Comments</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter comments for this &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;transaction&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Result</name>
        <label>Reversal Result</label>
        <locationX>864</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Processing_status</targetReference>
        </connector>
        <fields>
            <name>Reversal_Result_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;SYDATA: &lt;/strong&gt;&lt;a href=&quot;/lightning/r/{!GET_SYDATA.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GET_SYDATA.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!GET_SYDATA.rstk__sydata_process__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reversed Qty:&lt;/strong&gt; {!ReverseQtyText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!GET_SYDATA.rstk__sydata_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_processing_status_again</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check processing status again?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_item_with_qty_80</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>798</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CONSTRUCT_SYDATA</targetReference>
        </connector>
        <fields>
            <name>Qty_Reverse_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please review the quantity and/or serials to be reversed/returned to vendor.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reverse Quantity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Process_QTY_Text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RTV?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!RTV_YesNo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Srl_Reverse_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Reverse Serials&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Serials_To_Use}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Serial_Tracked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Click_Next</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Previous&lt;/b&gt; button to make corrections.&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;button &lt;/span&gt;to proceed with the reversal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>556</locationX>
        <locationY>3518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Qty</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Invalid Reverse Qty or Reverse Qty cannot be more than the received Qty.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Qty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Serials</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;No serials selected for reversal. Please select one or more serials.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Invalid_Serials</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screenn</name>
        <label>Validation Screenn</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 29);&quot;&gt;Transaction Date ({!Transaction_Date}) cannot be in the future OR more than 1 year in the past.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>622</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pohdr_prefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a3a</stringValue>
        </value>
    </variables>
    <variables>
        <name>Qty_to_Process</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_POHDR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_POLINE_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_PORCPTCST_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SYDATA_R</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__sydata__c</objectType>
    </variables>
</Flow>
