force-app/main/default/flows/rootstock__PO_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_list_view</name>
        <label>Navigate to list view</label>
        <locationX>849</locationX>
        <locationY>860</locationY>
        <actionName>rootstock:NavigateEverywhere</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>openUrl</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openUrlMode</name>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rootstock:NavigateEverywhere</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Data_For_PO_Loader</name>
        <label>Assign Data For PO Loader</label>
        <locationX>1030</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete Header</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_div__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Header.rstk__pohdr_div__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLOADER.rstk__poloader_pohdr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PO_Loader_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Construct the URL for list view to POHDR</description>
        <name>Url_Assginment</name>
        <label>Url Assginment</label>
        <locationX>847</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>lightning/o/rstk__pohdr__c/list</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_list_view</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>noForDelete</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>yesForDelete</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_PO_Lines_Existence</name>
        <label>Check For PO Lines Existence</label>
        <locationX>369</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Delete</defaultConnectorLabel>
        <rules>
            <name>Has_No_PO_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_PO_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_screen</targetReference>
            </connector>
            <label>Has No PO Lines?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Decision_Check</name>
        <label>Confirmation Decision Check</label>
        <locationX>794</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Exit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_delete_this_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yesForDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_For_PO_Loader</targetReference>
            </connector>
            <label>Delete Purchase Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to navigate to list view after POHDR is deleted successfully</description>
        <name>Navigate_to_list_view_decision</name>
        <label>Navigate to list view decision</label>
        <locationX>656</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Url_Assginment</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
    </decisions>
    <formulas>
        <description>Get the Domine name of the org.</description>
        <name>baseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_360}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_360}))</expression>
    </formulas>
    <interviewLabel>PO Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>PO Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PO_Loader_Record</name>
        <label>Create PO Loader Record</label>
        <locationX>1030</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Get_POLOADER_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>POLOADER</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PO_Header</name>
        <label>Get PO Header</label>
        <locationX>177</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_PO_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__pohdr__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POLOADER_Record</name>
        <label>Get POLOADER Record</label>
        <locationX>851</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POLOADER.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__poloader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_PO_Lines</name>
        <label>Get Related PO Lines</label>
        <locationX>178</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_PO_Lines_Existence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>rstk__poline_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__poline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation screen</label>
        <locationX>640</locationX>
        <locationY>397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Decision_Check</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_delete_this_record</name>
            <choiceReferences>yesForDelete</choiceReferences>
            <choiceReferences>noForDelete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to delete this record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>376</locationX>
        <locationY>646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>deleteNoAllowed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 0, 0);&quot;&gt;Purchase Order Record cannot be deleted, as it has Purchase Order Lines.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>797</locationX>
        <locationY>210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExitScreen</name>
            <fieldText>&lt;p&gt;Delete PO request has been cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen</name>
        <label>Fault Message Screen</label>
        <locationX>1031</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>666</locationX>
        <locationY>578</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_list_view_decision</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p&gt;Delete PO request has been processed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 2, 2);&quot;&gt;{!Get_POLOADER_Record.rstk__poloader_message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_POLOADER_Record.rstk__poloader_message__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_PO_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>POLOADER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__poloader__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Navigation Url to list view</description>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseURL</elementReference>
        </value>
    </variables>
</Flow>
