force-app/main/default/flows/rootstock__LUI_WO_Print_Picklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Print_Picklist_for_WO</name>
        <label>Print Picklist for WO</label>
        <locationX>498</locationX>
        <locationY>678</locationY>
        <actionName>rootstock:Navigator</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>WO_Print_Picklist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rootstock:Navigator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_variables_to_form_url</name>
        <label>Assign variables to form url</label>
        <locationX>499</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>apex/rstk__printDOX?oid=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;template=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>url</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Order_Record.rstk__wocst_div__r.rstk__sydiv_formtmplt_wpk__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Print_Picklist_for_WO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Form_Template_Work_Order_Picklist_Id_Exists</name>
        <label>Is Form Template - Work Order Picklist Id Exists</label>
        <locationX>490</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Form_Template_Work_Order_Picklist_Id_for_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Record.rstk__wocst_div__r.rstk__sydiv_formtmplt_wpk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_to_form_url</targetReference>
            </connector>
            <label>Add Form Template - Work Order Picklist Id for URL</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>WO Print Picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>WO Print Picklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>499</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Form_Template_Work_Order_Picklist_Id_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>rstk__wocst__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>WO_Print_Picklist</name>
        <label>WO Print Picklist</label>
        <locationX>498</locationX>
        <locationY>797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endingOfFlow</name>
            <fieldText>&lt;p&gt;Your Print Picklist request has been processed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>372</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>baseUrl</elementReference>
        </value>
    </variables>
</Flow>
