force-app/main/default/flows/RS_Create_LIFO_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Notification_Assignments</name>
        <label>Notification Assignments</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PE CREATED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Record_to_Processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User</name>
        <label>User</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NotificationUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Dn000005RgwzIAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Assignments</targetReference>
        </connector>
    </assignments>
    <description>Creates LIFO Update PE based upon Rootstock Cost Transaction decrements</description>
    <environments>Default</environments>
    <formulas>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&quot;RECEIPT NUMBER:  &quot; &amp;TEXT( {!$Record.RCPT_NUMBER__c}) &amp; BR() &amp;
&quot;Transaction Type:  &quot; &amp; {!$Record.TXN_TYPE__c} &amp; BR() &amp;
&quot;QTY: &quot; &amp;  TEXT({!$Record.TXN_QTY__c}) &amp; BR() &amp;
&quot;TRANSACTION Processing ID: &quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>RS Create LIFO PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RS Create LIFO PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the LIFO Update PE</description>
        <name>Create_LIFO_DATE_PE</name>
        <label>Create LIFO Update PE</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Notifocation</targetReference>
        </connector>
        <inputAssignments>
            <field>DIV_ID__c</field>
            <value>
                <elementReference>$Record.Division_Master__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITEM_ID__c</field>
            <value>
                <elementReference>$Record.Inventory_Item_Master__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QTY__c</field>
            <value>
                <elementReference>$Record.TXN_QTY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCPT_NO__c</field>
            <value>
                <elementReference>$Record.RCPT_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TXN_TYPE__c</field>
            <value>
                <elementReference>$Record.TXN_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <object>LIFO_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Notifocation</name>
        <label>Notification</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LIFO_NOTIFICATION</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>NotificationTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Record_to_Processed</name>
        <label>Set Record to Processed</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Record_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_LIFO_DATE_PE</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_to_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LIFO_Processing_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
