force-app/main/default/flows/RS_Update_LIFO_Record_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_LIFO_to_Update</name>
        <label>Add LIFO to Update</label>
        <locationX>4050</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>LifoUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LIFOUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QtyLifoLayerConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consume</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_LIFO_Update</name>
        <label>Add to LIFO Update</label>
        <locationX>886</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>LifoUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LIFOUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QtyLifoLayerConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Receipt_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Layer_Qty</name>
        <label>Assign Current Layer Qty</label>
        <locationX>4050</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>QtyLifoLayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consume.icitemlifoseq_qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LIFO_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignments</name>
        <label>Assignments</label>
        <locationX>1187</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>QtyToConsume</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.TXN_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.TXN_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DollarstoConsume</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.TOTAL_COST__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LIFO_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_LIFO_to_Update</name>
        <label>Add LIFO to Update</label>
        <locationX>1326</locationX>
        <locationY>2867</locationY>
        <assignmentItems>
            <assignToReference>LifoUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LIFOUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QtyLifoLayerConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_LIFO0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_LIFO_Update</name>
        <label>Add to LIFO Update</label>
        <locationX>3064</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>LifoUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LIFOUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QtyLifoLayerConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_LIFO_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Layer_Qty</name>
        <label>Assign Current Layer Qty</label>
        <locationX>1326</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>QtyLifoLayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_LIFO0.icitemlifoseq_qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_LIFO_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Notification_Assignments</name>
        <label>Notification Assignments</label>
        <locationX>358</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Remain (PO Reversal)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Dn000005RgwzIAC </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Remain (PO Reversal)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_LIFO_Cost</name>
        <label>Update LIFO Cost</label>
        <locationX>3130</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_LIFO_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_actucstmtl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitCostLIFOExistTotalQtyReduced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_LIFO_Record</name>
        <label>Update LIFO Record</label>
        <locationX>1326</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_LIFO0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedLifoQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrLIFORemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_LIFO_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_LIFO_Update</name>
        <label>Add to LIFO Update</label>
        <locationX>3218</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>LifoUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LIFOUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyToConsumeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QtyLifoLayerConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LIFO_Records0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Notification_Assignments</name>
        <label>Notification Assignments</label>
        <locationX>974</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Reversal Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Dn000005RgwzIAC </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PO Reversal Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_LIFO_Cost</name>
        <label>Update LIFO Cost</label>
        <locationX>3218</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Records0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_actucstmtl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitCOstFIFODoesNotExist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COUNTER</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Notification_Assignments</name>
        <label>Notification Assignments</label>
        <locationX>3698</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inv Adjustment </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Dn000005RgwzIAC </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inv Adjustment </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Update_LIFO_Cost</name>
        <label>Update LIFO Cost</label>
        <locationX>2866</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_LIFO_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_actucstmtl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitCostLIFOExistTotalQtyReduced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Lifo</name>
        <label>Count Lifo</label>
        <locationX>1187</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>nbrLIFORecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LIFO_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrLIFORemaining</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LIFO_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_LIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notification_Assignments</name>
        <label>Notification Assignments</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>NotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Lifo Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Dn000005RgwzIAC </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Lifo Record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ORIGINAL_LIFO_EXISTS</name>
        <label>ORIGINAL LIFO EXISTS</label>
        <locationX>2822</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>nbrOriginalLIFOExists</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Cost_Adjustment_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_LIFO_Layer_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PO_Receipt_Found</name>
        <label>PO Receipt Found</label>
        <locationX>952</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>nbrPOReceipts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PO_Receipt_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LIFO_Cost</name>
        <label>Update LIFO Cost</label>
        <locationX>2602</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_LIFO_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_actucstmtl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitCostLIFOExistsCostMatches</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LIFO_Record</name>
        <label>Update LIFO Record</label>
        <locationX>4050</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consume.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedLifoQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nbrLIFORemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LIFO_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLIFO_Partial_PO_RECEIPT_QTY</name>
        <label>UpdateLIFO Partial PO RECEIPT QTY</label>
        <locationX>754</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Receipt_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateLifoQtyPartialReceipt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartialReceipt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLIFO_PO_RECEIPT_QTY</name>
        <label>UpdateLIFO PO RECEIPT QTY</label>
        <locationX>1018</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Receipt_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.icitemlifoseq_qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedLifoQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIFOUpdate.Last_LIFO_Processing_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_LIFO_Update</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Cost_Adjustment_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cost  Adjustment Filter</label>
        <locationX>2822</locationX>
        <locationY>1187</locationY>
        <assignNextValueToReference>currentItem_Cost_Adjustment_Filter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>LIFO_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cost_Adjustment_Filter_0.icitemlifoseq_seq__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LIFO_Processing_Record.FIFO_Layer_Reference__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cost_Adjustment_Filter_Sort</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Cost_Adjustment_Filter_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Cost Adjustment Filter Sort</label>
        <locationX>2822</locationX>
        <locationY>1295</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Cost_Adjustment_Filter</collectionReference>
        <connector>
            <targetReference>ORIGINAL_LIFO_EXISTS</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>icitemlifoseq_seq__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>LIFO_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>LIFO Sort</label>
        <locationX>2325</locationX>
        <locationY>971</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>LIFO_Records</collectionReference>
        <connector>
            <targetReference>Transaction_Type</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>icitemlifoseq_seq__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>PO_Receipt_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>PO Receipt Filter</label>
        <locationX>952</locationX>
        <locationY>1187</locationY>
        <assignNextValueToReference>currentItem_PO_Receipt_Filter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>LIFO_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_PO_Receipt_Filter_0.icitemlifoseq_rcptno__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LIFO_Processing_Record.RCPT_NUMBER__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>PO_Receipt_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remaining_LIFO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remaining LIFO</label>
        <locationX>974</locationX>
        <locationY>2219</locationY>
        <assignNextValueToReference>currentItem_Remaining_LIFO</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>LIFO_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remaining_LIFO.icitemlifoseq_qty__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Remaining_LIFO.icitemlifoseq_rcptno__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>LIFO_Processing_Record.RCPT_NUMBER__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remaining_LIFO_Sort</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remaining_LIFO_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Remaining LIFO Sort</label>
        <locationX>974</locationX>
        <locationY>2327</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Remaining_LIFO</collectionReference>
        <connector>
            <targetReference>Remaining_LIFO0</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>icitemlifoseq_seq__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Copy_1_of_Zero_Left_to_Consume</name>
        <label>Zero Left to Consume</label>
        <locationX>1194</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Current_Layer_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Zero_Remains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtyToConsumeRemaining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_LIFO</targetReference>
            </connector>
            <label>Zero Remains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Counter_Zero</name>
        <label>Counter Zero</label>
        <locationX>3350</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_LIFO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_LIFO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNTER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_LIFO_Cost</targetReference>
            </connector>
            <label>First LIFO</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_LIFO</name>
        <label>No LIFO</label>
        <locationX>1187</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>LIFO_Sort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_LIFO_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrLIFORecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Assignments</targetReference>
            </connector>
            <label>No LIFO records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_LIFO_Layer_Exists</name>
        <label>Original LIFO Layer Exists</label>
        <locationX>2822</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>LIFO_Records0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrOriginalLIFOExists</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FIFO_Record</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partial_Reversal</name>
        <label>Partial Reversal</label>
        <locationX>886</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>UpdateLIFO_PO_RECEIPT_QTY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partial_Reversal0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtyToConsume</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PO_Receipt_Loop.icitemlifoseq_qty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLIFO_Partial_PO_RECEIPT_QTY</targetReference>
            </connector>
            <label>Partial Reversal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qty_Match</name>
        <label>Qty Match</label>
        <locationX>3064</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qty_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_LIFO_Loop.icitemlifoseq_qty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LIFO_Processing_Record.TXN_QTY__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Cost_Matches</targetReference>
            </connector>
            <label>Qty Matches</label>
        </rules>
        <rules>
            <name>Qty_Smaller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Cost_Adjustment_Filter_0.icitemlifoseq_qty__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LIFO_Processing_Record.TXN_QTY__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_LIFO_Cost</targetReference>
            </connector>
            <label>Qty Smaller</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receipt_Found</name>
        <label>Receipt Found</label>
        <locationX>952</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Remaining_LIFO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receipt_FOund0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nbrPOReceipts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Receipt_Loop</targetReference>
            </connector>
            <label>Receipt Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>2325</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Consume</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Receipt_Reversed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POReceiptReversal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Receipt_Filter</targetReference>
            </connector>
            <label>PO Receipt Reversed</label>
        </rules>
        <rules>
            <name>Cost_Adjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TXN_TYPE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVDOLADJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cost_Adjustment_Filter</targetReference>
            </connector>
            <label>Cost Adjustment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Cost_Matches</name>
        <label>Unit Cost Matches</label>
        <locationX>2734</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Update_LIFO_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Cost_Matches0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Cost_Adjustment_Filter_0.icitemlifoseq_actucstmtl__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIFOUnitCost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LIFO_Cost</targetReference>
            </connector>
            <label>Unit Cost Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_Left_to_Consume</name>
        <label>Zero Left to Consume</label>
        <locationX>3918</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Layer_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_Remains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtyToConsumeRemaining</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_LIFO</targetReference>
            </connector>
            <label>Zero Remains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_Left_to_Consume0</name>
        <label>Zero Left to Consume?</label>
        <locationX>666</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Remaining_LIFO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_Remain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedLifoQty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartialReceipt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notification_Assignments</targetReference>
            </connector>
            <label>Zero Remain</label>
        </rules>
    </decisions>
    <description>Based on setting LIFO Processing record to Ready</description>
    <environments>Default</environments>
    <formulas>
        <name>POReceiptReversal</name>
        <dataType>Boolean</dataType>
        <expression>IF({!LIFO_Processing_Record.TXN_TYPE__c}=&quot;PORCPTR TO INV&quot;,True, False)</expression>
    </formulas>
    <formulas>
        <name>QtyLifoLayerConsumed</name>
        <dataType>Number</dataType>
        <expression>IF({!QtyToConsumeRemaining}&lt;={!QtyLifoLayer}, {!QtyToConsumeRemaining},{!QtyLifoLayer})</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>QtyToConsumeRemainingFormula</name>
        <dataType>Number</dataType>
        <expression>{!QtyToConsumeRemaining}-{!UpdatedLifoQty}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>UnitCOstFIFODoesNotExist</name>
        <dataType>Number</dataType>
        <expression>IF({!LIFO_Processing_Record.TXN_SUB_TYPE__c}=&quot;DOLDECR&quot;, 
{!LIFO_Records0.icitemlifoseq_actucstmtl__c}-({!LIFO_Processing_Record.TOTAL_COST__c}/{!LIFO_Records0.icitemlifoseq_qty__c}), {!LIFO_Records0.icitemlifoseq_actucstmtl__c}+({!LIFO_Processing_Record.TOTAL_COST__c}/{!LIFO_Records0.icitemlifoseq_qty__c}))</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>UnitCOstLIFOExistsCostDifferent</name>
        <dataType>Number</dataType>
        <expression>IF({!LIFO_Processing_Record.TXN_SUB_TYPE__c}=&quot;DOLDECR&quot;, 
{!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}-({!LIFO_Processing_Record.TOTAL_COST__c}/{!Original_LIFO_Loop.icitemlifoseq_qty__c}), {!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}+({!LIFO_Processing_Record.TOTAL_COST__c}/{!Original_LIFO_Loop.icitemlifoseq_qty__c}))</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <description>Updated Unit cost where original FIFO Exists but is smaller than original</description>
        <name>UnitCostLIFOExistsCostMatches</name>
        <dataType>Number</dataType>
        <expression>IF({!LIFO_Processing_Record.TXN_SUB_TYPE__c}=&quot;DOLDECR&quot;, 
{!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}-{!LIFO_Processing_Record.UNIT_COST__c}, {!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}+{!LIFO_Processing_Record.UNIT_COST__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Updated Unit cost when the original LIFO Record exists but in a qty &lt; FIFO Qty</description>
        <name>UnitCostLIFOExistTotalQtyReduced</name>
        <dataType>Number</dataType>
        <expression>IF({!LIFO_Processing_Record.TXN_SUB_TYPE__c}=&quot;DOLDECR&quot;, 
{!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}-({!LIFO_Processing_Record.TOTAL_COST__c}/{!Original_LIFO_Loop.icitemlifoseq_qty__c}), {!Original_LIFO_Loop.icitemlifoseq_actucstmtl__c}+({!LIFO_Processing_Record.TOTAL_COST__c}/{!Original_LIFO_Loop.icitemlifoseq_qty__c}))</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>UpdatedLifoQty</name>
        <dataType>Number</dataType>
        <expression>{!QtyLifoLayer}-{!QtyLifoLayerConsumed}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>UpdateLifoQtyPartialReceipt</name>
        <dataType>Number</dataType>
        <expression>{!PO_Receipt_Loop.icitemlifoseq_qty__c}-{!QtyToConsume}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>UpdatePOReceiptQty</name>
        <dataType>Number</dataType>
        <expression>{!currentItem_PO_Receipt_Filter_0.icitemlifoseq_qty__c}-{!LIFO_Processing_Record.TXN_QTY__c}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>RS Update LIFO Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RS Update LIFO Record</label>
    <loops>
        <name>Consume</name>
        <label>Consume</label>
        <locationX>3698</locationX>
        <locationY>1187</locationY>
        <collectionReference>LIFO_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Zero_Left_to_Consume</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_3_of_Notification_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LIFO_Records0</name>
        <label>LIFO Records</label>
        <locationX>3130</locationX>
        <locationY>1619</locationY>
        <collectionReference>LIFO_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_Zero</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LIFO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Original_LIFO_Loop</name>
        <label>Original LIFO Loop</label>
        <locationX>2514</locationX>
        <locationY>1727</locationY>
        <collectionReference>Cost_Adjustment_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Qty_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LIFO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PO_Receipt_Loop</name>
        <label>PO Receipt Loop</label>
        <locationX>666</locationX>
        <locationY>1511</locationY>
        <collectionReference>PO_Receipt_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Partial_Reversal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Zero_Left_to_Consume0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Remaining_LIFO0</name>
        <label>Remaining LIFO</label>
        <locationX>974</locationX>
        <locationY>2435</locationY>
        <collectionReference>Remaining_LIFO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Zero_Left_to_Consume</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Notification_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FIFO_Record</name>
        <label>FIFO Record</label>
        <locationX>2514</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_LIFO_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LIFOUpdate.Original_FIFO_ID__c</elementReference>
            </value>
        </filters>
        <object>rstk__icitemfifoseq__c</object>
        <outputAssignments>
            <assignToReference>FIFOUnitCost</assignToReference>
            <field>rstk__icitemfifoseq_actucstmtl__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LIFO_Processing_Record</name>
        <label>LIFO Processing Record</label>
        <locationX>1187</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LIFO_Processing_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LIFO_Records</name>
        <label>Get LIFO Records</label>
        <locationX>1187</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>icitemlifoseq_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LIFO_Processing_Record.Inventory_Item_Master__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>icitemlifoseq_qty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rs_LIFO_Cost_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>1187</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Lifo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LIFO_NOTIFICATION</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>NotificationTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_LIFO</name>
        <label>Update LIFO</label>
        <locationX>2325</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>Update_LIFO_Processing</targetReference>
        </connector>
        <inputReference>LifoUpdates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LIFO_Processing</name>
        <label>Update LIFO Processing</label>
        <locationX>2325</locationX>
        <locationY>3611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Record_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LIFO_Processing_Record__c</object>
    </recordUpdates>
    <start>
        <locationX>1061</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LIFO_Processing_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_to_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LIFO_Processing_Record__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>COUNTER</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Cost_Adjustment_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rs_LIFO_Cost_Record__c</objectType>
    </variables>
    <variables>
        <name>currentItem_PO_Receipt_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rs_LIFO_Cost_Record__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remaining_LIFO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rs_LIFO_Cost_Record__c</objectType>
    </variables>
    <variables>
        <name>DollarstoConsume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FIFOUnitCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LIFOUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rs_LIFO_Cost_Record__c</objectType>
    </variables>
    <variables>
        <name>LifoUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rs_LIFO_Cost_Record__c</objectType>
    </variables>
    <variables>
        <name>nbrLIFORecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrLIFORemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrOriginalLIFOExists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nbrPOReceipts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NextRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartialReceipt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QtyLifoLayer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyToConsume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyToConsumeRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReceiptReversal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
