force-app/main/default/flows/Special_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Sets the order’s Status field to Activated.

Include this element if you want the new order to be activated.</description>
        <name>Activate_Order</name>
        <label>Set Order Status to Activated</label>
        <locationX>484</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OrderSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OrderedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the order product to the list of order products in the sObject collection variable.</description>
        <name>Add_Order_Product_to_List1</name>
        <label>Add Order Product to List</label>
        <locationX>704</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>listOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Oppty_Products1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the order product to the list of order products in the sObject collection variable.</description>
        <name>Add_Order_Product_to_List2</name>
        <label>Add Order Product to List</label>
        <locationX>968</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>listOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Oppty_Products1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity’s or account’s field values to assign field values to the order.

ACTION: Review the order fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order here.</description>
        <name>Assign_Order_Fields</name>
        <label>Assign Order Fields</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>oOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Billing_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Billing_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Billing_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Billing_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Billing_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Comment_from_the_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Comment_from_the_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Submitted_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Submitted_by__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Date_Needed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Date_Needed_by__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Is_Special_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Settings.Special_Order_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.GSK_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.GSK_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Customer_s_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Customers_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Customer_s_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Customer_Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Customer_s_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Customers_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.SalesChannelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Settings.SalesChannel_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Order_Shipping_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingTotalAmt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Shipping_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Submitted_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Date_Needed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Date_Needed_by__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Advance_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Advance_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.Amount_Due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.AVA_SFCLOUD__Sales_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOppty.AVA_SFCLOUD__Sales_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity product’s or order’s field values to assign field values to the order product.

ACTION: Review the order product fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order product here.</description>
        <name>Assign_Order_Product_Fields1</name>
        <label>Assign Order Product Fields</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>oOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Amount_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__SalesTax_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__Sales_Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__Sales_Tax_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.TotalLineTaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__SalesTax_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Is_Special_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Uses the opportunity product’s or order’s field values to assign field values to the order product.

ACTION: Review the order product fields assigned, and add/remove fields as needed.  

If you need fields from another object, use a Fast Lookup element to store the fields in another sObject variable before this element in the flow, and then assign the stored values to the order product here.</description>
        <name>Assign_Order_Product_Fields2</name>
        <label>Assign Order Product Fields</label>
        <locationX>968</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>oOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Amount_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__SalesTax_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__Sales_Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.AVA_SFCLOUD__Sales_Tax_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__Sales_Tax_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.TotalLineTaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products1.AVA_SFCLOUD__SalesTax_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Is_Special_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrderProduct.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_List2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the opportunity’s Order Generated field to true.</description>
        <name>Update_Order_Generated_and_Lock_Opportunity</name>
        <label>Update Order Generated and Lock Opportunity</label>
        <locationX>484</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>oOppty.Order_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOppty.Lock_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Shipping_Product</name>
        <label>Check For Shipping Product</label>
        <locationX>968</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_Oppty_Products1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Not_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Oppty_Products1.Product2.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Product_Fields1</targetReference>
            </connector>
            <label>Not Shipping</label>
        </rules>
        <rules>
            <name>Is_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Oppty_Products1.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Product_Fields2</targetReference>
            </connector>
            <label>Is Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether the sObject collection variable contains any order products.</description>
        <name>Order_Product_List_Empty</name>
        <label>Order Product List Empty?</label>
        <locationX>616</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listOrderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Products</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates whether an order has already been generated from the opportunity.

If an order has already been generated from the opportunity, a new order will not be generated.</description>
        <name>OrderGenerated</name>
        <label>Order Generated?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Not Generated</defaultConnectorLabel>
        <rules>
            <name>Order_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oOppty.Order_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Order Generated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderCreatedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Special Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Special Order Flow</label>
    <loops>
        <name>Loop_Oppty_Products1</name>
        <label>Loop Oppty Products</label>
        <locationX>616</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Oppty_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Shipping_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Product_List_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject variable to create an order.</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Oppty_Products</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Uses the field values that are stored in the sObject collection variable to create order products.</description>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>484</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Order_Generated_and_Lock_Opportunity</targetReference>
        </connector>
        <inputReference>listOrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the account on the opportunity, and stores selected account fields in an sObject variable.

ACTION: Review the retrieved account fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>616</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SpecialOrderFlowIds</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FMGProjectMasterId__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Uses the Opportunity ID passed to the flow to look up the opportunity, and stores the selected opportunity fields in an sObject variable.

ACTION: Review the retrieved opportunity fields, and add any additional fields that you need to the sObject variable.</description>
        <name>Get_Opportunity_Fields</name>
        <label>Get Opportunity Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderGenerated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oOppty</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Order_Generated__c</queriedFields>
        <queriedFields>Comment_from_the_Customer__c</queriedFields>
        <queriedFields>Submitted_by__c</queriedFields>
        <queriedFields>Discount_Level__c</queriedFields>
        <queriedFields>Date_Needed_by__c</queriedFields>
        <queriedFields>GSK_Customer__c</queriedFields>
        <queriedFields>Customer_Account_Number__c</queriedFields>
        <queriedFields>Customers_Name__c</queriedFields>
        <queriedFields>Customers_Phone_Number__c</queriedFields>
        <queriedFields>Billing_Address__City__s</queriedFields>
        <queriedFields>Billing_Address__CountryCode__s</queriedFields>
        <queriedFields>Billing_Address__PostalCode__s</queriedFields>
        <queriedFields>Billing_Address__Street__s</queriedFields>
        <queriedFields>Billing_Address__StateCode__s</queriedFields>
        <queriedFields>Shipping_Address__CountryCode__s</queriedFields>
        <queriedFields>Shipping_Address__PostalCode__s</queriedFields>
        <queriedFields>Shipping_Address__StateCode__s</queriedFields>
        <queriedFields>Shipping_Address__City__s</queriedFields>
        <queriedFields>Shipping_Address__Street__s</queriedFields>
        <queriedFields>Shipping_Method__c</queriedFields>
        <queriedFields>Shipping_Cost__c</queriedFields>
        <queriedFields>Advance_Payment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the opportunity products that are related to the opportunity, and stores selected field values in the sObject collection variable.

ACTION: Review the retrieved opportunity product fields, and add additional fields as needed to the sObject collection variable.</description>
        <name>Get_Oppty_Products</name>
        <label>Get Oppty Products</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oppty_Products1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOppty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the opportunity.</description>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>484</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <inputReference>oOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Uses the field values that are stored in the sObject variable to update the order.

Include this element if you want the new Order to be activated.</description>
        <name>Update_Order</name>
        <label>Activate Order</label>
        <locationX>484</locationX>
        <locationY>2030</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oOpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>oOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
