force-app/main/default/flows/Web_Offline_Chat_Person_Account_Creation_in_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Updating_case_with_existing_person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Available</defaultConnectorLabel>
        <rules>
            <name>Availability_of_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Records.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Case_webname_is_empty_or_not</targetReference>
            </connector>
            <label>Account Not Available</label>
        </rules>
        <rules>
            <name>check_for_platinum_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Updating_case_with_existing_person_Account</targetReference>
            </connector>
            <label>check for platinum customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Case_webname_is_empty_or_not</name>
        <label>Check if the Case webname is empty or not</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Webname_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Record_Type_Id</targetReference>
            </connector>
            <label>If Webname is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_Case_Contact</name>
        <label>Checking the Case Contact</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Checking_with_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checking_Case_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Records</targetReference>
            </connector>
            <label>checking Case Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_with_Contact_Email</name>
        <label>Checking with Contact Email</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Contact_and_Email_if_Account_is_changed</targetReference>
            </connector>
            <label>If Account is changed</label>
        </rules>
        <rules>
            <name>If_Contact_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_case_Email_with_Contact_email</targetReference>
            </connector>
            <label>If Contact is available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Web/Offline Chat Person Account Creation in case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Web/Offline Chat Person Account Creation in case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Person_Account_Records</name>
        <label>Create Person Account Records</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Created_Person_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Person_Account_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Person_Account</name>
        <label>Get Created Person Account</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case_with_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Person_Account_Records</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type_Id</name>
        <label>Get Person Account Record Type Id</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Person_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Updating_case_with_existing_person_Account</name>
        <label>Updating the Platinum customer case with existing person Account</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Account_Records.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Contact_and_Email_if_Account_is_changed</name>
        <label>Update Case Contact and Email if Account is changed</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_with_Person_Account</name>
        <label>Update case with Person Account</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Created_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Created_Person_Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_case_Email_with_Contact_email</name>
        <label>Update the case Email with Contact email</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_case_with_existing_person_Account</name>
        <label>Updating case with existing person Account</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Account_Records.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_the_Case_Contact</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
